* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button{font-size: inherit;}


#wrapper {
    min-width: 200px;
    max-width: 1024px;
    margin: 0 auto;
}
#header {
    width: 100%;
    height: 100%;
    border-top: 0.125em solid #000;
    min-height: 3em;
    background-color:  #2a2d30;
}


.select-country-block {
    width: 5.625%;
    top: -0.8125em;
    position:relative;
    display: inline-block;
    margin-left: 6.25%;


}
.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
}


.select-country-icon {
    width: 4.6875%;
    position:relative;
    display: inline-block;
    top: -0.5625em;

}

.select-country-icon-unicode {
    width: 4.6875%;
    font-size: .6em;
    position:relative;
    display: inline-block;
    top: -1.2em;
    left: -0.25em;
    color: #66696b;

}
.select-country-image {
    width: 100%;
}


.menu-icon {
    width: 13.438%;
    position:relative;
    display: inline-block;
    left:64.5%;
    top: 0.0625em;
}


.menu-image{
    width: 100%;
}


.logo {

    width: 35.156%;
    position:relative;
    display: inline-block;
    margin-left: -2.248%;
    top: -0.5em;

}


.logo-image{
    width: 100%;
}





#content {
    width: 100%;
    height: 35.6%;
    min-height: 18.125em;
    background: linear-gradient(to bottom, #f2f2f2, #d8d8d8);
    background: -webkit-linear-gradient(to bottom, #f2f2f2, #d8d8d8);
    background: -moz-linear-gradient(to bottom, #f2f2f2, #d8d8d8);
    background: -o-linear-gradient(to bottom, #f2f2f2, #d8d8d8);
    background: -ms-linear-gradient(to bottom, #f2f2f2, #d8d8d8);
}

.content-text {
    text-align: center;
    padding-top: 1.375em;
    margin-bottom: 1.5625em;
}
.content-text span {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    color: #f9ae18;
}
.content-text p {
    display: inline-block;
    margin-left: 1.5625%;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #2a2d30;
}


.input-text-block {
    margin-bottom: 0.3125em;
}
.input-text-block input[type="text"] {

    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    font-size: 1em;
    border-radius: 0.3125em;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    display: block;
    height: 2.625em;
    width: 87.5%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;
}




.input-label {
    margin-left: 4.687%;
    margin-bottom: 0.625em;
}
.input-label span {
    font-family: Arial, sans-serif;
    font-size: 0.8125em;
    color: #ed6c00;
}
.input-label p {
    display: inline-block;
    margin-left: 1.639%;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    color: #858585;
}
.input-text-block input[type="text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}
.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}
.input-text-block input[type="text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;

}
.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}




.button-size{
    height: 3.125em;
    font-size: inherit;
}


.submit-button {
    width: 93.125%;
    margin-left: 3.125%;
    height: 100%;
    min-height: 3.125em;
    background-color: #f1a100;
    border: 0.0625em solid #c28600;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    border-radius: 0.3125em;


}
.submit-button span{
    position: relative;
    color: #fff;
    font-size: 1.385em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    /*top: -0.1875em;*/
    margin-left: -1.689%;
}





.submit-image {
    position: relative;
    top: 0.125em;
    left: -6.8%;
    width: 6.25%;

}





#content-center {
    width: 100%;
    height: 100%;
    min-height: 22.5em;
    background: #fffde8;

}

.center-title {
    text-align: center;
    padding-top: 1.25em;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #000000;
    border-bottom: 0.0625em solid #f9de46;
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
}

.job-title {
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-left: 3.125%;
    margin-bottom: 0.3125em;
}

.job-block {
    background: #fffde8;
    border-bottom: 0.0625em solid #f9de46;
    padding-bottom: 0.625em;
    margin-bottom: 0.938em;
}

.job-block p {
    display: inline-block;

    padding-right: 3.125%;
    color: #2a2d30;
    font-size: 0.813em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding-top: 0.125em;
    border-right: 0.125em solid #dddddd;
    margin-left: 3.125%;
}

.job-block span {
    color: #2a2d30;
    font-size: .72em;
    font-family: Arial, sans-serif;
    margin-left: 3.125%;
}

#load-block {
    width: 100%;
    height: 100%;
    min-height: 5.625em;
    background: #fff;
    margin-top: 2px;
}

.load-image {
    margin-left: 43%;
    width: 14%;
    margin-top: 1.25em;
}

#footer-top {
    width: 100%;
    height: 4.6%;
    min-height: 2.5em;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 0.625em;
    margin-left: 6.125%;
    width: 5%;
}

.info {
    display: inline-block;
    position: relative;
    left: 1.2%;
    top: -0.125em;
    width: 35%;
}

.info a {
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}
.number{
    display: inline-block;
}

.number span {

    position: relative;
    left: 4.975%;
    top: -0.125em;
    color: #fff;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.phone {
    display: inline-block;
    position: relative;
    left: 1.82%;
    top: 0.125em;
    width: 5%;
}

.letter-bottom-image {
    width: 100%;
}
#footer-bottom {
    width: 100%;
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 0.438em;
    color: #f6ae01;
    font-size: 0.813em;
    font-family: Arial, sans-serif;
}


@media screen and (min-width: 240px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;
    }

    .search-icon input[type="text"]{

        background: url(../images/s240.png) no-repeat 90.13%, linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s240.png) no-repeat 90.13%, -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s240.png) no-repeat 90.13%, -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s240.png) no-repeat 90.13%, -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s240.png) no-repeat 90.13%, -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);




    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }


    .search-icon input[type="text"]{

        background: url(../images/search.png) no-repeat 90.13%, linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/search.png) no-repeat 90.13%, -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/search.png) no-repeat 90.13%, -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/search.png) no-repeat 90.13%, -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/search.png) no-repeat 90.13%, -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);




    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }
    .search-icon input[type="text"]{

        background: url(../images/s480.png) no-repeat 90.13%, linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s480.png) no-repeat 90.13%, -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s480.png) no-repeat 90.13%, -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s480.png) no-repeat 90.13%, -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s480.png) no-repeat 90.13%, -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);




    }
}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;

    }

    .search-icon input[type="text"]{

        background: url(../images/s640.png) no-repeat 90.13%, linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s640.png) no-repeat 90.13%, -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s640.png) no-repeat 90.13%, -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s640.png) no-repeat 90.13%, -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s640.png) no-repeat 90.13%, -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);




    }

}
@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper{
        font-size: 38px;

    }

    .search-icon input[type="text"]{

        background: url(../images/s768.png) no-repeat 90.13%, linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s768.png) no-repeat 90.13%, -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s768.png) no-repeat 90.13%, -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s768.png) no-repeat 90.13%, -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s768.png) no-repeat 90.13%, -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    }
}
@media screen and (min-width: 1025px) {
    #wrapper{
        font-size: 51px;

    }

    .search-icon input[type="text"]{

        background: url(../images/s1024.png) no-repeat 90.13%, linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s1024.png) no-repeat 90.13%, -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s1024.png) no-repeat 90.13%, -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s1024.png) no-repeat 90.13%, -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: url(../images/s1024.png) no-repeat 90.13%, -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    }
}

