* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100%;
    border-top: 0.125em solid #000;
    min-height: 3em;
    background-color: #2a2d30;
}

.select-country-block {
    width: 5.625%;
    top: -0.8125em;
    position: relative;
    display: inline-block;
    margin-left: 6.25%;

}

.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
}

.select-country-icon {
    width: 4.6875%;
    position: relative;
    display: inline-block;
    top: -0.5625em;

}

.select-country-icon-unicode {
    width: 4.6875%;
    font-size: .6em;
    position: relative;
    display: inline-block;
    top: -1.2em;
    left: -0.25em;
    color: #66696b;

}

.select-country-image {
    width: 100%;
}

.menu-icon {
    width: 13.438%;
    position: relative;
    display: inline-block;
    left: 64.5%;
    top: 0.0625em;
}

.menu-image {
    width: 100%;
}

.logo {
    width: 35.156%;
    position: relative;
    display: inline-block;
    margin-left: -2.248%;
    top: -0.5em;
}

.logo-image {
    width: 100%;
}

#header-bottom {
    height: 3.75em;
    background-color: #f6d101;
    border-bottom: 0.1875em solid #d1d1d1;
}

.header-arrow {
    float: left;
    width: 12.5%;
    height: 100%;
    min-height: 3.75em;
    background: #f6ae01;
}

.header-arrow img {
    position: relative;
    height: 1.25em;
    top: 1.25em;
    left: 30%;
}

.header-bottom-title {
    font-size: 0.75em;
    font-family: Arial, sans-serif;
    color: #535252;
    display: inline-block;
    margin-left: 1.5em;
    margin-top: 1.167em;
}

.header-bottom-desc {
    font-size: 1.25em;;
    font-family: Arial, sans-serif;
    color: #2a2d30;
    display: inline-block;
    margin-left: 0.8em;
    width: 75%;
    overflow: hidden;
}

#top-content {
    padding-top: 0.500em;
    background: #f5f5f5;
    padding-left: 0.625em;
    padding-right: 0.625em;
    overflow: hidden;
}

.top-content-image {
    width: 16%;
}

.top-content-title {
    position: relative;
    display: inline-block;
    top: -1.500em;
    left: 3.3333%;
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    font-family: Arial, sans-serif;
}

.top-content-text {
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    color: #828282;
    margin-top: 0.571em;
    margin-bottom: 0.714em;
}

.center-content-title {
    font-size: 1.313em;
    color: #010101;
    font-family: Arial, sans-serif;
    padding: 1.667em 3.1335% 1.095em;
}

.center_content {
    margin-left: 3.13%;
    margin-right: 3.13%;
    margin-top: 1.071em;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #828282;
}

.center-menu-title {
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 1.071em;
    margin-bottom: 0.929em;
}

.menu-center {
    margin-top: 1.071em;
}

li, ol {
    margin-left: 4%;
    padding-left: 1.25%;
    color: #f6ae01;
}

li span {
    line-height: 1.857em;
    color: #828282;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

.expiration-date {
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: #000;
    margin-top: 2.857em;
}

.company-registration-data {
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 0.357em;
    margin-bottom: 0.571em;
}

.company-address {
    line-height: 1.667em;
    font-size: 0.857em;
    font-family: Arial, sans-serif;
    color: #a4a4a4;
    border-bottom: 0.083em solid #ddd;
    padding-bottom: 2.250em;
    margin-bottom: 2.500em;
}

#content-footer {
    padding-left: 3.125%;
}

.content-footer-title {
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    margin-bottom: 1.071em;
    font-family: Arial, sans-serif;
}

.content-footer-info {
    margin-bottom: 1.563em;
}

.content-footer-info li {
    list-style: none;
    margin: 0.714em 0;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #828282;
}

.content-footer-info li a {
    color: #3895e4;
}

.button {
    margin-top: 0.938em;
}

.first-button-image {
    position: relative;
    left: 31.75%;
    top: -1.6875em;
    width: 5%;
}

.second-button-image {
    position: relative;
    left: 31.75%;
    top: -2.6875em;
    width: 5%;
}

.second-button {
    top: -1em;
}

.reg-button {
    width: 93.125%;
    height: 2.667em;
    position: relative;
    margin-left: 3.625%;
    background: #FDFDFE;
    border-left: thin solid #d8d8d8;
    border-right: thin solid #d8d8d8;;
    border-top: thin solid #DCDCDC;
    border-bottom: thin solid #BFBFBF;
    font-size: 0.938em;
    font-weight: normal;
    font-family: Arial, sans-serif;
    border-radius: 0.214em;
    color: #3895e4;
    background: linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -webkit-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -moz-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -o-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -ms-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
}

.buttons {
    margin-bottom: 0.5em;
}

#footer-top {
    width: 100%;
    height: 4.6%;
    min-height: 2.5em;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 0.625em;
    margin-left: 6.125%;
    width: 5%;
}

.info {
    display: inline-block;
    position: relative;
    left: 1.2%;
    top: -0.125em;
    width: 35%;
}

.info a {
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.number {
    display: inline-block;
}

.number span {

    position: relative;
    left: 4.975%;
    top: -0.125em;
    color: #fff;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.phone {
    display: inline-block;
    position: relative;
    left: 1.82%;
    top: 0.125em;
    width: 5%;
}

.letter-bottom-image {
    width: 100%;
}

#footer-bottom {
    height: 1.875em;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 0.583em;
    color: #f6ae01;
    font-size: 0.750em;
    font-family: Arial, sans-serif;
}

@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper {
        font-size: 12px;

    }

}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper {
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper {
        font-size: 24px;

    }

}

@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper {
        font-size: 32px;

    }

}

@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper {
        font-size: 38px;

    }

}

@media screen and (min-width: 1025px) {
    #wrapper {
        font-size: 51px;

    }

}