* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100%;
    border-top: 0.125em solid #000;
    min-height: 5.4375em;
    background-color: #2a2d30;
    border-bottom: 0.1875em solid #c1c1c1;
}

.select-country-block {
    width: 5.625%;
    top: -0.8125em;
    position: relative;
    display: inline-block;
    margin-left: 6.25%;

}

.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
}

.select-country-icon {
    width: 4.6875%;
    position: relative;
    display: inline-block;
    top: -0.5625em;

}

.select-country-icon-unicode {
    width: 4.6875%;
    font-size: .6em;
    position: relative;
    display: inline-block;
    top: -1.2em;
    left: -0.25em;
    color: #66696b;

}

.select-country-image {
    width: 100%;
}

.menu-icon {
    width: 13.438%;
    position: relative;
    display: inline-block;
    left: 64.5%;
    top: 0.0625em;
}

.menu-image {
    width: 100%;
}

.logo {

    width: 35.156%;
    position: relative;
    display: inline-block;
    margin-left: -2.248%;
    top: -0.5em;

}

.logo-image {
    width: 100%;
}

/* second floor*/

.header-bottom {
    /*max-height: 2.9375em;*/
    overflow: hidden;
}

.menu li{
    margin-top:0.875em;
    position:relative;
    list-style:none;
    display:inline-block;
    padding-left: 2.19%;
}


.menu li:after{
    content:"";
    display:block;
    border-bottom:0.1875em solid #2a2d30;
    padding-top:0.75em;;
}
.menu li.menu-active:after{
    content:"";
    display:block;
    border-bottom:0.1875em solid #f6ae01;
    padding-top:0.75em;;
}



.menu li a{
    font-size:0.813em;
    font-weight:bold;
    text-transform:uppercase;
    color:#adaeaf;
    font-family:Arial,sans-serif;
}
li.menu-active a{
    color:#fff;
}

.second-li{
    width: 35%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

}

.first-li {
    width: 57.5%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.first-li a{
    width: 100%;
    text-overflow: clip;
    white-space: nowrap;
}

#top-content {
    background: #f0f0f0;
    height: 2.1875em
}


.content-title {
    margin-top: 1.25em;
    margin-left: 6.25%;
    margin-bottom: 1em;
    font-size: 1.25em;
    font-family: Arial, sans-serif;
    color: #000;
}

.keyword {
    margin-top: 0.714em;
    display: inline-block;
    margin-left: 7.5%;
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #535252;
    margin-right: 37.19%;
}

.hits {
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #535252;
    width:35%;
    text-overflow: clip;
    white-space: nowrap;
}

.job-row {
    border-bottom: thin solid #f5f5f5;
}

.job-more-info{
    width: 1.5624%;
}

.job-row img {
    margin-left: 3.125%;
}

.job-title {
    width: 46.75%;
    white-space: nowrap;
    text-overflow: clip;
    margin-bottom: 1.429em;
    margin-top: 1.214em;
    display: inline-block;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    margin-left: 2.5%;
}
.title-color{
    color: #535252;
}
.title-color-expired{
    color:#b1b0b0;
}
.job-region-row{
    width:30%;
}

.job-row span {
    position: relative;
    /*left: 15.625%;*/
}



.job-row-opened {
    height: 100%;
    min-height: 8.125em;
    background: #f0f0f0;
}

.job-row-opened img {
    margin-left: 3.125%;
}

.job-short-info{
    width: 2.81%;
}

.job-title-opened {
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 0.875em;
    margin-top: 0.923em;
    display: inline-block;
    margin-left: 1.125%;
    width: 31%;
}
.job-region-opened{
    margin-top:0.929em;
    display:inline-block;
    margin-left:18.75%;
    font-size:0.875em;
    color:#000;
}

.job-id{
    font-size:0.875em;
    font-weight:bold;
    font-family:Arial,sans-serif;
    color:#000;
    margin-top:1.214em;
    margin-left:7.5%;
}

.job-expired-title {
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 1.214em;
    margin-left: 7.5%;
}

.job-expired-date {
    display: inline-block;
    position: relative;
    top: -1.188em;
    left: 53.125%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #535252;

}

.job-description-title{
    font-size:0.875em;
    font-weight:bold;
    font-family:Arial,sans-serif;
    color:#000;
    /*margin-top:0.714em;*/
    margin-left:7.5%;
}
.job-description-text{
    display:inline-block;
    position:relative;
    top:-1.25em;
    left:65.63%;
    font-size:0.875em;
    font-family:Arial,sans-serif;
    color:#535252;


}
.job-description-text-2{
    position:relative;
    top:-1.071em;
    left:7.5%;
    font-size:0.875em;
    font-family:Arial,sans-serif;
    color:#535252;
    width:90%;
}

.job-date-title{
    font-size:0.875em;
    font-weight:bold;
    font-family:Arial,sans-serif;
    color:#000;
    margin-top:0;
    margin-left:7.5%;
}

.job-date{
    display:inline-block;
    position:relative;
    top:-1.357em;
    left:30.31%;
    font-size:0.875em;
    font-family:Arial,sans-serif;
    color:#535252;
}



.job-search {
    border-top: thin solid #dddddd;
    margin-left: 7.81%;
    padding-top: 0.9375em;
    margin-bottom: 1.250em;
}

.basket-image{
    width: 4.0625%;
    position: relative;

    /*left: 17.63%;*/
    /*top: -1.063em;*/
}

.job-search a {
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #3895e4;
}

.job-to-basket {
    position: relative;
    left: 17.63%;
    top: -1.063em;
    width:30%;
}


.content-footer {
    padding-bottom: 2.143em;
    text-align: center;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-top: 3.143em;
    border-bottom: thin solid #ddd;

}


#navigation {

    margin-top: 0.938em;
    margin-bottom: 1.250em;
    width:93.72%;
    margin-left: 2.81%;

}

#navigation a {
    width: 9.372%;
    height: 1.667em;
    display: inline-block;
    text-align: center;
    color: #3895e4;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    line-height: 1.667em;

}

.nav-link{
    margin-left: 3.1%;
}
.left-icc {
    display: block;
    width: 144.1%;

}

.right-icc {
    display: block;
    width: 150.14%;

}

.nav-active {
    position: relative;

    background: #f0f0f0;
    width: 9.38%;
    height: 1.667em;
    /*line-height: 3em;*/
    -webkit-box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    -moz-box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    border-radius: 0.15em;
    margin-top: -0.5em;
}

a.with-background:hover {
    background: #dfdfdf;
    width: 9.38%;
    height: 1.667em;
    -webkit-box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    -moz-box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    border-radius: 0.15em;
}

a.first-item{
    margin-left: 0 !important;
}
a.second-item{
    margin-left: 7.67% !important;
}
a.border-item:hover {
    background: none;
}

.bottom-text {
    margin-top: 1.429em;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #000000;
    margin-left: 17.19%;
    margin-bottom: 2.429em;
}
#footer-top {
    width: 100%;
    height: 4.6%;
    min-height: 2.5em;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 0.625em;
    margin-left: 6.125%;
    width: 5%;
}

.info {
    display: inline-block;
    position: relative;
    left: 1.2%;
    top: -0.125em;
    width: 35%;
}

.info a {
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}
.number{
    display: inline-block;
}

.number span {

    position: relative;
    left: 4.975%;
    top: -0.125em;
    color: #fff;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.phone {
    display: inline-block;
    position: relative;
    left: 1.82%;
    top: 0.125em;
    width: 5%;
}

.letter-bottom-image {
    width: 100%;
}

#footer-bottom {
    height: 1.875em;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 0.583em;
    color: #f6ae01;
    font-size: 0.750em;
    font-family: Arial, sans-serif;
}




@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }

}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;

    }


}
@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper{
        font-size: 38px;

    }


}
@media screen and (min-width: 1025px) {
    #wrapper{
        font-size: 51px;

    }


}

