* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

button{font-size: inherit;}


#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}
#header {
    width: 100%;
    height: 100%;
    border-top: 0.125em solid #000;
    min-height: 3em;
    background-color:  #2a2d30;
}


.select-country-block {
    width: 5.625%;
    top: -0.8125em;
    position:relative;
    display: inline-block;
    margin-left: 6.25%;


}
.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
}


.select-country-icon {
    width: 4.6875%;
    position:relative;
    display: inline-block;
    top: -0.5625em;

}

.select-country-icon-unicode {
    width: 4.6875%;
    font-size: .6em;
    position:relative;
    display: inline-block;
    top: -1.2em;
    left: -0.25em;
    color: #66696b;

}
.select-country-image {
    width: 100%;
}


.menu-icon {
    width: 13.438%;
    position:relative;
    display: inline-block;
    left:64.5%;
    top: 0.0625em;
}


.menu-image{
    width: 100%;
}


.logo {

    width: 35.156%;
    position:relative;
    display: inline-block;
    margin-left: -2.248%;
    top: -0.5em;

}


.logo-image{
    width: 100%;
}

#header-bottom{
    height:3.75em;
    background-color:#f6d101;
    border-bottom:0.1875em solid #d1d1d1;
}

.header-arrow{
    float:left;
    width:12.5%;
    height: 100%;
    min-height:3.75em;
    background:#f6ae01;
}
.header-arrow img{
    position:relative;
    height: 1.25em;
    top:1.25em;
    left: 30%;
}
.header-bottom-title{
    font-size:0.75em;
    font-family:Arial, sans-serif;
    color:#535252;
    display:inline-block;
    margin-left:1.5em;
    margin-top:1.167em;
}
.header-bottom-desc{
    font-size:1.25em;;
    font-family:Arial, sans-serif;
    color:#2a2d30;
    display:inline-block;
    margin-left:0.8em;
    width: 75%;
    overflow: hidden;
}

#content img{
    width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;
    }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;
    }
}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;
    }

}
@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper{
        font-size: 38px;
    }
}
@media screen and (min-width: 1025px) {
    #wrapper{
        font-size: 51px;
    }

}
