{% extends 'VisiDarbiCMSBundle:Page:page.html.twig' %}


{% block header_logo %}
    <h1>{{ parent() }}</h1>
{% endblock %}

{% block content %}

    {% set date_format = setting('site.date_format') %}

    <section class="doclist">
        {% for doc in pagination %}
            {% set doc_url = url('document', { slug: doc.slug }) %}
            <section class="item clearfix">
                {% if doc.image %}
                    <a href="{{ doc_url }}" title="{{ doc.title }}" class="img">
                        <img src="{% path doc.image, 'small' %}" alt="{{ doc.imageAlt ? doc.imageAlt : doc.title }}" />
                    </a>
                {% endif %}
                <h2><a href="{{ doc_url }}" title="{{ doc.title }}">{{ doc.title|truncate(255, true) }}</a></h2>
                <p>{{ doc.summary|truncate(255, true) }}</p>
                {% if doc.publicationDate %}
                    <div class="date">{{ doc.publicationDate|date(date_format) }}</div>
                {% endif %}
            </section>
        {% endfor %}
    </section>

    <section class="pager">
        {{ knp_pagination_render(pagination, 'VisiDarbiCommonBundle::pagination.html.twig') }}
    </section>

{% endblock %}
