{% extends 'VisiDarbiCMSBundle:Page:page.html.twig' %}

{% trans_default_domain 'document' %}

{% block content %}

    {% set date_format = setting('site.date_format') %}

    <section class="opendoc">
        <h1>{{ document.title }}</h1>
        {% if document.publicationDate %}
            <div class="date">{{ document.publicationDate|date(date_format) }}</div>
        {% endif %}
        {% if document.image %}
            <img src="{% path document.image, 'opendoc' %}" id="mainimg" alt="{{ document.imageAlt ? document.imageAlt : document.title }}" />
        {% endif %}
           
        {{ document.content|raw }}
            
    </section>

    {% set links = document.links %}
    {% set files = document.files %}

                
    {% set has_files = false %}
    {% for attachment in files %}
        {% if attachment.file %}{% set has_files = true %}{% endif %}
    {% endfor %}

    {% if links|length > 0 or has_files %}
        <section id="addons" class="clearfix">
            {% if links|length > 0 %}
                <section class="item">
                    <h3>{{ 'Links'|trans }}</h3>
                    <ul>
                        {% for link in links %}
                            {% set title = link.title %}
                            {% if title|length == 0 %}
                                {% set title = link.url %}
                            {% endif %}
                            <li><a href="{{ link.url }}" title="{{ title }}" target="{{ link.target }}" >{{ title }}</a></li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
                
            {% if has_files %}
                <section class="item">
                    <h3>{{ 'Files'|trans }}</h3>
                    <ul>
                        {% for attachment in files %}
                            {% if attachment.title|length > 0 %}
                                {% set attachment_title = attachment.title %}
                            {% else %}
                                {% set attachment_title = attachment.file.name %}
                            {% endif %}
                            {% if attachment.file %}
                                <li><a href="{{ path('sonata_media_download', {'id': attachment.file|sonata_urlsafeid }) }}" title="{{ attachment_title }}" >{{ attachment_title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {#<li><a href="#" title="title">cPanel configuration *.docx, 1.5MB</a></li>
                        <li><a href="#" title="title">Anohomy of cloud server ... *.pdf, 47,69MB</a></li>
                        <li><a href="#" title="title">Read me now *.txt 0.1MB</a></li>#}
                    </ul>
                </section>
            {% endif %}
        </section>
    {% endif %}

    <section class="backbutton clearfix"><a href="{{ url('page', { 'slug': document.page.slug }) }}" title="{{ 'Back to list'|trans }}">{{ 'Back to list'|trans }}</a></section>

{% endblock %}
