{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}

{% block seo_title %}{% spaceless %}
    {% if seo_context.seoData.title|length > 0 %}
        {{ seo_context.seoData.title|truncate(70, true) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block seo_keywords %}{% spaceless %}
    {% if seo_context.seoData.keywords|length > 0 %}
        {{ seo_context.seoData.keywords|truncate(150, true) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block seo_description %}{% spaceless %}
    {% if seo_context.seoData.description|length > 0 %}
        {{ seo_context.seoData.description|truncate(150, true) }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}{% endblock %}


{% block language_switcher_choices %}
    {% for choice in lng_switch_choices %}                                     
        <li><a href="{{ choice.url }}">{{ choice.label|upper }}</a></li>
    {% endfor %}
{% endblock language_switcher_choices %}

{% block body %}
    <section id="wrapper" class="left_menu clearfix">
        <section class="content clearfix">

            <section class="leftcol">
                <nav id="leftmenu">
                    {{ knp_menu_render('left_side', { 'currentClass' : '' }) }}
                </nav>
            </section>

            {% set banner = get_banner_for_exposition(current_country(), app.request.attributes.get('_locale'), 'sidebar') %}
            {% if banner %}
                <section class="rightcol">
                    {{ expose_banner(banner) }}
                </section>
            {% endif %}
            
            <section class="body">
                {% block content %}
                {% endblock %}
            </section>
            
        </section>
    </section>
{% endblock %}
