{% extends 'VisiDarbiCMSBundle:Page:tokenfailpage.html.twig' %}

{% trans_default_domain 'document' %}

{% block content %}

    {% set date_format = setting('site.date_format') %}
    <section class="fail_msg_box">
        <h2>{{ document.title }}</h2>
        {{ document.content|raw }}
    </section>

{% endblock %}
