* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}
/* header line*/
#header {
    width: 100%;
    height: 100%;
    /*border-top: 0.125em solid #000;*/
    min-height: 5.4375em;
    background-color: #2a2d30;
    border-bottom: 0.1875em solid #c1c1c1;
}
#header-line {
    position: relative;
    border-top: 0.125em solid #2a2d30;
    height: 100%;
    min-height: 2.8125em;
    background-color: #2a2d30;
}

.country-selector {
    float: left;
    position: relative;
    left: 7.5%;
    width:20%
}

.country-selector-text {
    display: inline-block;
    position: relative;
    top: 0;

    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-top: 0.875em;
}

.country-selector-image {
    display: inline-block;
    position: relative;
    width: 15.625%;
    top: 0.125em;

}

.vd-logo {
    display: inline-block;
    position: relative;
    width: 35.3125%;

    left: 12.81%;
}

.site-menu {
    display: inline-block;
    position: relative;
    width: 6.875%;
    top: 0.375em;
    left: 30%;
}
/* end header line*/
/*.select-country-block {*/
    /*width: 5.625%;*/
    /*top: -0.8125em;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin-left: 6.25%;*/

/*}*/

/*.select-country-text {*/
    /*color: #f6ae01;*/
    /*font-family: Arial, sans-serif;*/
    /*font-weight: normal;*/
    /*font-size: 0.875em;*/
/*}*/

/*.select-country-icon {*/
    /*width: 4.6875%;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*top: -0.5625em;*/

/*}*/

/*.select-country-icon-unicode {*/
    /*width: 4.6875%;*/
    /*font-size: .6em;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*top: -1.2em;*/
    /*left: -0.25em;*/
    /*color: #66696b;*/

/*}*/

/*.select-country-image {*/
    /*width: 100%;*/
/*}*/

/*.menu-icon {*/
    /*width: 13.438%;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*left: 64.5%;*/
    /*top: 0.0625em;*/
/*}*/

/*.menu-image {*/
    /*width: 100%;*/
/*}*/

/*.logo {*/

    /*width: 35.156%;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin-left: -2.248%;*/
    /*top: -0.5em;*/

/*}*/

/*.logo-image {*/
    /*width: 100%;*/
/*}*/

/* second floor*/

.header-bottom {
    /*max-height: 2.9375em;*/
    overflow: hidden;
}

.menu li{
    margin-top:0.875em;
    position:relative;
    list-style:none;
    display:inline-block;
    padding:0 2.19%;
}


.menu li:after{
    content:"";
    display:block;
    border-bottom:0.1875em solid #2a2d30;
    padding-top:0.75em;;
}
.menu li.menu-active:after{
    content:"";
    display:block;
    border-bottom:0.1875em solid #f6ae01;
    padding-top:0.75em;;
}



.menu li a{
    font-size:0.813em;
    font-weight:bold;
    text-transform:uppercase;
    color:#adaeaf;
    font-family:Arial,sans-serif;
}
li.menu-active a{
    color:#fff;
}

.second-li{
    width: 40%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

}

.first-li {
    width: 49%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

}






#content {
    margin-left: 6.25%;
}
.content-title {
    margin-top: 1.250em;
    /*margin-left: 20px;*/
    font-size: 1.250em;
    font-family: Arial, sans-serif;
    color: #000;
    padding-bottom:0.500em;
}



.submit-image{
    left: -10%;
    position: relative;
    /*top: -2.250em;*/
    width: 2.8125%;
}
.text{
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    font-family: Arial,sans-serif;
    margin-bottom: 0.3125em;
}
.input-text-block {
    margin-bottom: 0.3125em;

}
.input-text-block input[type="text"] {

    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);



    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    font-size: 1em;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    /*display: block;*/
    height: 2.625em;
    width: 89.0%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;
}
.placeholder-gray:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}
.placeholder-gray::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}
.placeholder-gray:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;

}
.placeholder-gray::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}

.placeholder-black:-ms-input-placeholder{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #000;
}
.placeholder-black::-webkit-input-placeholder{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #000;
}
.placeholder-black:-moz-placeholder{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #000;
}
.placeholder-black::-moz-placeholder{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #000;
}
.input-label {
    margin-left: 1%;
    margin-bottom: 0.625em;
    font-family: Arial, sans-serif;
    color: #a4a4a4;
    font-size: 0.750em;
    padding-top: 1%;
}


.content-footer-email {
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    margin-left: 6.25%;
    margin-top: 1.786em;
    /*padding-bottom: 20px;*/
}

.checkbox {
    font-size: 0.938em;
    font-family: Arial, sans-serif;
    color: #828282;
    margin-left: 6.25%;
    position: relative;
    padding-top: 0.714em;
    /*top: -11px;*/
}

span.checkbox{
    margin-left: 0.714em;
    top: -0.143em;
}





.button-size{
    height: 3.125em;
    font-size: inherit;

    padding-top: 1.875em;
    padding-bottom: 1.875em;
}


.submit-button {
    width: 87.5%;
    margin-left: 6.25%;
    height: 100%;
    min-height: 2.22em;
    background-color: #F4AC01;
    background: linear-gradient( top, #F4AC01, #EB9601);
    background: -webkit-linear-gradient(top, #F4AC01, #EB9601);
    background: -moz-linear-gradient( top, #F4AC01, #EB9601);
    background: -o-linear-gradient( top, #F4AC01, #EB9601);
    background: -ms-linear-gradient( top, #F4AC01, #EB9601);
    border: thin solid #966901;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.125em;
    color: white;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;



}
.submit-button span{
    position: relative;
    color: #fff;
    font-size: 1.385em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    /*top: -0.1875em;*/
    margin-left: -1.689%;
}


.content-footer-text {
    text-align: center;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-bottom: 3.125em;
}








#footer-top {
    width: 100%;
    height: 4.6%;
    min-height: 2.5em;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 0.625em;
    margin-left: 6.125%;
    width: 5%;
}

.info {
    display: inline-block;
    position: relative;
    left: 1.2%;
    top: -0.125em;
    width: 35%;
}

.info a {
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.number {
    display: inline-block;
}

.number span {

    position: relative;
    left: 4.975%;
    top: -0.125em;
    color: #fff;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.phone {
    display: inline-block;
    position: relative;
    left: 1.82%;
    top: 0.125em;
    width: 5%;
}

.letter-bottom-image {
    width: 100%;
}

#footer-bottom {
    width: 100%;
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 0.438em;
    color: #f6ae01;
    font-size: 0.813em;
    font-family: Arial, sans-serif;
}




@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }

}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;

    }


}
@media screen and (min-width: 761px) and (max-width: 900px) {
    #wrapper{
        font-size: 38px;

    }


}
@media screen and (min-width: 901px) and (max-width: 1000px) {
    #wrapper{
        font-size: 45px;

    }


}
@media screen  and (min-width: 1001px) {
    #wrapper{
        font-size: 51px;

    }


}

