* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}

#header-line {
    position: relative;
    border-top: 0.125em solid #2a2d30;
    height: 100%;
    min-height: 2.8125em;
    background-color: #2a2d30;
}

.country-selector {
    float: left;
    position: relative;
    left: 7.5%;
    width:20%
}

.country-selector-text {
    display: inline-block;
    position: relative;
    top: 0;

    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-top: 0.875em;
}

.country-selector-image {
    display: inline-block;
    position: relative;
    width: 15.625%;
    top: 0.125em;

}

.vd-logo {
    display: inline-block;
    position: relative;
    width: 35.3125%;

    left: 12.81%;
}

.site-menu {
    display: inline-block;
    position: relative;
    width: 6.875%;
    top: 0.375em;
    left: 30%;
}


/*320*/
@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }

}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;

    }


}
@media screen and (min-width: 761px) and (max-width: 900px) {
    #wrapper{
        font-size: 38px;

    }


}
@media screen and (min-width: 901px) and (max-width: 1000px) {
    #wrapper{
        font-size: 45px;

    }


}
@media screen  and (min-width: 1001px) {
    #wrapper{
        font-size: 51px;

    }


}


