{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(function() {
             $('#generate-password-btn').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                var $btn = $(this);
                $btn
                   .attr('disabled',true)
                   .attr('default-text',$btn.text())
                   .text($btn.attr('loading-text'));
                
                var url = Routing.generate('visidarbi_admin_generate_password', { _sonata_admin: 'visidarbi.admin.user.legal' });
                $.post(url, {}, function(generatedPassword){
                   $btn
                      .removeAttr('disabled')                      
                      .text($btn.attr('default-text'));
              
                   //$('.generated-password-fld, .password-first-fld, .password-second-fld').val(generatedPassword);
                   $('.password-first-fld, .password-second-fld').val(generatedPassword);
                   
                   /* Change password-type field to text field to show password */
                   $('.password-first-fld').clone().prop('type','text').insertAfter('.password-first-fld').prev().remove();
                   $('.password-second-fld').clone().prop('type','text').insertAfter('.password-second-fld').prev().remove();
                },"text");


            });
        });
    </script>
{% endblock %}