{# left for case if we will need separate field for storing plain password
{% block generated_password_widget %}
    {% spaceless %}
       {{ block('form_widget_simple') }}
    {% endspaceless %}
    {<button class="btn btn-xs btn-default" type="button" id="generate-password-btn" loading-text="Generating...">Generate</button>    
{% endblock %}
#}

{% block password_widget %}
    {{ block('form_widget_simple') }}
    {% if form.name == 'first' %}    
        <button class="btn btn-xs btn-default" type="button" id="generate-password-btn" loading-text="Generating..." style="margin-left:10px">Generate</button>
    {% endif %}
{% endblock %}
