{% trans_default_domain "advertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block body %}
{{ pagination.setSortableTemplate('VisiDarbiAdvertisementBundle:Advertisement:sortable_list.html.twig') }}
{% if pagination.getParams.page <1 %}{{pagination.setParam('page', 1)}}{% endif %}
{% set tabindex = 1 %}

<section id="wrapper" class="clearfix">
    <section class="content clearfix">
        <section class="leftbg"></section>
{% spaceless %}
        <form method="GET">
            <input type="hidden" id="paginator-page" name="page" value="{{pagination.getParams.page}}">
            <input type="hidden" id="paginator-sort" value="{{pagination.getParams.sort}}">
            <input type="hidden" id="paginator-direction" value="{{pagination.getParams.direction}}">

            <section class="leftcol">
                
                <section class="filters">
    
                    {#  FILTER BLOCK CATEGORIES #}
                    {% if filterData.cities or filterData.countries %}

                        <section class="item">
                            <h2>{{'Location'|trans}}</h2>
                            <ul>
                                {% for f_adv_city in filterData.cities|slice(0,5) %}
                                    {% set tabindex = tabindex + 1 %}                                            
                                    <li>
                                        <div class="ef-input checkbox">
                                            <div class="inn">
                                                <input class="front-filter" name="city" value="{{f_adv_city.city_id}}" id="fcityb{{f_adv_city.city_id}}" 
                                                        type="checkbox" tabindex="{{tabindex}}" title="{{f_adv_city.city_name}} ({{f_adv_city.adv_count}})" 
                                                        {% if settledFilters.cities[f_adv_city.city_id] %}checked="checked"{% endif %}
                                                />
                                                <label for="fcityb{{f_adv_city.city_id}}">{{f_adv_city.city_name}} ({{f_adv_city.adv_count}})</label>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                                {% if filterData.cities == null and filterData.countries %}

                                    {% for f_adv_country in filterData.countries|slice(0,5) %}
                                        {% set tabindex = tabindex + 1 %}                                            
                                        <li>
                                            <div class="ef-input checkbox">
                                                <div class="inn">
                                                    <input class="front-filter" name="country" value="{{f_adv_country.country_id}}" id="fcityb{{f_adv_country.country_id}}" 
                                                            type="checkbox" tabindex="{{tabindex}}" title="{{f_adv_country.country_name}} ({{f_adv_country.adv_count}})" 
                                                            {% if settledFilters.countries[f_adv_country.country_id] %}checked="checked"{% endif %}
                                                    />
                                                    <label for="fcityb{{f_adv_country.country_id}}">{{f_adv_country.country_name}} ({{f_adv_country.adv_count}})</label>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}

                                {% endif %}
                            </ul>
                                <section class="more"><a data-filter="tab_1" href="javascript:;" title="{{'More'|trans}}">{{'More'|trans}}</a></section>
                        </section>
                    


                    {% endif %}

                    {#  FILTER BLOCK CATEGORIES #}
                    {% if filterData.categories %}

                        <section class="item">
                            <h2>{{'Position'|trans}}</h2>
                            <ul>
                                {% for f_category in filterData.categories|slice(0,5) %}
                                {% set tabindex = tabindex + 1 %}
                                <li>
                                    <div class="ef-input checkbox">
                                    <div class="inn">
                                        <input class="front-filter" name="position" value="{{f_category.category_id}}" id="fpcb{{f_category.category_id}}" 
                                                type="checkbox" tabindex="{{tabindex}}" title="{{f_category.category_name}} ({{f_category.adv_count}})" 
                                                {% if settledFilters.positions[f_category.category_id]%}checked="checked"{%endif%} 
                                        / >
                                        <label for="fpcb{{f_category.category_id}}">{{f_category.category_name}} ({{f_category.adv_count}})</label>
                                    </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>

                            <section class="more"><a data-filter="tab_2" href="javascript:;" title="{{'More'|trans}}">{{'More'|trans}}</a></section>
                                                
                        </section>

                    {% endif %}
                    
                    {# FILTER BLOCK COMPANIES #}
                    {% if filterData.companies %}

                        <section class="item">
                            <h2>{{'Company'|trans}}</h2>
                            <ul>
                                {% for f_company in filterData.companies|slice(0,5) %}
                                    {% set tabindex = tabindex + 1 %}
                                    <li>
                                        <div class="ef-input checkbox">
                                            <div class="inn">
                                                <input class="front-filter" name="company" value="{{f_company.id}}" id="fccb{{f_company.name}}" 
                                                        type="checkbox" tabindex="{{tabindex}}" title="{{f_company.name}} ({{f_company.adv_count}})" 
                                                        {% if settledFilters.companies[f_company.id] %}checked="checked"{% endif %}
                                                />
                                                <label for="fccb{{item.name}}">{{f_company.name}}{{' (' ~ f_company.adv_count ~ ')'}}</label>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <section class="more"><a data-filter="tab_3" href="javascript:;" title="{{'More'|trans}}">{{'More'|trans}}</a></section>
                        </section>

                    {% endif %}
                    
                    {% if filterData.resources %}

                        <section class="item">
                            <h2>{{'Resource'|trans}}</h2>
                            <ul>
                                {% for f_resource in filterData.resources|slice(0,5) %}
                                    {% set tabindex = tabindex + 1 %}
                                    <li>
                                        <div class="ef-input checkbox">
                                            <div class="inn">
                                                <input class="front-filter" name="resource" value="{{f_resource.id}}" id="frcb{{f_resource.id}}" 
                                                        type="checkbox" tabindex="{{tabindex}}" title="{{f_resource.getShowAs}}" 
                                                        {% if settledFilters.resources[f_resource.id]%}checked="checked"{%endif%}
                                                />
                                                <label for="frcb{{f_resource.id}}">{{f_resource.getShowAs}}</label>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <section class="more"><a data-filter="tab_4" href="#" title="{{'More'|trans}}">{{'More'|trans}}</a></section>
                        </section>

                    {% endif %}
                </section>
            </section>

        </form>
{% endspaceless %}

        <section class="rightcol">
            {% set banner = get_banner_for_exposition(current_country(), app.request.attributes.get('_locale'), 'sidebar') %}
                    
            {% if banner %}
                <section class="banner">{{ expose_banner(banner) }}</section>
            {% endif %}

            {% set banner = get_banner_for_exposition(current_country(), app.request.attributes.get('_locale'), 'sidebar1') %}
                    
            {% if banner %}
                <section class="banner">{{ expose_banner(banner) }}</section>
            {% endif %}

            {% set banner = get_banner_for_exposition(current_country(), app.request.attributes.get('_locale'), 'sidebar2') %}
                    
            {% if banner %}
                <section class="banner">{{ expose_banner(banner) }}</section>
            {% endif %}
        </section>
                
        <section class="body">

            {% if pagination|length > 0 %}

                {% if user == false or user.isPrivate() %}
		<a href="javascript:;" title="{{'Send me new advertisements on e-mail!'|trans}}" class="button css3">
                    <span class="plane">{{'Send me new advertisements on e-mail!'|trans}}</span>
                </a>
		{% endif %}
                <section class="sort clearfix">
                    <section class="left">{{'Sort by'|trans}}:</section>
                    <section class="items">
                        {{ pagination.setUsedRoute(paginationSortUrl) }}
                                           
                        {{ knp_pagination_sortable(pagination, 'Position'|trans, sortKeysValues.advertisement_title.value )|raw }}
                        <div class="sep"></div>
                        {{ knp_pagination_sortable(pagination, 'Company'|trans, sortKeysValues.company_name.value )|raw }}
                        <div class="sep"></div>
                        {{ knp_pagination_sortable(pagination, 'Date'|trans, sortKeysValues.advertisement_date.value )|raw }}
                        <div class="sep"></div>
                        {{ knp_pagination_sortable(pagination, 'Resource'|trans, sortKeysValues.resource_in.value )|raw }}
                    </section>
                </section>

                <section class="work">
                                
                    {% for advertisement in pagination %}
                        <section id="{{advertisement.getSlugOrPublicId(app.request.attributes.get('_locale'))}}" class="item {% if advertisement.getExternalAdvertisement == null or advertisement.getIsHighlighted() %}spec{% endif%}">
                            <section class="cont clearfix">
                                {% if advertisement.getCompany.getLogo and advertisement.getCompany.isLogoFileExists %}
                                    <a href="javascript:;" title="{{advertisement.getCompany.getName}}" alt="{{advertisement.getCompany.getName}}"
                                        class="image"><img src="{{ image(advertisement.getCompany.getFullLogoPath).resize(98,98).fillBackground.jpeg  }}" 
                                        title="{{advertisement.getCompany.getName}}" alt="{{advertisement.getCompany.getName}}" 
                                    /></a>
                                {% endif %}

                                <section class="text">
                                    {% if advertisement.getExternalAdvertisement %}
                                        {% if not advertisement.getIsHighlighted() %}

                                            <h2>
                                                <a target="_blank" href="{{path('visidarbi_advertisement_show', {'advertisementId': advertisement.getSlugOrPublicId(app.request.attributes.get('_locale'))})}}" title="{{advertisement.title}}">
                                                    {{advertisement.title}}
                                                </a>
                                                <b class="info"><i class="css3" data-text="{{ 'Advertisement highlight link info.'|trans }}"></i></b>
                                                <span>
                                                    {{'ID'|trans}}: 
                                                        <a href="{{path('visidarbi_advertisement_highlight', {'advertisementId': advertisement.getSlugOrPublicId(app.request.attributes.get('_locale')) })}}" 
                                                            title="{{'Highlight'|trans}}"
                                                        >
                                                        {{ advertisement.publicId }}
                                                        </a>
                                                </span>
                                            </h2>
                                        {% else %}
                                            <h2>
                                                <a target="_blank" 
                                                    href="{{path('visidarbi_advertisement_show', {'advertisementId': advertisement.getSlugOrPublicId(app.request.attributes.get('_locale'))})}}" 
                                                    title="{{advertisement.title}}">{{advertisement.title}}
                                                </a>
                                                <span>{{'ID'|trans}}:{{advertisement.publicId() }}</span>
                                            </h2>
                                        {% endif %}
                                    {% else %}

                                        <h2>
                                            <a href="{{path('visidarbi_advertisement_show', {'advertisementId': advertisement.getSlugOrPublicId(app.request.attributes.get('_locale'))})}}" 
                                                title="{{advertisement.title}}"
                                            >
                                                {{advertisement.title}}
                                            </a>
                                            <span>{{'ID'|trans}}:{{advertisement.publicId}}</span>
                                        </h2>
                                    {% endif %}
                                    
                                    <section class="clearfix data">
                                        <div class="left">
                                            <b>
                                                {{advertisement.AdvertisementCity.name|default(advertisement.AdvertisementCountry.name) }}
                                            </b>
                                        </div>
                                            {% if advertisement.companies.name %}
                                                <div class="sep"></div>
                                                <div class="left">{{advertisement.companies.name}}</div>
                                            {% endif %}

                                            {% if not advertisement.getIsExternal() %}
                                                <div class="sep"></div>
                                                <div class="left {% if advertisementDateMark(advertisement.getDateTo) %}red{%endif%}">{{'Contest terms'|trans}}: {{'till'|trans}} {{advertisement.getDateTo()|date('d.m.')}}</div>
                                            {% endif %}
                                    </section>
                                    <p>{{advertisement.getDescription|truncate(250, true) }}</p>
                                </section>
                            </section>
                            
                            <section class="links clearfix">
                                <section class="hovershow">
                                    {% if advertisement.getExternalAdvertisement %}
                                        <a target="_blank" href="{{path('visidarbi_advertisement_show', {'advertisementId': advertisement.getSlugOrPublicId(app.request.attributes.get('_locale'))})}}" title="{{'Read more'|trans}}" class="more">{{'Read more'|trans}}</a>                                                        
                                    {% else %}
                                        <a href="{{path('visidarbi_advertisement_show', {'advertisementId': advertisement.getSlugOrPublicId(app.request.attributes.get('_locale'))})}}" title="{{'Read more'|trans}}" class="more">{{'Read more'|trans}}</a>
                                    {% endif %}
                                    
                                    {% if allowSaveAdvertisement %}
                                        <a id="save_{{advertisement.publicId}}"
                                            {% if ( not favorites[advertisement.id] )%}
                                                class="save"
                                            {% else %}
                                                class="saved"
                                            {% endif %} 

                                            {% if user  %}
                                                href="javascript:saveFavorite('{{advertisement.publicId}}');"
                                            {% else %}
                                                href="javascript:;"
                                            {% endif %}
                                        >
                                            {% if ( not favorites[advertisement.id] )%}
                                                {{'Save'|trans}}
                                            {% else %}
                                                {{'Saved'|trans}}
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                    <a id="share_link_{{advertisement.getSlugOrPublicId(app.request.attributes.get('_locale')) }}" href="#" title="{{'Share'|trans}}" class="share" data-href="{{url('visidarbi_advertisement_show', {'advertisementId': advertisement.getSlugOrPublicId(app.request.attributes.get('_locale')) }, true)}}" data-title="{{advertisement.title}}" data-id="{{advertisement.getSlugOrPublicId(app.request.attributes.get('_locale')) }}">{{'Share'|trans}}</a>
                                </section>
                                {# {advertisement.getDateTo()|date('d.m.')} #}
                                <section class="posted" title="{{advertisement.getDateFrom()|date('d.m.Y')}}">
                                    {% if advertisement.getExternalAdvertisement %}
                                        {{advertisement.externalAdvertisement.externalAdvertisementSource.showAs ~ ' - ' }}   
                                    {% endif %}

                                    {% if advertisement.getPublishedAt is not empty %}
                                        {{advertisement.getPublishedAt|time_ago_in_words}}
                                    {% else %}
                                        {{advertisement.getDateFrom|time_ago_in_words}}
                                    {% endif %}
                                </section>
                            </section>
                            <section class="mailing_popup_content"></section>
                        </section>
                    {% endfor %}


                    <section class="pager">
                        {{ pagination.setUsedRoute(paginationPageUrl) }}
                        {{ knp_pagination_render(pagination, 'VisiDarbiCommonBundle::pagination.html.twig') }}
                        {% if filtered %}<div class="all"><a href="{{path('visidarbi_advertisement_list')}}" title="{{'Show all advertisements'|trans}}">{{'Show all advertisements'|trans}}</a></div>{% endif %}
                    </section>
        
                </section>

            {% else %}
                {% include 'VisiDarbiAdvertisementBundle:Advertisement:search_results_not_found.html.twig' %}
            {% endif %}
        </section>
    </section>
</section>
{% endblock %}

{% block afterfooter %}  
{% spaceless %}    

<section id="filter_popup" class="popup">
	<section class="overlay"></section>

	   <section class="content">
	       <section class="filter_popup css3">

				<section class="head css3">
					<span class="css3"></span>
					<h2>{{'Search filter'|trans}}</h2>
					<div class="close" title="{{'Close'|trans}}">{{'Close'|trans}}</div>

					<ul>
						<li>
                            <div class="ef-input checkbox sel">
                                <div class="inn">
						            <input id="cb_s" type="checkbox" tabindex="45" title="{{'Select all'|trans}}">
						            <label for="cb_s">{{'Select all'|trans}}</label>
						        </div>
                            </div>
                        </li>

						<li>
                            <div class="ef-input checkbox desel">
                                <div class="inn">
        							<input id="cb_u" type="checkbox" tabindex="46" title="{{'Unselect all'|trans}}">
        							<label for="cb_u">{{'Unselect all'|trans}}</label>
						        </div>
                            </div>
                        </li>
					</ul>
				</section>

				<section class="block css3">
					<section class="nav css3"></section>
					<section class="clearfix" data-tabgroup-id="group1" data-animation="fade">

						<nav class="tabsmenu tabmenu" data-tabgroup="group1">
							<ul>
								{% if filterData.cities %}<li class="sel"><a class="active" data-call="tab_1" href="javascript:;" title="{{'Location'|trans}}">{{'Location'|trans}}</a></li>{% endif %}
								{% if filterData.categories %}<li><a data-call="tab_2" href="javascript:;" title="{{'Position'|trans}}">{{'Position'|trans}}</a></li>{% endif %}
								{% if filterData.companies %}<li><a data-call="tab_3" href="javascript:;" title="{{'Company'|trans}}">{{'Company'|trans}}</a></li>{% endif %}
								{% if filterData.resources %}<li><a data-call="tab_4" href="javascript:;" title="{{'Resource'|trans}}">{{'Resource'|trans}}</a></li>{% endif %}
							</ul>
						</nav>

						<section class="tabholder" data-tabgroup="group1">
                            {# FILTER CITIES BLOCK #}
                            {% if filterData.cities or filterData.countries %}
    							<form class="tab active" action="#" data-id="tab_1">
    								<section class="list clearfix">
                                        {% if filterData.cities %}

                                        {% set parts = filterData.cities|columns(4) %}
                                        {% for chunk in parts %}
    									<ul>
                                            {% for fm_city in chunk %}
                                                {% set tabindex = tabindex + 1 %} 

                                                <li>
                                                    <div class="ef-input checkbox">
                                                        <div class="inn">
                                                            <input class="extended-filter"  name="city" value="{{fm_city.city_id}}" id="cityb{{fm_city.city_id}}" 
                                                                    type="checkbox" tabindex="{{tabindex}}" title="{{fm_city.name}}" 
                                                                    {% if settledFilters.cities[fm_city.city_id]%}checked="checked"{% endif %}
                                                            />
                                                            <label for="cityb{{fm_city.city_id}}">{{fm_city.city_name}}{{' (' ~ fm_city.adv_count ~ ')'}}</label>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
    									</ul>
                                       {% endfor %}
                                    {% endif %}
 
                                    {% if filterData.countries %}
                                       {% set parts = filterData.countries|columns(4) %}
                                        {% for chunk in parts %}
                                        <ul>
                                            {% for fm_country in chunk %}
                                                {% set tabindex = tabindex + 1 %} 

                                                <li>
                                                    <div class="ef-input checkbox">
                                                        <div class="inn">
                                                            <input class="extended-filter"  name="country" value="{{fm_country.country_id}}" id="countryb{{fm_country.country_id}}" 
                                                                    type="checkbox" tabindex="{{tabindex}}" title="{{fm_country.country_name}}" 
                                                                    {% if settledFilters.countries[fm_country.country_id]%}checked="checked"{% endif %}
                                                            />
                                                            <label for="countryb{{fm_country.country_id}}">{{fm_country.country_name}}{{' (' ~ fm_country.adv_count ~ ')'}}</label>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                       {% endfor %}

                                    {% endif %}
    
    								</section>

    								<div>
                                        <a  title="{{'Filter'|trans}}" class="orangebutton v2 css3 filter-button" tabindex="67">
                                            <span title="{{'Filter'|trans}}">{{'Filter'|trans}}</span>
                                        </a>
                                    </div>
    							</form>
                            {% endif %}
                            
                            {# FILTER CATEGORIES BLOCK #}
                            {% if filterData.categories %}
    							<form class="tab" action="#" data-id="tab_2">
    								<section class="list clearfix">
                                        {% set parts = filterData.categories|columns(4) %}
                                        {% for chunk in parts %}
    									<ul>
                                            {% for fm_categories in chunk %}
                                            {% set tabindex = tabindex + 1 %} 
    										<li>
                                                <div class="ef-input checkbox">
                                                    <div class="inn">
                                                        <input class="extended-filter" name="position" value="{{fm_categories.category_id}}" 
                                                                id="pcb{{fm_categories.category_id}}" type="checkbox" tabindex="{{tabindex}}" 
                                                                title="{{fm_categories.category_name}} ({{fm_categories.adv_count}})" 
                                                                {% if settledFilters.positions[fm_categories.category_id]%}checked="checked"{% endif %}
                                                        />
                                                        <label for="pcb{{fm_categories.category_id}}">{{fm_categories.category_name}}{{' (' ~ fm_categories.adv_count ~ ')'}}</label>
    										        </div>
                                                </div>
                                            </li>
                                            {% endfor %}
    									</ul>

                                        {% endfor %}
    								</section>
    								<div><a href="javascript:;" title="{{'Filter'|trans}}" class="orangebutton v2 css3 filter-button" tabindex="67"><span title="{{'Filter'|trans}}">{{'Filter'|trans}}</span></a></div>
    							</form>
                            {% endif %}
                            
                            {# FILTERS COMPANIES BLOCK #}
                            {% if filterData.companies %}
							<form class="tab" action="#" data-id="tab_3">
								<section class="list clearfix">
                                    {% set parts = filterData.companies|columns(4) %}
                                    {% for chunk in parts %}
									<ul>
                                        {% for item in chunk %}
                                        {% set tabindex = tabindex + 1 %} 
										<li>
                                            <div class="ef-input checkbox">
                                                <div class="inn">
                                                    <input class="extended-filter" name="company" value="{{item.id}}" 
                                                            id="ccb{{item.name}}" type="checkbox" tabindex="{{tabindex}}" 
                                                            title="{{item.name}} ({{item.adv_count}})" 
                                                            {% if settledFilters.companies[item.id] %}checked="checked"{% endif %}
                                                    />
                                                    <label for="ccb{{item.name}}">{{item.name}}{{' (' ~ item.adv_count ~ ')'}}</label>
										        </div>
                                            </div>
                                        </li>
                                        {% endfor %}
									</ul>
                                    {% endfor %}
								</section>

								<div>
                                    <a href="javascript:;" title="{{'Filter'|trans}}" class="orangebutton v2 css3 filter-button" tabindex="67">
                                        <span title="{{'Filter'|trans}}">{{'Filter'|trans}}</span>
                                    </a>
                                </div>
							</form>
                            {% endif %}

                            {# FILTER BLOCK RESOURCES #}
                            {% if filterData.resources %}
							<form class="tab" action="#" data-id="tab_4">
								<section class="list clearfix">
                                    {% set parts = filterData.resources|columns(4) %}
                                    {% for chunk in parts %}
									<ul>
                                        {% for item in chunk %}
                                        {% set tabindex = tabindex + 1 %}
										<li>
                                            <div class="ef-input checkbox">
                                                <div class="inn">
                                                    <input class="extended-filter" name="resource" value="{{item.id}}" 
                                                            id="rcb{{item.id}}" type="checkbox" tabindex="{{tabindex}}" 
                                                            title="{{item.getShowAs}}" 
                                                            {% if settledFilters.resources[item.id]%}checked="checked"{% endif %}
                                                    />
                                                    <label for="rcb{{item.id}}">{{item.getShowAs}}</label>
										        </div>
                                            </div>
                                        </li>
                                        {% endfor %}
									</ul>
                                   {% endfor %}

								</section>
								<div>
                                    <a href="javascript:;" title="{{'Filter'|trans}}" class="orangebutton v2 css3 filter-button" tabindex="67">
                                        <span title="{{'Filter'|trans}}">{{'Filter'|trans}}</span>
                                    </a>
                                </div>
							</form>
                            {% endif %}
						</section>
					</section>
				</section>
			</section>
			</section>
</section>

        {% include 'VisiDarbiAdvertisementBundle:Advertisement:subscribeadvertisementform.html.twig' %}

		{% include 'VisiDarbiAdvertisementBundle:Advertisement:shareadvertisementform.html.twig' %}

		<section id="login_hint" class="hint css3">
            <section class="txt">
                <div class="close" title="{{'Close'|trans}}">
                    {{'Close'|trans}}
                </div>
                    {{'Lai saglabātu sludinājumu, lūdzu'|trans}} 
                    <a href="javascript: auth();" title="{{'autorizējaties'|trans}}">{{'autorizējaties'|trans}}</a> 
                    {{'vai'|trans}} 
                    <a href="{{ url('registration') }}" title="{{'reģistrējaties'|trans}}">{{'reģistrējaties'|trans}}</a>
            </section>
        </section>
	

<script src="{{ asset('bundles/visidarbicommon/js/jquery.form.js') }}"></script>
<script type="text/javascript">

    function auth(){
        $('#auth_btn').click();
        $("html, body").animate({ scrollTop: 0 }, "slow");
    }


    var filterParam = '',
        request = '',
        cities = '',
        positions = '',
        companies = '',
        resources = '';
    
    $( ".filter-button" ).on( "click", extendedFilterRequest);
	
    $( ".front-filter" ).on( "click", frontFilterRequest);
    $( ".front-filter" ).change(function(){ frontFilterRequest(); });



    function frontFilterRequest() {
        filterRequest(".front-filter");
    }


    function extendedFilterRequest() {
        filterRequest(".extended-filter");
    }

    function filterRequest(filterClass){
        
        var filteredCities = [];
        var filteredCountries = [];
        var filteredPositions = [];
        var filteredCompanies = [];
        var filteredResources = [];

        $(filterClass).each(function( index ) {
            if($(this).is(':checked')){
                if( $(this).attr('name') == 'city') {
                    filteredCities.push($(this).attr('value'));
                } 
                else if( $(this).attr('name') == 'country') {
                    filteredCountries.push($(this).attr('value'));
                } 
                else if( $(this).attr('name') == 'position') {
                    filteredPositions.push($(this).attr('value'));
                }
                else if( $(this).attr('name') == 'company' ) {
                    filteredCompanies.push($(this).attr('value'));
                } 
                else if( $(this).attr('name') == 'resource' ) {
                    filteredResources.push($(this).attr('value'));
                } 
            }

        });

        doFilterRequest(filteredCountries, filteredCities, filteredPositions, filteredCompanies, filteredResources);
    }

    function doFilterRequest(countries, cities, positions, companies, resources){
        var request_url = Routing.generate('visidarbi_advertisement_filter');  
        var whatValue = '{{searchWhatSlug}}';
        var whereValue = '{{searchWhereSlug}}';

        $.post(
            request_url,
            { 'countries' : countries, 'cities' : cities, 'positions' : positions, 'companies':companies, 'resources':resources, 'what': whatValue, 'where': whereValue }, 
            function(results){
                if(results.status == 'true'){
                    document.location.href = results.link;  
                }                                                                 
            }
        );
    }

     
    
    function saveFavorite(id){

        var action ='';
        var url = '{{ path('visidarbi_advertisement_save') }}';
              var Data = {'id': id};
              $.get(url, 
                  Data
                  , function(results){
                      action = results.action;
                      if(results.action == 'saved') {} else {}                                                                  
              });

        if($('#save_'+id).hasClass('save')){
            $('#save_'+id).text('{{'Saved'|trans}}'); 
        } else {
            $('#save_'+id).text('{{'Save'|trans}}'); 
        }

        $('#save_'+id).toggleClass('save');
        $('#save_'+id).toggleClass('saved');    

         return;        
    }
    
    function subscribe() {

        var options = { 
          //  target:        '#output2',   // target element(s) to be updated with server response 
          //  beforeSubmit:  showRequest,  // pre-submit callback 
            success:       subscribeSuccess,  // post-submit callback 

            // other available options: 
            url:       '{{path('visidarbi_subscribe_advertisement')}}',         // override for form's 'action' attribute 
            type:      'post',        // 'get' or 'post', override for form's 'method' attribute 
            dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type) 
            //clearForm: true        // clear all form fields after successful submit 
            //resetForm: true        // reset the form after successful submit 

            // $.ajax options can be used here too, for example: 
            //timeout:   3000 
        };        

        $('#subscribe_form').removeClass('no_ok');
        $('div.email').removeClass('no_ok');         
        $('div.captcha').removeClass('no_ok');         
        $('#subscribe_form').ajaxSubmit(options); 
            
    }
    
    function subscribeSuccess(responseText, statusText, xhr, $form){
       
       var errorMessages = '';
    
        if(responseText.success == 1) {
            $('#subscribeadvertisementform_captcha').val('');
            $('#closeSubscribe').click();    
        }else {
            for(var k in responseText.errors){

                $('div.'+k).addClass('no_ok'); 
                for(var kk in responseText.errors[k]){
                  errorMessages = errorMessages + '<div>' + responseText.errors[k][kk] + '</div>';
                }
            }
            $('#subscribeadvertisementform_captcha').val('');
            $('#subscribe_form').addClass('no_ok');
            $('.no_ok_msg').html(errorMessages);        
        }

        try {
            refershCaptchaSubscribe();
        }catch(e){

        }
    }

    try {
        refershCaptchaSubscribe();
    }catch(e){

    }

</script>                
{% endspaceless %}
{% endblock %}


{% block seo_title %}
{% spaceless %}
{% set seoTitle = '' %}
    {% if search == true %}

        {% set delimiter = '' %}

        {% if searchWhat != '' and searchWhere != '' %}
            {% set delimiter = ', ' %}
        {% endif %}

        {% set seoTitle = searchWhat ~ delimiter ~ searchWhere ~ ' - ' ~ 'VisiDarbi'|trans %}
        
    {% elseif filtered %}

        {% set filterTitleKeywords = []%}

        {% for item in filterData.countries %}
             {% if settledFilters.countries[item.country_id]%}
                 {% set filterTitleKeywords = filterTitleKeywords|merge([item.country_name]) %}
             {% endif %}
        {% endfor %}

        {% for item in filterData.cities %}
            
            {% if settledFilters.cities[item.city_id] %}{% set filterTitleKeywords = filterTitleKeywords|merge([item.city_keywords is empty? item.city_name : item.city_name ~ ' (' ~ item.city_keywords ~ ')']) %} {% endif %}
            
        {% endfor %}

        {% for item in filterData.categories %}
            {% if settledFilters.positions[item.category_id]%}{% set filterTitleKeywords = filterTitleKeywords|merge([item.category_name]) %}{%endif%}
        {% endfor %}

        {% for item in filterData.companies %}
            {% if settledFilters.companies[item.id]%}{% set filterTitleKeywords = filterTitleKeywords|merge([item.name]) %}{%endif%}
        {% endfor %}             

        {% for item in filterData.resources %}
            {% if settledFilters.resources[item.id]%}{% set filterTitleKeywords = filterTitleKeywords|merge([item.getShowAs]) %}{%endif%}
        {% endfor %}
            
        {% set filterTitleKeywords = filterTitleKeywords|join(', ')%}
 
        {% if filterTitleKeywords %}
            {% set seoTitle = filterTitleKeywords ~ ' - ' ~ 'VisiDarbi'|trans %} 
        {% else %}
            {% set seoTitle = 'Nekas netika atrasts - VisiDarbi'|trans %} 
        {% endif %}


            
    {% else %}

        {% set seoTitle = 'Advertisements list - VisiDarbi'|trans %}
  
    {% endif %}
    {{(seoTitle)|truncate(250, true)|trim(',. ')}}
{% endspaceless %}
{% endblock %}

{% block seo_description %}
{% spaceless %}
    {% set seoDescription = ''%}
    {% if search == true %}
        {% set delimiter = '' %}

        {% if searchWhat != '' and searchWhere != '' %}
            {% set delimiter = ', ' %}
        {% endif %}

        {% trans with {'%searchparams%': searchWhat ~ delimiter ~ searchWhere }%}Visidarbi.lv apkopo visus %searchparams% darba piedāvājumus vienā vietā, ļaujot ātri un viegli iepazīties ar vakancēm  kā arī sekot līdzi darba sludinājumiem.{% endtrans %}
    {% elseif filtered%}
        {% set filterKeywords = [] %}

            {% for item in filterData.countries %}
                {% if settledFilters.countries[item.country_id]%}
                    {% set filterKeywords = filterKeywords|merge([item.country_name]) %}
                {% endif %}
            {% endfor %}
            
            {% for item in filterData.cities %}
                 {% if settledFilters.cities[item.city_id]%}{% set filterKeywords = filterKeywords|merge([item.city_keywords is empty? item.city_name : item.city_name ~ ' (' ~ item.city_keywords ~ ')']) %}{%endif%}
            {% endfor %}
                                                
            {% for item in filterData.categories %}
                {% if settledFilters.positions[item.category_id]%}{% set filterKeywords = filterKeywords|merge([item.category_name]) %}{%endif%}
            {% endfor %}
                                                
            {% for item in filterData.companies %}
                {% if settledFilters.companies[item.id]%}{% set filterKeywords = filterKeywords|merge([item.name]) %}{%endif%}
            {% endfor %}             
                                                
            {% for item in filterData.resources %}
                {% if settledFilters.resources[item.id]%}{% set filterKeywords = filterKeywords|merge([item.getShowAs]) %}{%endif%}
            {% endfor %}
                
            {% set filterKeywords = filterKeywords|join(', ')%}
                
            {% trans with {'%filterValue%': filterKeywords }%}Visidarbi.lv apkopo visus %filterValue% darba piedāvājumus vienā vietā, ļaujot ātri un viegli iepazīties ar vakancēm  kā arī sekot līdzi darba sludinājumiem.{% endtrans %}                
        
    {% else %}

        {% for advertisement in pagination %}

            {% set seoDescription = seoDescription ~ advertisement.title %}
            {% if loop.last == false %}
                {% set seoDescription = seoDescription ~ ',' %}
            {% endif %}

        {% endfor %}

        {{seoDescription|truncate(250, true)|trim(',. ')}}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block seo_keywords %}
{% spaceless %}
        {% set seoKeywords = ''%}

        {% if search == true %}

            {% for advertisement in pagination %}

                {% set seoKeywords = seoKeywords ~ advertisement.title %}
                
                {% if loop.last == false %}
                {% set seoKeywords = seoKeywords ~ ',' %}  

                {% endif %}
            {% endfor %}

            {% set delimiterWhat = '' %}

            {% if searchWhat != '' %}
                {% set delimiterWhat = ',' %}
            {% endif %}

            {% set delimiterWhere = '' %}

            {% if searchWhere != '' %}
                {% set delimiterWhere = ',' %}
            {% endif %}

            {% set seoKeywords = searchWhat ~ delimiterWhat ~ searchWhere ~ delimiterWhere ~ seoKeywords %}

        {% elseif filtered == true %}
                
            {% set filterKeywords = [] %}
            {% set citiesKeywords = [] %}

            {% for item in filterData.countries %}
                 {% if settledFilters.countries[item.country_id]%}
                     {% set filterKeywords = filterKeywords|merge([item.country_name]) %}
                 {% endif %}
            {% endfor %}
                
            {% for item in filterData.cities %}
                 {% if settledFilters.cities[item.city_id]%}
                     {% if item.city_keywords is not empty %}{% set citiesKeywords = citiesKeywords|merge([item.city_keywords]) %}{%endif%}
                     {% set filterKeywords = filterKeywords|merge([item.city_name]) %}
                 {%endif%}
            {% endfor %}
                                                
            {% for item in filterData.categories %}
                {% if settledFilters.positions[item.category_id]%}{% set filterKeywords = filterKeywords|merge([item.category_name]) %}{%endif%}
            {% endfor %}
                                                
            {% for item in filterData.companies %}
                {% if settledFilters.companies[item.id]%}{% set filterKeywords = filterKeywords|merge([item.name]) %}{%endif%}
            {% endfor %}             
                                                
            {% for item in filterData.resources %}
                {% if settledFilters.resources[item.id]%}{% set filterKeywords = filterKeywords|merge([item.getShowAs]) %}{%endif%}
            {% endfor %}
                
            {% for advertisement in pagination %}
                {% set seoKeywords = seoKeywords ~ ' ' ~ advertisement.title ~ ' '%}
            {% endfor %}

            {% set seoKeywords = seoKeywords ~ filterKeywords|join(' ') %}
            {% if citiesKeywords|length %}{% set seoKeywords = seoKeywords ~ ' ' ~ citiesKeywords|join(' ') %}{%endif%}

        {% else %}
                
            {% for advertisement in pagination %}

                {% set seoKeywords = seoKeywords ~ advertisement.title %}
                {% if loop.last == false %}
                    {% set seoKeywords = seoKeywords ~ ',' %}
                {% endif %}
                
            {% endfor %}
                
        {% endif %}
    {{(seoKeywords)|truncate(250, true)|trim(',. ')}}
{% endspaceless %}
{% endblock %}
