{% trans_default_domain "advertisement" %}
<section class="body searcresults">
    <section class="opendoc">
        <h1>{{ 'Meklēšanas rezultāti'|trans }}</h1>
        <h2>{{ "Pēc Jūsu izvēlētajiem meklēšanas kritērijiem nekas netika atrasts!"|trans }}</h2>
        <div class="all"><a href="{{path('visidarbi_advertisement_list')}}" title="{{'Show all advertisements'|trans}}">{{'Show all advertisements'|trans}}</a></div>
    </section>
</section>
{% set seo_nofollow_noindex = true %}