{% form_theme shareForm 'VisiDarbiAdvertisementBundle:Form:captcha.html.twig' %}
<section class="mailing_popup_box"><section>
        <section class="mailing_popup {% if open_ad == 1 %}v2{%endif%}"><section class="inner clearfix css3">
                <div class="close mailing_popup_close" title="{{'Close'|trans}}">{{'Close'|trans}}</div>
                <section class="poptop css3"></section>
                <form class="ajax form_no_ok" action="{{ path('visidarbi_advertisement_share') }}" method="post" {{ form_enctype(shareForm) }} novalidate>  <!-- add class no_ok -->
                    <h3>{{'Send e-mail'|trans}}</h3>
                    <section class="inputblock">
                        <label>{{ shareForm.email_from.vars.label|trans }}</label>
                        <!-- add class no_ok -->
                        <div class="ef-input text css3 email_from"><div class="inner">
                                {% if not user %}
                                {% set readonly = '' %}
                                <div class="def" title="{{ shareForm.email_from.vars.label|trans }}">{{ shareForm.email_from.vars.label|trans }}<span>*</span></div>
                                {{ form_widget(shareForm.email_from, { 'attr': {'class': 'realinput'} }) }}
                                {% else %}
                                {% set readonly = 'readonly' %}
                                <div class="def">{{ user.email }}</div>
                                {{ form_widget(shareForm.email_from, { 'attr': {'class': 'realinput',  'value':user.email} }) }}
                                {% endif %}
                            </div></div>
                    </section>
                    <section class="inputblock">
                        <label>{{ shareForm.email_to.vars.label|trans }}</label>
                        <!-- add class no_ok -->
                        <div class="ef-input text css3 email_to"><div class="inner">
                                <div class="def" title="{{ shareForm.email_to.vars.label|trans }}">{{ shareForm.email_to.vars.label|trans }}<span>*</span></div>
                                {{ form_widget(shareForm.email_to, { 'attr': {'class': 'realinput'} }) }}
                            </div></div>
                    </section>
                    <section class="inputblock">
                        <label>{{ form_label(shareForm.message) }}</label>
                        <!-- add class no_ok -->
                        <div class="ef-input textarea css3 message"><div class="inner">
                                <div class="def" title="{{shareForm.message.vars.label|trans}}">{{ shareForm.message.vars.label|trans }}</div>
                                {{ form_widget(shareForm.message, { 'attr': {'class': 'realinput', 'title': 'shareForm.message.vars.label'|trans} }) }}
                            </div></div>
                    </section>
                    <section class="inputblock code clearfix">
                         {{ form_widget(shareForm.captcha)}}
                    </section>
                    <section class="no_ok_msg"></section>
                    <a href="javascript: shareAdvertisement()" title="{{'Send'|trans}}" class="orangebutton v2 css3" tabindex="104"><span title="{{'Send'|trans}}">{{'Send'|trans}}</span></a>              
                    {{ form_rest(shareForm) }}
                </form>
                <section class="social">
                    <h3>{{'Share'|trans}}</h3>
                    <section id="facebookShare">
                        {#<iframe class="facebook" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fkosterssia%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" allowTransparency="true"></iframe>#}

                        <!--<a class="fb css3" onclick="javascript:window.open('http://www.facebook.com/share.php?s=100&amp;p[title]=' + shareTitle + '&amp;p[images][0]=' + shareImg + '&amp;p[url]=' + siteUrl + '&amp;p[summary]=' + summary,'fb','width=800,height=600');" title="Facebook" href="javascript:;" rel="nofollow"></a>-->
                    </section>
                    <section>
                        <div class="g-plusone" data-size="medium" data-href=""></div>
                        <script type="text/javascript">
                            (function() {
                                var po = document.createElement('script');
                                po.type = 'text/javascript';
                                po.async = true;
                                po.src = 'https://apis.google.com/js/plusone.js';
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(po, s);
                            })();
                            </script>
                        </section>
                        <section id="twitterShare">
                            {#<iframe class="twitter-share-button twitter-count-horizontal" frameborder="0" scrolling="no" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1333526973.html#_=1334325115817&amp;count=horizontal&amp;id=twitter-widget-50&amp;lang=en&amp;original_referer=http%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons%23tweet&amp;size=m&amp;text=KOSTERS&amp;url=http://KOSTERS.lv" title="Twitter Tweet Button"></iframe>#}
                        </section>
                        <section id="draugiemShare">
                            {#<iframe id="draugiemShare" height="20" frameborder="0" width="84" src="http://www.draugiem.lv/say/ext/like.php?title=KOSTERS&amp;url=http://KOSTERS.lv&amp;titlePrefix=KOSTERS"></iframe>#}
                        </section>
                    </section>
                </section></section>
</section></section>
<script type="text/javascript">
    
    
    function initSocialButtons(shareId){
        var shareLink = $('#share_link_'+shareId);
        var title = encodeURIComponent(shareLink.attr('data-title'));
        var href = encodeURIComponent(shareLink.attr('data-href'));
        
        $('#facebookShare').html('<iframe class="facebook" src="http://www.facebook.com/plugins/like.php?href='+href+';send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" allowTransparency="true"></iframe>');
        $('.g-plusone').attr('data-href', href);
        $('#twitterShare').html('<iframe class="twitter-share-button twitter-count-horizontal" frameborder="0" scrolling="no" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1333526973.html#_=1334325115817&amp;count=horizontal&amp;id=twitter-widget-50&amp;lang=en&amp;original_referer=http%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons%23tweet&amp;size=m&amp;text='+title+'&amp;url='+href+'" title="{{'Twitter Tweet Button'|trans}}"></iframe>');
        $('#draugiemShare').html('<iframe id="draugiemShare" height="20" frameborder="0" width="84" src="http://www.draugiem.lv/say/ext/like.php?title='+href+'&amp;url='+href+';"></iframe>')
        
            
    }
    function shareAdvertisement() {
        
        $('#shareadvertisementform_share_id').val(advertisementToShare);
        
        var errorMessages ='';
        var url = '{{ path('visidarbi_advertisement_share') }}';
            
             $('.form_no_ok').removeClass('no_ok');
             $('.no_ok').removeClass('no_ok');
              var Data = $('form.ajax').serialize();
              $.post(url, 
                  Data
                  , function(results){
                      if(results.success == 1) {
                          $('.mailing_popup_close').click();
                      } else {
                          refershCaptcha();
                          for(var k in results.errors){
                              
                              $('div.'+k).addClass('no_ok'); 
                              for(var kk in results.errors[k]){
                                errorMessages = errorMessages + '<div>' + results.errors[k][kk] + '</div>';
                              }
                          }
                          $('.form_no_ok').addClass('no_ok');
                          $('.no_ok_msg').html(errorMessages);
                      }
              });

         return;
    } 
</script>