{%set fileData = advertisementManager.getFileFormatInfo(advertisement, locale)%}

{% if fileData.type == 'image' %}
    <section id="spec_content" class="img">
        <img src="{{ asset(fileData.web_path) }}" alt="" style="max-width:100%;height:auto;" />
    </section>
{% elseif fileData.type == 'pdf' %}
    <section id="spec_content" class="iframe">
        <iframe src="{{ asset(fileData.web_path) }}" height="700" frameborder="0"></iframe>
    </section>
{% endif %}
