<p><b>{{'Duties'|trans}}:</b></p>
<ul>
    {% for duty in advertisement.getDutieses()%}
        <li>{{duty.description}}</li>
    {% endfor %}
</ul>
<p><b>{{'Requirements'|trans}}:</b></p>
<ul>
    {% for requirement in advertisement.getRequirementses()%}
        <li>{{requirement.description}}</li>
    {% endfor %}
</ul>
<p><b>{{'We offer'|trans}}:</b></p>
<ul>
    {% for offer in advertisement.getOffers()%}
        <li>{{offer.description}}</li>
    {% endfor %}
</ul>

{% if advertisement.getAdditionalDescription() %}
    <p>{{advertisement.getAdditionalDescription()}}</p>
{% endif %}
