{% trans_default_domain "advertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block seo_title %}{{advertisement.getTitle()}} - {{'VisiDarbi'|trans}}{% endblock %}
{#{% block seo_description %}{% trans with {'%profession%': advertisement.profession.name }%}'Visidarbi.lv apkopo visus %profession% darba piedāvājumus vienā vietā, ļaujot ātri un viegli iepazīties ar vakancēm  kā arī sekot līdzi darba sludinājumiem.{% endtrans %}{% endblock %}#}
{% block seo_description %}{{(advertisement.Professions|join(', ') ~ ', ' ~ advertisement.getTitle ~ ': ' ~ advertisement.getDescription)|truncate(250, true)}}{% endblock %}
{% block seo_keywords %}{{((advertisement.Professions|join(', ') ~ ' ' ~ advertisement.getTitle())|replace({' ': ', '}))|truncate(250, true)}}{% endblock %}
{% block body %}
<section id="wrapper" class="clearfix">
        <section class="content clearfix">
                <iframe src="{{url|raw}}" id="iframe" frameborder="0"></iframe>
        </section>
</section>
{% endblock %}
{% block footer %}
{% block afterfooter %}{% endblock %}
<script src="{{ asset('bundles/visidarbicommon/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
{% endblock %}