{%set fileData = advertisementManager.getFileFormatInfo(advertisement, locale, null, true, null, isPreview)%}

{% if fileData.type == 'html' %}
<section id="spec_content" class="iframe">
    <iframe src="{{ asset(fileData.web_path) }}" height="700" frameborder="0"></iframe>
</section>
{% endif %}
