{% trans_default_domain "advertisement" %}

{% if (options.class == 'asc') or (options.class == 'desc') %}
    <section class="item active {% if options.class=='desc' %}des{% else %}asc{%endif%}">
    	<a href="{{options.href}}" class="{{options.class}}"><span>{{ title }}</span></a>
    </section>
{% else %}
    <section class="item">
    	<a href="{{options.href}}" class="{{options.class}}">{{ title }}</a>
    </section>            
{% endif %}
