{% form_theme subscribeForm 'VisiDarbiAdvertisementBundle:Form:captcha_subscribe.html.twig' %}

<section id="mailing_popup" class="popup">
	<section class="overlay"></section>
	
		<section class="content v2">
			<section class="mailing">
				<section class="css3">
					<section>
						<div id="closeSubscribe" class="close" title="{{'Close'|trans}}">{{'Close'|trans}}</div>
						<h2>{{'Saņem jaunākās vakances e-pastā!'|trans}}</h2>
						<section class="description">{{'Izveido jaunu e-pasta paziņojumu, kas atbilst tavam meklēšanas kritērijam'|trans}}</section>
						
						<form novalidate id="subscribe_form" action="#"> <!-- add class no_ok -->
							{% if not app.user %}
							<section class="clearfix">
								<label>{{ shareForm.email.vars.label|trans }}</label>
								<!-- add class no_ok -->
								<div class="ef-input text css3 email">
									<div class="inner">
										<div class="def" title="{{subscribeForm.email.vars.label|trans}}">{{subscribeForm.email.vars.label|trans}}<span>*</span></div>

                                        {% if user.id %}
                                        {{ form_widget(subscribeForm.email,{ 'attr': {'class': 'realinput', 'readonly' : 'readonly', 'value' : user.email, 'title' : subscribeForm.email.vars.label|trans } })}}
                                        {% else %}
                                        {{ form_widget(subscribeForm.email,{ 'attr': {'class': 'realinput', 'title' : subscribeForm.email.vars.label|trans } })}}
                                        {% endif %}
									</div>
								</div>

                                {{ form_widget(subscribeForm.captcha)}}
                            </section>     
							{% endif %}

							<section class="no_ok_msg"></section>
							<section class="info">{{'Jūs varat atteikties no e-pasta ziņojumiem jebkurā brīdī'|trans}}</section>
							<a href="javascript: subscribe()" title="{{'Pierakstīties'|trans}}" class="orangebutton v3 css3" tabindex="70">
								<span title="{{'Pierakstīties'|trans}}">{{'Pierakstīties'|trans}}</span>
							</a>

                                {{ form_widget(subscribeForm.filter, {'value': filterKey})}}
                                {{ form_widget(subscribeForm.searchWhere, {'value': searchWhere})}}
                                {{ form_widget(subscribeForm.searchWhat, {'value': searchWhat})}}
                                {{ form_widget(subscribeForm._token) }}
						</form>
					</section>
				</section>
			</section>
		</section>
</section>