
{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(function() {
            $('.type-selector').change(function() {
                if ($(this).val() == 'html') {
                    $('.html-code-selector').parents('.control-group:first').show();
                    $('.file-selector').parents('.control-group:first').hide();
                    $('.html-code-selector').attr('required', 'required');
                }
                else {
                    $('.html-code-selector').parents('.control-group:first').hide();
                    $('.file-selector').parents('.control-group:first').show();
                    $('.html-code-selector').removeAttr('required', 'required');
                }
            }).change();
            
            $('.file-selector').removeAttr('required');
        });
    </script>
{% endblock %}