* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
}


@-o-viewport {
    width: device-width;
    height: device-height;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100%;
    border-top: 0.125em solid #000;
    min-height: 3em;
    background-color: #2a2d30;
}

.select-country-block {
    width: 5.625%;
    top: -0.8125em;
    position: relative;
    display: inline-block;
    margin-left: 6.25%;

}

.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
}

.select-country-icon {
    width: 4.6875%;
    position: relative;
    display: inline-block;
    top: -0.5625em;

}

.select-country-icon-unicode {
    width: 4.6875%;
    font-size: .6em;
    position: relative;
    display: inline-block;
    top: -1.2em;
    left: -0.25em;
    color: #66696b;

}

.select-country-image {
    width: 100%;
}

.menu-icon {
    width: 13.438%;
    position: relative;
    display: inline-block;
    left: 64.5%;
    top: 0.0625em;
}

.menu-image {
    width: 100%;
}

.logo {
    width: 35.156%;
    position: relative;
    display: inline-block;
    margin-left: -2.248%;
    top: -0.5em;
}

.logo-image {
    width: 100%;
}

#header-bottom {
    height: 3.75em;
    background-color: #f6d101;
    border-bottom: 0.1875em solid #d1d1d1;
    -webkit-box-shadow: 0 0.0321em 0.0321em 0 rgba(209,209,209,1);
    -moz-box-shadow: 0 0.0321em 0.0321em 0 rgba(209,209,209,1);
    box-shadow: 0 0.0321em 0.0321em 0 rgba(209,209,209,1);
}

.header-arrow {
    float: left;
    width: 12.5%;
    height: 100%;
    min-height: 3.75em;
    background: #f6ae01;
}

.header-arrow img {
    position: relative;
    height: 1.25em;
    top: 1.25em;
    left: 30%;
}

.header-bottom-title {
    font-size: 0.75em;
    font-family: Arial, sans-serif;
    color: #535252;
    display: inline-block;
    margin-left: 1.5em;
    margin-top: 1.167em;
}

.header-bottom-desc {
    font-size: 1.25em;;
    font-family: Arial, sans-serif;
    color: #2a2d30;
    display: inline-block;
    margin-left: 0.8em;
    width: 75%;
    overflow: hidden;
}

.button {
    margin-top: 0.3125em;
    margin-left: 3.125%;
}

.reg-button {
    width: 96.78%;
    height: 2.667em;
    position: relative;
    /*margin-left: 3.625%;*/
    background: #FDFDFE;
    border-left: thin solid #d8d8d8;
    border-right: thin solid #d8d8d8;;
    border-top: thin solid #DCDCDC;
    border-bottom: thin solid #BFBFBF;
    font-size: 0.938em;
    font-weight: normal;
    font-family: Arial, sans-serif;
    border-radius: 0.214em;
    color: #3895e4;
    background: linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -webkit-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -moz-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -o-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -ms-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
}

.bottom-text {
    margin-top: 0.715em;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #000000;
    margin-left: 17.19%;
    margin-bottom: 1.429em;
}

.image-advert,
.image-advert-bottom {
    margin-left: 3.125%;
    margin-bottom: 1.429em;
    width: 93.75%;
}

.image-advert-bottom {
    margin-top: 1.429em;
}

.block-purple,
.block-white {

    height: 100%;
    min-height: 6.125em;
    background: #FDFBE7;
    padding-left: 3.125%;
    background: linear-gradient(to top, #F0EFE3, #FBFAE6, #FDFBE7);
    background: -moz-linear-gradient(to top, #F0EFE3,#FBFAE6, #FDFBE7);
    background: -webkit-linear-gradient(to top, #F0EFE3,#FBFAE6, #FDFBE7);

}
.block-border-top-yellow{
    border-top: .0625em solid #f8dd46;
}
.block-border-top-gray{
    border-top: .0625em solid #DCDCDC;
}
.block-border-bottom-yellow{
    border-bottom: .0625em solid #f8dd46;
}
.block-border-bottom-gray{
    border-bottom: .0625em solid #DCDCDC;
}

.block-white {

    background: #fcfcfd;
    background: linear-gradient(to top, #f0f0f0, #fff);
    background: -moz-linear-gradient(to top, #f0f0f0, #fff);
    background: -webkit-linear-gradient(to top, #f0f0f0, #fff);

}

.block-content-title {

    font-size: 1.25em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-top: .75em;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.block-place {
    display: inline-block;
    font-size: 0.813em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 0.3846em;
    padding-right: 1.613%;
}


.block-text {
    display: inline-block;
    position:relative;
    top: .1538em;
    font-size: .813em;
    font-family: Arial, sans-serif;
    color: #000;
    width: 80%;
    font-weight: 500;
    border-left: thin solid #dddddd;
    padding-left: 3.225%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-source {
    font-size: .688em;
    font-family: Arial, sans-serif;
    color: #a4a4a4;
    position: relative;
    top:-1.3636em;
}

.image-heart {
    position: relative;
    left: 81%;
    display: inline-block;
    margin-top: .5em;
    border-right: 1px solid #dddddd;
    padding-right: 3.2525%;
    width: 5.162%;
}


.image-share {
    position: relative;
    left: 83%;
    display: inline-block;
    margin-top: .5em;
    width: 5.162%;
}

/* nav new */
.nav-page{
    width: 87.5%;
    height: 100%;
    white-space: nowrap;

}

.first-page{
    width: 14.286%;
    height: 2.222em;
    margin-left: 7.14%;
    display: inline-block;
    line-height: 2.222em;
    background-color: #F3A902;
    text-align: center;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    border: 0.111em #c18501 solid;
    -moz-border-radius: 0.111em;
    -webkit-border-radius: 0.111em;
    border-radius: 0.111em;
    -webkit-box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
    -moz-box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
    box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
}
.inner-page{
    margin: 0 auto;
    width: 13.57%;
    height: 2.222em;
    display: inline-block;
    line-height: 2.222em;

    text-align: center;
    font-family: Arial, sans-serif;
    color: #3894E3;
    font-size: 1.125em;
    font-weight: bold;
}
.inner-active-page{
    width: 14.286%;
    height: 2.222em;
    display: inline-block;
    line-height: 2.222em;
    background-color: #ededed;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    color: #3894E3;
    -webkit-box-shadow: inset 0.111em 0.111em 0.111em 0.111em rgba(225,225,225,1);
    -moz-box-shadow: inset 0.111em 0.111em 0.111em 0.111em rgba(225,225,225,1);
    box-shadow: inset 0.111em 0.111em 0.111em 0.111em rgba(225,225,225,1);
}
.last-page{
    width: 14.286%;
    height: 2.222em;
    display: inline-block;
    line-height: 2.222em;
    background-color: #F3A902;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    color: #ffffff;
    border: 0.111em #c18501 solid;
    -moz-border-radius: 0.111em;
    -webkit-border-radius: 0.111em;
    border-radius: 0.111em;
    -webkit-box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
    -moz-box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
    box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
}
/* end nav new*/

.bottom-text {
    margin-top: 1.429em;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #000000;
    margin-left: 17.19%;
    margin-bottom: 2.86em;
}

#footer-top {
    width: 100%;
    height: 4.6%;
    min-height: 2.5em;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 0.625em;
    margin-left: 6.125%;
    width: 5%;
}

.info {
    display: inline-block;
    position: relative;
    left: 1.2%;
    top: -0.125em;
    width: 35%;
}

.info a {
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.number {
    display: inline-block;
}

.number span {

    position: relative;
    left: 4.975%;
    top: -0.125em;
    color: #fff;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.phone {
    display: inline-block;
    position: relative;
    left: 1.82%;
    top: 0.125em;
    width: 5%;
}

.letter-bottom-image {
    width: 100%;
}

#footer-bottom {
    height: 1.875em;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 0.583em;
    color: #f6ae01;
    font-size: 0.750em;
    font-family: Arial, sans-serif;
}


@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper {
        font-size: 12px;

    }

}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper {
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper {
        font-size: 24px;

    }

}

@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper {
        font-size: 32px;

    }

}

@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper {
        font-size: 38px;

    }

}

@media screen and (min-width: 1025px) {
    #wrapper {
        font-size: 51px;

    }

}