* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@-o-viewport {
width: device-width;
height: device-height;
}
@-ms-viewport {
width: device-width;
height: device-height;
}



#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}

#header {
    height: 100%;
    min-height: 3.125em;
    background: #2a2d30;
}

.user-avatar {
    position: relative;
    left: 2.81%;
    top: 0.5em;
    width: 8.75%;
}

.user-name {
    position: relative;
    display: inline-block;
    top: -0.214em;
    left: 2.5%;
    width: 45%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

.close-image {
    position: relative;
    left: 31.56%;
    top: 0.188em;

}

#content-top {
    height: 100%;
    min-height: 10.938em;
    background: #2f3236;
}

li.menu-item {
    list-style-type: none;
    margin-left: 4.69%;
    padding-top: 0.857em;
    padding-bottom: 0.714em;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #fff;
}

#content-center {
    height: 100%;
    min-height: 2.938em;
    background: #3d4042;
    border-top: 0.063em solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.69%;
    padding-top: 0.556em;
    padding-bottom: 0.556em;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
    width: 58.5%;
}

.content-image-opened {
    position: relative;
    left: 22.8%;
    top: 0.563em;
    width: 9%;
}

#content-footer {
    height: 100%;
    min-height: 14.563em;
    background: #515355;
}

#footer-top {
    border-top: 0.063em solid #636566;
    height: 100%;
    min-height: 3.750em;
    background: #3d4042;
    padding-top: 1.688em;
}

.screen {
    margin-left: 5.31%;

}

.screen-image {
    width: 5%;

}

.desktop-link {
    position: relative;
    top: -0.313em;
    left: 1%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer-bottom {
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
}

.copyright {
    padding-top: 0.727em;
    margin-left: 3.125%;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}

/*320*/
@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }

}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;

    }


}
@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper{
        font-size: 38px;

    }


}
@media screen and (min-width: 1025px) {
    #wrapper{
        font-size: 51px;

    }


}
