{% block email_body_widget %}
    
    {% if placeholders|length > 0 %}
        <p>
            Available placeholders:
        </p>
        <ul>
            {% for p in placeholders %}
                <li>{{ '{{' ~  p ~ '}}'  }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>

    {% if enable %}
        <script type="text/javascript">
            var CKEDITOR_BASEPATH = '{{ base_path }}';
        </script>

        <script type="text/javascript" src="{{ js_path }}"></script>

        <script type="text/javascript">
            if (CKEDITOR.instances['{{ id }}']) {
                delete CKEDITOR.instances['{{ id }}'];
            }

            {% for plugin_name, plugin in plugins %}
                CKEDITOR.plugins.addExternal('{{ plugin_name }}', '{{ plugin.path }}', '{{ plugin.filename }}');
            {% endfor %}

            CKEDITOR.replace('{{ id }}', {{ config | raw }});
        </script>
    {% endif %}

{% endblock %}
