<xml version="1.0" encoding="UTF-8">
    <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for unit in units%}    
        <url>
            <loc>{{unit.loc}}</loc>
            <lastmod>{{unit.lastmod.format('Y-m-d')}}</lastmod>
            {% if unit.changefreq %}
            <changefreq>{{unit.changefreq}}</changefreq>
            {% endif %}
            <priority>{{unit.priority}}</priority>
        </url>
    {% endfor %}
    </urlset>
</xml>