{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/auth.css') }}"/>
{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/auth.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        <a href="{{ path('reg_mobile') }}">
            <p class="authorize">{{ 'Reģistrēties'|trans }}</p>
        </a>
        <a href="{{ path('guest_mobile') }}"><img class="close-image" src="{{ asset('bundles/visidarbimobile/images/auth/close.png') }}" alt=""/></a>

    </div>
    <div id="content">
        {% if error %}
            <div class="error-list">{{ error }} </div>
        {% endif %}

        <form class="auth-form" action="{{ url('fos_user_security_check') }}" method="post" id="auth_form">
            <div class="input-email-block">
                <input class="input-email" type="email" placeholder="E-pasts" required="required" name="_username"/>
            </div>
            <div class="input-text-block">
                <input type="password" placeholder="Parole" required="required" name="_password"/>
            </div>
            <input type="hidden" name="_target_path" value="{{ path('menu_mobile') }}" />
            {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >#}
            <button class="reg-button" type="submit">{{ 'Autorizēties'|trans }}</button>
        </form>
        <a href="{{ path('remind_mobile') }}" style="text-decoration: none">
            <p class="password-text">{{ 'Atcereties paroli'|trans }}</p>
        </a>
        <a href="/mobile/social/connect/google" class="google-button">
            <img class="google-image" src="{{ asset('bundles/visidarbimobile/images/auth/google.png') }}"
                 alt="google-registration"/>
            <span>{{ 'Autorizēties'|trans }}</span>
        </a>
        <a href="/mobile/social/connect/facebook" class="facebook-button">
            <img class="facebook-image" src="{{ asset('bundles/visidarbimobile/images/auth/facebook.png') }}"
                 alt="facebook-reg"/>
            <span>{{ 'Autorizēties'|trans }}</span>
        </a>
        {% include 'VisiDarbiMobileBundle::screen.html.twig' %}
    </div>
    {% include 'VisiDarbiMobileBundle::copyright.html.twig' %}
{% endblock %}