{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/contacts.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>

{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/contacts.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        {% include 'VisiDarbiMobileBundle::header.html.twig' %}
    </div>
    <div id="header-bottom">
        <div class="number">
            <img class="phone" src="{{ asset('bundles/visidarbimobile/images/contacts/phone.png') }}" alt=""/>
            <span>(+371) 67336111</span>
        </div>
        <div class="mail">
            <img class="letter-image" src="{{ asset('bundles/visidarbimobile/images/contacts/mail.png') }}" alt=""/>
            <a href="#">info@visidarbi.lv</a>
        </div>
    </div>

        {% if app.session.flashbag.get('is_successfully') %}
            <section class="ok_msg_box">
                <h3>{{ 'Your message successfully sent'|trans }}</h3>
            </section>
        {% else %}
            {% for error in errors %}
                <div class="error-list">{{ error }}</div>
            {% endfor %}
        {% endif %}
    <div id="content">
        <form action="" method="post">
            <div class="input-text-block">
                {{ form_widget(form.name, { 'attr': {'placeholder': 'Vārds'|trans} }) }}
            </div>
            <div class="input-text-block">
                {{ form_widget(form.phone, { 'attr': {'placeholder': 'Tālrunis'|trans} }) }}
            </div>
            <div class="input-email-block">
                {{ form_widget(form.email, { 'attr': {'placeholder': 'E-pasts'|trans} }) }}
            </div>
            <div class="input-text-block-big">
                {{ form_widget(form.message, { 'attr': {'col':30, 'rows':5, 'placeholder': 'Ziņas teksts'|trans} }) }}
            </div>
            {{ form_widget(form._token) }}
            <div class="input-text-block-button">
                <button  type="submit">{{ 'Nosūtīt'|trans }}</button>
            </div>
        </form>
    </div>
    {% include 'VisiDarbiMobileBundle::copyright.html.twig' %}
{% endblock %}

