{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/guest.css') }}"/>
{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/menu.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        <div class="authorize-button">
            <a href="{{ path('reg_mobile') }}">
                <button class="reg-button" type="button">{{ 'Reģistrēties'|trans }}</button>
            </a>
        </div>
        <a href="{{ path('auth_mobile') }}">
            <div class="authorize">{{ 'Autorizēties'|trans  }}</div>
        </a>
        <a href="{{ path('index_mobile') }}"><img class="close-image" src="{{ asset('bundles/visidarbimobile/images/guest/close.png') }}" alt=""/></a>
    </div>
    <div id="content-top">
        <p class="list-title">{{ 'Reģistrējieties vai autorizējieties, lai pārvaldītu šādas opcijas:'|trans }}</p>
        <ul>
            <li><span>{{ 'E-pasta paziņojumi par vakancēm'|trans }} </span></li>
            <li><span>{{ 'Meklētie sludinājumi'|trans }}</span></li>
            <li><span>{{ 'Saglabātie sludinājumi'|trans }}</span></li>
        </ul>
    </div>
    <div id="content-center">
        <div class="content-line">
            <p id="text-opened" class="content-text">{{ 'Kā atrast darbu'|trans }}</p>
            <p id="text-closed" class="content-text">{{ 'Kā atrast darbu'|trans }}</p>
            <a   href="javascript:void(0);">
                <img id="image-opened" class="content-image-opened" src="{{ asset('bundles/visidarbimobile/images/menu/TriangleDown.png') }}" alt=""/>
            </a>
            <a  href="javascript:void(0);">
                <img  id="image-closed" class="content-image-closed" src="{{ asset('bundles/visidarbimobile/images/menu/TriangleRight.png') }}" alt=""/>
            </a>
        </div>
        <div id="content-footer">
            {{  knp_menu_render('VisiDarbiMobileBundle:MenuMobileBuilder:regBottomMenu') }}
        </div>
        <div class="content-line">
            <a href="{{ path('document_mobile', { 'id': 52, 'slug' : 'our-services'|trans({},'mobile_menu')  }) }}">
                <p class="content-text">{{ 'Mūsu pakalpojumi'|trans }}</p>
            </a>
        </div>
        <div class="content-line">
            <a href="{{ path('visidarbi_advertisement_add_step1') }}">
                <p class="content-text">{{ 'Pievienot sludinājumu'|trans }}</p>
            </a>
        </div>
        <div class="content-line">
            <a href="{{ path('document_mobile', {'id': 55, 'slug' : 'about-us'|trans({},'mobile_menu')  }) }}">
                <p class="content-text">{{ 'Par mums'|trans }}</p>
            </a>
        </div>
        {% include 'VisiDarbiMobileBundle::screen.html.twig' %}
    </div>
    {% include 'VisiDarbiMobileBundle::copyright.html.twig' %}
{% endblock %}

