{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/start-page.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/awesomplete.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/footer.css') }}"/>
    {#{{ form_stylesheet(search_form) }}#}
{%  endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/awesomplete.js') }}"></script>
        <script src="{{ asset('bundles/visidarbimobile/js/start-page.js') }}"></script>

        {#{{ form_javascript(search_form) }}#}
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        {%  include 'VisiDarbiMobileBundle::header.html.twig' %}
    </div>
    <div id="content">
        <div class="content-text">
            <span>
                {{  total_advertisement_count() }}
            </span>
            <p>{{ 'darba sludinājumu'|trans }}</p>
        </div>

        <form  method="post" id="search-form">
        <div  class="input-text-block" id="ajax-complete-what" title="autocomplete">
            {{ form_widget(search_form.what, { 'attr': {'placeholder': 'Atslēgvārdi'|trans} }) }}
            {#<input type="text" placeholder="Atslēgvārdi" />#}
            {#<span id="mobile_search_advertisement_what_box"></span>#}

        </div>
        <div class="input-label">
            <span>{{ 'Kas'|trans }}:</span>
            <p>{{ 'profesija, atslēgvārds vai uzņēmums'|trans }}</p>
        </div>
        <div  class="input-text-block search-icon" id="ajax-complete-where" title="autocomplete">
            {{ form_widget(search_form.where, { 'attr': {'class': 'search-icon', 'placeholder': 'Atrašanās vieta'|trans} }) }}
            {#<input   type="text" placeholder="Atrašanās vieta" />#}
            {#<span id="mobile_search_advertisement_where_box"></span>#}
            <div class="geo-image-block">
                <img   id="geo-point" class="geo-image" src="{{ asset('bundles/visidarbimobile/images/location.png') }}">
            </div>
        </div>
        <div class="input-label">
            <span>{{ 'Kur'|trans }}:</span>
            <p>{{ 'pilsēta, novads vai pagasts'|trans }}</p>
        </div>
        <div class="button-size">
            <button class="submit-button" type="submit">
                <img class="submit-image" src="{{ asset('bundles/visidarbimobile/images/start-page/submit.png') }}" alt="" />
                <span>{{ 'Meklēt darbu'|trans }}</span>
            </button>
        </div>
        </form>
    </div>
    <div id="content-center">
        <div class="center-title">{{ 'Top sludinājumi'|trans }}</div>
        {% if sponsoredAdverts|length > 0 %}
            {% for adv in sponsoredAdverts %}
                {% if adv.company.getLogo and adv.company.isLogoFileExists%}
                    <div class="img"><img src="{{ image(adv.company.getFullLogoPath).resize(74,74).fillBackground.jpeg  }}"  alt="{{ adv.company.name }}" /></div>
                {% endif %}
                <a href="{{ path('show_mobile', { 'id': adv.id }) }}" ><div class="job-title">{{ adv.title }}</div></a>
                <div class="job-block">
                    <p>{{ adv.locationName }}</p>
                    <span>{{ adv.company.name }}</span>
                </div>
            {% endfor %}
        {% endif %}
        <span id="next-item"></span>
    </div>
    <div id="load-block">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
    {% include 'VisiDarbiMobileBundle::footer.html.twig' %}
{% endblock %}