{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/menu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>

{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/menu.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        <img class="user-avatar" src="{{ asset('bundles/visidarbimobile/images/menu/user.png') }}" alt=""/>
        <div class="user-name">{{ app.user }}</div>
        <div class="menu-logout"><a href="{{ logout_path('mobile') }}">{{ 'Logout'|trans }}</a></div>
        <div class="close-image-block">

            <a href="{{ path('index_mobile') }}"><img class="close-image" src="{{ asset('bundles/visidarbimobile/images/menu/close.png') }}" alt=""/></a>
        </div>
    </div>
    <div id="content-top">
        {{  knp_menu_render('VisiDarbiMobileBundle:MenuMobileBuilder:regTopMenu') }}
    </div>
    <div id="content-center">
        <div class="content-line">
            <p id="text-opened" class="content-text">{{ 'Kā atrast darbu'|trans }}</p>
            <p id="text-closed" class="content-text">{{ 'Kā atrast darbu'|trans }}</p>
            <a   href="javascript:void(0);">
                <img id="image-opened" class="content-image-opened" src="{{ asset('bundles/visidarbimobile/images/menu/TriangleDown.png') }}" alt=""/>
            </a>
            <a  href="javascript:void(0);">
                <img  id="image-closed" class="content-image-closed" src="{{ asset('bundles/visidarbimobile/images/menu/TriangleRight.png') }}" alt=""/>
            </a>
        </div>
        <div id="content-footer">
            {{  knp_menu_render('VisiDarbiMobileBundle:MenuMobileBuilder:regBottomMenu') }}
        </div>
        <div class="content-line">
            <a href="{{ path('document_mobile', { 'id': 52, 'slug' : 'our-services'|trans({},'mobile_menu')  }) }}">
                <p class="content-text">{{ 'Mūsu pakalpojumi'|trans }}</p>
            </a>
        </div>
        <div class="content-line">
            <a href="{{ path('visidarbi_advertisement_add_step1') }}">
                <p class="content-text">{{ 'Pievienot sludinājumu'|trans }}</p>
            </a>
        </div>
        <div class="content-line">
            <a href="{{ path('document_mobile', {'id': 55, 'slug' : 'about-us'|trans({},'mobile_menu')  }) }}">
                <p class="content-text">{{ 'Par mums'|trans }}</p>
            </a>
        </div>
    </div>

    <div id="footer-top">
        {% include 'VisiDarbiMobileBundle::screen.html.twig' %}
    </div>
    {% include 'VisiDarbiMobileBundle::copyright.html.twig' %}
{% endblock %}

