{% if sponsoredAdverts|length > 0 %}
    {% for adv in sponsoredAdverts %}
        {% if adv.company.getLogo and adv.company.isLogoFileExists%}
            <div class="img"><img src="{{ image(adv.company.getFullLogoPath).resize(74,74).fillBackground.jpeg  }}"  alt="{{ adv.company.name }}" /></div>
        {% endif %}
        <a href="#" ><div class="job-title">{{ adv.title }}</div></a>
        <div class="job-block">
            <p>{{ adv.locationName }}</p>
            <span>{{ adv.company.name }}</span>
        </div>
    {% endfor %}
{% endif %}