{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/profile.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/main-menu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/footer.css') }}"/>
{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/profile.js') }}"></script>
        <script>
            var save = "{{ 'Glābt'|trans }}";
        </script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
<div id="header">
    {% include 'VisiDarbiMobileBundle::header.html.twig' %}
    <div class="menu-block">
        <div class="main-menu-text">
            <a href="{{ path('profile_mobile') }}">{{ 'Profils'|trans }}</a>
        </div>
        <div  id="toggle-menu" class="main-menu-image">
            <img  src="{{ asset('bundles/visidarbimobile/images/common/arrows1.png') }}">
        </div>

    </div>
    <div class="wr-hidden main-drop-down-menu-2" id="hidden-menu">
        <div  class="main-drop-down-menu-item">
            <a href="{{ path('newsletters_mobile') }}">{{ 'E-pasta ziņojumi'|trans }}</a>
        </div>
        <div class="main-drop-down-menu-item">
            <a href="{{ path('saved_mobile') }}">{{ 'Saglabātie stludinājumi'|trans }}</a>
        </div>
        <div class="main-drop-down-menu-item">
            <a href="{{ path('search_history_mobile') }}">{{ 'Meklētie sludinājumi'|trans }}</a>
        </div>
    </div>
</div>
<div id="content">
    <div class="content-title">{{ 'Profila informācija'|trans }}</div>
</div>
{% if is_change_success %}
<section class="ok_msg_box">
    <h3>{{ 'Profile information updated successfully'|trans }}</h3>
</section>
{% endif %}
{% if has_errors %}
    <div class="error-list">
        {% for field in errors %}
            {% for field_error in field %}
                <div class="err_msg">{{ field_error }}</div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
<form action="{{ path('profile_mobile') }}" method="post">
    <div class="input-text-block">
        {#<input type="text" placeholder="{{ 'Name'|trans }}"/>#}
        {{ form_widget(form.name, { 'attr': {'placeholder': 'Name'|trans} }) }}
    </div>
    <div class="input-text-block">
        {#<input type="text" placeholder="{{ 'Surname'|trans }}"/>#}
        {{ form_widget(form.surname, { 'attr': {'placeholder': 'Surname'|trans} }) }}
    </div>
    <div class="input-email-block">
        {#<input class="" type="email" placeholder="{{ 'E-pasts'|trans }}"/>#}
        {{ form_widget(form.email, { 'attr': {'placeholder': 'E-pasts'|trans} }) }}
    </div>
    <div class="input-text-block">
        {#<input type="text" placeholder="{{ 'Phone'|trans }}"/>#}
        {{ form_widget(form.phone, { 'attr': {'placeholder': 'Phone'|trans} }) }}

    </div>
    <div class="input-text-block">
        {#<input type="password" placeholder="{{ 'Parole'|trans }}"/>#}
        {{ form_widget(form.password, { 'attr': {'placeholder': 'Parole'|trans} }) }}
    </div>
    <div class="input-text-block">
        {#<input type="text" placeholder="{{ 'Address'|trans }}"/>#}
        {{ form_widget(form.address, { 'attr': {'placeholder': 'Address'|trans} }) }}
    </div>
    {{ form_widget(form._token) }}
    {{ form_widget(form.user) }}
    {{ form_widget(form.id) }}
    <div class="input-text-block-button">
        <button  id="profile-submit" type="submit">{{ 'Labot'|trans }}</button>
    </div>
</form>
    {% include 'VisiDarbiMobileBundle::footer.html.twig' %}
    {% endblock %}

