{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/reg.css') }}"/>
{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/reg.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        <a href="{{ path('auth_mobile') }}">
            <p class="authorize">{{ 'Autorizeties'|trans }}</p>
        </a>
        <a href="{{ path('guest_mobile') }}">
            <img class="close-image" src="{{ asset('bundles/visidarbimobile/images/reg/close.png') }}" alt=""/>
        </a>
    </div>
    <div id="content">
        {% if is_reg_success %}
            <section class="ok_msg_box">
                <h3>{{ 'Registration successful'|trans }}</h3>
                <section>{{ 'Now you must check e-mail and confirm registration'|trans }}</section>
            </section>
        {% else %}
            {% if has_errors %}
                <div class="error-list">
                    {% for field in errors %}
                        {% for field_error in field %}
                            <div class="err_msg">{{ field_error }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{{ path('reg_mobile') }}" method="post">
                <div class="input-email-block">
                    {{ form_widget(form.email, { 'attr': {'placeholder': 'E-pasts'|trans} }) }}
                </div>
                <div class="input-text-block">
                    {{ form_widget(form.password.first, { 'attr': {'placeholder': 'Parole'|trans} }) }}
                </div>
                <div class="input-text-block">
                    {{ form_widget(form.password.second, { 'attr': {'placeholder': 'Atkārtot paroli'|trans} }) }}
                </div>
                {{ form_widget(form._token) }}
                <div class="button-size">
                    <button class="reg-button" type="submit">{{ 'Reģistrēties'|trans }}</button>
                </div>
            </form>
            <a href="/mobile/social/connect/google" class="google-button">
                <img class="google-image" src='{{ asset("bundles/visidarbimobile/images/reg/google.png") }}'
                     alt="google-registration"/>
                <span>{{ 'Reģistrēties'|trans }}</span>
            </a>
            <a href="/mobile/social/connect/facebook" class="facebook-button">
                <img class="facebook-image" src="{{ asset('bundles/visidarbimobile/images/reg/facebook.png') }}"
                     alt="facebook-reg"/>
                <span>{{ 'Reģistrēties'|trans }}</span>
            </a>
        {% endif %}

        {% include 'VisiDarbiMobileBundle::screen.html.twig' %}
    </div>
    {% include 'VisiDarbiMobileBundle::copyright.html.twig' %}
{% endblock %}