{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/remind.css') }}"/>
{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/auth.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        <a href="{{ path('reg_mobile') }}">
            <p class="authorize">{{ 'Reģistrēties'|trans }}</p>
        </a>
        <a href="{{ path('guest_mobile') }}"><img class="close-image"
                                                  src="{{ asset('bundles/visidarbimobile/images/auth/close.png') }}"
                                                  alt=""/></a>

    </div>
    <div id="content">
        {% if app.session.flashBag.has('remind_success') %}
            {% for flash in app.session.flashbag.get('remind_success') %}
                <div class="flash-success">
                    {{ flash }}
                </div>
            {% endfor %}
        {% else %}
            {% if app.session.flashBag.has('remind') %}
                {% for flashMessage in app.session.flashbag.get('remind_message') %}
                    <div class="flash-failure">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endif %}
            <form class="form" action="{{ url("remind_mobile") }}" method="post" id="auth_form">
                <div class="input-email-block">
                    <input class="input-email" type="email" placeholder={{ 'E-pasts'|trans }} required="required" name="email"/>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="reg-button" type="submit">{{ 'Remind'|trans }}</button>
            </form>
        {% endif %}
        {% include 'VisiDarbiMobileBundle::screen.html.twig' %}
    </div>
    {% include 'VisiDarbiMobileBundle::copyright.html.twig' %}
{% endblock %}

