{% trans_default_domain "add_addadvertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block additional_header %}
<section class="grayheader">
    <section class="content basket clearfix">
        {% include 'VisiDarbiAdvertisementBundle:EditAdvertisement:header.html.twig' %}
    </section>
</section>
{% endblock %}
{% block body %}
<section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
        <section class="body">
                <section class="ok_msg_box">
                    <h2>{{'Your advertisement is updated!'|trans}}</h2>
                    <section>{{'Text about edited advertisement'|trans}}</section>
                </section>
        </section>
    </section>
</section>
{% endblock %}

{% block afterfooter %}

{#<script src="{{ asset('bundles/visidarbicommon/js/jquery.min.v1.7.2.js')}}"></script>#}
<script src="{{ asset('bundles/visidarbicommon/js/jquery.autosize.js')}}"></script>
<script src="{{ asset('bundles/visidarbicommon/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script src="{{ asset('bundles/visidarbicommon/js/js.js')}}"></script>

{% endblock %}