{% trans_default_domain "add_addadvertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block additional_header %}
<section class="grayheader">
    <section class="content basket clearfix">
        {% include 'VisiDarbiAdvertisementBundle:EditAdvertisement:header.html.twig' %}
        <section class="tabsbox" data-scrollholder="true">
                <section class="tabs tabsmenu" data-scrolltabs="true" data-tabmenu="tabgroup1">
                        <ul>
                                {% set i = 1 %}
                                {% for l in locales %}
                                <li {% if i == 1%}class="active" {%endif%}><h2><a {% if i == 1%}class="active" {%endif%} data-call="tab{{i}}" href="#" title="{{l}}">{{l}}</a></h2></li>
                                {% set i = i + 1 %}
                                {% endfor %}
                        </ul>
                        <section class="shadow"><div class="css3"></div></section>
                </section>
        </section>
    </section>
</section>
{% endblock %}
{% block body %}


    <section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
    <section class="body">
    <section class="tabsgroup v2 clearfix" data-speed="800" data-animation="slide" data-tabgroups="tabgroup1" data-heightresize="true">
    <section class="tabscontent clearfix">
    <form id="form" class="{%if form.vars.errors or form.company.vars.errors or form.contavt_peron.vars.errors%}no_ok{%endif%}"  action="" method="post" {{ form_enctype(form) }} enctype='multipart/form-data' >
    {% set i = 0 %}
    {% for l in locales %}
        {% set i = i + 1 %}
        <section class="tab clearfix" data-tabid="tab{{i}}">
            <section class="form form_3 {%if form.vars.errors or form.company.vars.errors or form.contavt_peron.vars.errors%}no_ok{%endif%}" action="#"> <!-- add class no_ok -->
                <section class="section clearfix">
                    <h3>{{'Company data'|trans}}</h3>
                    {% if i==1 %}
                        <section class="upload">
                            <section>
                                <div class="file"><input onchange="checkFile()" type="file" name="files[]" id="originFile" /></div>

                                {% if not logo.logo %}
                                    <section id="logo"><div>{{'logotips'|trans}}</div></section>
                                {% else %}
                                    <section id="logo"><img src="/{{logo.logo}}"/></section>
                                {% endif %}
                                <div id="uploadError" class="no_ok"></div>
                                <a class="button css3" title="{{'Load'|trans}}" href="javascript:;" tabindex="1">{{'Load'|trans}}</a>
                                <div class="delete"><a id="deleteLink" title="{{'Delete'|trans}}" href="javascript: deleteLogo();" tabindex="1">{{'Delete'|trans}}</a></div>
                            </section>
                        </section>
                    {% endif %}
                    <section class="inputblock clearfix">
                        {%set fieldName = ['title_',l]|join%}
                        <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}{%if i == 1 %}<b>*</b>{%endif%}{%endif%}</label>
                        <section class="input standart{%if form[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                            {{ form_widget(form[fieldName])}}
                        </section>
                    </section>

                    {% if i==1 %}
                        <section class="inputblock clearfix">
                            {%set fieldName = 'name'%}
                            <label for="{{form.company[fieldName].vars.id}}">{{form.company[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                            <section class="input standart {%if form.company[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                {{ form_widget(form.company[fieldName])}}
                            </section>
                        </section>
                        <section class="inputblock clearfix">
                            {%set fieldName = 'registration_number'%}
                            <label for="{{form.company[fieldName].vars.id}}">{{form.company[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                            <section class="input standart {%if form.company[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                {{ form_widget(form.company[fieldName])}}
                            </section>
                        </section>
                    {% endif %}
                    <section class="inputblock clearfix">
                        {%set fieldName = ['description_',l]|join%}
                        <label for="{{form.company[fieldName].vars.id}}">{{form.company[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                        <section class="field">
                            <section class="input textarea css3 {%if form.company[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                {{ form_widget(form.company[fieldName], { 'attr': {' data-autosize': "true"} })}}
                            </section>
                        </section>
                    </section>
                </section>
                <section class="section clearfix">
                    <h3>{{'Vacancy data'|trans}}</h3>
                    {% include 'VisiDarbiAdvertisementBundle:AddAdvertisement:step3_' ~ form.vars.value.format|lower ~ '_form.html.twig' ignore missing %}
                    {% if i==1 %}
                        <section class="inputblock clearfix">
                            {%set fieldName = ['date_1']|join%}
                            <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                            <section class="input standart calendar interval {%if form[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                <span class="from"></span><span class="to">&nbsp;-&nbsp;</span>
                                {{ form_widget(form[fieldName], { 'attr': {' readonly': "true"} })}}
                            </section>
                        </section>
                    {% endif %}
                </section>
                <section class="section clearfix">
                    <h3>{{'Contact person'|trans}}</h3>
                    {% if i==1 %}
                        <section class="inputblock clearfix">
                            {%set fieldName = ['name']|join%}
                            <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                            <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                {{ form_widget(form.contact_person[fieldName])}}
                            </section>
                        </section>
                    {% endif %}
                    <section class="inputblock clearfix">
                        {%set fieldName = ['position_',l]|join%}
                        <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}{%endif%}</label>
                        <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                            {{ form_widget(form.contact_person[fieldName])}}
                        </section>
                    </section>
                    {% if i==1 %}
                        <section class="inputblock clearfix">
                            {%set fieldName = ['email']|join%}
                            <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                            <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                {{ form_widget(form.contact_person[fieldName])}}
                            </section>
                        </section>
                    {% endif %}
                    {% if i==1 %}
                        <section class="inputblock clearfix">
                            {%set fieldName = ['phone']|join%}
                            <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                            <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                {{ form_widget(form.contact_person[fieldName])}}
                            </section>
                        </section>


                        <section class="inputblock clearfix">
                            {%set fieldName = ['fax']|join%}
                            <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}{%endif%}</label>
                            <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                {{ form_widget(form.contact_person[fieldName])}}
                            </section>
                        </section>

                        <section class="inputblock clearfix">
                            {%set fieldName = ['url']|join%}
                            <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}{%endif%}</label>
                            <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                {{ form_widget(form.contact_person[fieldName])}}
                            </section>
                        </section>
                        <section class="inputblock clearfix">
                            {%set fieldName = ['legal_address']|join%}
                            <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                            <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                {{ form_widget(form.contact_person[fieldName])}}
                            </section>
                        </section>
                        <section class="inputblock clearfix">
                            {%set fieldName = ['actual_address']|join%}
                            <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                            <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                {{ form_widget(form.contact_person[fieldName])}}
                            </section>
                        </section>
                    {%endif%}
                </section>

            </section>
        </section>
    {% endfor %}
    {{form_row(form.date_from)}}
    {{form_row(form.date_to)}}
    {{form_row(form.deleted_logo)}}
    {{form_row(form._token)}}
    </form>
    </section>

    </section>
    </section>
    <section class="bttn form_bttn clearfix">
        {% for field in form%}
            {% for error in field.vars.errors%}
                <div class="no_ok">{{error.getMessage|trans}}</div>
            {% endfor %}

            {% for subfield in field%}
                {% for error in subfield.vars.errors%}
                    <div class="no_ok">{{error.getMessage|trans}}</div>
                {% endfor %}
            {% endfor %}

        {% endfor %}
        {#% for field in form.company%}
            {% for error in field.vars.errors%}
            <div class="no_ok">{{error.getMessage|trans}}</div>
            {% endfor %}
        {% endfor %}
        {% for field in form.contact_person%}
            {% for error in field.vars.errors%}
            <div class="no_ok">{{error.getMessage|trans}}</div>
            {% endfor %}
        {% endfor %#}
        <a class="orangebutton css3" href="javascript: $('#form').submit()" title="{{'Continue'|trans}}" tabindex="58"><span title="{{'Edit advertisement'|trans}}">{{'Edit advertisement'|trans}}</span></a>
        <a class="cancel" href="{{ path('my_advertisments') }}" title="{{'Back'|trans}}" tabindex="59">{{'Back'|trans}}</a>
    </section>
    </section>
    </section>
    </section>

{% endblock %}

{% block afterfooter %}
    <section id="hint" class="hint css3"><section class="txt"></section></section>
    {#
    <section id="helper">
        <a href="#" title="{{'Svarīgi zināt'|trans}}" class="orangebutton css3 infobutton"><span title="{{'Svarīgi zināt'|trans}}">{{'Svarīgi zināt'|trans}}</span></a>
        <section class="helppop css3">
            <a href="#" title="{{'Close'|trans}}" class="close">x</a>
            <p>{{ 'Good to know hint text'|trans }} </p>
        </section>
    </section>
    #}
    {#<script src="{{ asset('bundles/visidarbicommon/js/jquery.min.v1.7.2.js')}}"></script>#}
    <script src="{{ asset('bundles/visidarbicommon/js/jquery.autosize.js')}}"></script>
    <script src="{{ asset('bundles/visidarbicommon/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
    {#<script src="{{ asset('bundles/visidarbicommon/js/js.js')}}"></script>#}
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script src="{{ asset('bundles/visidarbicommon/js/jquery.fileupload.js')}}"></script>
    <script src="{{ asset('bundles/visidarbicommon/js/jquery.iframe-transport.js')}}"></script>


    <script type="text/javascript">

        {% if not logo.logo %}
        $('#deleteLink').hide();
        {% else %}
        $('#logo').html('<img src="{{ image(logo.logo).resize(84,84).fillBackground.jpeg }}"/>');
        {% endif %}

        function checkFile(){


            var options = {
                //  target:        '#output2',   // target element(s) to be updated with server response
                //  beforeSubmit:  showRequest,  // pre-submit callback
                success:       showResponse,  // post-submit callback

                // other available options:
                url:       '{{path('visidarbi_advertisement_add_step3_upload')}}',         // override for form's 'action' attribute
                //type:      type        // 'get' or 'post', override for form's 'method' attribute
                dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)
                //clearForm: true        // clear all form fields after successful submit
                //resetForm: true        // reset the form after successful submit

                // $.ajax options can be used here too, for example:
                //timeout:   3000
            };
            $('#form').ajaxSubmit(options);


        }

        function showResponse(responseText, statusText, xhr, $form)  {

            if(!responseText.errors) {
                $('#logo').html('<img src="/'+responseText.logo+'"/>');
                $('#deleteLink').show();
                $('.deleted-logo').val(0);
                $('#uploadError').html('');
            } else {
                $('#uploadError').html(responseText.errors);
            }
        }

        function deleteLogo(){
            $('#logo').html('');
            $('#deleteLink').hide();
            $('.deleted-logo').val(1);
        }

    </script>

{% endblock %}
