* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

#block {
    width: 93.5%;
    border: thin solid #f0f0f9;
}

.popup-title {
    text-align: center;
    font-size: 0.938em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-top: 1em;
    margin-bottom: 1.875em;
}

.popup-text {
    margin-bottom: 0.667em;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 0.938em;
    font-weight: bold;
    text-transform: uppercase;
    color: #f6ae01;
    margin-top: 0.467em;
}

.submit-image {
    left: 85%;
    position: relative;
    top: -1.9em;
    width: 2.8125%;
}

.text {
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    font-family: Arial, sans-serif;
    margin-bottom: 0.3125em;

}

.input-text-block {
    margin-bottom: -0.525em;
    margin-left: 3.33%;

}

.input-text-block input[type="text"] {

    background: linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    font-size: 0.875em;
    color: #7F7F7F;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    height: 2.714em;
    width: 92.38%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;

}

.placeholder-gray:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}

.placeholder-gray::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}

.placeholder-gray:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;

}

.placeholder-gray::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}

/*button orange
***************/
.button-size {
    padding-top: 0.6em;
    padding-bottom: 1.75em;
}

.submit-button {
    height: 2.5em;
    width: 93.59%;
    margin-left: 3.33%;

    min-height: 2.22em;
    background-color: #F4AC01;
    background: linear-gradient(top, #F4AC01, #EB9601);
    background: -webkit-linear-gradient(top, #F4AC01, #EB9601);
    background: -moz-linear-gradient(top, #F4AC01, #EB9601);
    background: -o-linear-gradient(top, #F4AC01, #EB9601);
    background: -ms-linear-gradient(top, #F4AC01, #EB9601);
    border: thin solid #966901;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.125em;
    color: white;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
}

.submit-button span {
    position: relative;
    color: #fff;
    font-size: 1.385em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-left: -1.689%;
}

/*button gray block
********************/
.block-line {
    width: 93.33%;
    margin-left: 3.33%;
    height:100%
}
.submit-button-1,
.submit-button-2,
.submit-button-3,
.submit-button-4 {
    display: inline-block;
    width: 50%;
    height: 2.7em;
    border: thin solid #C5C5C5;
    background: -moz-linear-gradient(bottom, #f1f1f1, #FFFFFF);
    background: -webkit-linear-gradient(bottom, #f1f1f1, #FFFFFF);
    background: -o-linear-gradient(bottom, #f1f1f1, #FFFFFF);
    background: -ms-linear-gradient(bottom, #f1f1f1, #FFFFFF);
    background: -webkit-linear-gradient(bottom, #f1f1f1, #FFFFFF);
    position: relative;
    color: #3895e4;
    font-size: 0.938em;
    font-weight: normal;
    font-family: Arial, sans-serif;


}

.submit-button-1:hover,
.submit-button-2:hover,
.submit-button-3:hover,
.submit-button-4:hover {

    display: inline-block;
    width: 50%;
    height: 2.7em;
    border: thin solid #C5C5C5;
    background: -moz-linear-gradient(bottom, #f0f0f0, #dbdbdb);
    background: -webkit-linear-gradient(bottom, #f0f0f0, #dbdbdb);
    background: -o-linear-gradient(bottom, #f0f0f0, #dbdbdb);
    background: -ms-linear-gradient(bottom, #f0f0f0, #dbdbdb);
    background: -webkit-linear-gradient(bottom, #f0f0f0, #dbdbdb);

    position: relative;
    color: #010101;
    font-size: 0.938em;
    font-weight: bold;
    font-family: Arial, sans-serif;


}

.submit-button-1,  .submit-button-1:hover{
    border-right: none;
    border-bottom: none;
}

.submit-button-2, .submit-button-2:hover {
    border-bottom: none;
}

.submit-button-3, .submit-button-3:hover {
    border-right: none;
}

.submit-button-4, .submit-button-4:hover {

}
.image-buffer{
    display: inline-block;
    height: .813em;
    width: 50%;

}
.hidden-image1, .hidden-image2, .hidden-image3, .hidden-image4{
    width: 6%;
    display: none;
}

.submit-button-1:hover ~ .hidden-image1 {
    display: inline-block;
}
.submit-button-2:hover ~ .hidden-image2 {
    display: inline-block;
}

.submit-button-3:hover ~ .hidden-image3 {
    display: inline-block;
}

.submit-button-4:hover ~ .hidden-image4 {
    display: inline-block;
}

.submit-image1 {
    height: .813em;
    position: relative;
    bottom: 4.1em;
    left: -280%;
}
.submit-image2 {
    height: .813em;
    position: relative;
    bottom: 4.1em;
    left: 650%;
}
.submit-image3 {
    height: .813em;
    position: relative;
    bottom: 1.6em;
    left: -250%;
}
.submit-image4 {
    height: .813em;
    position: relative;
    bottom: 1.6em;
    left: 590%;
}



@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }

}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;
    }

}
@media screen and (min-width: 761px) and (max-width: 900px) {
    #wrapper{
        font-size: 38px;

    }


}
@media screen and (min-width: 901px) and (max-width: 1000px) {
    #wrapper{
        font-size: 45px;

    }


}
@media screen  and (min-width: 1001px) {
    #wrapper{
        font-size: 51px;

    }


}

