{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block seo_description %}{{'profesijas, atrašanās vietas, uzņēmumi - VisiDarbi.lv'|trans}}{% endblock %}
{% block seo_keywords %}{{'Keywords - profesijas, atrašanās vietas, uzņēmumi'|trans}}{% endblock %}	
{% block seo_title %}{{'Uzņēmumi – VisiDarbi.lv'|trans}}{% endblock %}
{% block body %}
<section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
        <section class="body">
            {% include 'VisiDarbiAdvertisementBundle:CategoryPage:tab.html.twig' %}
            <section class="tabsgroup clearfix">
                <section class="clearfix">
                    <section class="alphabet tabsmenu clearfix">
                        <ul>
                            {% for letter in letters %}
                                <li {% if selecteLetter == letter %}class="sel"{% endif %}><a href="{{path('visidarbi_category_company', {'letter': letter|trim('-')})}}" title="{{letter|trim('-')}}"><span></span>{{letter|trim('-')}}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                    <section class="clearfix">
                        <section class="clearfix">
                            <section class="link_list clearfix">                                                                               
                                {% set parts = pagination.getItems|columns(4) %}
                                {% for chunk in parts %}
                                    <ul>
                                        {% for company in chunk %}
                                            <li><a href="{{path('visidarbi_advertisement_list_search_what', {'what': company.slug})}}" title="{{company.name}}">{{company.name}} ({{company.getAdvertisementsBySlug()}})</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </section>
                            <section class="pager pager_2">
                                {{ knp_pagination_render(pagination, 'VisiDarbiCommonBundle::pagination.html.twig', {}, {'itemTrans' : 'uzņēmumiem'|trans}) }}
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
{% endblock %}