{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block seo_description %}{{'profesijas, atrašanās vietas, uzņēmumi - VisiDarbi.lv'|trans}}{% endblock %}
{% block seo_keywords %}{{'Keywords - profesijas, atrašanās vietas, uzņēmumi'|trans}}{% endblock %}	
{% block seo_title %}{{'Atrašanās vietas – VisiDarbi.lv'|trans}}{% endblock %}
{% block body %}
<section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
        <section class="body">            
            {% include 'VisiDarbiAdvertisementBundle:CategoryPage:tab.html.twig' %}
            <section class="tabsgroup clearfix">
                <section class="link_list clearfix">
                    <section class="left">

                        <section class="link_list clearfix">
                            {% set parts = adCitySelected|columns(3) %}
                            {% for chunk  in parts%}                           
                            <ul>
                                {% for city in chunk%}                                
                                <li>
                                    <a 
                                        href="{{path('visidarbi_advertisement_list_search_where', {'where': city.city_slug})}}" 
                                        title="{{city.city_name}}"
                                    >{{city.city_name}} ({{city.adv_count}})</a>
                                </li>
                                {% endfor %}
                            </ul>                            
                            {% endfor %}                            
                        </section>

                        <section class="link_list clearfix">                            
                            {% set parts = adCity|columns(3) %}
                            {% for chunk  in parts%}                                                          
                            <ul>
                                {% for city in chunk%}                                
                                <li>
                                    <a 
                                        href="{{path('visidarbi_advertisement_list_search_where', {'where': city.city_slug})}}" 
                                        title="{{city.city_name}}"
                                    >{{city.city_name}} ({{city.adv_count}})</a>
                                </li>
                                {% endfor %}
                            </ul>                            
                            {% endfor %}
                        </section>
                    </section>

                    <section class="right">
                        <h2>{{'Valstis'|trans}}:</h2>
                        <section class="link_list clearfix">
                            <ul> 
                                 {% for country in adCountry %}
                                    {% if  country.country_id != defaultAdCountry.id %} 
                                       <li>
                                            <a href="{{ url('visidarbi_advertisement_list_search_where', {'where': country.country_slug})}}"    title="{{country.country_name}}"
                                            >{{country.country_name}} ({{country.adv_count}})</a>
                                        </li>
                                    {% endif %}
                                 {% endfor %}
                             </ul>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
{% endblock %}