{% trans_default_domain "azcategory" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block seo_description %}{{'profesijas, atrašanās vietas, uzņēmumi - VisiDarbi.lv'|trans}}{% endblock %}
{% block seo_keywords %}{{'Keywords - profesijas, atrašanās vietas, uzņēmumi'|trans}}{% endblock %}	
{% block seo_title %}{{'Profesijas – VisiDarbi.lv'|trans}}{% endblock %}
{% block body %}
    <section id="wrapper" class="no_cols clearfix">
        <section class="content clearfix">
            <section class="body">
                {% include 'VisiDarbiAdvertisementBundle:CategoryPage:tab.html.twig' %}
                <section class="tabsgroup clearfix">

                    {% if view == 'profession-action-all-in-translit'|trans({}, 'routing_parametrs')|raw %}
                    <section class="alphabet tabsmenu clearfix">
                        <ul>
                            {% for letter in letters %}
                                <li {% if selecteLetter == letter %}class="sel"{% endif %}>
                                	<a href="{{path('visidarbi_category_profession', {'letter': letter|trim('-'), 'view': 'profession-action-all-in-translit'|trans({}, 'routing_parametrs')|raw  })}}" title="{{letter|trim('-')}}"><span></span>{{letter|trim('-')}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                    {% endif %}
                    <section class="clearfix">                    
                        <section class="link_list clearfix">
                            {% if view == 'profession-action-all-in-translit'|trans({}, 'routing_parametrs')|raw %}
                                {% set parts = pagination.getItems|columns(4) %}
                            {% else %}
                                {% set parts = categories|columns(4) %}
                            {% endif %}
                            {% for chunk in parts%}
                                <ul>
                                    {% for category in chunk%}
                                        <li>
                                            <a href="
                                                {% if view == null %}
                                                    {{ path('visidarbi_category_profession', {'view': category.getSlug('name', locale)})}}
                                                {% elseif view == 'profession-action-all-in-translit'|trans({}, 'routing_parametrs')|raw %}
                                                    {{path('visidarbi_advertisement_list_search_what', {'what': category.getSlug('name', locale)})}}
                                                {% else %}
                                                    {{path('visidarbi_advertisement_list_search_what', {'what': category.getSlug('name', locale)})}}
                                                {% endif %}" 
                                                title="{{category.getName()}}">
                                                    {{category.getName()}} 
                                                    ({% if view != null%}{{advertisementsCountInProfession(category, locale)}}{% else %}{{advertisementsCountInCategory(category)}}{% endif%})
                                            </a>
                                        </li>
                                    {% endfor %}
                                 </ul>
                             {% endfor %}
                         </section>                            
                         <section class="more_link">
                             {% if view == null %}
                                <a href="{{ path('visidarbi_category_profession', {'view': 'profession-action-all-in-translit'|trans({}, 'routing_parametrs')|raw })}}" title="{{'All professions'|trans}}">{{'All professions'|trans}}</a>
                             {% elseif view == 'all'%}
                                <a href="{{ path('visidarbi_category_profession')}}" title="{{'All professions'|trans}}">{{'All professions categories'|trans}}</a>
                             {% else %}
                                <a href="{{ path('visidarbi_category_profession')}}" title="{{'All professions'|trans}}">{{'All professions categories'|trans}}</a>
                             {% endif %}
                         </section>
                         {% if view == 'profession-action-all-in-translit'|trans({}, 'routing_parametrs')|raw %}
                         <section class="pager pager_2">
                                {{ knp_pagination_render(pagination, 'VisiDarbiCommonBundle::pagination.html.twig') }}
                         </section>
                         {% endif %}
                    </section>
                 </section>
              </section>
         </section>
    </section>
{% endblock %}