{% trans_default_domain "azcategory" %}

{% set activeProfession = 'visidarbi_category_profession' %}
{% set activeProfessionFull = 'visidarbi_category_profession_full' %}
{% set activePlace = 'visidarbi_category_place' %}
{% set activeCompany = 'visidarbi_category_company' %}
{% set activeCompanyFull = 'visidarbi_category_company_full' %}


{% set titles = { (activeProfession): 'Profession'|trans, (activePlace): 'Places'|trans, (activeCompany): 'Company'|trans } %}

{% set currentRoute = app.request.attributes.get('_route') %}
{% if currentRoute == null %}
    {% set currentRoute = activePlace %}
{% endif %}

<h1>{{titles[currentRoute]}}{% if view == 'all'%}{{' - all professions list'|trans}}{%elseif view !=null %} - {{category.getName()}}{% endif%}</h1>
<section class="tabs tabsmenu">
    <ul>
        <li {% if currentRoute == activePlace %}class="sel"{% endif %}><h2><a href="{{ path(activePlace)}}" title="{{titles[activePlace]}}">{{titles[activePlace]}}</a></h2></li>
        <li {% if currentRoute in [activeProfession, activeProfessionFull] %}class="sel"{% endif %}><h2><a href="{{ path(activeProfession)}}" title="{{titles[activeProfession]}}">{{titles[activeProfession]}}</a></h2></li>
        <li {% if currentRoute in [activeCompany, activeCompanyFull] %}class="sel"{% endif %}><h2><a href="{{ path(activeCompany)}}" title="{{titles[activeCompany]}}">{{titles[activeCompany]}}</a></h2></li>
    </ul>
    <section class="shadow"><div class="css3"></div></section>
</section>