{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% set subscribe_image = 1 %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/list.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header-arrow.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/nav.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/filter.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/footer.css') }}"/>

{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/list.js') }}"></script>
        <script src="https://apis.google.com/js/platform.js" async defer>
            {lang: 'lv'}
        </script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    {% set c_id = random(1000) %}
    {% set token_subscribe = form_widget(subscribe_form._token) %}
    {% set token = form_widget(share_form._token) %}
    {% set banner_top = get_banner_for_exposition(current_country(), app.request.attributes.get('_locale'), 'mobile-top') %}
    {% set banner_bottom = get_banner_for_exposition(current_country(), app.request.attributes.get('_locale'), 'mobile-bottom') %}


    <div id="header">
        {% include 'VisiDarbiMobileBundle::subscribeForm.html.twig' %}
        {% include 'VisiDarbiMobileBundle::filter.html.twig' %}
        {% include 'VisiDarbiMobileBundle::header.html.twig' %}
    </div>
    {% include 'VisiDarbiMobileBundle::header-arrow.html.twig' %}
    {% if postResult.errors %}
        {% for error in postResult.errors %}
            <div class="error-list">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {% if postResult.success %}
        <div class="ok_msg_box" >{{ postResult.success }}</div>
    {% endif %}
    <div class="button">
        <a href="javascript:filterAdvert();">
            <button class="reg-button" type="button">{{ 'Filtrēt rezultātus'|trans }}</button>
        </a>
    </div>
    {% include 'VisiDarbiMobileBundle::amount.html.twig' %}

    {% if banner_top %}
        <section class="banner">{{ expose_banner(banner_top) }}</section>
    {% endif %}

    <div id="content">
        {% for adv in adverts %}
            <div   class="
            {% if  adv.IsHighlighted %}
             block-purple block-border-top-yellow {% if adv.id == lastId %}block-border-bottom-yellow{% endif %}
             {% else %}
             block-white block-border-top-gray {% if adv.id == lastId %}block-border-bottom-gray{% endif %}
             {% endif %}">
                {% if adv.company.getLogo and adv.company.isLogoFileExists%}
                <div   class="block-logo-image">
                    <img class="advert-logo-image" s src="{{ image(adv.company.getFullLogoPath).resize(74,74).fillBackground.jpeg  }}"  alt="{{ adv.company.name }}" />
                </div>
                {%  endif %}
                <div class="block-advert-text">
                    <a href="{{ path('show_mobile', { 'id': adv.id, 'what': whatValue, 'where': whereValue }) }}"><div class="block-content-title">{{ adv.title }}</div></a>
                    <div class="block-place">{{ adv.AdvertisementCity.name }}</div>
                    <div class="block-text">{{ adv.companies.name }}</div>
                </div>

                <div id="mc-{{ adv.id }}"  class="modal-container">
                    {% include 'VisiDarbiMobileBundle::modal.html.twig' %}
                    {% include 'VisiDarbiMobileBundle::shareForm.html.twig' %}
                </div>
                <div class="block-images">
                    <div class="block-images-inner">
                        <a href="
                        {% if user.id is defined  %}
                    javascript:saveFavorite('{{adv.publicId}}');
                    {% else %}
                    javascript:registerUser('{{adv.id}}');
                        {% endif %}
                " data-id="{{adv.id}}">
                            {% if adv.id in favorites|keys %}
                                <img id="img1-{{ adv.publicId }}" class="image-heart wr-hidden" src="{{ asset('bundles/visidarbimobile/images/list/heart11.png') }}" alt=""/>
                                <img id="img2-{{ adv.publicId }}" class="image-heart" src="{{ asset('bundles/visidarbimobile/images/list/heart22.png') }}" alt=""/>
                            {% else %}
                                <img id="img1-{{ adv.publicId }}" class="image-heart" src="{{ asset('bundles/visidarbimobile/images/list/heart11.png') }}" alt=""/>
                                <img id="img2-{{ adv.publicId }}" class="image-heart wr-hidden" src="{{ asset('bundles/visidarbimobile/images/list/heart22.png') }}" alt=""/>
                            {% endif %}
                        </a>
                        <img onclick="shareAdvert('{{ adv.id }}')" class="image-share" src="{{ asset('bundles/visidarbimobile/images/list/share1.png') }}" alt=""/>

                    </div>
                </div>
                <div class="block-source">
                    {% if adv.getExternalAdvertisement %}
                        {{adv.externalAdvertisement.externalAdvertisementSource.showAs ~ ' - ' }}
                    {% endif %}
                    {% if adv.getPublishedAt is not empty %}
                        {{adv.getPublishedAt|time_ago_in_words}}
                    {% else %}
                        {{adv.getDateFrom|time_ago_in_words}}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {%  if lastId is null %}
            <div class="no-result">
            {{ 'Pēc Jūsu izvēlētajiem meklēšanas kritērijiem nekas netika atrasts!'|trans }}
            </div>
        {% endif %}
        {% if banner_bottom %}
            <section class="banner">{{ expose_banner(banner_bottom) }}</section>
            {% else %}
            <div class="image-advert-bottom"></div>
        {% endif %}
    </div>
    {{ knp_pagination_render(pagination) }}
    {% include 'VisiDarbiMobileBundle::amount.html.twig' %}
    {% include 'VisiDarbiMobileBundle::footer.html.twig' %}

{% endblock %}

