{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/saved.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/nav.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/main-menu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/footer.css') }}"/>

{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/saved.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        {% include 'VisiDarbiMobileBundle::header.html.twig' %}
        <div class="menu-block">
            <div class="main-menu-text">
                <a href="{{ path('saved_mobile') }}">{{ 'Saglabātie stludinājumi'|trans }}</a>
            </div>
            <div  id="toggle-menu" class="main-menu-image">
                <img  src="{{ asset('bundles/visidarbimobile/images/common/arrows1.png') }}">
            </div>

        </div>
        <div class="wr-hidden main-drop-down-menu-2" id="hidden-menu">
            <div  class="main-drop-down-menu-item">
                <a href="{{ path('newsletters_mobile') }}">{{ 'E-pasta ziņojumi'|trans }}</a>
            </div>
            <div class="main-drop-down-menu-item">
                <a href="{{ path('search_history_mobile') }}">{{ 'Meklētie sludinājumi'|trans }}</a>
            </div>
            <div class="main-drop-down-menu-item">
                <a href="{{ path('profile_mobile') }}">{{ 'Profils'|trans }}</a>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="content-title">{{ 'Saglabātie sludinājumi'|trans }}</div>
        <div id="top-content">
            <div class="keyword">{{ 'Amats'|trans }}</div>
            <div class="hits">{{ 'Pilsēta'|trans }}</div>
        </div>
    </div>
    {% for favAdv in adverts %}
        {% set adv = favAdv.advertisement %}
        {% set title = adv.title|trans %}
        {% set title = title|slice(0,20) %}
        <div id="{{ 'job-row-'~adv.id }}" class="job-row" onclick="openedAdvert('{{ adv.id }}')">
            <img class="job-more-info"   src="{{ asset('bundles/visidarbimobile/images/saved/ic-bg.png') }}" alt=""/>
            {% if adv.date_to is defined  and adv.date_to.timezone is defined  %}
                {% if adv.date_to|date("U") > date().format("U") %}
                    <div class="job-title title-color">{{ title }}</div>
                {% else %}
                    <div class="job-title title-color-expired">{{ title }}</div>
                {% endif %}
            {% else %}
                <div class="job-title title-color">{{ title }}</div>
            {%  endif %}
            <span class="job-region-row">
                {% if adv.AdvertisementCity.name is defined %}
                    {{ adv.AdvertisementCity.name }}
                {% endif %}
            </span>
        </div>
            <div id="{{ 'job-row-opened-'~adv.id }}" class="job-row-opened job-hidden">
                <div class="job-row-opened-block">
                    <div onclick="shortAdvert('{{ adv.id }}')" class="job-row-link">
                        <img class="job-short-info"    src="{{ asset('bundles/visidarbimobile/images/saved/icc-bg.png') }}" alt=""/>
                        {% if adv.date_to is defined   and adv.date_to.timezone is defined %}
                            {% if adv.date_to|date("U") > date().format("U") %}
                                <div class="job-title-opened title-color-opened">{{ title }}</div>
                            {% else %}
                                <div class="job-title-opened  title-color-expired">{{ title }}</div>
                            {% endif %}
                        {% else %}
                            <div class="job-title-opened title-color-opened">{{ title }}</div>
                        {%  endif %}
                        <div class="job-region-opened">
                            {% if adv.AdvertisementCity.name is defined %}
                                {{ adv.AdvertisementCity.name }}
                            {% endif %}
                        </div>
                        <div class="job-id">{{ 'Sludinājuma ID:'|trans }}</div>
                        <div class="job-expired-date">{{ adv.id }}</div>
                        {% set desc = adv.description|trans %}
                        {% if desc|length > 50 %}
                            {% set desc = desc|slice(0, 50) %}
                            {% set desc = desc~'...' %}
                        {% endif %}
                        <div class="job-description-title">{{ 'Sludinājuma ievadteksts:'|trans }}</div>
                        <br>
                        <div class="job-description-text-2">{{ desc }}</div>
                        <div class="job-date-title">{{ 'Datums:'|trans }}</div>
                        <div class="job-date">{{ favAdv.created_at|date('d.m.Y') }}</div>
                    </div>
                    <div class="job-search">
                        <a href="{{ path('show_mobile', { 'id': adv.id }) }}">{{ 'Skatīt sludinājumu'|trans }}</a>
                        <a href="{{ path('delete_saved_mobile', { 'id': favAdv.id }) }}"><img class="basket-image" src="{{ asset('bundles/visidarbimobile/images/saved/basket.png') }}" alt=""/></a>
                    </div>
                </div>

            </div>

    {% endfor %}
    <div class="before-nav"></div>
    {{ knp_pagination_render(pagination) }}
    {% include 'VisiDarbiMobileBundle::amount.html.twig' %}
    {% include 'VisiDarbiMobileBundle::footer.html.twig' %}
{% endblock %}

