{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/search.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/nav.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/main-menu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/footer.css') }}"/>
{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/search.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        {% include 'VisiDarbiMobileBundle::header.html.twig' %}
        <div class="menu-block">
            <div class="main-menu-text"><a href="{{ path('search_history_mobile') }}">{{ 'Meklētie sludinājumi'|trans }}</a></div>
            <div  id="toggle-menu" class="main-menu-image">
                <img  src="{{ asset('bundles/visidarbimobile/images/common/arrows1.png') }}">
            </div>

        </div>
        <div class="wr-hidden main-drop-down-menu-2" id="hidden-menu">
            <div  class="main-drop-down-menu-item">
                <a href="{{ path('newsletters_mobile') }}">{{ 'E-pasta ziņojumi'|trans }}</a>
            </div>
            <div class="main-drop-down-menu-item">
                <a href="{{ path('saved_mobile') }}">{{ 'Saglabātie stludinājumi'|trans }}</a>
            </div>
            <div class="main-drop-down-menu-item">
                <a href="{{ path('profile_mobile') }}">{{ 'Profils'|trans }}</a>
            </div>

        </div>
    </div>
    <div id="content">
        <div class="content-title">{{ 'Meklētie sludinājumi'|trans }}</div>
        <div id="top-content">
            <div class="keyword">{{ 'Atslēgas vārds'|trans }}</div>
            <div class="hits">{{ 'Meklējumu skaits'|trans }}</div>
        </div>
    </div>
{% for h in adverts %}
    <div id="{{ 'job-row-'~h.id }}" class="job-row" onclick="openedAdvert('{{ h.id }}')">
        <img class="job-more-info"  src="{{ asset('bundles/visidarbimobile/images/search/ic-bg.png') }}" alt=""/>
        <div class="job-title title-color">
            {% if h.professionKeyword is defined and h.professionKeyword|length >0 %}
            {{ h.professionKeyword }}
            {% else %}
            {{ h.PlaceKeyword }}
            {% endif %}
        </div>
        <span class="job-hits-row">{{ h.SearchCount }}</span>
    </div>
    <div  id="{{ 'job-row-opened-'~h.id }}" class="job-row-opened job-hidden"  >
        <div onclick="shortAdvert('{{ h.id }}')" class="job-row-link">
            <img class="job-short-info"   src="{{ asset('bundles/visidarbimobile/images/search/icc-bg.png') }}" alt=""/>
            <div class="job-title-opened">
                {% if h.professionKeyword is defined and h.professionKeyword|length >0 %}
                    {{ h.professionKeyword }}
                {% else %}
                    {{ h.PlaceKeyword }}
                {% endif %}
            </div>
            <div class="job-expired-title">{{ 'Meklēšanas laiks:'|trans }}</div>
            <div class="job-expired-date">{{ h.LastSearchedAt|date('Y-m-d H:i:s') }}</div>
        </div>
        <div class="job-search">
            <a href="{{ path('list_mobile', { 'what': h.professionKeyword }) }}">{{ 'Meklēt'|trans }}</a>
            <a href="{{ path('delete_search_history_mobile', { 'id': h.id }) }}"><img class="basket-image" src="{{ asset('bundles/visidarbimobile/images/search/basket.png') }}" alt=""/></a>
        </div>
    </div>
{% endfor %}
    <div class="content-footer"><a href="{{ path('search_clear_mobile') }}">{{ 'Dzēst visu meklēšanas vēsturi'|trans }}</a></div>
    {{ knp_pagination_render(pagination) }}
    {#{% include 'VisiDarbiMobileBundle::amount.html.twig' %}#}
    {% include 'VisiDarbiMobileBundle::footer.html.twig' %}
{% endblock %}

