{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block seo_title %}{{adv.getTitle()}} - {{'VisiDarbi'|trans}}{% endblock %}
{% block seo_description %}{{(adv.Professions|join(', ') ~ ', ' ~ adv.getTitle ~ ': ' ~ adv.getDescription)|truncate(250, true)}}{% endblock %}
{% block seo_keywords %}{{((adv.Professions|join(', ') ~ ' ' ~ adv.getTitle())|replace({' ': ', '}))|truncate(250, true)}}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/show.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/buttons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header-arrow.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/footer.css') }}"/>
{%  endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/show.js') }}"></script>
        <script src="{{ asset('bundles/visidarbimobile/js/buttons.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        {%  include 'VisiDarbiMobileBundle::header.html.twig' %}
    </div>
    {%  include 'VisiDarbiMobileBundle::header-arrow.html.twig' %}
    <div id="top-content">
        {% if adv.company.getLogo and adv.company.isLogoFileExists%}
            <img class="top-content-image" src="{{ image(adv.company.getFullLogoPath).resize(74,74).fillBackground.jpeg  }}"  alt="{{ adv.company.name }}" />
            <div class="top-content-title">{{ adv.company.name }}</div>
        {% endif %}
        <div class="top-content-title-single">{{ adv.company.name }}</div>
        <div class="top-content-text">{{ adv.company.description }}</div>
    </div>
    <div class="center-content">
        {% set fileData = advertisementManager.getFileFormatInfo(advertisement, locale, null, true, null, isPreview) %}
        <div class="center-content-button">
            <p class="top-content-text">{{ 'You can view advertisement, loading it in the '|trans }} {{ fileData.type }} {{ 'format'|trans }}</p>
            <div class="button">
                <a href="{{ asset(fileData.web_path) }}" download="visidarbi_advert">
                    <button class="center-button" type="button">{{ 'Lejuplādēt sludinājumu'|trans }}</button>
                </a>
                <img class="center-button-image" src="{{ asset('bundles/visidarbimobile/images/advert-download/download.png') }}" alt=""/>
            </div>
        </div>
        <div class="expiration-date">{{ 'Konkursa termins'|trans }}: {{ 'lidz'|trans }} {{ adv.dateTo|date('d.m.Y') }}</div>
        <div class="company-registration-data">{{ adv.company.name }}, {{ 'Registracijas nr.'|trans }}:{{ adv.company.registrationNumber }}</div>
        <div class="company-address">{{ adv.AdvertisementCountry.name }}, {{ adv.AdvertisementCity.name }}<br/>
            {% if adv.getExternalAdvertisement %}
                {{adv.externalAdvertisement.externalAdvertisementSource.showAs ~ ' - ' }}
            {% endif %}
            {% if adv.getPublishedAt is not empty %}
                {{adv.getPublishedAt|time_ago_in_words}}
            {% else %}
                {{adv.getDateFrom|time_ago_in_words}}
            {% endif %}
            <br/>
            ID: {{ adv.publicId }}<br/>
            {{ 'Unikalo apmeklejumu skaits'|trans }}: {{ adv.count }}
        </div>
    </div>
    <div id="content-footer">
        <div class="content-footer-title">{{'Contacts'|trans}}:</div>
        <ul class="content-footer-info">
            <li>{{ 'Contact person'|trans }}: {{ adv.contactPerson.name }}</li>
            {% if adv.contactPerson.position %}
                <li>{{'Position'|trans}}: {{ adv.contactPerson.position }}</li>
            {% endif %}
            <li>{{'E-mail'|trans}}: <a href="mailto:{{ adv.contactPerson.email }}">{{ adv.contactPerson.email }}</a></li>
            <li>{{'Phone'|trans}}: {{ adv.contactPerson.phone }}</li>
            {% if adv.contactPerson.fax %}
                <div>{{'Fax'|trans}}: {{ adv.contactPerson.fax }}</div>
            {% endif %}
            {% if adv.contactPerson.url %}
                <div>{{'URL'|trans}}:<a href="{{ adv.contactPerson.url }}"> {{ adv.contactPerson.url }}</a></div>
            {% endif %}
        </ul>
    </div>
    {%  include 'VisiDarbiMobileBundle::buttons.html.twig' %}
    {%  include 'VisiDarbiMobileBundle::footer.html.twig' %}
{% endblock %}