{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block seo_title %}{{adv.getTitle()}} - {{'VisiDarbi'|trans}}{% endblock %}
{% block seo_description %}{{(adv.Professions|join(', ') ~ ', ' ~ adv.getTitle ~ ': ' ~ adv.getDescription)|truncate(250, true)}}{% endblock %}
{% block seo_keywords %}{{((adv.Professions|join(', ') ~ ' ' ~ adv.getTitle())|replace({' ': ', '}))|truncate(250, true)}}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/show.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/buttons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header-arrow.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/footer.css') }}"/>
{%  endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/show.js') }}"></script>
        <script src="{{ asset('bundles/visidarbimobile/js/buttons.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        {%  include 'VisiDarbiMobileBundle::header.html.twig' %}
    </div>
    {%  include 'VisiDarbiMobileBundle::header-arrow.html.twig' %}
    <div class="center-content">
        <div class="center-content-iframe">
            <iframe class="center-content-image" src="{{url|raw}}" id="iframe" frameborder="0" onload="this.width=screen.width;this.height=screen.height;"></iframe>
        </div>
    </div>
{% endblock %}