<?xml version="1.0"?>
<data>
    <accounts>
    {% for account in items %}
            <account>
        <id owner="visidarbi.lv">{{ account.id }}</id>
                <name>{{ account.name }}</name>
                <regnumber>{{ account.regnumber }}</regnumber>
                <vatnumber>{{ account.vatnumber }}</vatnumber>
                <address_text>{{ account.address_text }}</address_text>
                <email>{{ account.email }}</email>
                <phone>{{ phone }}</phone>
                <contacts>
               {% for contact in account.contacts %}
                        <contact>
                            <id owner="visidarbi.lv">{{contact.id}}</id>
                            <firstname>{{contact.firstname}}</firstname>
                            <lastname>{{contact.lastname}}</lastname>
                            <email>{{contact.email}}</email>
                            <phone>{{contact.phone}}</phone>               
                        </contact>
               {% endfor %}
                    </contacts>

               {% if account.payments %}
         
               {% endif %}
                </account>
    {% endfor %}
    </accounts>
        
        
        
    <noaccounts>
    {% for item in noAccounts %}
            <account>
                {% set r = item.getRequisites() %}
                {% set r = item.getRequisites() %}
                <id owner="visidarbi.lv">NOA{{ r.getId() }}</id>
                <name>{{r.getCompanyName()}}</name>
                <regnumber>{{r.getRegistrationNumber()}}</regnumber>
                <vatnumber>{{r.getPVN()}}</vatnumber>
                <address_text>{{r.getAddress()}}</address_text>
                <email>{{r.getEmail()}}</email>
                <contacts>
                        {% set c = item.getContactPerson()%}
                        <contact>
                            <id owner="visidarbi.lv">CP{{c.id}}</id>
                            <firstname>{{c.getFirstName()}}</firstname>
                            <lastname>{{c.getLastName()}}</lastname>
                            <email>{{c.email}}</email>
                            <phone>{{c.phone}}</phone>               
                        </contact>
                    </contacts>
                </account>
    {% endfor %}
    </noaccounts>        
        
    <payments>
    {% for payment in payments %}
        <payment> 
            <id owner="visidarbi">{{payment.id}}</id>
            <id owner="cvo">{{payment.getServiceId()}}</id>
            {% if payment.getTransactionSubject().getUser()%}
                <id user="visidarbi.lv">{{payment.getTransactionSubject().getUser().getLegalProfile().getId()}}</id>            
            {% else %}
                <id user="visidarbi.lv">NOA{{payment.getRequisites().getId()}}</id>                                
            {% endif %}
            
            
            <date>{{payment.getCreatedAt().format('Y-m-d H:i:s')}}</date>
            <sum>{{payment.amount}}</sum>
            <currency>{{payment.getPaymentCurrency()}}</currency>
            <description>{{payment.description}}</description>
            <payment_company_name>{{payment.getRequisites().getCompanyName()}}</payment_company_name>
            <payment_regnumber>{{payment.getRequisites().getRegistrationNumber()}}</payment_regnumber>
            <payment_vatnumber>{{payment.getRequisites().getPVN()}}</payment_vatnumber>
            <payment_address_text>{{payment.getRequisites().getAddress()}}</payment_address_text>
            <payment_email>{{payment.getRequisites().getEmail()}}></payment_email>
            <payment_bank_code>{{payment.getRequisites().getBankCode}}</payment_bank_code>
            <payment_bank_account>{{payment.getRequisites().getBankAccount()}}</payment_bank_account>
        </payment>
    {% endfor %}
    </payments>          
</data>