
{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(function() {
            $('.locale-selector').change(function() {
                var $pageSelector = $('.page-selector');
                //$pageSelector.parents('.control-group:first').hide();
                
                //$pageSelector.parents('.control-group:first').show();
                var origVal = $pageSelector.val();
                
                var $loader = $('<img src="{{ asset('bundles/visidarbicommon/images/ajax-loader.gif') }}" style="position: relative; top: 3px;"/>');
                
                $pageSelector.empty();
                $pageSelector.hide();
                
                $pageSelector.removeAttr('required');
                
                $loader.insertAfter($pageSelector);
                
                //var $form = $pageSelector.parents('form:first');
                //$form.attr('novalidate', 'novalidate');
                
                var url = Routing.generate('visidarbi_admin_get_pages', { 'locale': $(this).val(), _sonata_admin: 'visidarbi.admin.page' });
                $.post(url, { }, function(data){
                    $pageSelector.append($('<option></option>'));
                    for (var i = 0; i < data.length; i++) {
                        var $opt = $('<option></option>');
                        $opt.text(data[i].title);
                        $opt.attr('value', data[i].id);
                        
                        if (data[i].id == origVal) {
                            $opt.attr('selected', 'selected');
                        }
                        
                        $pageSelector.append($opt);
                    }
                    $loader.remove();
                    

                    
                    $pageSelector.show();
                    //$form.removeAttr('novalidate');

                },'json');
            }).change();
        });
    </script>
{% endblock %}