{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('.doclist-lng-selector').change(function() {
                $('.doclist-page-selector').val('');
            });
        });
    </script>   
{% endblock %}
    