{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}



{% block field%}

    <div>

        {% set not_show_up = object.position == field_description.options.max_positions[object.page.id] %}
        <a href="{{ url('_visidarbi_admin_doc_move_up', { 'id': object.id, '_sonata_admin': 'visidarbi.admin.document' }) }}" 
           class="btn" 
           title="Move up"
           {% if not_show_up %}style="visibility:hidden;"{% endif %}
        >
            <i class="icon-arrow-up"></i>
        </a>
        
        {% set not_show_down = object.position == 0 %}
        <a href="{{ url('visidarbi_admin_doc_move_down', { 'id': object.id, '_sonata_admin': 'visidarbi.admin.document' }) }}" 
           class="btn" 
           title="Move down"
           {% if not_show_down %}style="visibility:hidden;"{% endif %}
        >
            <i class="icon-arrow-down"></i>
        </a>
        
    </div>

{% endblock %}




