{% trans_default_domain 'mobile' %}
{% if pageData.current is defined and pageData.numItemsPerPage is defined %}
    {% set amountFirst = ((pageData.current - 1)*pageData.numItemsPerPage) +1 %}
    {% if pageData.totalCount >0 %}
        {% set amountLast = pageData.current * pageData.numItemsPerPage %}
    {% else %}
        {% set amountLast = 0 %}
    {% endif %}
    {% if amountLast > pageData.totalCount %}
        {% set amountLast = pageData.totalCount %}
    {% endif %}
{% else %}
    {% set amountFirst = 0 %}
    {% set amountLast = 0 %}
{% endif %}

{% if pageData.totalCount != 0 %}
    <div class="bottom-text">{{ 'Tiek rādīti'|trans }} {% if pageData.totalCount >0 %}{% if amountFirst == amountLast %}<strong>{{ amountFirst }}</strong>&nbsp;{% else %}<strong>{{ amountFirst }}</strong>-<strong>{{ amountLast }}</strong> {% endif %}{{ 'no'|trans }} {% endif %}<strong>{% if pageData.totalCount is defined %}{{ pageData.totalCount }}{% endif %} </strong>{{ 'sludinājumiem'|trans }}</div>
{% endif %}
