{% trans_default_domain 'mobile' %}
<div id="mc-{{ adv.id }}"  class="modal-container">
    {% include 'VisiDarbiMobileBundle::modal.html.twig' %}
</div>
<div class="buttons">
    {% if share_form is defined %}
    {% set token = form_widget(share_form._token) %}
    {% endif %}
    <div class="button">
        {% if adv.id is defined %}
            <a href="{% if user.id is defined %}
                    javascript:saveFavorite('{{adv.publicId}}');
                    {% else %}
                        javascript:registerUser('{{adv.id}}');
                    {% endif %}"
               data-id="{{adv.id}}">
                <button class="reg-button" type="button">{{ 'Saglabat'|trans }}</button>
            </a>
        {% else %}
            <a href="#">
                <button class="reg-button" type="button">{{ 'Saglabat'|trans }}</button>
            </a>
         {% endif %}

        <br>
        {#<img class="first-button-image" src="{{ asset('bundles/visidarbimobile/images/common/heart.png') }}" alt=""/>#}
        {% if adv.publicId %}
            {% if adv.id in favorites|keys %}
                <img id="img1-{{ adv.publicId }}" class="first-button-image wr-hidden" src="{{ asset('bundles/visidarbimobile/images/list/heart.png') }}" alt=""/>
                <img id="img2-{{ adv.publicId }}" class="first-button-image" src="{{ asset('bundles/visidarbimobile/images/list/heart2.png') }}" alt=""/>
            {% else %}
                <img id="img1-{{ adv.publicId }}" class="first-button-image" src="{{ asset('bundles/visidarbimobile/images/list/heart.png') }}" alt=""/>
                <img id="img2-{{ adv.publicId }}" class="first-button-image wr-hidden" src="{{ asset('bundles/visidarbimobile/images/list/heart2.png') }}" alt=""/>
            {% endif %}
        {% else %}
            <img  class="first-button-image" src="{{ asset('bundles/visidarbimobile/images/list/heart.png') }}" alt=""/>
        {% endif %}
    </div>
    <div class="button">
        {% if adv.id is defined %}
            <div id="mc-{{ adv.id }}" class="modal-container">
                {% if share_form is defined %}
                    {% include 'VisiDarbiMobileBundle::shareForm.html.twig' %}
                {% endif %}
            </div>
            <a href="javascript:shareAdvert('{{ adv.id }}')">
                <button class="reg-button second-button" type="button">{{ 'Padalities'|trans }}</button>
            </a>
        {% else %}
            <a href="#">
                <button class="reg-button second-button" type="button">{{ 'Padalities'|trans }}</button>
            </a>
        {% endif %}
        <br>
        <img class="second-button-image" src="{{ asset('bundles/visidarbimobile/images/common/share.png') }}" alt=""/>
    </div>
</div>