{% trans_default_domain 'mobile' %}
<div id="popup-container">
    <div class="list-places">
        {% for city in cities %}
        <div class="block-popup">
            <div class="place-popup-title">{{ city.city_name|trans }}</div>
            <div class="checkbox-block">
                <input type="checkbox" id="checkbox-{{ city.city_id }}" data-name="{{ city.city_name|trans }}"  data-id="{{ city.city_id }}" class="cities-inputs" />
                <label for="checkbox-{{ city.city_id }}">
                    <img id="img-checked-{{ city.city_id }}" class="place-checked"  alt="" src="{{ asset('bundles/visidarbimobile/images/add-newsletter/checked.png') }}"/>
                    <img id="img-unchecked-{{ city.city_id }}" class="place-unchecked"  alt="" src="{{ asset('bundles/visidarbimobile/images/add-newsletter/unchecked.png') }}"/>
                </label>
            </div>
            <script>
                document.getElementById("img-unchecked-{{ city.city_id }}").onclick = function () {
                    document.getElementById('checkbox-{{ city.city_id }}').setAttribute('checked', 'checked');
                };
                document.getElementById("img-checked-{{ city.city_id }}").onclick = function () {
                    document.getElementById('checkbox-{{ city.city_id }}').removeAttribute('checked');
                };
            </script>
        </div>
        {% endfor %}
    </div>
    <div class="popup-link">
        <span class="popup-link-1" onclick="popupClose(0);">{{ 'atselt'|trans }}</span>
        <span class="popup-link-2" onclick="popupClose(1);">{{ 'labi'|trans }}</span>
    </div>
</div>