{% trans_default_domain "mobile" %}
<div id="wrapper-filter" class="wrapper-share wr-hidden">
    <div id="block-filter">
        <div class="popup-title-filter" onclick="bgClose(2)">{{ 'Aizvērt filtru'|trans }}</div>
        <div class="popup-text-filter">{{ 'Kārtot rezultātus pēc:'|trans }}</div>
        <div class="block-line-filter">
            <button id="filter-button-1" class="submit-button-1-filter submit-button-default" type="button">{{ 'Amata'|trans }}</button><button id="filter-button-2" class="submit-button-2-filter submit-button-default" type="button">{{ 'Uzņēmuma'|trans }}</button><button id="filter-button-3" class="submit-button-3-filter submit-button-default" type="button">{{ 'Datuma'|trans }}</button><button  id="filter-button-4" class="submit-button-4-filter submit-button-default" type="button">{{ 'Resursa'|trans }}</button>
            <div id="hidden-image-filter1" class="hidden-image-filter"><img class="image-arrow-filter" src="{{ asset('bundles/visidarbimobile/images/list/ic-arrow.png') }}"  alt=""/></div>
            <div id="hidden-image-filter2" class="hidden-image-filter"><img class="image-arrow-filter" src="{{ asset('bundles/visidarbimobile/images/list/ic-arrow.png') }}"  alt=""/></div>
            <div id="hidden-image-filter3" class="hidden-image-filter"><img class="image-arrow-filter" src="{{ asset('bundles/visidarbimobile/images/list/ic-arrow.png') }}"  alt=""/></div>
            <div id="hidden-image-filter4" class="hidden-image-filter"><img class="image-arrow-filter" src="{{ asset('bundles/visidarbimobile/images/list/ic-arrow.png') }}"  alt=""/></div>
        </div>
        <div class="popup-text-filter">{{ 'Meklēšanas filtrs'|trans }}</div>
        <form action="" method="post" id="filter-form">
            <input id="sort-1" type="hidden" name="sort[position-direction]" >
            <input id="sort-2" type="hidden" name="sort[company-direction]" >
            <input id="sort-3" type="hidden" name="sort[date-direction]" >
            <input id="sort-4" type="hidden" name="sort[source-direction]" >
            <div class="input-text-block-filter">
                <input id="input-1" class="placeholder-gray-filter" type="text" placeholder="{{ 'City'|trans }}"/><br>
                <img id="img-1" class="submit-image-filter" src="{{ asset('bundles/visidarbimobile/images/list/icon.png') }}" alt=""/>
                <div id="div-select-1" class="filter-hide">
                    <select  class="placeholder-gray-filter" id="select-1" name="sort[cities][]" multiple="multiple"  onmousedown="console.log('select1');">
                        {% for city in cities %}
                            <option value="{{ city.city_id }}" >{{ city.city_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input-text-block-filter">
                <input id="input-2" class="placeholder-gray-filter" type="text" placeholder="{{ 'Position'|trans }}"/><br>
                <img id="img-2" class="submit-image-filter" src="{{ asset('bundles/visidarbimobile/images/list/icon.png') }}" alt=""/>
                <div id="div-select-2" class="filter-hide">
                    <select  class="placeholder-gray-filter" id="select-2" name="sort[positions][]" multiple="multiple"  onmousedown="console.log('select2');" >
                        {% for pos in positions %}
                            <option value="{{ pos.category_id }}" >{{ pos.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input-text-block-filter">
                <input id="input-3" class="placeholder-gray-filter" type="text" placeholder="{{ 'Company'|trans }}"/><br>
                <img id="img-3" class="submit-image-filter" src="{{ asset('bundles/visidarbimobile/images/list/icon.png') }}" alt=""/>
                <div id="div-select-3" class="filter-hide">
                    <select  class="placeholder-gray-filter" id="select-3" name="sort[companies][]" multiple="multiple"  onmousedown="console.log('select3');">
                        {% for comp in companies %}
                            <option value="{{ comp.id }}" >{{ comp.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input-text-block-filter">
                <input id="input-4" class="placeholder-gray-filter" type="text" placeholder="{{ 'Source'|trans }}"/><br>
                <img id="img-4" class="submit-image-filter" src="{{ asset('bundles/visidarbimobile/images/list/icon.png') }}" alt=""/>
                <div id="div-select-4" class="filter-hide">
                    <select  class="placeholder-gray-filter" id="select-4" name="sort[resources][]" multiple="multiple"  onmousedown="console.log('select4');">

                        {% for res in resources %}
                            <option value="{{ res.id }}" >{{ res.resource }}</option>
                        {%  endfor %}
                    </select>
                </div>
            </div>

            <div class="button-size-filter">
                <button class="submit-button-filter" type="submit">{{ 'Filtrēt'|trans }}</button>
            </div>
        </form>

    </div>
</div>