{% trans_default_domain 'mobile' %}
<div id="footer-top">
    <div class="mail">
        <a href="{{ path('contacts_mobile') }}">
            <img class="letter-bottom-image" src="{{ asset('bundles/visidarbimobile/images/common/mail.png') }}"
                 alt=""/>
        </a>
    </div>
    <div class="info">
        <a href="{{ path('contacts_mobile') }}">info@visidarbi.lv</a>
    </div>
    <img class="phone" src="{{ asset('bundles/visidarbimobile/images/common/phone.png') }}" alt=""/>
    <div id="call-from-phone" class="number">
        &nbsp;
        <a href="tel:37167336111">
            <span>(+371) 67336111</span>
        </a>
    </div>
</div>
<div id="footer-bottom">
    <a href="{{ path('document_mobile', { 'id' : 40}) }}">
        <div class="copyright">{{ 'Lietošanas noteikumi'|trans }}</div>
    </a>
</div>