<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
        "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    {% block title %}
    {% endblock %}
    {% block meta %}
        <meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml; charset=utf-8"/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="MobileOptimized" content="width"/>
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% endblock %}
    {% if google %}<meta name="google-site-verification" content="{{google['webmaster']['key']}}" />{% endif %}
    <title>{% block seo_title %}{{ setting('seo.default_title', app.request.attributes.get('_locale')) }}{% endblock %}</title>
    {% if seo_nofollow_noindex %}
        <meta name="robots" content="nofollow,noindex">
    {% endif %}
    <link rel="icon" href="{{ asset('bundles/visidarbicommon/favicon.ico') }}">
    {% block additionalMeta %}{% endblock %}
    {% block stylesheets %}
    {%  endblock %}
    {% block js %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% trans_default_domain 'mobile' %}
<div id="wrapper">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>