{% trans_default_domain 'mobile' %}
{% set cc = current_country() %}
{% set currentLocale = app.request.attributes.get('_locale') %}
<div id="header-line">
    <div class="country-selector">
        <dl class="lang-group">
            <dt>
                <a href="#">
                    <div class="country-selector-text">{{ currentLocale|upper }}</div>
                </a>
            </dt>
            <dd>
                <ul id="country-selectors">
                    {% block language_switcher_choices %}
                        {% for locale in cc.locales %}
                            {% if currentLocale == 'lv' %}
                                {% if locale != currentLocale%}
                                    {% if locale != 'lv' %}
                                        <li class="country-selector-item"><a href="/{{ locale }}{{ app.request.getRequestUri() }}">{{ locale|upper }}</a></li>
                                    {% else %}
                                        <li class="country-selector-item"><a href="{{ app.request.getRequestUri() }}">{{ locale|upper }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if locale != currentLocale %}
                                    {% if locale != 'lv' %}
                                        <li class="country-selector-item"><a href="/{{ locale }}{{ app.request.getRequestUri()|slice(3) }}">{{ locale|upper }}</a></li>
                                    {% else %}
                                        <li class="country-selector-item"><a href="{{ app.request.getRequestUri()|slice(3) }}">{{ locale|upper }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endblock language_switcher_choices %}
                </ul>
            </dd>
        </dl>

        <a id="select-country" href="javascript:void(0)">
            <img class="country-selector-image" src="{{ asset('bundles/visidarbimobile/images/common/TriangleDown.png') }}" alt=""/>
        </a>
    </div>
    <div class="logo-block">
        <div class="logo-image-block">
            <a href="{{ path('index_mobile') }}">
                <img class="vd-logo" src="{{ asset('bundles/visidarbimobile/images/common/logo.png') }}" alt=""/>
            </a>
        </div>
    </div>
    <div class="header-right-block">
        {% if subscribe_image is defined %}
            <img id="subscribe-modal-up" class="subscribe_image" src="{{ asset('bundles/visidarbimobile/images/common/mail.png') }}">
        {% endif %}
        <a href="{{ path('route_mobile') }}"><img class="site-menu" src="{{ asset('bundles/visidarbimobile/images/common/bars.png') }}" alt=""/></a>
    </div>
</div>