{% trans_default_domain 'mobile' %}
<div id="header-bottom">
    {% if arrowPath is not defined %}
            <div class="header-arrow"><a class="arrow-link" href="{{ path('index_mobile') }}">
                    <img class="arrow-image" src="{{ asset('bundles/visidarbimobile/images/common/arrow.png') }}" alt=""/></a>
                </div>
    {% else %}
            <div class="header-arrow"><a class="arrow-link" href="{{ arrowPath }}">
                    <img class="arrow-image" src="{{ asset('bundles/visidarbimobile/images/common/arrow.png') }}" alt=""/></a>
                </div>
    {% endif %}
    <div class="header-bottom-block">
        <p class="header-bottom-title">{{ arrowTitle|default('You searched')|trans }}:</p>
        <p class="header-bottom-desc">{{ arrowDesc|default('')|trans|lower }}</p>
    </div>
</div>