{% trans_default_domain 'mobile' %}
<div class="menu-block">
    <div class="main-menu-text">
        <a href="{{ path('search_history_mobile') }}">{{ 'Meklētie sludinājumi'|trans }}</a>
    </div>
    <div  id="toggle-menu" class="main-menu-image">
        <img  src="{{ asset('bundles/visidarbimobile/images/common/arrows1.png') }}">
    </div>
    <div class="wr-hidden main-drop-down-menu" id="hidden-menu">
        <div  class="main-drop-down-menu-item">
            <a href="{{ path('newsletters_mobile') }}">{{ 'E-pasta ziņojumi'|trans }}</a>
        </div>
        <div class="main-drop-down-menu-item">
            <a href="{{ path('saved_mobile') }}">{{ 'Saglabātie stludinājumi'|trans }}</a>
        </div>
        <div class="main-drop-down-menu-item">
            <a href="{{ path('profile_mobile') }}">{{ 'Profils'|trans }}</a>
        </div>
        <div class="main-drop-down-menu-item">
            <a href="{{ path('add_newsletter_mobile') }}">{{ 'Add newsletter'|trans }}</a>
        </div>
    </div>
</div>