{% trans_default_domain 'mobile' %}
<div id="wr-{% if adv.id is defined %}{{ adv.id }}{% endif %}" class="wr wr-hidden">
    <div class="arrow_box">
        <p class="arrow_box-content">{{ 'Lai saglabātu sludinājumu, lūdzu'|trans }}
            <a class="arrow_box-content-link" href="{{ path('auth_mobile') }}">{{ 'autorizējaties'|trans }}</a> {{ 'vai'|trans }}
            <a class="arrow_box-content-link" href="{{ path('reg_mobile') }}">{{ 'reģistrējieties'|trans }}</a></p>
    </div>
</div>