{% trans_default_domain 'mobile' %}
<div class="screen">
    <img class="screen-image" src="{{ asset('bundles/visidarbimobile/images/common/screen.png') }}" alt=""/>
    <a class="desktop-link" href="{{ path('desktop_mobile') }}">{{ 'Lapas pilnā versija'|trans }}</a>
</div>