{% trans_default_domain "mobile" %}
<div id="sh-{{ adv.id }}" class="wrapper-share wrapper-share-width wr-hidden">
    <div id="message-share-{{ adv.id }}" class="message-share">
        <div id="title-{{ adv.id }}" class="popup-title-share">{{ 'Nosūtīt vēstuli'|trans }}</div>
        <form id="form-{{ adv.id }}" data-id="{{adv.id}}"  action="" method="post">
            <div class="input-email-block-share">
                {% if not user %}
                {% set readonly = '' %}
                    <input id="shareadvertisementform_email_from"
                           name="shareadvertisementform[email_from]" required="required"
                           maxlength="50" class="input-email-data-share"
                           placeholder="{{ 'Jūsu e-pasts*'|trans }}"   type="email">
                {% else %}
                {% set readonly = 'readonly' %}
                    <input id="shareadvertisementform_email_from"
                           name="shareadvertisementform[email_from]" required="required"
                           maxlength="50" class="input-email-data-share" readonly="readonly"
                           placeholder="{{ 'Jūsu e-pasts*'|trans }}" type="email" value="{{ user.email }}">
                {% endif %}
            </div>
            <div class="input-email-block-share">
                <input id="shareadvertisementform_email_to" name="shareadvertisementform[email_to]"
                       required="required" maxlength="50" class="input-email-data-share"
                       placeholder="{{ 'Saņēmēja e-pasts*'|trans }}" type="email">
            </div>
            <div class="input-text-block-big-share">
                <textarea id="shareadvertisementform_message" name="shareadvertisementform[message]"
                           cols="30" rows="5"
                          placeholder="{{ 'Sveiks! Iesaku tev apskatīt šo vakanci visidarbi.lv Maecenas at justo id velit placerat molestie.'|trans }}"></textarea>

            </div>
            <div class="input-text-block-share">
                <input class="input-text-data-share" id="shareadvertisementform_captcha" type="text" name="shareadvertisementform[captcha]" placeholder="{{ 'Drošības kods*'|trans }}"/>
            </div>
            {% set pth = path('genemu_captcha_refresh') %}

            {% set src = pth~'?'~adv.id %}
            <div class="popup-captcha-share">
                <img class="captcha-share-image" id="{{ adv.id }}_image" src="{{ src }}"  />
            </div>
            <div class="captcha-refresh-share">
                <img id="{{ adv.id }}_refresh" class="captcha-refresh-image-share" onclick="refreshCaptcha('{{ adv.id }}')"
                     src="{{ asset('bundles/visidarbimobile/images/list/refresh.png') }}" alt=""/>
            </div>
            <div class="input-text-block-button-share">
                <button id="share-form-button"  type="submit">{{ 'Nosūtīt'|trans }}</button>
            </div>
            <input id="shareadvertisementform_share_id" name="shareadvertisementform[share_id]" value="{{ adv.publicId }}" class="share_id" type="hidden">
            {{ token|raw }}
        </form>
        <div class="text-footer-share">{{ 'Share'|trans }}</div>
        <div class="facebook-share">
        </div>
        <div class="google-one-share">
            <div class="g-plusone" data-size="medium" data-href=""></div>
            {#<div class="g-plus" data-action="share" data-annotation="bubble"></div>#}
        </div>
        <div class="twitter-share">
        </div>
        <div class="draugiem-share">
        </div>
    </div>
</div>
