{% trans_default_domain 'mobile' %}
<div id="wrapper-subscribe" class="wrapper-share wrapper-subscribe-width wr-hidden">
    <div id="subscribe-message" class="message-subscribe">
        <script>
            var cid = {{ c_id }};
        </script>

        <div class="popup-title-subscribe">{{ 'Saņemiet jaunākās vakances e-pastā!'|trans }}</div>
        <div id="subscribe-text" class="popup-text-subscribe">{{ 'Izveidojiet jaunu e-pasta paziņojumu, kas atbilst Jūsu meklēšanas kritērijiem'|trans }}</div>
        <form  action="" method="post" >
        <div class="input-email-block-subscribe">
            {% if not user %}
                {% set readonly = '' %}
                <input id="subscribeadvertisementform_email"
                       name="subscribeadvertisementform[email]" required="required"
                       maxlength="50" class="input-email-data-subscribe"
                       placeholder="{{ 'Jūsu e-pasts*'|trans }}"   type="email">
            {% else %}
                {% set readonly = 'readonly' %}
                <input id="subscribeadvertisementform_email"
                       name="subscribeadvertisementform[email]" required="required"
                       maxlength="50" class="input-email-data-subscribe" readonly="readonly" disabled="disabled"
                       placeholder="{{ 'Jūsu e-pasts*'|trans }}" type="email" value="{{ user.email }}">
            {% endif %}
        </div>
        <div class="input-text-block-subscribe">
            <input  class="input-text-data-subscribe"  name="subscribeadvertisementform[captcha]" type="text" placeholder="{{ 'Drošības kods*'|trans }}"/>
        </div>
            {% set pth = path('genemu_captcha_refresh') %}
            {% set src = pth~'?'~c_id %}
        <div class="popup-captcha-share">
            <img class="captcha-share-image" id="{{ c_id }}_image" src="{{ src }}"  />
        </div>
        <div class="captcha-refresh-share">
            <img id="{{ c_id }}_refresh" class="captcha-refresh-image-share" onclick="refreshCaptcha('{{ c_id }}')"
                 src="{{ asset('bundles/visidarbimobile/images/list/refresh.png') }}" alt=""/>
        </div>
            <input id="subscribeadvertisementform_searchWhere" name="subscribeadvertisementform[searchWhere]" type="hidden" value="{{ whereValue }}">
            <input id="subscribeadvertisementform_searchWhat" name="subscribeadvertisementform[searchWhat]" value="{{ whatValue }}" type="hidden" >
            {{ form_widget(subscribe_form.filter, {'value': filterValue})}}
            {{ token_subscribe|raw }}
        <div class="input-text-block-button-subscribe">
            <button type="submit">{{ 'Pierakstīties'|trans }}</button>
        </div>
        <div class="popup-bottom-text-subscribe">{{ 'Jūs varat atteikties no e-pasta ziņojumiem jebkurā brīdī'|trans }}</div>
            </form>
    </div>
</div>