* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

#popup-container {
    font-family: Arial, sans-serif;
    min-width: 200px;
    max-width: 1024px;
    width: 93.75%;
    /*width: 300px;*/
    height: 18.125em;
    background: #ededed;
    overflow: hidden;

}



.block {
    width: 100%;

    border-radius: 0.0625em;
    -moz-border-radius: 0.0625em;
    -webkit-border-radius: 0.0625em;
    height: 3.17em;
    border-bottom: thin solid #d1d1d1;
    border-bottom: 0.125em solid #d1d1d1;
}




.place-popup-title {
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: #000000;
    display: inline-block;
    width: 40%;
    margin-left: 6.67%;
    margin-top: 1em;
}








/* checkbox block */
.checkbox-block{
    display: inline-block;
    position: relative;
    left: 39%;
    top:0.1875em;
    width: 10%;
}

.label-popup{
    width: 100%;
}

input[type="checkbox"] {
    display:none;
}
.place-checked{
    width: 60%;
    cursor:pointer;
    display:none;
}
.place-unchecked{
    width: 60%;
    cursor:pointer;
    display:none;
}
input[type="checkbox"] + label img.place-checked {
    display:inline-block;

}
input[type="checkbox"] + label img.place-unchecked {
    display:none;

}

input[type="checkbox"]:checked + label img.place-checked {
    display: none;
}
input[type="checkbox"]:checked + label img.place-unchecked {
    display: inline-block;
}




/* end checkbox block */



@media screen and (min-width: 200px) and (max-width: 319px) {
    #popup-container{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #popup-container{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #popup-container{
        font-size: 24px;

    }

}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #popup-container{
        font-size: 32px;
    }

}
@media screen and (min-width: 761px) and (max-width: 900px) {
    #popup-container{
        font-size: 38px;

    }


}
@media screen and (min-width: 901px) and (max-width: 1000px) {
    #popup-container{
        font-size: 45px;

    }


}
@media screen  and (min-width: 1001px) {
    #popup-container{
        font-size: 51px;

    }


}





