
{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(function() {
            $('.role-selector').change(function() {
                if ($(this).val() == 'ROLE_ADMIN') {
                    $('.country-selector').parents('.control-group:first').show();
                }
                
                if ($(this).val() == 'ROLE_SUPER_ADMIN') {
                    $('.country-selector').parents('.control-group:first').hide();
                }
            }).change();
            
            //$('.file-selector').removeAttr('required');
        });
    </script>
{% endblock %}