* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100%;
    border-top: 0.125em solid #000;
    min-height: 5.4375em;
    background-color: #2a2d30;
    border-bottom: 0.1875em solid #c1c1c1;
}

.select-country-block {
    width: 5.625%;
    top: -0.8125em;
    position: relative;
    display: inline-block;
    margin-left: 6.25%;

}

.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
}

.select-country-icon {
    width: 4.6875%;
    position: relative;
    display: inline-block;
    top: -0.5625em;

}

.select-country-icon-unicode {
    width: 4.6875%;
    font-size: .6em;
    position: relative;
    display: inline-block;
    top: -1.2em;
    left: -0.25em;
    color: #66696b;

}

.select-country-image {
    width: 100%;
}

.menu-icon {
    width: 13.438%;
    position: relative;
    display: inline-block;
    left: 64.5%;
    top: 0.0625em;
}

.menu-image {
    width: 100%;
}

.logo {

    width: 35.156%;
    position: relative;
    display: inline-block;
    margin-left: -2.248%;
    top: -0.5em;

}

.logo-image {
    width: 100%;
}

/* second floor*/

.header-bottom {
    /*max-height: 2.9375em;*/
    overflow: hidden;
}

.menu li{
    margin-top:0.875em;
    position:relative;
    list-style:none;
    display:inline-block;
    padding:0 2.19%;
}


.menu li:after{
    content:"";
    display:block;
    border-bottom:0.1875em solid #2a2d30;
    padding-top:0.75em;;
}
.menu li.menu-active:after{
    content:"";
    display:block;
    border-bottom:0.1875em solid #f6ae01;
    padding-top:0.75em;;
}



.menu li a{
    font-size:0.813em;
    font-weight:bold;
    text-transform:uppercase;
    color:#adaeaf;
    font-family:Arial,sans-serif;
}
li.menu-active a{
    color:#fff;
}

.second-li{
    width: 40%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

}

.first-li {
    width: 49%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

}

.content-title {
    margin-top: 1.25em;
    margin-left: 6.25%;
    margin-bottom: 1em;
    font-size: 1.25em;
    font-family: Arial, sans-serif;
    color: #000;
}

#top-content {
    background: #f0f0f0;
    height: 2.1875em
}
.keyword {
    margin-top: 0.714em;
    display: inline-block;
    margin-left: 7.5%;
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #535252;
    margin-right: 6%;
}
.hits {
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #535252;
    width:35%;
    text-overflow: clip;
    white-space: nowrap;
}

.job-row {
    border-bottom: thin solid #f5f5f5;
    /*padding-bottom: 30px;*/
}
.job-row img {
    /*margin-left: 3.125%;*/
}
.job-more-info{
    width: 1.5624%;
    margin-left: 3.125%;
}


.job-title {
    width: 60%;
    white-space: nowrap;
    text-overflow: clip;
    /*margin-bottom: 1.429em;*/
    margin-top: 1.214285em;
    display: inline-block;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    margin-left: 2.5%;
}
.title-color{
    color: #535252;
}


.data-content {
    width: 57%;
    position: relative;
    left: 38%;
    /*top: -2.3125em;*/
    top: -1.131em;
}
.data-content li {
    list-style: none;
    font-size: 0.875em;
    color: #535252;
    padding: 0.142857em 0;
}

.data-content-bg {
    /*height: 100px;*/
    width: 53.125%;
    position: relative;
    left: 38%;
    top: -1.4375em;
}



.data-content-bg li {
    list-style: none;
    font-size: 0.875em;;
    color: #000;
    padding: 0.14286em 0;
}

.job-row-opened {
    height: 100%;
    min-height: 10.625em;
    background: #f0f0f0;
}


.job-short-info{
    width: 2.81%;
    margin-left: 3.125%;
}

.job-search {
    border-top: thin solid #dddddd;
    margin-left: 7.81%;
    padding-top: 0.8125em;
    padding-bottom: 1.25em;
}



.job-search a {
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #3895e4;
}

.job-pencil{
    display: inline-block;
    position: relative;
    width: 5%;


}
.job-basket{
    display: inline-block;
    position: relative;
    left: 7.83%;
    width: 4.0625%;

}

.input-text-block-button{
    border-bottom: thin solid #f5f5f5;
}

.input-text-block-button span{
    position: relative;
    left: 3.929%;
}
.input-text-block-button button {
    width: 87.5%;
    margin-left: 6.4%;
    padding: 0 0 0 0.625%;

    height: 2.8125em;
    background-color: #ef9e01;
    background: linear-gradient( top, #F5AD02, #EB9501);
    background: -webkit-linear-gradient(top, #F5AD02, #EB9501);
    background: -moz-linear-gradient( top, #F5AD02, #EB9501);
    background: -o-linear-gradient( top, #F5AD02, #EB9501);
    background: -ms-linear-gradient( top, #F5AD02, #EB9501);


    border: thin solid #c18501;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    margin-top: 1.25em;
    margin-bottom: .5em;

}

.plus-image{
    width: 8.75%;
    position: relative;
    top: -2.625em;
    left: 10.94%;
}

#navigation {
    margin-top: 1.875em;
    margin-bottom: 1.250em;
    width: 87.5%;
    margin-left: 6.25%;
}

#navigation a {
    width: 9.372%;
    height: 1.667em;
    display: inline-block;
    text-align: center;
    color: #3895e4;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    line-height: 1.667em;

}

.nav-link{
    margin-left: 3.158%;
}
.left-icc {
    display: block;
    width: 144.1%;

}

.right-icc {
    display: block;
    width: 150.14%;

}

.nav-active {
    position: relative;

    background: #f0f0f0;
    width: 9.38%;
    height: 1.667em;
    /*line-height: 3em;*/
    -webkit-box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    -moz-box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    border-radius: 0.15em;
    margin-top: -0.5em;
}

a.with-background:hover {
    background: #dfdfdf;
    width: 9.38%;
    height: 1.667em;
    -webkit-box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    -moz-box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    box-shadow: inset 0.5em 0.5em 0.2em -0.4em rgba(209,209,209,1);
    border-radius: 0.15em;
}

a.first-item{
    margin-left: 0 !important;
}
a.second-item{
    margin-left: 6.63% !important;
}
a.border-item:hover {
    background: none;
}

.bottom-text {
    margin-top: 1.429em;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #000000;
    margin-left: 17.19%;
    margin-bottom: 3.57em;
}
#footer-top {
    width: 100%;
    height: 4.6%;
    min-height: 2.5em;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 0.625em;
    margin-left: 6.125%;
    width: 5%;
}

.info {
    display: inline-block;
    position: relative;
    left: 1.2%;
    top: -0.125em;
    width: 35%;
}

.info a {
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}
.number{
    display: inline-block;
}

.number span {

    position: relative;
    left: 4.975%;
    top: -0.125em;
    color: #fff;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.phone {
    display: inline-block;
    position: relative;
    left: 1.82%;
    top: 0.125em;
    width: 5%;
}

.letter-bottom-image {
    width: 100%;
}

#footer-bottom {
    height: 1.875em;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 0.583em;
    color: #f6ae01;
    font-size: 0.750em;
    font-family: Arial, sans-serif;
}



@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }

}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;

    }


}
@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper{
        font-size: 38px;

    }


}
@media screen and (min-width: 1025px) {
    #wrapper{
        font-size: 51px;

    }


}
