* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    width: 320px;
    margin: 0 auto;
}

#header {
    border-top: 2px solid #000;
    height: 94px;
    background-color: #2a2d30;
}

.select-country-block {
    width: 5.625%;
    top: -13px;
    position:relative;
    display: inline-block;
    margin-left: 6.25%;
}

.select-country-text{
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;

}
.select-country-icon{
    width: 4.6875%;
    position:relative;
    display: inline-block;
    top: -9px;

}


.logo {
    width: 42.1875%;
    position:relative;
    display: inline-block;
    margin-left: -2.248%;
    margin-top: 7px;

}



.menu-icon {
    width: 13.438%;
    position:relative;
    display: inline-block;
    left:64.5%;
    top: 1px;


}

.select-country-image{
    width: 100%;

}

.logo-image{
    width: 100%;

}

.menu-image{
    width: 100%;

}

.menu li{
	margin-top:14px;
	position:relative;
	list-style:none;
	display:inline-block;
	padding:0 7px;
}
.menu li:after{
	content:"";
	display:none;
	border-bottom:3px solid #f6ae01;
	padding-top:12px;;
}
.menu li:hover:after,
.menu li.activee:after{
	display:block;
}
.menu li a{
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	color:#adaeaf;
	font-family:Arial,sans-serif;
}
li.activee a{
	color:#fff;
}
#content{
	border-top:4px solid #cbcbcb;

}
.h2{
	margin-top:25px;
	margin-left:20px;
	margin-bottom:20px;
	font-size:20px;
	font-family:Arial,sans-serif;
	color:#000;
}
#top-content{
	background:#f0f0f0;
	height:35px
}
.vards{
	margin-top:10px;
	display:inline-block;
	margin-left:24px;
	font-size:14px;
	font-weight:bold;
	font-family:Arial,sans-serif;
	color:#535252;
	margin-right:18px;
}
.skaits{
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	font-family:Arial,sans-serif;
	color:#535252;
}
.date-content{
	width:180px;
	position:relative;
	left:38%;
	top:-41px;
}
.date-content-bg{
	height:100px;
	width:170px;
	position:relative;
	left:38%;
	top:-23px;
}
.date-content li{
	list-style:none;
	font-size:14px;
	color:#535252;
	padding:2px 0;
}
.date-content-bg li{
	list-style:none;
	font-size:14px;
	color:#000;
	padding:2px 0;
}

.table{
	height:110px;
	margin-bottom:0px;
	border-bottom:1px solid #f5f5f5;
	padding-bottom:30px;
}
.table img{
	margin-left:10px;
}
.c-programm{
	margin-bottom:20px;
	margin-top:17px;
	display:inline-block;
	font-size:14px;
	font-family:Arial,sans-serif;
	color:#535252;
	margin-left:8px;
}

.dizainers{
	height:170px;
	background:#f0f0f0;
}
.dizainers img{
	margin-left:10px;
}
.web{
	margin-top:13px;
	display:inline-block;
	margin-left:8px;
	color:#535252;
}
.laiks{
	font-size:14px;
	font-weight:bold;
	font-family:Arial,sans-seriif;
	color:#000;
	margin-top:22px;
	margin-left:24px;
}
.date{
	display:inline-block;
	position:relative;
	top:-19px;
	left:170px;
	font-size:14px;
	font-family:Arial,sans-serif;
	color:#535252;
}
.meklet{
	border-top:1px solid #dddddd;
	margin-left:25px;
	padding-top:5px;
}
.meklet a{
	font-size:14px;
	font-family:Arial,sans-serif;
	color:#3895e4;
}
.basket {
	position:relative;
	left:35px;
	top:2px;
	display:inline-block;
}
.pencil{
	position:relative;
	display:inline-block;
	top:2px;
	right:36px;
}
.c-programm-f{
	margin-bottom:20px;
	margin-top:17px;
	display:inline-block;
	font-size:14px;
	font-family:Arial,sans-serif;
	color:#b1b0b0;
	margin-left:8px;
}
.buttons{
	margin:0 auto;
	width:280px;
	height:45px;
	background:#f6ad01 url(../images/plus.png) no-repeat 15px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
		border-radius:3px;
	border:2px solid #c28600;
	margin-bottom:30px;
}
.myButton{
	position:relative;
	top:25%;
	left:20%;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}

#navigation{
	border-top:1px solid #dddddd;
	padding-top:20px;
	margin-top:15px;
	margin-bottom:20px;
}

#navigation a{
	width:30px;
	height:30px;
	display:inline-block;
	text-align:center;
	color:#3895e4;
	font-size:18px;
	font-weight:bold;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin-left:11px;
	line-height:30px;
}

.left-icc{
	margin-left:-10px;
	margin-top:5px;
	display:block;
}
.right-icc{
	display:block;
	margin-top:3px;
}
.active{
	background:#dcdcdc;
	height:30px;
	line-height:30px;
}

#navigation a:hover{
	background:#dcdcdc;
	width:30px;
	height:30px;
}
#active-none a:hover{
	background:none;
}
.header-bottom{
	margin-top:35px;
	font-size:14px;
	font-family:Arial,sans-serif;
	color:#000000;
	margin-left:55px;
	margin-bottom:40px;
}
#footer-top {
    height: 40px;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 10px;
    margin-left: 3.125%;
}

.info {
    display: inline-block;
    position: relative;
    left: 1.875%;
    top: -2px;
}

.info a {
    color: #f6ae01;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
.number{
    display: inline-block;
}

.number span {
    position: relative;
    left: 36.975%;
    top: -2px;
    color: #fff;
    font-size: 14px;
}

.phone {
    position: relative;
    left: 37.82%;
    top: 4px;
}

#footer-bottom {
    height: 30px;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 7px;
    color: #f6ae01;
    font-size: 12px;
    font-family: Arial, sans-serif;
}