* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;

}
@-ms-viewport {
    width: device-width;

}
/* todo  .authorize width:32.875%;   .close-image left: 7.81%;  width: 5.625%; */

/*todo .content-text width: 58.5%;  .content-image-closed  left: 22.8%;*/
@media only screen  and (max-width: 310px){

    #wrapper {
        /*width: 240px;*/
        width: 100%;
        margin: 0 auto;
    }


    #header {
        height: 100%;
        min-height: 38px;
        background: #2a2d30;
    }

    .authorize-button {
        display: inline-block;
        position: relative;
        width: 44.69%;
    }

    .reg-button {
        margin-right: 9.09%;
        width: 77%;
        margin-left: 13.98%;
        height: 100%;
        min-height: 18px;
        background-color: #f1a100;
        border: 1px solid #c28600;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-top: 6px;

    }



    .authorize {
        display: inline-block;
        position: relative;
        color: #f6ae01;
        font-size: 10px;
        font-family: Arial, sans-serif;
        left: -0.625%;
        width:32.875%
    }

    .close-image {
        position: relative;
        left: 7.81%;
        width: 5.625%;


    }

    #content-top {
        height: 100%;
        min-height: 106px;
        background: #2f3236;
    }

    .list-title {
        padding-top: 9px;
        line-height: 12px;
        margin-left: 6.25%;
        margin-right: 6.25%;
        font-size: 10px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        margin-bottom: 10px;
    }

    li, ol {
        margin-left: 10.31%;
        color: #f6ae01;
    }

    li span {
        color: #d7d7d8;
        font-size: 10px;
        font-family: Arial, sans-serif;
        line-height:    18px;
    }

    #content-center {
        height: 100%;
        min-height: 146px;
        background: #3d4042;
        border-top: 1px solid #515355;
    }

    .content-line {
        border-bottom: 1px solid #515355;
    }

    .content-text {
        display: inline-block;
        margin-left: 4.68%;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        width: 58.5%;

    }

    .content-image-closed {
        position: relative;
        left: 22.8%;
        top: 3px;
        width: 6.875%;

    }

    .screen {
        margin-left: 5.31%;
        margin-top: 20px;
    }

    .screen-image{
        width: 5%;

    }

    .desktop-link {
        position: relative;
        top: -5px;
        left: 1.0%;
        font-size: 10px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer {
        height: 100%;
        min-height: 20px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 6px;
        margin-left: 3.125%;
        font-size: 9px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*240*/
@media only screen and (min-width: 311px) and (max-width: 460px){
    #wrapper {
        /*width: 320px;*/
        width: 100%;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 50px;
        background: #2a2d30;
    }

    .authorize-button {
        display: inline-block;
        position: relative;
        width: 44.69%;
    }

    .reg-button {
        margin-right: 9.09%;
        width: 77%;
        margin-left: 13.98%;
        height: 100%;
        min-height: 28px;
        background-color: #f1a100;
        border: 1px solid #c28600;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-top: 8px;
    }

    .authorize {
        display: inline-block;
        position: relative;
        color: #f6ae01;
        font-size: 14px;
        font-family: Arial, sans-serif;
        left: -0.625%;
        width:32.875%
    }

    .close-image {
        position: relative;
        left: 7.81%;
        top: 6px;
        width: 5.625%;
    }

    #content-top {
        height: 100%;
        min-height: 160px;
        background: #2f3236;
    }

    .list-title {
        padding-top: 12px;
        line-height: 18px;
        margin-left: 6.25%;
        margin-right: 6.25%;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        margin-bottom: 15px;
    }

    li, ol {
        margin-left: 10.31%;
        color: #f6ae01;
    }

    li span {
        color: #d7d7d8;
        font-size: 14px;
        font-family: Arial, sans-serif;
        line-height: 26px;
    }

    #content-center {
        height: 100%;
        min-height: 220px;
        background: #3d4042;
        border-top: 1px solid #515355;
    }

    .content-line {
        border-bottom: 1px solid #515355;
    }

    .content-text {
        display: inline-block;
        margin-left: 4.68%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        width: 58.5%;

    }

    .content-image-closed {
        position: relative;
        left: 22.8%;
        top: 6px;
        width: 6.875%;
    }

    .screen {
        margin-left: 5.31%;
        margin-top: 20px;
    }

    .screen-image{
        width: 5%;

    }

    .desktop-link {
        position: relative;
        top: -5px;
        left: 1.0%;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer {
        height: 100%;
        min-height: 30px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 8px;
        margin-left: 3.125%;
        font-size: 11px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*320*/
@media only screen and (min-width: 461px) and (max-width: 580px){

    #wrapper {
        /*width: 480px;*/
        width: 100%;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 68px;
        background: #2a2d30;
    }

    .authorize-button {
        display: inline-block;
        position: relative;
        width: 44.69%;
    }

    .reg-button {
        margin-right: 9.09%;
        width: 77%;
        margin-left: 13.98%;
        height: 100%;
        min-height: 42px;
        background-color: #f1a100;
        border: 2px solid #c28600;
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        margin-top: 12px;
    }

    .authorize {
        display: inline-block;
        position: relative;
        color: #f6ae01;
        font-size: 21px;
        font-family: Arial, sans-serif;
        left: -0.625%;
        width:32.875%
    }

    .close-image {
        position: relative;
        left: 7.81%;
        width: 5.625%;

    }

    #content-top {
        height: 100%;
        min-height: 240px;
        background: #2f3236;
    }

    .list-title {
        padding-top: 18px;
        line-height: 27px;
        margin-left: 6.25%;
        margin-right: 6.25%;
        font-size: 21px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        margin-bottom: 22px;
    }

    li, ol {
        margin-left: 10.31%;
        color: #f6ae01;
    }

    li span {
        color: #d7d7d8;
        font-size: 21px;
        font-family: Arial, sans-serif;
        line-height: 32px;
    }

    #content-center {
        height: 100%;
        min-height: 330px;
        background: #3d4042;
        border-top: 2px solid #515355;
    }

    .content-line {
        border-bottom: 2px solid #515355;
    }

    .content-text {
        display: inline-block;
        margin-left: 4.68%;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 27px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        width: 58.5%;

    }

    .content-image-closed {
        position: relative;
        left: 22.8%;
        top: 8px;
        width: 6.875%;
    }

    .screen {
        margin-left: 5.31%;
        margin-top: 30px;
    }

    .screen-image{
        width: 5%;

    }

    .desktop-link {
        position: relative;
        top: -5px;
        left: 1.0%;
        font-size: 21px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer {
        height: 100%;
        min-height: 45px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 12px;
        margin-left: 3.125%;
        font-size: 16px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*480*/
@media only screen and (min-width: 581px) and (max-width: 720px){
    #wrapper {
        /*width: 640px;*/
        width: 100%;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 90px;
        background: #2a2d30;
    }

    .authorize-button {
        display: inline-block;
        position: relative;
        width: 44.69%;
    }

    .reg-button {
        margin-right: 9.09%;
        width: 77%;
        margin-left: 13.98%;
        height: 100%;
        min-height: 54px;
        background-color: #f1a100;
        border: 3px solid #c28600;
        color: #fff;
        font-size: 28px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        margin-top: 16px;
    }

    .authorize {
        display: inline-block;
        position: relative;
        color: #f6ae01;
        font-size: 28px;
        font-family: Arial, sans-serif;
        left: -0.625%;
        width:32.875%
    }

    .close-image {
        position: relative;
        left: 7.81%;
        top: 12px;
        width: 5.625%;

    }

    #content-top {
        height: 100%;
        min-height: 320px;
        background: #2f3236;
    }

    .list-title {
        padding-top: 24px;
        line-height: 36px;
        margin-left: 6.25%;
        margin-right: 6.25%;
        font-size: 28px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        margin-bottom: 30px;
    }

    li, ol {
        margin-left: 10.31%;
        color: #f6ae01;
    }

    li span {
        color: #d7d7d8;
        font-size: 28px;
        font-family: Arial, sans-serif;
        line-height: 40px;
    }

    #content-center {
        height: 100%;
        min-height: 440px;
        background: #3d4042;
        border-top: 3px solid #515355;
    }

    .content-line {
        border-bottom: 2px solid #515355;
    }

    .content-text {
        display: inline-block;
        margin-left: 4.68%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 36px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        width: 58.5%;

    }

    .content-image-closed {
        position: relative;
        left: 22.8%;
        top: 12px;
        width: 6.875%;
    }

    .screen {
        margin-left: 5.31%;
        margin-top: 40px;
    }
    .screen-image{
        width: 5%;

    }

    .desktop-link {
        position: relative;
        top: -10px;
        left: 1.0%;
        font-size: 28px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer {
        height: 100%;
        min-height: 60px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 16px;
        margin-left: 3.125%;
        font-size: 22px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*640*/
@media only screen and (min-width: 721px) and (max-width: 1024px){


    #wrapper {
        /*width: 480px;*/
        width: 100%;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 136px;
        background: #2a2d30;
    }

    .authorize-button {
        display: inline-block;
        position: relative;
        width: 44.69%;
    }

    .reg-button {
        margin-right: 9.09%;
        width: 77%;
        margin-left: 13.98%;
        height: 100%;
        min-height: 84px;
        background-color: #f1a100;
        border: 4px solid #c28600;
        color: #fff;
        font-size: 42px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin-top: 24px;
    }

    .authorize {
        display: inline-block;
        position: relative;
        color: #f6ae01;
        font-size: 42px;
        font-family: Arial, sans-serif;
        left: -0.625%;
        width:32.875%
    }

    .close-image {
        position: relative;
        left: 7.81%;
        width: 5.625%;

    }

    #content-top {
        height: 100%;
        min-height: 480px;
        background: #2f3236;
    }

    .list-title {
        padding-top: 36px;
        line-height: 54px;
        margin-left: 6.25%;
        margin-right: 6.25%;
        font-size: 42px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        margin-bottom: 44px;
    }

    li, ol {
        margin-left: 10.31%;
        color: #f6ae01;
    }

    li span {
        color: #d7d7d8;
        font-size: 42px;
        font-family: Arial, sans-serif;
        line-height: 64px;
    }

    #content-center {
        height: 100%;
        min-height: 660px;
        background: #3d4042;
        border-top: 4px solid #515355;
    }

    .content-line {
        border-bottom: 4px solid #515355;
    }

    .content-text {
        display: inline-block;
        margin-left: 4.68%;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 54px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        width: 58.5%;

    }

    .content-image-closed {
        position: relative;
        left: 22.8%;
        top: 16px;
        width: 6.875%;
    }

    .screen {
        margin-left: 5.31%;
        margin-top: 60px;
    }

    .screen-image{
        width: 5%;

    }

    .desktop-link {
        position: relative;
        top: -10px;
        left: 1.0%;
        font-size: 42px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer {
        height: 100%;
        min-height: 90px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 24px;
        margin-left: 3.125%;
        font-size: 32px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*960*/