* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    width: 320px;
    margin: 0 auto;
}

#header {
    height: 45px;
    background: #2a2d30;
}

.authorize-button {
    display: inline-block;
    position: relative;
    width: 44.69%;
}

.reg-button {
    margin-right: 9.09%;
    width: 77%;
    margin-left: 13.98%;
    height: 28px;
    background-color: #f1a100;
    border: 1px solid #c28600;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-radius: 3px;
    margin-top: 8px;
}

.authorize {
    display: inline-block;
    position: relative;
    color: #f6ae01;
    font-size: 14px;
    font-family: Arial, sans-serif;
    left: -2.0px;
    width:32.875%;
}

.close-image {
    position: relative;
    left: 7.81%;
    width: 5.625%;
    top: 6px;
}

#content-top {
    height: 160px;
    background: #2f3236;
}

.list-title {
    padding-top: 12px;
    line-height: 18px;
    margin-left: 6.25%;
    margin-right: 6.25%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
    margin-bottom: 15px;
}

li, ol {
    margin-left: 10.31%;
    color: #f6ae01;
}

li span {
    color: #d7d7d8;
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 26px;
}

#content-center {
    height: 220px;
    background: #3d4042;
    border-top: 1px solid #515355;
}

.content-line {
    border-bottom: 1px solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.68%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
    width: 58.5%;

}

.content-image-closed {
    position: relative;
    left: 22.8%;
    top: 9px;
}

.screen {
    margin-left: 5.31%;
    margin-top: 20px;
}

.desktop-link {
    position: relative;
    top: -5px;
    left: 1.0%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer {
    height: 30px;
    background: #2a2d30;
}

.copyright {
    padding-top: 8px;
    margin-left: 3.125%;
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}