* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

#wrapper {
    width: 240px;

    margin: 0 auto;
}

#header {
    height: 30px;
    background: #2a2d30;
}

.authorize-button {
    display: inline-block;
    position: relative;
    width: 44.69%;
}

.reg-button {
    margin-right: 9.09%;
    width: 77%;
    margin-left: 13.98%;
    height: 18px;
    background-color: #f1a100;
    border: 1px solid #c28600;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-radius: 3px;
    margin-top: 6px;
}

.authorize {
    display: inline-block;
    position: relative;
    color: #f6ae01;
    font-size: 10px;
    font-family: Arial, sans-serif;
    left: -0.625%;
}

.close-image {
    position: relative;
    left: 17.81%;
    width: 6px;
    height: 6px;
}

#content-top {
    height: 106px;
    background: #2f3236;
}

.list-title {
    padding-top: 9px;
    line-height: 12px;
    margin-left: 6.25%;
    margin-right: 6.25%;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
    margin-bottom: 10px;
}

li, ol {
    margin-left: 10.31%;
    color: #f6ae01;
}

li span {
    color: #d7d7d8;
    font-size: 10px;
    font-family: Arial, sans-serif;
    line-height:    18px;
}

#content-center {
    height: 146px;
    background: #3d4042;
    border-top: 1px solid #515355;
}

.content-line {
    border-bottom: 1px solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.68%;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #d7d7d8;

}

.content-image-closed {
    position: relative;
    left: 42.8%;
    top: 3px;
    width: 12px;
    height: 12px;
}

.screen {
    margin-left: 5.31%;
    margin-top: 20px;
}

.desktop-link {
    position: relative;
    top: -3px;
    left: 1.0%;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer {
    height: 20px;
    background: #2a2d30;
}

.copyright {
    padding-top: 6px;
    margin-left: 3.125%;
    font-size: 9px;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}