{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}

{% trans_default_domain 'user_form' %} 

{% form_theme private_form _self %}
{% form_theme legal_form _self %}

{% block form_label %}<label for="{{ id }}">{{ label|trans }}{% if required %}<b>*</b>{% endif %}</label>{% endblock %}

{% block form_row %}
{% spaceless %}
    <section class="inputblock clearfix">
        {{ form_label(form) }}
        <section class="input standart{% if form.vars.errors|length %} no_ok{% endif %}" >
            {{ form_widget(form) }}
        </section>
    </section>
{% endspaceless %}
{% endblock form_row %}

{% block top_menu %}{% endblock %}

{% block additional_header %}
    <section class="grayheader">
        <section class="content clearfix">
            <h1>{{ 'Registration'|trans }}</h1>
        </section>
    </section>
{% endblock %}

{% block body %}
    <section id="wrapper" class="simplepage clearfix">
        <section class="content clearfix">
            <section class="form form_2" data-tabgroup-id="group1">
                
                
                {% if is_reg_success %}
                <section class="ok_msg_box">
                    <h2>{{ 'Registration successful'|trans }}</h2>
                    <section>{{ 'Now you must check e-mail and confirm registration'|trans }}</section>
                </section>
                {% endif %}
                
                
                <section class="inputblock clearfix">
                    <label>{{ 'Register as'|trans }}<b>*</b></label>
                    <section class="input standart select">
                        <div class="ef-selectbox" tabindex="1">
                            <input type="hidden" name="accounts" value="" tabindex="-1" />
                            <dl>
                                <dt>
                                    {% if not show_legal %}
                                        <a title="{{ 'Private person'|trans }}" href="javascript:;" tabindex="-1"><span id="s1_sel">{{ 'Private person'|trans }}</span></a>
                                    {% endif %}
                                    {% if show_legal %}
                                        <a title="{{ 'Legal person'|trans }}" href="javascript:;" tabindex="-1"><span id="s2_sel">{{ 'Legal person'|trans }}</span></a>
                                    {% endif %}
                                </dt>
                                <dd>
                                    <div>
                                        <ul>
                                            <li {% if not show_legal %}class="active"{% endif %} ><a title="{{ 'Private person'|trans }}" href="javascript:;" data-call-form="form1" tabindex="-1"><span id='s1'>{{ 'Private person'|trans }}</span></a></li>
                                            <li {% if show_legal %}class="active"{% endif %} ><a title="{{ 'Legal person'|trans }}" href="javascript:;" data-call-form="form2" tabindex="-1"><span id='s2'>{{ 'Legal person'|trans }}</span></a></li>
                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </section>
                </section>

                <section class="sep"></section>

                <section>
                    
                    <form class="form form_2 tab{% if not show_legal %} active{% endif %} no_ok" data-id="form1" method="POST" action="{{ url('registration') }}" novalidate="true" data-prefix="private_person" >

                        {{ form_row(private_form.email) }}
                        {{ form_row(private_form.password.first) }}
                        {{ form_row(private_form.password.second) }}
                        {{ form_row(private_form._token) }}

                        {#{{ form_row(private_form.full_name) }}#}
                        {#{{ form_row(private_form.address) }}#}
                        {#{{ form_row(private_form.address_postcode) }}#}
                        {#{{ form_row(private_form.phone) }}#}
                        {#{{ form_row(private_form.email) }}#}
                        {#{{ form_row(private_form.password.first) }}#}
                        {#{{ form_row(private_form.password.second) }}#}
                        
                        <div class="error-list">
                            {% for field in errors.private %}
                                {% for field_error in field %}
                                    <div class="err_msg">{{ field_error }}</div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        
                        {#{{ form_rest(private_form) }}#}
                        
                        <a href="javascript:;" onclick="$(this).parent().submit();" title="{{ 'Register'|trans }}" class="orangebutton css3" tabindex="10"><span title="{{ 'Register'|trans }}">{{ 'Register'|trans }}</span></a>
                        <input type="submit" style="visibility: hidden; height: 0px" />
                        <input type="hidden" name="type" value="private" />
                        <input type="hidden" class="has-errors" value="{% if has_errors %}1{% else %}0{% endif %}" />
                    </form>
                        
                    <form class="form form_2 tab{% if show_legal %} active{% endif %} no_ok" data-id="form2"  method="POST" action="{{ url('registration') }}" novalidate="true"  data-prefix="legal_person"  >
                        
                        {{ form_row(legal_form.full_name) }}
                        {{ form_row(legal_form.company_name) }}
                        {{ form_row(legal_form.registration_number) }}
                        {{ form_row(legal_form.vat_number) }}
                        {{ form_row(legal_form.legal_address) }}
                        {{ form_row(legal_form.legal_address_postcode) }}
                        {{ form_row(legal_form.factual_address) }}
                        {{ form_row(legal_form.factual_address_postcode) }}
                        {{ form_row(legal_form.phone) }}
                        {{ form_row(legal_form.email) }}
                        {{ form_row(legal_form.password.first) }}
                        {{ form_row(legal_form.password.second) }}
                            
                        <div class="error-list">
                            {% for field in errors.legal %}
                                {% for field_error in field %}
                                    <div class="err_msg">{{ field_error }}</div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        
                        {{ form_rest(legal_form) }}
                            
                        <a href="javascript:;" onclick="$(this).parent().submit();" title="{{ 'Register'|trans }}" class="orangebutton css3" tabindex="23"><span title="{{ 'Register'|trans }}">{{ 'Register'|trans }}</span></a>
                        <input type="submit" style="visibility: hidden; height: 0px" />
                        <input type="hidden" name="type" value="legal" />
                        <input type="hidden" class="has-errors" value="{% if has_errors %}1{% else %}0{% endif %}" />
                    </form>
                </section>
            </section>
        </section>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    
    {% if has_errors %}
        <script>
            $(function() {
                var $form = $('.form.active');
                var hasErrors = $form.find('.has-errors').val() == '1';
                var $inputs = $('input[type="text"][id^=private_person_], input[type="password"][id^=private_person_]', $form);
                $inputs.blur(function(e) {
                    
                    var $w = $(this).parents('.input:first');
                    $w.removeClass('no_ok');
                    
                    var callback = function(resp) {
                        var $errorList = $('.error-list', $form);
                        $errorList.empty();
                        var errors = resp.errors;
                        $inputs.each(function() {
                            var $wrapper = $(this).parents('.input:first');
                            var field = $(this).attr('id').substring(15);
                            if (field == 'password_first') {
                                field = 'password';
                            }
                            if (field in errors && errors[field].length > 0) {
                                for (var i = 0; i < errors[field].length; i++ ) {
                                    $errorList.append('<div class="err_msg">' + errors[field][i] + '</div>');
                                }
                                $wrapper.addClass('no_ok');
                            }
                            else {
                                $wrapper.removeClass('no_ok');
                            }
                        });
                    };
                    $.post('{{ url('registration_validate') }}', $form.serialize(), callback, 'json');
                });
                
                $inputs.focus(function(e) { 
                    var $w = $(this).parents('.input:first');
                    $w.removeClass('no_ok');
                });
            });
        </script>
    {% endif %}
{% endblock %}