{% form_theme form 'VisiDarbiAdvertisementBundle:AddAdvertisement:paymentRadio.html.twig' %}
{% trans_default_domain "hl_addadvertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block additional_header %}
<section class="grayheader">
    <section class="content basket clearfix">
        {% include 'VisiDarbiAdvertisementBundle:HighlightAdvertisement:header.html.twig' %}
    </section>
</section>
{% endblock %}
{% block body %}
<section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
        <section class="body">
            <form id="form" class="form form_3 {%if form.vars.errors%}no_ok{%endif%}"  action="{{ path('visidarbi_advertisement_highlight_fast1') }}" method="post" {{ form_enctype(form) }}>

                <section class="section clearfix">
                    <h3>{{'Requisites'|trans}}</h3>
                    <section class="inputblock clearfix">
                        <label for="{{form.companyName.vars.id}}">{{form.companyName.vars.label|trans({},'messages')}}:<b>*</b></label>
                        <section class="input standart {%if form.companyName.vars.errors%} no_ok{%endif%}" > <!-- add class no_ok -->
                            {{form_widget(form.companyName)}}
                        </section>
                    </section>
                    <section class="inputblock clearfix">
                        <label for="{{form.email.vars.id}}">{{form.email.vars.label|trans({},'messages')}}:<b>*</b></label>
                        <section class="input standart{%if form.email.vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                            {{form_widget(form.email, {'attr':{'onChange': 'checkEmail()'}})}}
                        </section>
                    </section>
                    <section class="inputblock clearfix email-note" id="email_note_text_section">
                        <span id="email_note_text"></span>
                    </section>

                    <section class="inputblock clearfix">
                        <label for="{{form.address.vars.id}}">{{form.address.vars.label|trans({},'messages')}}:<b>*</b></label>
                        <section class="input standart long {%if form.address.vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                            {{form_widget(form.address)}}
                        </section>
                    </section>
                    <section class="inputblock clearfix">
                        <label for="{{form.contactPersonName.vars.id}}">{{form.contactPersonName.vars.label|trans({},'messages')}}:<b>*</b></label>
                        <section class="input standart{%if form.contactPersonName.vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                            {{form_widget(form.contactPersonName)}}
                        </section>
                    </section>
                    <section class="inputblock clearfix">
                        <label for="{{form.vat.vars.id}}">{{form.vat.vars.label|trans({},'messages')}}:<b>*</b></label>
                        <section class="input standart{%if form.vat.vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                            {{form_widget(form.vat)}}
                        </section>
                        <div class="ef-input checkbox"><div class="inn">
                                {{form_widget(form.noVat)}}
                                <label for="{{form.noVat.vars.id}}">{{form.noVat.vars.label|trans({},'messages')}}</label>
                            </div></div>
                    </section>
                    <section class="inputblock clearfix">
                        <label for="{{form.registrationNumber.vars.id}}">{{form.registrationNumber.vars.label|trans({},'messages')}}:<b>*</b></label>
                        <section class="input standart{%if form.registrationNumber.vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                            {{form_widget(form.registrationNumber)}}
                        </section>
                    </section>
                    <section class="inputblock clearfix">
                        <label for="{{form.bankCode.vars.id}}">{{form.bankCode.vars.label|trans({},'messages')}}:<b>*</b></label>
                        <section class="input standart {%if form.bankCode.vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                            {{form_widget(form.bankCode)}}
                        </section>
                    </section>
                    <section class="inputblock clearfix">
                        <label for="{{form.bankAccount.vars.id}}">{{form.bankAccount.vars.label|trans({},'messages')}}:<b>*</b></label>
                        <section class="input standart{%if form.bankAccount.vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                            {{form_widget(form.bankAccount)}}
                        </section>
                    </section>
                </section>

                <section class="section v2 clearfix">
                    <h3>{{'Payment methods'|trans}}</h3>
                    <section class="payment">
                        {{form_widget(form.payment)}}
                    </section>
                </section>
                <section class="section sum clearfix">
                    <h3>{{'Price total'|trans}}</h3>
                    <div>
                        <div>
                            {{'Summa bez PVN'|trans}}: <span id="totalPrice"></span>
                            <span class="eur" id="totalPriceSecond"></span>
                        </div>
                        <div>
                            {{'PVN'|trans}} {{vatValue}}%: <span id="vatTotal"></span>
                            <span class="eur" id="vatTotalSecond"></span>
                        </div>
                        <div>
                            {{'Summa ar PVN'|trans}}: <span id="totalPriceWithVat"></span>
                            <span class="eur" id="totalPriceWithVatSecond"></span>
                        </div>
                    </div> 
                    
                </section>
                <section class="bttn v2 clearfix">
                    <section class="accept_field">
                        <div class="ef-input checkbox {%if form.termsAndConditions.vars.errors%} no_ok{%endif%}"><div class="inn">
                                {{form_widget(form.termsAndConditions)}}
                                <label for="{{form.termsAndConditions.vars.id}}">{{form.termsAndConditions.vars.label|trans({},'messages')}}</label>
                            </div></div>
                        <a href="{{path('document', {'slug':'lietosanas-noteikumi'|trans})}}" title="title">{{'Terms and conditions'|trans}}</a>
                        <span>{{'I agree with - text2'|trans}}</span>
                    </section>
                        
 
                    {% for field in form%}
                        {% for error in field.vars.errors%}
                        <div class="no_ok">{{error.getMessage|trans}}</div>
                        {% endfor %}
                    {% endfor %} 
  
                        
                    <a class="orangebutton css3" href="javascript: $('#form').submit()" title="{{'Pay now'|trans}}" tabindex="18"><span title="{{'Pay now'|trans}}">{{'Pay now'|trans}}</span></a>
                </section>
                     {{form_widget(form.priceFirstPage, { 'attr': {'class': "firstpagePrice"}})}}
                     {{form_widget(form.advertisementHlPrice, { 'attr': {'class': "advertisementHlPrice",}})}}
                     {{form_row(form._token)}}
            </form>
        </section>
    </section>
</section>
{% endblock %}

{% block afterfooter %}
<section id="hint" class="hint css3"><section class="txt"></section></section>

{#<script src="{{ asset('bundles/visidarbicommon/js/jquery.min.v1.7.2.js')}}"></script>#}
<script src="{{ asset('bundles/visidarbicommon/js/jquery.autosize.js')}}"></script>
<script src="{{ asset('bundles/visidarbicommon/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script src="{{ asset('bundles/visidarbicommon/js/js.js')}}"></script>

<script type="text/javascript"> 

    countPrice();

    function countPrice(){

        {% if secondCurrency %}
            $('#totalPriceSecond').text('({{finalPriceSecond}} {{secondCurrencySign}})');  
            $('#totalPriceWithVatSecond').text('({{finalPriceWithVatSecond}} {{secondCurrencySign}})');
            $('#vatTotalSecond').text('({{vatTotalSecond}} {{secondCurrencySign}})');
        {% endif %}
                    
                    
        $('#vatTotal').text('{{vatTotal}} {{currency}}')
        $('#totalPrice').text('{{finalPrice}} {{currency}}');  
        $('#totalPriceWithVat').text('{{finalPriceWithVat}} {{currency}}');
            
    }      

</script>

{% endblock %}