{% trans_default_domain "hl_addadvertisement" %}
<section class="steps">
    {% for i in 1..3%}
        <section class="{% if i<=step %}sel{% endif %} css3" title="{{i}}"><span>{{i}}</span></section>
        {% if i<3 %}<div {% if i<(step) %} class="sel"{% endif %}><span class="css3"></span><span class="css3"></span><span class="css3"></span></div>{% endif %}
    {% endfor %}
</section>

<h1>{{'Highlight advertisement'|trans}}</h1>
