{% trans_default_domain "hl_addadvertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block additional_header %}
<section class="grayheader">
    <section class="content basket clearfix">
        {% include 'VisiDarbiAdvertisementBundle:HighlightAdvertisement:header.html.twig' %}
            <section class="tabsbox" data-scrollholder="true">
                <section class="tabs tabsmenu" data-scrolltabs="true" data-tabmenu="tabgroup1">
                    <ul>
                                {% set i = 1 %}
                                {% for l in locales %}
                            <li {% if i == 1%}class="active" {%endif%}><h2><a {% if i == 1%}class="active" {%endif%} data-call="tab{{i}}" href="#" title="{{l}}">{{l}}</a></h2></li>
                                {% set i = i + 1 %}
                                {% endfor %}
                                    </ul>
                                    <section class="shadow"><div class="css3"></div></section>
                                </section>
                            </section>
                        </section>
                    </section>
{% endblock %}
{% block body %}


                    <section id="wrapper" class="no_cols clearfix">
                        <section class="content clearfix">
                            <section class="body">
                                <section class="tabsgroup v2 clearfix" data-speed="800" data-animation="slide" data-tabgroups="tabgroup1" data-heightresize="true">
                                    <section class="tabscontent clearfix">
                                        <form id="form" class="{%if form.vars.errors or form.company.vars.errors or form.contavt_peron.vars.errors%}no_ok{%endif%}"  action="" method="post" {{ form_enctype(form) }}>
                     {% set i = 0 %}
                     {% for l in locales %}
                        {% set i = i + 1 %}
                                                <section class="tab clearfix" data-tabid="tab{{i}}">
                                                    <section class="form form_3 {%if form.vars.errors or form.company.vars.errors or form.contavt_peron.vars.errors%}no_ok{%endif%}" action="#"> <!-- add class no_ok -->
                                                        <section class="section clearfix">
                                                            <h3>{{'Information'|trans}}</h3>
                                                            <section class="info clearfix">
                                                                {% if currentLocale =='lv' %}
                                                                  <p><b>Ja vēlaties sasniegt vēl plašāku darba meklētāju auditoriju un palielināt pieteikumu skaitu savai vakancei, iesakām izcelt darba sludinājumu Visidarbi.lv profesijas un darba atrašanās vietas kategorijā.</b> Jūsu vakance vienmēr būs attiecīgās kategorijas augšpusē iekrāsota dzeltenā krāsā un tādējādi pievērsīs papildu uzmanību no potenciālajiem kandidātiem. </p>
                                                                    <p><b>Izmaksas tikai 15 EUR</b> + PVN par viena mēneša periodu. </p>
                                                                    <p>Atcerieties zemāk pārbaudīt, vai Jūsu vakance ir atzīmēta atbilstošā amatu kategorijā ar atbilstošu profesiju un pareizu darba atrašanās vietu. Jūs variet atzīmēt līdz 3 amata kategorijām un 3 profesijām.</p>
                                                                   
                                                                {% elseif currentLocale == 'ru'%}

                                                                    <p><b>Если желайте достичь более широкую аудиторию соискателей работы и увеличить число заявок на свою вакансию, предлагаем Вам выделить объявление на Visidarbi.lv в категориях - профессии и место расположения работы.</b> Ваша вакансия всё время будет в верхней части соответствующей категории выделена жёлтым цветом, таким образом, ещё больше привлекая внимание потенциальных кандидатов. </p>
                                                                    <p><b>Стоимость услуги только 7 EUR</b> + НДС на период 1 месяца. </p>
                                                                    <p>Ниже не забудьте проверить, правильно ли отмечена Ваша вакансия - категория должности соответствует профессии и правильному месту расположения. Вы можете отметить до 3-ёх должностных категорий и до 3-ёх профессий.</p>
                                                                {% elseif currentLocale == 'en' %}

                                                                    <p><b>If you want to reach a wider audience of job seekers and increase the number of applications for your vacancy, we suggest you to highlight the job advertisement on Visidarbi.lv in profession and job location categories.</b> Your vacancy will always be at the top of the respective category colored in yellow and thus pay extra attention of potential candidates. </p>
                                                                    <p><b>The costs are only 7 EUR</b> + VAT for a period of one month. </p>
                                                                    <p>Remember to check below if your vacancy is marked in an appropriate job category with the appropriate profession and the correct job location. You can mark up to 3 job categories and 3 professions.</p>
                                                                {% endif%}

                                                            </section>
                                                        </section>

{% if i==1 %}
                                                        <section class="section clearfix">
                                                            <section class="filter_form v2">
                                                                <section class="clearfix">
                                                                    <section class="col">
                                                                        <label>{{ form.category.vars.label|trans({},'messages') }}:</label>
                                                                        <section class="multiselect css3 scroll-pane{%if form.category.vars.errors%} no_ok{%endif%}"  data-maxselect="3" tabindex="1">
                                                                            <section class="scrollbar"><section class="track"><section class="thumb"><section class="end"></section></section></section></section>
                                                                            {{ form_widget(form.category, {'attr': {'multiple': "multiple", 'name': "multiselect_1", 'size': "1", 'class': 'category-selector'} }) }}

                                                                            <section class="viewport">
                                                                                <section class="overview" style="top: 0px;">
                                                                                    <ul>
                                                                                        {% for i in form.category.vars.choices %}
                                                                                        <li onclick="javascript:$('.category-selector').change();">{{i.label}}</li>
                                                                                        {% endfor %}
                                                                                    </ul>
                                                                                </section>
                                                                             </section>
                                                                        </section>
                                                                    </section>
                                                                    <section class="col">
                                                                        <label>{{ form.profession.vars.label|trans({},'messages') }}:</label>
                                                                        <section class="multiselect css3 scroll-pane {%if form.profession.vars.errors%} no_ok{%endif%}"  data-maxselect="3" tabindex="2">
                                                                            <section class="scrollbar "><section class="track"><section class="thumb"><section class="end"></section></section></section></section>
                                                                            {{ form_widget(form.profession, { 'attr': {'multiple': "multiple", 'name': "multiselect_2", 'size': "1", 'class': 'profession-selector'} }) }}
                                                                            <section class="viewport"><section class="overview">
                                                                                    <ul class="professions-list"></ul>
                                                                            </section></section>
                                                                        </section>
                                                                    </section>
                                                                    <section class="col v2">
                                                                        <label>{{ form.country_data.vars.label|trans({},'messages') }}:</label>
                                                                        <section class="input standart select{%if form.country.vars.errors%} no_ok{%endif%}">
                                                                            <div class="ef-selectbox" tabindex="3">
                                                                                 {{ form_widget(form.country,  {'attr': {'class': "country-selector"} })  }}
                                                                                <!--input type="hidden" name="accounts" value="" tabindex="-1" /-->
                                                                                <dl>

                                                                                    <dt><a title="{{'Country'|trans}}" href="javascript:;" tabindex="-1"><span id=""></span></a></dt>
                                                                                    <dd>
                                                                                        <div>
                                                                                            <ul>                                              
                                                                                                {% for i in form.country_data.vars.choices %}
                                                                                                <li><a title="{{i.label}}" href="javascript:;" tabindex="-1"><span id='{{i.value}}'>{{i.label}}</span></a></li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </div>
                                                                                    </dd>
                                                                                </dl>
                                                                            </div>
                                                                        </section>


                                                                        <label>{{ form.city.vars.label|trans({},'messages') }}:</label>
                                                                        <section class="multiselect css3 scroll-pane{%if form.city.vars.errors%} no_ok{%endif%}" data-nomultiple="true" data-empty="true" tabindex="4">
                                                                            <section class="scrollbar"><section class="track"><section class="thumb"><section class="end"></section></section></section></section>
                                                                            {{ form_widget(form.city,  { 'attr': {'class': "city-selector", 'multiple': 'multiple', 'size': '1'} })  }}
                                                                            <section class="viewport"><section class="overview">
                                                                                    <ul class="city-list"></ul>
                                                                            </section></section>
                                                                        </section>
                                                                    </section>
                                                                </section>
                                                            </section>
                                                        </section>                                
{% endif %}
                                                        <section class="section clearfix">
                                                            <h3>{{'Company data'|trans}}</h3>
                                {% if i==1 %}
                                                            <section class="upload">
                                                                <section>
                                                                    <div class="file"><input onchange="checkFile()" type="file" name="image" id="originFile" /></div>

                                            {% if not logo.logo %}
                                                                    <section id="logo"><div>{{'logotips'|trans}}</div></section>
                                            {% else %}
                                                                            <section id="logo"><img src="/{{logo.logo}}"/></section>
                                            {% endif %}
                                                                                <div id="uploadError" class="no_ok"></div>
                                                                                <a class="button css3" title="title" href="javascript:;" tabindex="1">{{'Load'|trans}}</a>
                                                                                <div class="delete"><a id="deleteLink" title="title" href="javascript: deleteLogo();" tabindex="1">{{'Delete'|trans}}</a></div>
                                                                            </section>
                                                                        </section>
                                {% endif %}
                                                                        <section class="inputblock clearfix">
                                    {%set fieldName = ['title_',l]|join%}
                                                                                <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}{%if i == 1 %}<b>*</b>{%endif%}{%endif%}</label>
                                                                                <section class="input standart{%if form[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                        {{ form_widget(form[fieldName])}}
                                                                                    </section>
                                                                                </section>

                                {% if i==1 %}
                                                                                <section class="inputblock clearfix">
                                        {%set fieldName = 'name'%}
                                                                                        <label for="{{form.company[fieldName].vars.id}}">{{form.company[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                                                                                        <section class="input standart {%if form.company[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                            {{ form_widget(form.company[fieldName])}}
                                                                                            </section>
                                                                                        </section>
                                {% endif %}
                                                                                        <section class="inputblock clearfix">
                                    {%set fieldName = ['description_',l]|join%}
                                                                                                <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>

                                                                                                <section class="field">
                                                                                                    <section class="input textarea css3 {%if form[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                            {{ form_widget(form[fieldName], { 'attr': {' data-autosize': "true"} })}}
                                                                                                        </section>
                                                                                                    </section>
                                                                                                </section>
                                                                                            </section>
                                                                                        </section>
                                                                                    </section>
                   {% endfor %}
                                                                                </form>
                                                                            </section>

                                                                        </section>
                                                                    </section>
                                                                    <section class="bttn form_bttn clearfix">
                                {% for field in form%}
                                    {% for error in field.vars.errors%}
                                                                            <div class="no_ok">{{error.getMessage|trans}}</div>
                                    {% endfor %}

                                    {% for subfield in field%}
                                        {% for error in subfield.vars.errors%}
                                                                            <div class="no_ok">{{error.getMessage|trans}}</div>
                                        {% endfor %}
                                    {% endfor %}

                                {% endfor %}
                                {% for field in form.company%}
                                    {% for error in field.vars.errors%}
                                                                            <div class="no_ok">{{error.getMessage|trans}}</div>
                                    {% endfor %}
                                {% endfor %}
                                {% for field in form.contact_person%}
                                    {% for error in field.vars.errors%}
                                                                            <div class="no_ok">{{error.getMessage|trans}}</div>
                                    {% endfor %}
                                {% endfor %}
                                                                            <a class="orangebutton css3" href="javascript: $('#form').submit()" title="{{'Continue'|trans}}" tabindex="58"><span title="{{'Highlight advertisement'|trans}}">{{'Highlight advertisement'|trans}}</span></a>
                                                                            <a class="cancel" href="{% if backLink %} {{ backLink }} {% endif %}" title="title" tabindex="59">{{'Back'|trans}}</a>
                                                                        </section>
                                                                    </section>
                                                                </section>
                                                            </section>

{% endblock %}

{% block afterfooter %}
                                                            <section id="hint" class="hint css3"><section class="txt"></section></section>
                                                            {#
                                                            <section id="helper">
                                                                <a href="#" title="{{'Svarīgi zināt'|trans}}" class="orangebutton css3 infobutton"><span title="{{'Svarīgi zināt'|trans}}">{{'Svarīgi zināt'|trans}}</span></a>
                                                                <section class="helppop css3">
                                                                    <a href="#" title="title" class="close">x</a>
                                                                    <p> {{ goodToKnow }} </p>
                                                                </section>
                                                            </section> 
                                                            #}

                                                            <script src="{{ asset('bundles/visidarbicommon/js/jquery.autosize.js')}}"></script>
                                                            <script src="{{ asset('bundles/visidarbicommon/js/jquery-ui-1.10.3.custom.min.js')}}"></script>
                                                            {#<script src="{{ asset('bundles/visidarbicommon/js/js.js')}}"></script>#}
                                                            <script src="http://malsup.github.com/jquery.form.js"></script>
                                                            <script src="{{ asset('bundles/visidarbicommon/js/jquery.tinyscrollbar.min.js') }}"></script>
                                                            <script type="text/javascript">

                                                                        $(document).ready(function() {
                                                                            console.log('r: ' + document.referrer);
                                                                        });

                                                                {% if not logo.logo %}
                                                                        $('#deleteLink').hide();
                                                                {% else %}
                                                                        $('#logo').html('<img src="{{ image(logo.logo).resize(84,84).fillBackground.jpeg }}"/>');
                                                                {% endif %}

                                                                        function checkFile() {


                                                                            var options = {
                                                                                //  target:        '#output2',   // target element(s) to be updated with server response
                                                                                //  beforeSubmit:  showRequest,  // pre-submit callback
                                                                                success: showResponse, // post-submit callback

                                                                                // other available options:
                                                                                url: '{{path('visidarbi_advertisement_add_step3_upload')}}', // override for form's 'action' attribute
                                                                                //type:      type        // 'get' or 'post', override for form's 'method' attribute
                                                                                dataType: 'json', // 'xml', 'script', or 'json' (expected server response type)
                                                                                //clearForm: true        // clear all form fields after successful submit
                                                                                //resetForm: true        // reset the form after successful submit

                                                                                // $.ajax options can be used here too, for example:
                                                                                //timeout:   3000
                                                                            };
                                                                            $('#form').ajaxSubmit(options);


                                                                        }

                                                                        function showResponse(responseText, statusText, xhr, $form) {

                                                                            if (!responseText.errors) {
                                                                                $('#logo').html('<img src="/' + responseText.logo + '"/>');
                                                                                $('#deleteLink').show();
                                                                                $('.deleted-logo').val(0);
                                                                                $('#uploadError').html('');
                                                                            } else {
                                                                                $('#uploadError').html(responseText.errors);
                                                                            }
                                                                        }

                                                                        function deleteLogo() {
                                                                            $('#logo').html('');
                                                                            $('#deleteLink').hide();
                                                                            $('.deleted-logo').val(1);
                                                                        }

  
    var preloadProfessions = false;
    var preloadCities = false;    
    {% if selectedCategory %}
        $(".category-selector").val([{{selectedCategory|raw}}]);
        preloadProfessions = true;
    {% endif %}
    
    {% if selectedCountry %}
        $(".country-selector").val({{selectedCountry}});
        preloadCities = true;
    {% endif %}    
    
        $('#addadvertisementstep2_country').change();
    
    
        $('.category-selector').change(function() { 
            
/*            if($('.category-selector').val()) {
                categorySelector($('.category-selector').val().join()); 
            }
 */   
        }).change();
    
        function payNow(){
            $('.pay_now_field').val(1);
            $('#form').submit();
        } 
    
        function submitForm(){
            $('.pay_now_field').val(0);
            $('#form').submit();
        } 
    
        function getCities(id) {
             var $citySelector = $('.city-selector');
                var $cityList = $('.city-list');
                

                var origVal = $citySelector.val();
  
                $citySelector.empty();
      
                var url = Routing.generate('visidarbi_advertisement_get_cities', { 'country': id});
                $.post(url, { }, function(data){
       
                    $cityList.text('');
                   //$professionSelector.append($('<option></option>'));
                    for (var i = 0; i < data.length; i++) {
                        var $opt = $('<option></option>');
                        $opt.text(data[i].name);
                        $opt.attr('value', data[i].id);
                        

                        if(preloadCities) {
                            if(data[i].id == '{{selectedCity}}') {
                                $opt.attr('selected', 'selected');
                            }
                        } else{
                            
                            if (i==0) {
                                $opt.attr('selected', 'selected');
                            }                            
                        }           
            
                        
                        $citySelector.append($opt);
                        
                        
                        var $li = $('<li></li>');
                        
                        
                        if(preloadCities) {
                            if(data[i].id == '{{selectedCity}}') {
                                $li = $('<li class="sel"></li>');
                            }
                        }                        
                        
                        
                        $li.text(data[i].name);
                        $cityList.append($li);
												
                        if (i==data.length - 1) {
                                        var ms = $('.city-selector').parent();
                                        if($('.overview', ms).height() > ms.height()) $('.scrollbar', ms).show();
                                        else $('.scrollbar', ms).hide();
                                        //ms.tinyscrollbar_update();
                        }
                    }

                     //initSelectors();
                        if(preloadCities) {
                            updateTScrollbar('city');
                            preloadCities = false;
                        }
                    
                    
                },'json');
                

        }       
      
                
            function categorySelector(id) {
                //console.debug(id);
                var $professionSelector = $('.profession-selector');
                var $professionsList = $('.professions-list');
                var origVal = $professionSelector.val();
                
                $professionSelector.empty();
                
                var url = Routing.generate('visidarbi_advertisement_get_professions', { 'category': id });
                $.post(url, { }, function(data){
                    
                    $professionsList.text('');
                   //$professionSelector.append($('<option></option>'));
                    for (var i = 0; i < data.length; i++) {
                        var $opt = $('<option></option>');
                        $opt.text(data[i].name);
                        $opt.attr('value', data[i].slug);
                        
                        
                        if(preloadProfessions) {
                            var a = [{{selectedProfession|raw}}];
                            if(a.indexOf(data[i].slug) > -1) {
                                $opt.attr('selected', 'selected');
                            }
                        }
                        
/*                        
 *                      if (i==0) {
                            $opt.attr('selected', 'selected');
                        }
*/                        
                        
                        $professionSelector.append($opt);
                        
                        
                        var $li = $('<li></li>');
                        if(preloadProfessions) {
                            var a = [{{selectedProfession|raw}}];
                            if(a.indexOf(data[i].slug) > -1) {
                                $li = $('<li class="sel"></li>');
                            }
                        }                        
                        
                        $li.text(data[i].name);
                        $professionsList.append($li);
                    }
                    
                    updateTScrollbar('prof');
                    
                  //  initSelectors();
                    
                 if(preloadProfessions)  {
                       updateTScrollbar('prof');
                        preloadProfessions = false;                    
                  }
                    
                },'json');                
                
            }


    function showLoginHint(){
           var hint = $('#login_hint');
            if(!hint.is(':visible')) hint.show();  
            hint.delegate('.close', 'click', function(e){
                    hint.hide();
            });        
    }

    function hideLoginHint(){
            var hint = $('#login_hint');
            if(hint.is(':visible')) hint.hide();
    }

    function auth(){
        $('#auth_btn').click();
        $("html, body").animate({ scrollTop: 0 }, "slow");
    }      








                                                                </script>

{% endblock %}
