{% trans_default_domain "hl_addadvertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block additional_header %}
<section class="grayheader">
    <section class="content basket clearfix">
        {% include 'VisiDarbiAdvertisementBundle:HighlightAdvertisement:header.html.twig' %}
    </section>
</section>
{% endblock %}
{% block body %}
<section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
        <section class="body">
                <form class="form form_3 laststep" action="#"> <!-- add class no_ok -->

                {# Accepted payment #}
                {% if advertisement and paymentStatus == 20 %}
                    <section class="ok_msg_box">
                            <h2>{{'Jūsu sludinājums tika veiksmīgi izcelts'|trans}}</h2>
                            <section><a href="{{path('visidarbi_advertisement_show', {'advertisementId': advertisement.getSlugOrPublicId(app.request.attributes.get('_locale'))   })}}" title="title">{{'Apskatīt sludinājumu'|trans}}</a></section>
                    </section> 
                {# Rejected payment #}
                {% elseif advertisement and paymentStatus == 30 %}
                    <section class="ok_msg_box">
                            <h2>{{'Maksājumu sistēma nav apstiprinājusi veikto maksājumu.'|trans}}</h2>
                    </section> 
                {# Pending payment #}
                {% elseif advertisement and paymentStatus == 10 %}
                    <section class="ok_msg_box">
                            <h2>{{'Jūsu sludinājums tiks izcelts, tiklīdz mēs saņemsim apstiprinājumu no maksājumu sistēmas.'|trans}}</h2>
                    </section>                 
                {% endif %}

                <section class="bttn v2 clearfix">
                        <a class="orangebutton css3" href="{{path('visidarbi_advertisement_list')}}" title="{{'Return to advertisements list'|trans}}" tabindex="18"><span title="{{'Return to advertisements list'|trans}}">{{'Return to advertisements list'|trans}}</span></a>
                </section>                
                
                </form>
        </section>
    </section>
</section>
{% endblock %}

{% block afterfooter %}

<script src="{{ asset('bundles/visidarbicommon/js/jquery.autosize.js')}}"></script>
<script src="{{ asset('bundles/visidarbicommon/js/js.js')}}"></script>

{% endblock %}