{% if  not object.rejected  and not object.approved  %}
    <a href="{{ admin.generateObjectUrl('approve', object) }}" class="btn btn-success edit_link" title="{{ 'Approve'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-edit"></i>
        {{ 'Approve'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}

