{% if not object.rejected  and not object.approved%}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-danger edit_link" title="{{ 'Reject'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-edit"></i>
        {{ 'Reject'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}

