{% if  object.approved and object.getAdvertisements %}
    <a href="{{ admin.getChild('visidarbi.advertisement.admin.advertisement').generateObjectUrl('edit',object.getAdvertisements) }}" class="btn edit_link" title="{{ 'Edit advertisement'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-edit"></i>
        {{ 'Edit published'|trans({}, 'SonataAdminBundle') }}
    </a>
{% elseif not object.approved and not object.rejected %}
    <a href="{{ admin.generateObjectUrl('edit',object) }}" class="btn edit_link" title="{{ 'Edit'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-edit"></i>
        {{ 'Edit'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}

