
{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block formactions %}
    <div class="well form-actions">
        {% if app.request.isxmlhttprequest %}
            {% if admin.id(object) %}
                <input type="submit" class="btn btn-primary" name="btn_update" value="{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}"/>
            {% else %}
                <input type="submit" class="btn" name="btn_create" value="{{ 'btn_create'|trans({}, 'SonataAdminBundle') }}"/>
            {% endif %}
        {% else %}
            {% if admin.supportsPreviewMode %}
                <input class="btn btn-info persist-preview" name="btn_preview" type="submit" value="{{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}"/>
            {% endif %}
            {% if admin.id(object) %}
                <input type="submit" class="btn btn-primary" name="btn_update_and_edit" value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>

                {% if admin.hasroute('list') %}
                    <input type="submit" class="btn" name="btn_update_and_list" value="{{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}"/>
                {% endif %}                            

                {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                    {#{ 'delete_or'|trans({}, 'SonataAdminBundle') }#}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if not object.approved%}
                    <a class="btn btn-success" href="{{ admin.generateObjectUrl('approve', object) }}">{{ 'Approve'|trans({}, 'SonataAdminBundle') }}</a>
                    &nbsp;&nbsp;
                    <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">{{ 'Reject'|trans({}, 'SonataAdminBundle') }}</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <input class="btn btn-primary" type="submit" name="btn_create_and_edit" value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
                <input type="submit" class="btn" name="btn_create_and_list" value="{{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}"/>
                <input class="btn" type="submit" name="btn_create_and_create" value="{{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}"/>
            {% endif %}
        {% endif %}
    </div>
{% endblock formactions %}