* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    width: 640px;
    margin: 0 auto;
}

#header {
    border-top: 2px solid #000;
    height: 90px;
    background-color: #2a2d30;
}

.select-country-block {
    width: 5.625%;
    top: -26px;
    position: relative;
    display: inline-block;
    margin-left: 6.25%;
}

.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 28px;

}

.select-country-icon {

    position: relative;
    display: inline-block;
    top: -18px;

}

.logo {

    position: relative;
    display: inline-block;
    margin-left: 12.19%;
    margin-top: 14px;
}

.logo-image {
    width: 270px;
    height: 64px;
}

.select-country-image {
    width: 30px;
    height: 34px;
}

.menu-image {
    width: 86px;
    height: 72px;

}

.menu-icon {
    position: relative;
    display: inline-block;
    right: -8.75%;
    top: 2px;
}

#content {
    margin-top: 40px;
    padding: 0 2.5%;
}

.content-title {
    font-size: 40px;
    color: #262626;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}

.content-date {
    color: #cacaca;
    font-style: italic;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

.content-image {
    margin-top: 20px;
    width: 98.355%;
    height: 416px;
    margin-bottom: 20px;
}

.content-text {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #828282;
    font-style: normal;
    margin-bottom: 70px;
}

.content-subtitle {
    color: #262626;
    font-size: 32px;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
    font-weight: normal;
}

/*  table  */
.content-table{
    width: 100%;
    border-spacing: 0;
    margin-bottom: 60px;
}
.content-table-title{
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:26px;
    color:#2c2c2c;
    font-style:normal;
    text-transform:uppercase;
    height: 60px;
    background-color: #f0f0f0;

}
.content-table-row{
    border-left: 4px solid #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
}
.content-table-text{
    font-family: Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    color: #828282;
}
.table-cell-left{
    width: 41.118%;
    border-left: 4px solid #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
    padding: 10px;
}
.table-cell-center{
    width: 17.76%;
    border-bottom: 4px solid #f0f0f0;
    padding: 10px;
}

.table-cell-right{
    width: 41.118%;
    border-bottom: 4px solid #f0f0f0;
    padding: 10px;

}



/*    table  */
.content-video {
    width: 98.355%;
    height: 404px;
    margin-bottom: 50px;
}

.content-text-light {
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #828282;
    font-style: normal;
    margin-top: 40px;
}


.content-list-light li, ol {
    margin-left: 4.934%;
    color: #f6ae01;
}

.content-list-light li span {
    color: #828282;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

#content-footer {
    margin-top: 60px;
}

.content-footer-links-title {
    font-size: 26px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #2c2c2c;
    font-style: normal;
    text-transform: uppercase;
    padding: 16px 3.2895%;
    background: #f0f0f0;
    margin-bottom: 50px;
}

.top-link-block {
    margin-bottom: 40px;
}

a.content-footer-link {
    border-left: 6px solid #f6ae01;
    font-family: Arial, sans-serif;
    font-size: 26px;
    color: #3895e4;
    line-height: 60px;
    padding-left: 1.645%;
}

a.content-footer-link:hover {
    text-decoration: underline;
}

.bottom-link-block {
    margin-bottom: 60px;
}

.arrow{
    margin-bottom: 50px;
}

.arrow img{
    display: inline-block;
    width: 36px;

}

.arrow a {
    position: relative;
    left: 0.9868%;
    top: -8px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #3895e4;
}

#footer {
    height: 60px;
    background-color: #2a2d30;

}

.copyright {
    font-style: normal;
    color: #6a6d6f;
    font-size: 22px;
    font-family: Arial, sans-serif;
    padding-top: 14px;
    padding-left: 3.125%;
}