* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    width: 320px;
    margin: 0 auto;
}

#header {
    border-top: 2px solid #000;
    height: 45px;
    background-color: #2a2d30;
}

.select-country-block {
    width: 5.625%;
    top: -13px;
    position: relative;
    display: inline-block;
    margin-left: 6.25%;
}

.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;

}

.select-country-icon {

    position: relative;
    display: inline-block;
    top: -9px;

}

.logo {

    position: relative;
    display: inline-block;
    margin-left: 12.19%;
    margin-top: 7px;
}

.logo-image {
    width: 135px;
    height: 32px;
}

.select-country-image {
    width: 15px;
    height: 17px;
}

.menu-image {
    width: 43px;
    height: 36px;

}

.menu-icon {
    position: relative;
    display: inline-block;
    right: -8.75%;
    top: 1px;
}

#content {
    margin-top: 20px;
    padding: 0 2.5%;
}

.content-title {
    font-size: 20px;
    color: #262626;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}

.content-date {
    color: #cacaca;
    font-style: italic;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.content-image {
    margin-top: 10px;
    width: 98.355%;
    height: 208px;
    margin-bottom: 10px;
}

.content-text {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #828282;
    font-style: normal;
    margin-bottom: 35px;
}

.content-subtitle {
    color: #262626;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-bottom: 15px;
    font-weight: normal;
}

/*  table  */
.content-table{
    width: 100%;
    border-spacing: 0;
    margin-bottom: 30px;
}
.content-table-title{
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#2c2c2c;
    font-style:normal;
    text-transform:uppercase;
    height: 30px;
    background-color: #f0f0f0;

}
.content-table-row{
    border-left: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}
.content-table-text{
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    color: #828282;



}
.table-cell-left{
    width: 41.118%;
    border-left: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    padding: 5px;
}
.table-cell-center{
    width: 17.76%;
    border-bottom: 2px solid #f0f0f0;
    padding: 5px;
}

.table-cell-right{
    width: 41.118%;
    border-bottom: 2px solid #f0f0f0;
    padding: 5px;

}



/*    table  */
.content-video {
    width: 98.355%;
    height: 202px;
    margin-bottom: 25px;
}

.content-text-light {
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #828282;
    font-style: normal;
    margin-top: 20px;
}


.content-list-light li, ol {
    margin-left: 4.934%;
    color: #f6ae01;
}

.content-list-light li span {
    color: #828282;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

#content-footer {
    margin-top: 30px;
}

.content-footer-links-title {
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #2c2c2c;
    font-style: normal;
    text-transform: uppercase;
    padding: 8px 3.2895%;
    background: #f0f0f0;
    margin-bottom: 25px;
}

.top-link-block {
    margin-bottom: 20px;
}

a.content-footer-link {
    border-left: 3px solid #f6ae01;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #3895e4;
    line-height: 30px;
    padding-left: 1.645%;
}

a.content-footer-link:hover {
    text-decoration: underline;
}

.bottom-link-block {
    margin-bottom: 30px;
}

.arrow{
    margin-bottom: 25px;
}

.arrow img{
    display: inline-block;
    width: 18px;

}

.arrow a {
    position: relative;
    left: 0.9868%;
    top: -4px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #3895e4;
}

#footer {
    height: 30px;
    background-color: #2a2d30;

}

.copyright {
    font-style: normal;
    color: #6a6d6f;
    font-size: 11px;
    font-family: Arial, sans-serif;
    padding-top: 7px;
    padding-left: 3.125%;
}