{% extends 'VisiDarbiCommonBundle::user_office_base.html.twig' %}

{% trans_default_domain 'my_advertisments' %}

{% block additional_header %}
    {% render "VisiDarbiCommonBundle:Search:index"  %}
{% endblock %}


{% block content %}
    <section class="clearfix">

            <table class="table">
                <thead>
                    <tr class="clickable">
                        <th class="c6">{{ 'Active'|trans }}</th>
                        <th class="c16">{{ 'Profesion'|trans }}</th>
                        <th class="c13">{{ 'City'|trans }}</th>
                        <th class="c14">{{ 'Advertisement ID'|trans }}</th>
                        <th class="c15">{{ 'Description'|trans }}</th>
                        <th class="c16">{{ 'Saved at'|trans }}</th>
                        <th class="c16">{{ 'Ends at'|trans }}</th>
                        <th class="c13">{{'Izcelt'|trans}}<span class="tooltip"></span><span class="tooltip_text">{{'Suspendisse potenti. In mattis, nisl quis suscipit dintum.'|trans}}</span></th>
                        <th class="c16">{{'Izcelt telefonos'|trans}}<span class="tooltip"></span><span class="tooltip_text">{{'Suspendisse potenti. In mattis, nisl quis suscipit dintum.'|trans}}</span></th>
                        <th class="c16">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% set highlightButton = 0 %}

                    {% for advert in pagination %}
                        {% set adv = advert %}
                        
                        {% if adv.getOnStartpage == false and adv.getIsHighlightedMobile == false %}
                            {% set highlightButton = 1 %}
                        {% endif %}

                        <tr class="{% if adv.status == 30 %} inactive {% else %}clickable{% endif %}" data-adv-id="{{ adv.publicId }}" data-adv-url-id="{{adv.getSlugOrPublicId}}">
                            <td><input class="adv-toggle" type="checkbox" data-adv-id="{{ adv.publicId }}" data-adv-status="{{ adv.status }}" {% if adv.status == 20 %}checked="checked"{% endif %}></td>
                            <td>{{ adv.title }}</td>
                            <td>{{ adv.getAdvertisementCity() }}</td>
                            <td>{{ adv.getSlugOrPublicId }}</td>
                            <td>{{ adv.description|truncate(30, "...", true) }}</td>
                            <td>{{ adv.getDateFrom()|date('d. m. Y') }}</td>
                            <td>{{ adv.getDateTo()|date('d. m. Y') }}</td>
                            
                            <td class="_alc"><input class="adv-toggle highlight" type="checkbox" data-adv-id="{{ adv.publicId }}" {% if adv.getOnStartpage == 1 %} checked="checked" disabled="disabled" {% elseif adv.status == 30 %} disabled="disabled" {% endif %}/></td>
                            <td class="_alc_mobile"><input class="adv-toggle_mobile highlight-mobile" type="checkbox" data-adv-id="{{ adv.publicId }}" {% if adv.getIsHighlightedMobile == 1 %} checked="checked" disabled="disabled" {% elseif adv.status == 30 %} disabled="disabled" {% endif %}/></td>

                            <td>
                                <a class="remove adv-remove" href="javascript:void(0);" title="{{ 'Remove'|trans }}" data-adv-id="{{ adv.publicId }}" >{{ 'Remove'|trans }}</a>
                                {% if adv.status == 20 %}
                                <a class="copy adv-copy" href="{{path('visidarbi_advertisement_copy', {'advertisementId': adv.publicId})}}" title="{{ 'Copy'|trans }}" data-adv-id="{{ adv.id }}" >{{ 'Copy'|trans }}</a>
                                <a class="edit adv-edit" href="{{path('visidarbi_advertisement_edit', {'advertisementId': adv.publicId})}}" title="{{ 'Edit'|trans }}" data-adv-id="{{ adv.id }}" >{{ 'Edit'|trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="buttons">
                            <td colspan="7">
                                {% if showAddAdvertisementButton == true %}
                                    <a href="{{ showAddAdvertisementButtonUrl }}" title="{{'Add advertisement'|trans}}" class="add_new css3"><span data-sh="{{'Add advertisement'|trans}}">{{'Add advertisement'|trans}}</span><i></i></a>
                                {% endif %}

                                    <a href="{{ url('visidarbi_advertisement_add_step1') }}" title="{{'Add new service'|trans}}" class="buy_new">{{'Add new service'|trans}}</a>
                            </td>
                            {% if highlightButton == 1 %}
                            <td class="_alc" style="display:none">
                                    <a href="javascript:void(0);" title="{{'Izcelt'|trans}}" class="adv-put-on-firstpage highlight css3 active"><span data-sh="{{'Izcelt'|trans}}">{{'Izcelt'|trans}}</span><i></i></a>
                            </td>
                            {% endif %}

                            <td></td>
                    </tr>                        
                </tbody>
            </table>
        {% if pagination|length > 0 %}        
            <section class="pager pager_2">
                {{ knp_pagination_render(pagination, 'VisiDarbiCommonBundle::pagination.html.twig') }}
            </section>
        {% endif %}
    </section>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {

            $('.adv-remove').click(function(event) {
                event.stopPropagation();
                var advId = $(this).data('adv-id');
                answer = confirm("{{ 'Are you sure want to delete this advertisement?'|trans }}");
                if (answer) {
                    $(this).parents('tr:first').fadeOut();
                    $.post('{{ url('delete_my_advertisment') }}', { 'advId': advId }, function(resp) { }, 'json' );
                }
            });

            $('.clickable').click(function(event) {
                var advId = $(this).data('adv-url-id');

                window.location = "{{path('visidarbi_advertisement_show')}}/"+advId;
            });

            $('.adv-toggle').click(function(event) {
                event.stopPropagation();
                var advId = $(this).data('adv-id');
                var advStatus = $(this).data('adv-status');

                if($(this).hasClass('highlight') == null){
                    $.post('{{ url('toggle_my_advertisment') }}', { 'advId': advId, 'advStatus': advStatus }, function(resp) { document.location.reload(true); }, 'json' );
                }
            });

            $('.highlight').click(function(event){
                event.stopPropagation();
                var hideButton = false;

                if($(this).attr('checked')){
                    $('._alc').show();
                }
                else{
                    $('.highlight:checked').each(function(index,value) {

                        if( $(this).attr('checked') && $(this).attr('disabled') ){
                            hideButton = true;
                        }
                        else if($(this).attr('checked') == undefined ){
                            hideButton = true;
                        }

                    });
                }

                if(hideButton){
                    $('tr.buttons ._alc').hide();
                }
            });
            $('.highlight-mobile').click(function(event){
                event.stopPropagation();
                if($(this).attr('checked')){
                    $('._alc').show();
                }

            });

            $('.adv-put-on-firstpage').click(function(event) {

                var ids = [];
                var ids_mobile = [];

                $('.highlight:checked').each(function(index,value) {
                    ids.push($(this).data('adv-id'));
                });

                $('.highlight-mobile:checked').each(function(index,value) {
                    ids_mobile.push($(this).data('adv-id'));
                });

                $.post(
                    '{{ url('highlight_advertisements') }}',
                    {'ids':ids, 'ids_mobile':ids_mobile},
                    function(resp) {
                        document.location="{{url('visidarbi_advertisement_highlight_fast1')}}";
                    },
                    'json'
                );
            });
        });
    </script>
    <section id="hint" class="hint css3"><section class="txt"></section></section>
{% endblock %}