* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}



@media only screen  and (max-width: 310px){
    #wrapper {

        width: 100%;
        margin: 0 auto;
    }

    #header {
        width: 100%;
        border-top: 2px solid #000;
        height: 100%;
        min-height: 38px;
        background-color: #2a2d30;
    }

    .select-country-block {
        width: 5.625%;
        top: -10px;
        position:relative;
        display: inline-block;
        margin-left: 6.25%;
    }

    .select-country-text{
        color: #f6ae01;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 11px;

    }
    .select-country-icon{
        width: 4.6875%;
        position:relative;
        display: inline-block;
        top: -6px;


    }

    .logo {
        width: 42.1875%;
        position:relative;
        display: inline-block;
        margin-left: -2.248%;
        margin-top: 5px;


    }



    .menu-icon {
        width: 13.438%;
        position:relative;
        display: inline-block;
        left:64.5%;
        top: 1px;
    }

    .select-country-image{
        width: 100%;

    }

    .logo-image{
        width: 100%;

    }

    .menu-image{
        width: 100%;

    }

    #header-bottom {
        height: 100%;
        min-height: 48px;
        background: #f6d101;
        padding-top: 13px;
        border-bottom: 3px solid #d9d9d9;
    }

    .number span {
        color: #2a2d30;
        font-size: 12px;
        font-weight: 500;
        position: relative;
        top: -4px;
        font-family: Arial, sans-serif;
    }

    .phone {
        width: 14px;
        height: 14px;
        margin-left: 26.56%;

    }

    .letter-image{
        width: 12px;
        height: 10px;
    }

    .mail {

        position: relative;
        width: 60%;
        left: 26.56%;

    }

    .mail a {
        position: relative;
        top: -1px;
        color: #2a2d30;
        font-size: 12px;
        font-weight: 400;
        font-family: Arial, sans-serif;
    }





    #content {
        height: 100%;
        min-height: 277px;
        background: #ffffff;
    }

    .input-text-block,
    .input-email-block {
        padding-top: 12px;
    }

    .input-text-block input[type="text"],
    .input-email-block input[type="email"] {
        background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
        background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 0.3125em;
        -webkit-border-radius: 0.3125em;
        font-size: 1em;
        border-radius: 0.3125em;
        border: none;
        -moz-box-shadow: 0 0 0.125em #DDDDDD;
        -webkit-box-shadow: 0 0 0.125em #DDDDDD;
        box-shadow: 0 0 0.125em #DDDDDD;
        display: block;
        height: 2.625em;
        width: 83.75%;
        margin: 0 auto;
        padding: 0 0 0 3.75%;
    }




    .input-text-block input[type="text"]:-ms-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 1.125em;
        color: #8e8e8e;
    }
    .input-text-block input[type="text"]::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 1.125em;
        color: #8e8e8e;
    }
    .input-text-block input[type="text"]:-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 1.125em;
        color: #8e8e8e;

    }
    .input-text-block input[type="text"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 1.063em;
        color: #8e8e8e;
    }


    .input-email:-ms-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 1.063em;
        color: #000000;
    }
    .input-email::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 1.063em;
        color: #000000;
    }
    .input-email:-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 1.063em;
        color: #000000;

    }
    .input-email::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 1.125em;
        color: red;
    }

    .input-text-block-big textarea {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        resize: none;
        width: 87.5%;
        margin-left: 3.75%;
        border-radius: 5px;
        font-size: 12px;
        color: #828282;
        font-family: Arial, sans-serif;
        padding-top: 7px;
        padding-left: 3.75%;
        border: 2px solid #c7c7c7;
        height: 75px;
    }



    .input-text-block-button button {
        width: 93.125%;
        padding: 0 0 0 0.625%;
        margin-left: 3.125%;
        height: 34px;
        background-color: #ec9600 ;
        background: linear-gradient(bottom, #f6ae01, #ec9600);
        background: -moz-linear-gradient(bottom,  #f6ae01,  #ec9600);
        background: -o-linear-gradient( bottom,  #f6ae01,  #ec9600);
        background: -ms-linear-gradient(bottom,  #f6ae01,  #ec9600);
        background: -webkit-linear-gradient( bottom,  #f6ae01,  #ec9600);
        border: 1px solid #c28600;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-top: 7px;
        margin-bottom: 18px;
    }

    #footer-bottom {
        height: 100%;
        min-height: 23px;
        background: #2a2d30;
        margin-top: 11px;
    }

    .copyright {
        padding-top: 1px;
        margin-left: 3.125%;
        font-size: 4px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
} /*240*/
@media only screen and (min-width: 311px) and (max-width: 460px){

    #wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #header {
        width: 100%;
        border-top: 2px solid #000;
        height: 100%;
        min-height: 50px;
        background-color:  #2a2d30;
    }

    .select-country-block {
        width: 5.625%;
        top: -13px;
        position:relative;
        display: inline-block;
        margin-left: 6.25%;
    }

    .select-country-text{
        color: #f6ae01;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 14px;

    }
    .select-country-icon{
        width: 4.6875%;
        position:relative;
        display: inline-block;
        top: -9px;

    }


    .logo {
        width: 42.1875%;
        position:relative;
        display: inline-block;
        margin-left: -2.248%;
        margin-top: 7px;

    }



    .menu-icon {
        width: 13.438%;
        position:relative;
        display: inline-block;
        left:64.5%;
        top: 1px;


    }

    .select-country-image{
        width: 100%;

    }

    .logo-image{
        width: 100%;

    }

    .menu-image{
        width: 100%;

    }

    #header-bottom {
        height: 100%;
        min-height: 58px;
        background: #f6d101;
        padding-top: 18px;
        border-bottom: 3px solid #d9d9d9;
    }

    .number span {
        color: #2a2d30;
        font-size: 17px;
        font-weight: 500;
        position: relative;
        top: -6px;
        font-family: Arial, sans-serif;
    }

    .phone {
        width: 19px;
        height: 19px;
        margin-left: 26.56%;

    }

    .mail {

        position: relative;
        top: 6px;
        left: 26.56%;
        width: 60%;
    }

    .mail a {
        position: relative;
        top: -2px;
        color: #2a2d30;
        font-size: 17px;
        font-weight: 400;
        font-family: Arial, sans-serif;
    }





    #content {
        height: 100%;
        min-height: 370px;
        background: #ffffff;
    }

    .input-text-block,
    .input-email-block {
        padding-top: 15px;
    }

    .input-text-block input[type="text"],
    .input-email-block input[type="email"] {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #c7c7c7;
        -moz-box-shadow: 0 0 2px #DDDDDD;
        -webkit-box-shadow: 0 0 2px #DDDDDD;
        box-shadow: 0 0 2px #DDDDDD;
        font-size: 17px;
        font-family: Arial, sans-serif;
        display: block;
        height: 42px;
        width: 87.5%;
        margin: 0 auto;
        padding: 0 0 0 3.75%;

    }

    .input-email-block input[type="email"]:-ms-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 17px;
        color: #000000;

    }

    .input-email-block input[type="email"]:-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 17px;
        color: #000000;

    }
    .input-email-block input[type="email"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 17px;
        color: #000000;

    }
    .input-email-block input[type="email"]::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 17px;
        color: #000000;

    }


    .input-text-block input[type="text"]:-ms-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 17px;
        color: #8e8e8e;

    }

    .input-text-block input[type="text"]::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 17px;
        color: #8e8e8e;

    }
    .input-text-block input[type="text"]:-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 17px;
        color: #8e8e8e;

    }
    .input-text-block input[type="text"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 17px;
        color: #8e8e8e;

    }

    .input-text-block-big {
        padding-top: 15px;
    }

    .input-text-block-big textarea {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        resize: none;
        width: 87.5%;
        margin-left: 3.75%;
        border-radius: 5px;
        font-size: 17px;
        color: #828282;
        font-family: Arial, sans-serif;
        padding-top: 10px;
        padding-left: 3.75%;
        border: 2px solid #c7c7c7;
        height: 100px;
    }



    .input-text-block-button button {
        width: 93.125%;
        padding: 0 0 0 0.625%;
        margin-left: 3.125%;
        height: 45px;
        background-color: #ec9600 ;
        background: linear-gradient(bottom, #f6ae01, #ec9600);
        background: -moz-linear-gradient(bottom,  #f6ae01,  #ec9600);
        background: -o-linear-gradient( bottom,  #f6ae01,  #ec9600);
        background: -ms-linear-gradient(bottom,  #f6ae01,  #ec9600);
        background: -webkit-linear-gradient( bottom,  #f6ae01,  #ec9600);
        border: 1px solid #c28600;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    #footer-bottom {
        height: 100%;
        min-height: 30px;
        background: #2a2d30;
        margin-top: 15px;
    }

    .copyright {
        padding-top: 8px;
        margin-left: 3.125%;
        font-size: 11px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*320*/
@media only screen and (min-width: 461px) and (max-width: 580px){
    #wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #header {
        width: 100%;
        border-top: 2px solid #000;
        height: 100%;
        min-height: 68px;
        background-color: #2a2d30;

    }

    .select-country-block {
        width: 5.625%;
        top: -20px;
        position:relative;
        display: inline-block;
        margin-left: 6.25%;
    }

    .select-country-text{
        color: #f6ae01;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 21px;

    }
    .select-country-icon{
        width: 4.6875%;
        position:relative;
        display: inline-block;
        top: -12px;


    }

    .logo {
        width: 42.1875%;
        position:relative;
        display: inline-block;
        margin-left: -2.248%;
        margin-top: 10px;


    }


    .menu-icon {
        width: 13.438%;
        position:relative;
        display: inline-block;
        left:64.5%;
        top: 2px;
    }
    .select-country-image{
        width: 100%;

    }

    .logo-image{
        width: 100%;

    }

    .menu-image{
        width: 100%;

    }

    #header-bottom {
        height: 100%;
        min-height: 87px;
        background: #f6d101;
        padding-top: 27px;
        border-bottom: 3px solid #d9d9d9;
    }

    .number span {
        color: #2a2d30;
        font-size: 25px;
        font-weight: 500;
        position: relative;
        top: -9px;
        font-family: Arial, sans-serif;
    }

    .phone {
        width: 28px;
        height: 28px;
        margin-left: 26.56%;

    }

    .letter-image{
        width: 24px;
        height: 19px;
    }

    .mail {

        position: relative;
        top: 9px;
        left: 26.56%;
        width: 60%;
    }

    .mail a {
        position: relative;
        top: -2px;
        color: #2a2d30;
        font-size: 25px;
        font-weight: 400;
        font-family: Arial, sans-serif;
    }





    #content {
        height: 100%;
        min-height: 555px;
        background: #ffffff;
    }

    .input-text-block,
    .input-email-block {
        padding-top: 23px;
    }

    .input-text-block input[type="text"],
    .input-email-block input[type="email"] {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        border: 1px solid #c7c7c7;
        -moz-box-shadow: 0 0 2px #DDDDDD;
        -webkit-box-shadow: 0 0 2px #DDDDDD;
        box-shadow: 0 0 2px #DDDDDD;
        font-size: 25px;
        font-family: Arial, sans-serif;
        display: block;
        height: 63px;
        width: 87.5%;
        margin: 0 auto;
        padding: 0 0 0 3.75%;

    }

    .input-email-block input[type="email"]:-ms-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 25px;
        color: #000000;

    }

    .input-email-block input[type="email"]:-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 25px;
        color: #000000;

    }
    .input-email-block input[type="email"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 25px;
        color: #000000;

    }
    .input-email-block input[type="email"]::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 25px;
        color: #000000;

    }


    .input-text-block input[type="text"]:-ms-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 25px;
        color: #8e8e8e;

    }

    .input-text-block input[type="text"]::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 25px;
        color: #8e8e8e;

    }
    .input-text-block input[type="text"]:-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 25px;
        color: #8e8e8e;

    }
    .input-text-block input[type="text"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 25px;
        color: #8e8e8e;

    }

    .input-text-block-big {
        padding-top: 23px;
    }

    .input-text-block-big textarea {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        resize: none;
        width: 87.5%;
        margin-left: 3.75%;
        border-radius: 7px;
        font-size: 25px;
        color: #828282;
        font-family: Arial, sans-serif;
        padding-top: 15px;
        padding-left: 3.75%;
        border: 2px solid #c7c7c7;
        height: 150px;
    }



    .input-text-block-button button {
        width: 93.125%;
        padding: 0 0 0 0.625%;
        margin-left: 3.125%;
        height: 68px;
        background-color: #ec9600 ;
        background: linear-gradient(bottom, #f6ae01, #ec9600);
        background: -moz-linear-gradient(bottom,  #f6ae01,  #ec9600);
        background: -o-linear-gradient( bottom,  #f6ae01,  #ec9600);
        background: -ms-linear-gradient(bottom,  #f6ae01,  #ec9600);
        background: -webkit-linear-gradient( bottom,  #f6ae01,  #ec9600);
        border: 1px solid #c28600;
        color: #fff;
        font-size: 27px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        margin-top: 15px;
        margin-bottom: 37px;
    }

    #footer-bottom {
        height: 100%;
        min-height: 45px;
        background: #2a2d30;
        margin-top: 23px;
    }

    .copyright {
        padding-top: 12px;
        margin-left: 3.125%;
        font-size: 16px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*480*/
@media only screen and (min-width: 581px) and (max-width: 720px){
    #wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #header {
        width: 100%;
        border-top: 2px solid #000;
        height: 100%;
        min-height: 90px;
        background-color: #2a2d30;
    }

    .select-country-block {
        width: 5.625%;
        top: -26px;
        position:relative;
        display: inline-block;
        margin-left: 6.25%;
    }

    .select-country-text{
        color: #f6ae01;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 28px;

    }
    .select-country-icon{
        width: 4.6875%;
        position:relative;
        display: inline-block;
        top: -18px;

    }


    .logo {
        width: 42.1875%;
        position:relative;
        display: inline-block;
        margin-left: -2.248%;
        margin-top: 14px;

    }

    .menu-icon {
        width: 13.438%;
        position:relative;
        display: inline-block;
        left:64.5%;
        top: 2px;
    }

    .select-country-image{
        width: 100%;

    }

    .logo-image{
        width: 100%;

    }

    .menu-image{
        width: 100%;

    }

    #header-bottom {
        height: 100%;
        min-height: 116px;
        background: #f6d101;
        padding-top: 36px;
        border-bottom: 3px solid #d9d9d9;
    }

    .number span {
        color: #2a2d30;
        font-size: 34px;
        font-weight: 500;
        position: relative;
        top: -12px;
        font-family: Arial, sans-serif;
    }

    .phone {
        width: 38px;
        height: 38px;
        margin-left: 26.56%;

    }

    .letter-image{
        width: 32px;
        height: 26px;
    }

    .mail {

        position: relative;
        top: 12px;
        left: 26.56%;
        width: 60%;
    }

    .mail a {
        position: relative;
        top: -4px;
        color: #2a2d30;
        font-size: 34px;
        font-weight: 400;
        font-family: Arial, sans-serif;
    }





    #content {
        height: 100%;
        min-height: 740px;
        background: #ffffff;
    }

    .input-text-block,
    .input-email-block {
        padding-top: 30px;
    }

    .input-text-block input[type="text"],
    .input-email-block input[type="email"] {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        border: 3px solid #c7c7c7;
        -moz-box-shadow: 0 0 2px #DDDDDD;
        -webkit-box-shadow: 0 0 2px #DDDDDD;
        box-shadow: 0 0 2px #DDDDDD;
        font-size: 34px;
        font-family: Arial, sans-serif;
        display: block;
        height: 84px;
        width: 87.5%;
        margin: 0 auto;
        padding: 0 0 0 3.75%;

    }

    .input-email-block input[type="email"]:-ms-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 34px;
        color: #000000;

    }

    .input-email-block input[type="email"]:-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 34px;
        color: #000000;

    }
    .input-email-block input[type="email"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 34px;
        color: #000000;

    }
    .input-email-block input[type="email"]::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 34px;
        color: #000000;

    }


    .input-text-block input[type="text"]:-ms-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 34px;
        color: #8e8e8e;

    }

    .input-text-block input[type="text"]::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 34px;
        color: #8e8e8e;

    }
    .input-text-block input[type="text"]:-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 34px;
        color: #8e8e8e;

    }
    .input-text-block input[type="text"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 34px;
        color: #8e8e8e;

    }

    .input-text-block-big {
        padding-top: 30px;
    }

    .input-text-block-big textarea {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        resize: none;
        width: 87.5%;
        margin-left: 3.75%;
        border-radius: 7px;
        font-size: 34px;
        color: #828282;
        font-family: Arial, sans-serif;
        padding-top: 20px;
        padding-left: 3.75%;
        border: 3px solid #c7c7c7;
        height: 200px;
    }



    .input-text-block-button button {
        width: 93.125%;
        padding: 0 0 0 0.625%;
        margin-left: 3.125%;
        height: 90px;
        background-color: #ec9600 ;
        background: linear-gradient(bottom, #f6ae01, #ec9600);
        background: -moz-linear-gradient(bottom,  #f6ae01,  #ec9600);
        background: -o-linear-gradient( bottom,  #f6ae01,  #ec9600);
        background: -ms-linear-gradient(bottom,  #f6ae01,  #ec9600);
        background: -webkit-linear-gradient( bottom,  #f6ae01,  #ec9600);
        border: 3px solid #c28600;
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    #footer-bottom {
        height: 100%;
        min-height: 60px;
        background: #2a2d30;
        margin-top: 15px;
    }

    .copyright {
        padding-top: 12px;
        margin-left: 3.125%;
        font-size: 22px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*640*/
@media only screen and (min-width: 721px) and (max-width: 1024px){

    #wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #header {
        width: 100%;
        border-top: 4px solid #000;
        height: 100%;
        min-height: 136px;
        background-color: #2a2d30;
    }

    .select-country-block {
        width: 5.625%;
        top: -30px;
        position:relative;
        display: inline-block;
        margin-left: 5.25%;
    }

    .select-country-text{
        color: #f6ae01;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 42px;

    }
    .select-country-icon{
        width: 4.6875%;
        position:relative;
        display: inline-block;
        left: 1.5%;
        top: -24px;


    }

    .logo {
        width: 42.1875%;
        position:relative;
        display: inline-block;
        margin-left: -2.248%;
        margin-top: 20px;


    }


    .menu-icon {
        width: 13.438%;
        position:relative;
        display: inline-block;
        left:64.5%;
        top: 4px;
    }
    .select-country-image{
        width: 100%;

    }

    .logo-image{
        width: 100%;

    }

    .menu-image{
        width: 100%;

    }


    #header-bottom {
        height: 100%;
        min-height: 174px;
        width: 100%;
        background: #f6d101;
        padding-top: 54px;
        border-bottom: 6px solid #d9d9d9;
    }

    .number span {
        color: #2a2d30;
        font-size: 35px;
        font-weight: 500;
        position: relative;
        top: -18px;
        font-family: Arial, sans-serif;
    }

    .phone {
        width: 56px;
        height: 56px;
        margin-left: 26.56%;

    }

    .letter-image{
        width: 48px;
        height: 38px;
    }

    .mail {

        position: relative;
        top: 18px;
        left: 26.56%;
        width: 60%;
    }

    .mail a {
        position: relative;
        top: -4px;
        color: #2a2d30;
        font-size: 35px;
        font-weight: 400;
        font-family: Arial, sans-serif;
    }





    #content {
        height: 100%;
        min-height: 1110px;
        background: #ffffff;
    }

    .input-text-block,
    .input-email-block {
        padding-top: 46px;
    }

    .input-text-block input[type="text"],
    .input-email-block input[type="email"] {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 3px solid #c7c7c7;
        -moz-box-shadow: 0 0 2px #DDDDDD;
        -webkit-box-shadow: 0 0 2px #DDDDDD;
        box-shadow: 0 0 2px #DDDDDD;
        font-size: 50px;
        font-family: Arial, sans-serif;
        display: block;
        height: 126px;
        width: 87.5%;
        margin: 0 auto;
        padding: 0 0 0 3.75%;

    }

    .input-email-block input[type="email"]:-ms-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 50px;
        color: #000000;

    }

    .input-email-block input[type="email"]:-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 50px;
        color: #000000;

    }
    .input-email-block input[type="email"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 50px;
        color: #000000;

    }
    .input-email-block input[type="email"]::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 50px;
        color: #000000;

    }


    .input-text-block input[type="text"]:-ms-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 50px;
        color: #8e8e8e;

    }

    .input-text-block input[type="text"]::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 50px;
        color: #8e8e8e;

    }
    .input-text-block input[type="text"]:-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 50px;
        color: #8e8e8e;

    }
    .input-text-block input[type="text"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 50px;
        color: #8e8e8e;

    }

    .input-text-block-big {
        padding-top: 46px;

    }

    .input-text-block-big textarea {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        resize: none;
        width: 87.5%;
        margin-left: 4.2%;
        border-radius: 10px;
        font-size: 50px;
        color: #828282;
        font-family: Arial, sans-serif;
        padding-top: 30px;
        padding-left: 3.75%;
        border: 3px solid #c7c7c7;
        height: 300px;
    }



    .input-text-block-button button {
        width: 93.125%;
        padding: 0 0 0 0.625%;
        margin-left: 3.6%;
        height: 136px;
        background-color: #ec9600 ;
        background: linear-gradient(bottom, #f6ae01, #ec9600);
        background: -moz-linear-gradient(bottom,  #f6ae01,  #ec9600);
        background: -o-linear-gradient( bottom,  #f6ae01,  #ec9600);
        background: -ms-linear-gradient(bottom,  #f6ae01,  #ec9600);
        background: -webkit-linear-gradient( bottom,  #f6ae01,  #ec9600);
        border: 3px solid #c28600;
        color: #fff;
        font-size: 54px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 74px;
    }

    #footer-bottom {
        height: 100%;
        min-height: 90px;
        background: #2a2d30;
        margin-top: 46px;
    }

    .copyright {
        padding-top: 24px;
        margin-left: 3.125%;
        font-size: 32px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*960*/
