* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


#wrapper {
    width: 960px;
    margin: 0 auto;
}

#header {
    border-top: 4px solid #000;
    height: 136px;
    background-color: #2a2d30;
}

.select-country-block {
    width: 5.625%;
    top: -40px;
    position:relative;
    display: inline-block;
    margin-left: 6.25%;
}

.select-country-text{
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    top: -34px;
    font-size: 42px;

}
.select-country-icon{
    width: 4.6875%;
    position:relative;
    display: inline-block;
    left: 1.5%;
    top: -24px;


}

.logo {
    width: 42.1875%;
    position:relative;
    display: inline-block;
    margin-left: -2.248%;
    margin-top: 20px;


}


.menu-icon {
    width: 13.438%;
    position:relative;
    display: inline-block;
    left:64.5%;
    top: 4px;
}
.select-country-image{
    width: 100%;

}

.logo-image{
    width: 100%;

}

.menu-image{
    width: 100%;

}


#header-bottom {
    height: 174px;
    background: #f6d101;
    padding-top: 54px;
    border-bottom: 6px solid #d9d9d9;
}

.number span {
    color: #2a2d30;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    top: -18px;
    font-family: Arial, sans-serif;
}

.phone {
    width: 56px;
    height: 56px;
    margin-left: 26.56%;

}

.letter-image{
    width: 48px;
    height: 38px;
}

.mail {

    position: relative;
    top: 18px;
    left: 26.56%;
}

.mail a {
    position: relative;
    top: -4px;
    color: #2a2d30;
    font-size: 50px;
    font-weight: 400;
    font-family: Arial, sans-serif;
}





#content {
    height: 1110px;
    background: #ffffff;
}

.input-text-block,
.input-email-block {
    padding-top: 46px;
}

.input-text-block input[type="text"],
.input-email-block input[type="email"] {
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #c7c7c7;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
    font-size: 50px;
    font-family: Arial, sans-serif;
    display: block;
    height: 126px;
    width: 87.5%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;

}

.input-email-block input[type="email"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #000000;

}

.input-email-block input[type="email"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #000000;

}
.input-email-block input[type="email"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #000000;

}
.input-email-block input[type="email"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #000000;

}


.input-text-block input[type="text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #8e8e8e;

}

.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #8e8e8e;

}
.input-text-block input[type="text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #8e8e8e;

}
.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #8e8e8e;

}

.input-text-block-big {
    padding-top: 46px;
}

.input-text-block-big textarea {
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    resize: none;
    width: 87.5%;
    margin-left: 3.438%;
    border-radius: 10px;
    font-size: 50px;
    color: #828282;
    font-family: Arial, sans-serif;
    padding-top: 30px;
    padding-left: 3.75%;
    border: 3px solid #c7c7c7;
    height: 300px;
}



.input-text-block-button button {
    width: 93.125%;
    padding: 0 0 0 0.625%;
    margin-left: 3.125%;
    height: 136px;
    background: linear-gradient(bottom, #f6ae01, #ec9600);
    background: -moz-linear-gradient(bottom,  #f6ae01,  #ec9600);
    background: -o-linear-gradient( bottom,  #f6ae01,  #ec9600);
    background: -ms-linear-gradient(bottom,  #f6ae01,  #ec9600);
    background: -webkit-linear-gradient( bottom,  #f6ae01,  #ec9600);
    border: 3px solid #c28600;
    color: #fff;
    font-size: 54px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 74px;
}

#footer-bottom {
    height: 90px;
    background: #2a2d30;
    margin-top: 46px;
}

.copyright {
    padding-top: 24px;
    margin-left: 3.125%;
    font-size: 32px;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}