* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


#wrapper {
    width: 240px;
    margin: 0 auto;
}

#header {
    border-top: 2px solid #000;
    height: 34px;
    background-color: #2a2d30;
}

.select-country-block {
    width: 5.625%;
    top: -10px;
    position:relative;
    display: inline-block;
    margin-left: 6.25%;
}

.select-country-text{
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;

}
.select-country-icon{
    width: 4.6875%;
    position:relative;
    display: inline-block;
    top: -6px;


}

.logo {
    width: 42.1875%;
    position:relative;
    display: inline-block;
    margin-left: -2.248%;
    margin-top: 5px;


}



.menu-icon {
    width: 13.438%;
    position:relative;
    display: inline-block;
    left:64.5%;
    top: 1px;
}

.select-country-image{
    width: 100%;

}

.logo-image{
    width: 100%;

}

.menu-image{
    width: 100%;

}

#header-bottom {
    height: 44px;
    background: #f6d101;
    padding-top: 13px;
    border-bottom: 3px solid #d9d9d9;
}

.number span {
    color: #2a2d30;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: -4px;
    font-family: Arial, sans-serif;
}

.phone {
    width: 14px;
    height: 14px;
    margin-left: 26.56%;

}

.letter-image{
    width: 12px;
    height: 10px;
}

.mail {

    position: relative;

    left: 26.56%;
}

.mail a {
    position: relative;
    top: -1px;
    color: #2a2d30;
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, sans-serif;
}





#content {
    height: 277px;
    background: #ffffff;
}

.input-text-block,
.input-email-block {
    padding-top: 12px;
}

.input-text-block input[type="text"],
.input-email-block input[type="email"] {
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
    font-size: 12px;
    font-family: Arial, sans-serif;
    display: block;
    height: 32px;
    width: 87.5%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;

}

.input-email-block input[type="email"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #000000;

}

.input-email-block input[type="email"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #000000;

}
.input-email-block input[type="email"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #000000;

}
.input-email-block input[type="email"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #000000;

}


.input-text-block input[type="text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #8e8e8e;

}

.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #8e8e8e;

}
.input-text-block input[type="text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #8e8e8e;

}
.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #8e8e8e;

}

.input-text-block-big {
    padding-top: 12px;
}

.input-text-block-big textarea {
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    resize: none;
    width: 87.5%;
    margin-left: 3.438%;
    border-radius: 3px;
    font-size: 12px;
    color: #828282;
    font-family: Arial, sans-serif;
    padding-top: 7px;
    padding-left: 3.75%;
    border: 2px solid #c7c7c7;
    height: 75px;
}



.input-text-block-button button {
    width: 93.125%;
    padding: 0 0 0 0.625%;
    margin-left: 3.125%;
    height: 34px;
    background: linear-gradient(bottom, #f6ae01, #ec9600);
    background: -moz-linear-gradient(bottom,  #f6ae01,  #ec9600);
    background: -o-linear-gradient( bottom,  #f6ae01,  #ec9600);
    background: -ms-linear-gradient(bottom,  #f6ae01,  #ec9600);
    background: -webkit-linear-gradient( bottom,  #f6ae01,  #ec9600);
    border: 1px solid #c28600;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-radius: 3px;
    margin-top: 7px;
    margin-bottom: 18px;
}

#footer-bottom {
    height: 23px;
    background: #2a2d30;
    margin-top: 11px;
}

.copyright {
    padding-top: 6px;
    margin-left: 3.125%;
    font-size: 9px;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}