* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


button input{
    font-size: inherit;
}

#wrapper {

    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100%;
    min-height: 2.9375em;
    background-color:  #2a2d30;
}

.authorize {
    display: inline-block;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
    padding-top: 1.214em;
    padding-left: 4.687%;
    width: 43.125%;
}

.close-image {
    position: relative;
    left:38.75%;
    top: 0.1875em;
    width: 5.625%;

}

#content {
    height: 100%;
    font-size: 1em;
    min-height: 20.94em;
    background: #3d4042;
    padding-top: 0.938em;
}



.input-text-block {
    padding-top: 0.938em;
}





.input-text-block input[type="text"],
.input-email-block input[type="email"] {
    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    font-size: 1em;
    border-radius: 0.3125em;
    border: none;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    display: block;
    height: 2.625em;
    width: 83.75%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;
}




.input-text-block input[type="text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #8e8e8e;
}
.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #8e8e8e;
}
.input-text-block input[type="text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #8e8e8e;

}
.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;
}


.input-email:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #000000;
}
.input-email::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #000000;
}
.input-email:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #000000;

}
.input-email::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #000000;
}

.button-size{
    font-size: inherit;
}

.reg-button {
    width: 87.5%;
    padding: 0 0 0 3.75%;
    margin-left: 6.25%;
    height: 2.3333em;
    background-color: #f1a100;
    border: 0.0625em solid #c28600;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-radius: 0.277em;
    margin-top: 0.833em;
    margin-bottom: 1.111em;
}

.button-g{
    display: inline-block;
    width: 48.43%;
}
.button-f{
    display: inline-block;
    width: 44.065%;
}

.google-button {
    position:relative;
    line-height: 2em;
    background-color: #d94c34;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    width: 42.19%;
    left: 6.25%;
    height: 2em;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    text-decoration: none;
}



.google-button:active {
    position: relative;
    top: 0.0714em;
}

.google-button span {
    padding-left: 10%;
}
.google-image{
    position: relative;
    left: 5.9%;
    top: 0.214em;
    width: 11.33%;
}
.facebook-image{
    position: relative;
    left: 5.9%;
    top: 0.214em;

    width: 8.89%;

}

.facebook-button {

    position:relative;
    line-height: 2em;
    background-color: #4467ac;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    width: 42.19%;
    height: 2em;
    left: 7.8%;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    text-decoration: none;
}

.facebook-button:active {
    position: relative;
    top: 0.0714em;
}

.facebook-button span {
    padding-left: 14.5%;

}

.screen {
    margin-left: 6.25%;
    margin-top: 2.1875em;
}

.screen-image{
    width: 5%;
}

.desktop-link {
    position: relative;
    top: -0.3125em;
    left: 0.9677%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer {
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
}

.copyright {
    padding-top: 0.7275em;
    margin-left: 3.125%;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}


@media screen and (min-width: 240px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }

}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;

    }


}
@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper{
        font-size: 38px;

    }


}
@media screen and (min-width: 1025px) {
    #wrapper{
        font-size: 51px;

    }


}
