* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}



@-o-viewport {
    width: device-width;
    height: device-height;

}
@-ms-viewport {
    width: device-width;

    height: device-height;

}

@media only screen  and (max-width: 310px){

    #wrapper {

        width:  100%;
        height: 100%;
        min-height: 269px;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 38px;
        background: #2a2d30;
    }

    .authorize {
        display: inline-block;
        font-size: 10px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
        padding: 11px 0 0 6.25%;
        width: 43.125%;

    }

    .close-image {
        position: relative;
        left:37%;
        top: 2px;
        width: 5.625%;



    }

    #content {
       /* height: 217px;*/
        min-height: 217px;
        background: #3d4042;
        padding-top: 10px;
    }

    .input-text-block {
        padding-top: 10px;
    }

    .input-text-block input[type="text"],
    .input-email-block input[type="email"] {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(#EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: none;
        -moz-box-shadow: 0 0 2px #DDDDDD;
        -webkit-box-shadow: 0 0 2px #DDDDDD;
        box-shadow: 0 0 2px #DDDDDD;
        display: block;
        height: 28px;
        width: 83.75%;
        margin: 0 auto;
        padding: 0 0 0 3.75%;
        border-radius: 5px;
    }

    .input-email-block input[type="email"]:-ms-input-placeholder,
    .input-email-block input[type="email"]::-webkit-input-placeholder,
    .input-text-block input[type="email"]:-moz-placeholder,
    .input-text-block input[type="email"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 12px;
        color: #000000;

    }

    .input-email-block input[type="text"]:-ms-input-placeholder,
    .input-email-block input[type="text"]::-webkit-input-placeholder,
    .input-text-block input[type="text"]:-moz-placeholder,
    .input-text-block input[type="text"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 12px;
        color: #8e8e8e;

    }

    .reg-button {
        width: 87.5%;
        padding: 0 0 0 3.75%;
        margin-left: 6.25%;
        height: 28px;
        background-color: #f1a100;
        border: 1px solid #c28600;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 13px;
    }

    .buttons{
        display: inline-block;
        width: 48.43%;
    }

    .google-button {

        line-height: 19px;
        background-color: #d94c34;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        width: 87.096%;
        margin-left: 12.9%;
        height: 19px;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-decoration: none;
    }

    .password-text {
        text-align: center;
        color: #f6ae01;
        font-size: 14px;
        font-family: Arial, sans-serif;
        margin-bottom: 20px;
    }

    .google-button:active {
        position: relative;
        top: 1px;
    }

    .google-button span {
        padding-left: 10%;
    }
    .google-image{
        position: relative;
        left: 5.9%;
        top: 2px;
        width: 11.33%;

    }
    .facebook-image{
        position: relative;
        left: 5.9%;
        top: 1px;
        width: 8.89%;


    }

    .facebook-button {


        line-height: 19px;
        background-color: #4467ac;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        width: 87.096%;
        height: 19px;
        margin-left: 3.225%;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-decoration: none;
    }

    .facebook-button:active {
        position: relative;
        top: 1px;
    }

    .facebook-button span {
        padding-left: 14.5%;

    }

    .screen {
        margin-left: 6.25%;
        margin-top: 20px;
    }
    .screen-image{
        width:5%;
    }

    .desktop-link {
        position: relative;
        top: -3px;
        left: 0.9677%;
        font-size: 10px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer {
        height: 100%;
        min-height: 20px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 8px;
        margin-left: 3.125%;
        font-size: 9px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*240*/
@media only screen and (min-width: 311px) and (max-width: 460px){
    /*width: 320px;*/

    #wrapper {

        width:  100%;
        height: 100%;
        min-height: 403px;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 50px;
        background: #2a2d30;
    }

    .authorize {
        display: inline-block;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
        padding: 17px 0 0 6.25%;
        width: 43.125%;

    }

    .close-image {
        position: relative;
        left:37%;
        top: 3px;
        width: 5.625%;

    }

    #content {
        min-height: 325px;
        background: #3d4042;
        padding-top: 15px;
    }

    .input-text-block {
        padding-top: 15px;
    }

    .input-text-block input[type="text"],
    .input-email-block input[type="email"] {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(#EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: none;
        -moz-box-shadow: 0 0 2px #DDDDDD;
        -webkit-box-shadow: 0 0 2px #DDDDDD;
        box-shadow: 0 0 2px #DDDDDD;
        display: block;
        height: 42px;
        width: 83.75%;
        margin: 0 auto;
        padding: 0 0 0 3.75%;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 18px;
        color: #000000;
    }

    .input-email-block input[type="email"]:-ms-input-placeholder,
    .input-email-block input[type="email"]::-webkit-input-placeholder,
    .input-text-block input[type="email"]:-moz-placeholder,
    .input-text-block input[type="email"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 18px;
        color: #000000;

    }

    .input-email-block input[type="text"]:-ms-input-placeholder,
    .input-email-block input[type="text"]::-webkit-input-placeholder,
    .input-text-block input[type="text"]:-moz-placeholder,
    .input-text-block input[type="text"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 18px;
        color: #8e8e8e;

    }

    .reg-button {
        width: 87.5%;
        padding: 0 0 0 3.75%;
        margin-left: 6.25%;
        height: 42px;
        background-color: #f1a100;
        border: 1px solid #c28600;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .buttons{
        display: inline-block;
        width: 48.43%;
    }

    .google-button {

        line-height: 28px;
        background-color: #d94c34;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        width: 87.096%;
        margin-left: 12.9%;
        height: 28px;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }

    .password-text {
        text-align: center;
        color: #f6ae01;
        font-size: 14px;
        font-family: Arial, sans-serif;
        margin-bottom: 30px;
    }

    .google-button:active {
        position: relative;
        top: 1px;
    }

    .google-button span {
        padding-left: 10%;
    }
    .google-image{
        position: relative;
        left: 5.9%;
        top:3px;
        width: 11.33%;

    }
    .facebook-image{
        position: relative;
        left: 5.9%;
        top: 1px;
        width: 8.89%;

    }

    .facebook-button {


        line-height: 28px;
        background-color: #4467ac;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        width: 87.096%;
        height: 28px;
        margin-left: 3.225%;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }

    .facebook-button:active {
        position: relative;
        top: 1px;
    }

    .facebook-button span {
        padding-left: 14.5%;

    }

    .screen {
        margin-left: 6.25%;
        margin-top: 35px;
    }
    .screen-image{
        width:5%;
    }

    .desktop-link {
        position: relative;
        top: -5px;
        left: 0.9677%;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer {
        height: 100%;
        min-height: 30px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 8px;
        margin-left: 3.125%;
        font-size: 11px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*320*/
@media only screen and (min-width: 461px) and (max-width: 580px){

    #wrapper {

        width:  100%;
        height: 100%;
        min-height: 605px;
        margin: 0 auto;
    }


    #header {
        height: 100%;
        min-height: 71px;
        background: #2a2d30;
    }

    .authorize {
        display: inline-block;
        font-size: 21px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
        padding: 25px 0 0 6.25%;
        width: 43.125%;
    }

    .close-image {
        position: relative;
        left:37%;
        top: 5px;
        width: 5.625%;

    }

    #content {
        min-height: 488px;
        background: #3d4042;
        padding-top: 22px;
    }

    .input-text-block {
        padding-top: 22px;
    }

    .input-text-block input[type="text"],
    .input-email-block input[type="email"] {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(#EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border: none;
        -moz-box-shadow: 0 0 2px #DDDDDD;
        -webkit-box-shadow: 0 0 2px #DDDDDD;
        box-shadow: 0 0 2px #DDDDDD;
        display: block;
        height: 63px;
        width: 83.75%;
        margin: 0 auto;
        padding: 0 0 0 3.75%;
        border-radius: 7px;
        font-family: Arial, sans-serif;
        font-size: 27px;
        color: #000000;
    }

    .input-email-block input[type="email"]:-ms-input-placeholder,
    .input-email-block input[type="email"]::-webkit-input-placeholder,
    .input-text-block input[type="email"]:-moz-placeholder,
    .input-text-block input[type="email"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 27px;
        color: #000000;

    }

    .input-email-block input[type="text"]:-ms-input-placeholder,
    .input-email-block input[type="text"]::-webkit-input-placeholder,
    .input-text-block input[type="text"]:-moz-placeholder,
    .input-text-block input[type="text"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 27px;
        color: #8e8e8e;

    }

    .reg-button {
        width: 87.5%;
        padding: 0 0 0 3.75%;
        margin-left: 6.25%;
        height: 63px;
        background-color: #f1a100;
        border: 1px solid #c28600;
        color: #fff;
        font-size: 27px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        border-radius: 7px;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .buttons{
        display: inline-block;
        width: 48.43%;
    }

    .google-button {

        line-height: 42px;
        background-color: #d94c34;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        width: 87.096%;
        margin-left: 12.9%;
        height: 42px;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 21px;
        font-weight: bold;
        text-decoration: none;
    }

    .password-text {
        text-align: center;
        color: #f6ae01;
        font-size: 21px;
        font-family: Arial, sans-serif;
        margin-bottom: 45px;
    }

    .google-button:active {
        position: relative;
        top: 1px;
    }

    .google-button span {
        padding-left: 10%;
    }
    .google-image{
        position: relative;
        left: 5.9%;
        top: 5px;
        width: 11.33%;
    }
    .facebook-image{
        position: relative;
        left: 5.9%;
        top: 1px;
        width: 8.89%;

    }

    .facebook-button {


        line-height: 42px;
        background-color: #4467ac;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        width: 87.096%;
        height: 42px;
        margin-left: 3.225%;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 21px;
        font-weight: bold;
        text-decoration: none;
    }

    .facebook-button:active {
        position: relative;
        top: 1px;
    }

    .facebook-button span {
        padding-left: 14.5%;

    }

    .screen {
        margin-left: 6.25%;
        margin-top: 53px;
    }

    .screen-image{
        width: 5%;

    }

    .desktop-link {
        position: relative;
        top: -3px;
        left: 0.9677%;
        font-size: 21px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer {
        height: 100%;
        min-height: 45px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 12px;
        margin-left: 3.125%;
        font-size: 16px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*480*/
@media only screen and (min-width: 581px) and (max-width: 720px){

    #wrapper {

        width:  100%;
        height: 100%;
        min-height: 806px;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 94px;
        background: #2a2d30;
    }

    .authorize {
        display: inline-block;
        font-size: 28px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
        padding: 34px 0 0 6.25%;
        width: 43.125%;
    }

    .close-image {
        position: relative;
        left:37%;
        top: 6px;
        width: 5.625%;

    }

    #content {
        min-height: 650px;
        background: #3d4042;
        padding-top: 30px;
    }

    .input-text-block {
        padding-top: 30px;
    }

    .input-text-block input[type="text"],
    .input-email-block input[type="email"] {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(#EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border: none;
        -moz-box-shadow: 0 0 2px #DDDDDD;
        -webkit-box-shadow: 0 0 2px #DDDDDD;
        box-shadow: 0 0 2px #DDDDDD;
        display: block;
        height: 84px;
        width: 83.75%;
        margin: 0 auto;
        padding: 0 0 0 3.75%;
        border-radius: 7px;
        font-family: Arial, sans-serif;
        font-size: 36px;
        color: #000000;
    }

    .input-email-block input[type="email"]:-ms-input-placeholder,
    .input-email-block input[type="email"]::-webkit-input-placeholder,
    .input-text-block input[type="email"]:-moz-placeholder,
    .input-text-block input[type="email"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 36px;
        color: #000000;

    }

    .input-email-block input[type="text"]:-ms-input-placeholder,
    .input-email-block input[type="text"]::-webkit-input-placeholder,
    .input-text-block input[type="text"]:-moz-placeholder,
    .input-text-block input[type="text"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 36px;
        color: #8e8e8e;

    }

    .reg-button {
        width: 87.5%;
        padding: 0 0 0 3.75%;
        margin-left: 6.25%;
        height: 84px;
        background-color: #f1a100;
        border: 1px solid #c28600;
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        border-radius: 7px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .buttons{
        display: inline-block;
        width: 48.43%;
    }

    .google-button {

        line-height: 56px;
        background-color: #d94c34;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        width: 87.096%;
        margin-left: 12.9%;
        height: 56px;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 28px;
        font-weight: bold;
        text-decoration: none;
    }

    .password-text {
        text-align: center;
        color: #f6ae01;
        font-size: 28px;
        font-family: Arial, sans-serif;
        margin-bottom: 60px;
    }

    .google-button:active {
        position: relative;
        top: 1px;
    }

    .google-button span {
        padding-left: 10%;
    }
    .google-image{
        position: relative;
        left: 5.9%;
        top:6px;
        width: 11.33%;
    }
    .facebook-image{
        position: relative;
        left: 5.9%;
        top: 2px;
        width: 8.89%;

    }

    .facebook-button {


        line-height: 56px;
        background-color: #4467ac;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        width: 87.096%;
        height: 56px;
        margin-left: 3.225%;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 28px;
        font-weight: bold;
        text-decoration: none;
    }

    .facebook-button:active {
        position: relative;
        top: 1px;
    }

    .facebook-button span {
        padding-left: 14.5%;

    }

    .screen {
        margin-left: 6.25%;
        margin-top: 70px;
    }

    .screen-image{
        width: 5%;
    }

    .desktop-link {
        position: relative;
        top: -10px;
        left: 0.9677%;
        font-size: 28px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer {
        height: 100%;
        min-height: 60px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 16px;
        margin-left: 3.125%;
        font-size: 22px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }

}/*640*/
@media only screen and (min-width: 721px) and (max-width: 1024px){
    #wrapper {

        width:  100%;
        height: 100%;
        min-height: 1210px;
        margin: 0 auto;
    }


    #header {
        height: 100%;
        min-height: 142px;
        background: #2a2d30;
    }

    .authorize {
        display: inline-block;
        font-size: 42px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
        padding: 50px 0 0 6.25%;
        width: 43.125%;
    }

    .close-image {
        position: relative;
        left:37%;
        top: 10px;
        width: 5.625%;

    }

    #content {
        min-height: 976px;
        background: #3d4042;
        padding-top: 44px;
    }

    .input-text-block {
        padding-top: 44px;
    }

    .input-text-block input[type="text"],
    .input-email-block input[type="email"] {
        background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
        background: -webkit-linear-gradient(#EEEEEE, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border: none;
        -moz-box-shadow: 0 0 2px #DDDDDD;
        -webkit-box-shadow: 0 0 2px #DDDDDD;
        box-shadow: 0 0 2px #DDDDDD;
        font-size: 42px;
        display: block;
        height: 126px;
        width: 83.75%;
        margin: 0 auto;
        padding: 0 0 0 3.75%;
        border-radius: 10px;
        font-family: Arial, sans-serif;
        color: #000000;
    }

    .input-email-block input[type="email"]:-ms-input-placeholder,
    .input-email-block input[type="email"]::-webkit-input-placeholder,
    .input-text-block input[type="email"]:-moz-placeholder,
    .input-text-block input[type="email"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 42px;
        color: #000000;

    }

    .input-email-block input[type="text"]:-ms-input-placeholder,
    .input-email-block input[type="text"]::-webkit-input-placeholder,
    .input-text-block input[type="text"]:-moz-placeholder,
    .input-text-block input[type="text"]::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 42px;
        color: #8e8e8e;

    }

    .reg-button {
        width: 87.5%;
        padding: 0 0 0 3.75%;
        margin-left: 6.25%;
        height: 126px;
        background-color: #f1a100;
        border: 1px solid #c28600;
        color: #fff;
        font-size: 54px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 60px;
    }

    .buttons{
        display: inline-block;
        width: 48.43%;
    }

    .google-button {

        line-height: 84px;
        background-color: #d94c34;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        width: 87.096%;
        margin-left: 12.9%;
        height: 84px;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 36px;
        font-weight: bold;
        text-decoration: none;
    }

    .password-text {
        text-align: center;
        color: #f6ae01;
        font-size: 42px;
        font-family: Arial, sans-serif;
        margin-bottom: 90px;
    }

    .google-button:active {
        position: relative;
        top: 2px;
    }

    .google-button span {
        padding-left: 10%;
    }
    .google-image{
        position: relative;
        left: 5.9%;
        top: 10px;
        width: 11.33%;
    }
    .facebook-image{
        position: relative;
        left: 5.9%;
        top: 2px;
        width: 8.89%;

    }

    .facebook-button {


        line-height: 84px;
        background-color: #4467ac;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        width: 87.096%;
        height: 84px;
        margin-left: 3.225%;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 36px;
        font-weight: bold;
        text-decoration: none;
    }

    .facebook-button:active {
        position: relative;
        top: 2px;
    }

    .facebook-button span {
        padding-left: 14.5%;

    }

    .screen {
        margin-left: 6.25%;
        margin-top: 106px;
    }

    .screen-image{
        width: 5%;
    }

    .desktop-link {
        position: relative;
        top: -3px;
        left: 0.9677%;
        font-size: 36px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer {
        height: 100%;
        min-height: 90px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 24px;
        margin-left: 3.125%;
        font-size: 32px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*960*/