* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    width: 320px;
    margin: 0 auto;
}

#header {
    height: 47px;
    background: #2a2d30;
}

.authorize {
    display: inline-block;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
    padding: 17px 0 0 6.25%;
}

.close-image {
    position: relative;
    left:57%;
    top: 3px;

}

#content {
    height: 325px;
    background: #3d4042;
    padding-top: 15px;
}

.input-text-block {
    padding-top: 15px;
}

.input-text-block input[type="text"],
.input-email-block input[type="email"] {
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: -webkit-linear-gradient(#EEEEEE, #FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
    display: block;
    height: 42px;
    width: 83.75%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;
    border-radius: 5px;
}

.input-email-block input[type="email"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #000000;

}

.input-email-block input[type="email"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #000000;
}

.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #8e8e8e;

}

.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #8e8e8e;
}

.reg-button {
    width: 87.5%;
    padding: 0 0 0 3.75%;
    margin-left: 6.25%;
    height: 42px;
    background-color: #f1a100;
    border: 1px solid #c28600;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.buttons{
    display: inline-block;
    width: 48.43%;
}

.google-button {

    line-height: 28px;
    background-color: #d94c34;
    -moz-border-radius: 3px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 87.096%;
    margin-left: 12.9%;
    height: 28px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.password-text {
    text-align: center;
    color: #f6ae01;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
}

.google-button:active {
    position: relative;
    top: 1px;
}

.google-button span {
    padding-left: 10%;
}
.google-image{
    position: relative;
    left: 5.9%;
    top:3px;
}
.facebook-image{
    position: relative;
    left: 5.9%;
    top: 1px;

}

.facebook-button {


    line-height: 28px;
    background-color: #4467ac;
    -moz-border-radius: 3px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 87.096%;
    height: 28px;
    margin-left: 3.225%;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.facebook-button:active {
    position: relative;
    top: 1px;
}

.facebook-button span {
    padding-left: 14.5%;

}

.screen {
    margin-left: 6.25%;
    margin-top: 35px;
}

.desktop-link {
    position: relative;
    top: -5px;
    left: 0.9677%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer {
    height: 30px;
    background: #2a2d30;
}

.copyright {
    padding-top: 8px;
    margin-left: 3.125%;
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}