* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;

}

@-ms-viewport {
    width: device-width;

}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    margin: 0 auto;
}

#header {
    height: 100%;
    min-height: 3.125em;
    background: #2a2d30;
}

.authorize-button {
    display: inline-block;
    position: relative;
    width: 44.69%;
}

.reg-button {
    margin-right: 9.09%;
    width: 77%;
    margin-left: 13.98%;
    height: 100%;
    min-height: 2.000em;
    background-color: #f1a100;
    border: 0.063em solid #c28600;
    color: #fff;
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.357em;
    -webkit-border-radius: 0.357em;
    border-radius: 0.357em;
    margin-top: 0.571em;
}

.authorize {
    display: inline-block;
    position: relative;
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    left: -0.625%;
    width: 32.875%
}

.close-image {
    position: relative;
    left: 7.81%;
    top: 0.375em;
    width: 5.625%;
}

#content-top {
    height: 100%;
    min-height: 10em;
    background: #2f3236;
}

.list-title {
    padding-top: 0.857em;
    line-height: 1.286em;
    margin-left: 6.25%;
    margin-right: 6.25%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
    margin-bottom: 1.071em;
}

li, ol {
    margin-left: 10.31%;
    color: #f6ae01;
}

li span {
    color: #d7d7d8;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    line-height: 1.857em;
}

#content-center {
    height: 100%;
    min-height: 13.750em;
    background: #3d4042;
    border-top: 0.063em solid #515355;
}

.content-line {
    border-bottom: 0.063em solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.68%;
    padding-top:0.556em;
    padding-bottom: 0.556em;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
    width: 58.5%;

}

.content-image-closed {
    position: relative;
    left: 22.8%;
    top: 0.375em;
    width: 6.875%;
}

.screen {
    margin-left: 5.31%;
    margin-top: 1.250em;
}

.screen-image {
    width: 5%;

}

.desktop-link {
    position: relative;
    top: -0.357em;
    left: 1.0%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer {
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
}

.copyright {
    padding-top: 0.727em;
    margin-left: 3.125%;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}

/*320*/
@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }

}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;

    }


}
@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper{
        font-size: 38px;

    }


}
@media screen and (min-width: 1025px) {
    #wrapper {
        font-size: 51px;

    }

}