* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}



#header {
    width: 100%;
    height: 100%;
    border-top: 0.125em solid #000;
    min-height: 5.4375em;
    background-color:  #2a2d30;
    border-bottom: 0.1875em solid #c1c1c1;
}


.select-country-block {
    width: 5.625%;
    top: -0.8125em;
    position:relative;
    display: inline-block;
    margin-left: 6.25%;


}
.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
}


.select-country-icon {
    width: 4.6875%;
    position:relative;
    display: inline-block;
    top: -0.5625em;

}

.select-country-icon-unicode {
    width: 4.6875%;
    font-size: .6em;
    position:relative;
    display: inline-block;
    top: -1.2em;
    left: -0.25em;
    color: #66696b;

}
.select-country-image {
    width: 100%;
}


.menu-icon {
    width: 13.438%;
    position:relative;
    display: inline-block;
    left:64.5%;
    top: 0.0625em;
}


.menu-image{
    width: 100%;
}


.logo {

    width: 35.156%;
    position:relative;
    display: inline-block;
    margin-left: -2.248%;
    top: -0.5em;

}


.logo-image{
    width: 100%;
}

/* second floor*/
.header-bottom{
    max-height: 47px;
    overflow: hidden;
}
.menu li{
    margin-top:0.875em;
    position:relative;
    list-style:none;
    display:inline-block;
    padding:0 2.19%;
}
.first-li{
    width: 18%;
    overflow: hidden;
    white-space: nowrap;

}
.second-li{
    width: 40%;
    overflow: hidden;
    white-space: nowrap;

}
.third-li{
    width: 23%;
    overflow: hidden;
    white-space: nowrap;

}


.menu li:after{
content:"";
display:block;
border-bottom:0.1875em solid #2a2d30;
padding-top:0.75em;;
}
.menu li.active:after{
content:"";
display:block;
border-bottom:0.1875em solid #f6ae01;
padding-top:0.75em;;
}



.menu li a{
    font-size:0.813em;
    font-weight:bold;
    text-transform:uppercase;
    color:#adaeaf;
    font-family:Arial,sans-serif;
}
li.active a{
    color:#fff;
}
#content{

}
.content-title{
    margin-top: 1.1em;;
	font-size:1.25em;
	font-family:Arial,sans-serif;
	color:#000;
	margin-left:6.25%;
}

.input-text-block,
.input-email-block {
    padding-top: 0.938em;
}

.input-text-block input[type="text"],
.input-text-block input[type="password"],
.input-email-block input[type="email"] {
    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    font-size: 1em;
    border-radius: 0.214em;
    border: 0.1em solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    display: block;
    height: 2.625em;
    width: 83.125%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;
}

.input-email-block input[type="email"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block input[type="email"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-email-block input[type="email"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-email-block input[type="email"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}


.input-text-block input[type="text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-text-block input[type="text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block input[type="password"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block input[type="password"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-text-block input[type="password"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-text-block input[type="password"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}




.input-text-block-button button {
    width: 87.5%;
    margin-left: 6.4%;
    padding: 0 0 0 0.625%;

    height: 2.5em;

    background: linear-gradient( top, #F5AD02, #EB9501);
    background: -webkit-linear-gradient(top, #F5AD02, #EB9501);
    background: -moz-linear-gradient( top, #F5AD02, #EB9501);
    background: -o-linear-gradient( top, #F5AD02, #EB9501);
    background: -ms-linear-gradient( top, #F5AD02, #EB9501);


    border: 0.056em solid #c18501;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    margin-top: 0.556em;
    margin-bottom: 3.125em;
}



#footer-top {
    width: 100%;
    height: 4.6%;
    min-height: 2.5em;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 0.625em;
    margin-left: 6.125%;
    width: 5%;
}

.info {
    display: inline-block;
    position: relative;
    left: 1.2%;
    top: -0.125em;
    width: 35%;
}

.info a {
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}
.number{
    display: inline-block;
}

.number span {

    position: relative;
    left: 4.975%;
    top: -0.125em;
    color: #fff;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.phone {
    display: inline-block;
    position: relative;
    left: 1.82%;
    top: 0.125em;
    width: 5%;
}

.letter-bottom-image {
    width: 100%;
}

#footer-bottom {
    width: 100%;
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 0.438em;
    color: #f6ae01;
    font-size: 0.813em;
    font-family: Arial, sans-serif;
}

@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper {
        font-size: 12px;

    }

}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper {
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper {
        font-size: 24px;

    }

}

@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper {
        font-size: 32px;

    }

}

@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper {
        font-size: 38px;

    }

}

@media screen and (min-width: 1025px) {
    #wrapper {
        font-size: 51px;

    }

}