    {% trans_default_domain 'email_subscription_list' %}

    {#  Main Form  #}
    {% set frequencyLabels = {
    'daily': 'Daily'|trans,
    'weakly': 'Weakly'|trans,
    'monthly': 'Monthly'|trans,

    }%}
    <form class="filter_form" action="{{ url('save_email_subscription') }}" method="POST" >
        

        <section class="clearfix">

            {#  CATEGORIES block  #}
            <section class="col">

                <label>{{ 'Category'|trans }}:</label>
                    
                    <section class="multiselect css3 scroll-pane tiny" tabindex="1">
                        <section class="scrollbar"><section class="track"><section class="thumb"><section class="end"></section></section></section></section>

                        <select multiple="multiple" name="category_ids[]" size="1" class="category_id category-selector">
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if settings.categories.contains(category) %}selected="selected"{% endif %}  >{{ category.name }}</option>
                            {% endfor %}
                        </select>

                        <section class="viewport">
                            <section class="overview">
                                <ul>
                                    {% for category in categories %}
                                        <li onclick="javascript:$('.category-selector').change();" >{{ category.name }}</li>
                                    {% endfor %}
                                </ul>
                            </section>
                        </section>
                    </section>

            </section>

            {#  PROFESSIONS block   #}
            <section class="col">
                <label>{{ 'Profession'|trans }}:</label>
                <section class="multiselect css3 scroll-pane tiny" tabindex="2">
                    <section class="scrollbar"><section class="track"><section class="thumb"><section class="end"></section></section></section></section>

                    <select multiple="multiple" name="profession_ids[]" size="1" class="profession-selector" ></select>

                    <section class="viewport">
                        <section class="overview">
                            <ul  class="professions-list" ></ul>
                        </section>
                    </section>
                </section>

            </section>

            {#  Cities block  #}
            <section class="col">
                <label>{{ 'Location'|trans }}:</label>
                <section class="multiselect css3 scroll-pane tiny has_checkall" tabindex="3">
                    <section class="scrollbar"><section class="track"><section class="thumb"><section class="end"></section></section></section></section>

                    <select multiple="multiple" name="city_ids[]" size="1">
                        {% for city in cities %}
                            <option value="city-{{ city.id }}"  {% if settings.cities.contains(city) %}selected="selected"{% endif %}  >{{ city.name }}</option>
                        {% endfor %}
                        {% for country in countries %}
                            <option value="country-{{ country.id }}"  {% if settings.countries.contains(country) %}selected="selected"{% endif %}  >{{ country.name }}</option>
                        {% endfor %}
                    </select>

                    <section class="viewport">
                        <section class="overview">
                            <ul>
                                {% for city in cities %}
                                    <li>{{ city.name }}</li>
                                {% endfor %}
                                {% for country in countries %}
                                    <li>{{ country.name }}</li>
                                {% endfor %}
                            </ul>
                        </section>
                    </section>
                    
                    <section class="overlayer css3"></section>
                    <section class="checkall css3">
                            <input  id="call1" type="checkbox" name="all_locations" />
                            <span>
                                <label for="call1">{{ 'Select all locations'|trans }}</label>
                            </span>
                    </section>
                </section>
            </section>

            {#  Cities block  #}
            <section class="col">
                <label>{{ 'Source'|trans }}:</label>
                <section class="multiselect css3 scroll-pane tiny has_checkall" tabindex="4">
                    <section class="scrollbar"><section class="track"><section class="thumb"><section class="end"></section></section></section></section>

                    <select multiple="multiple" name="source_ids[]" size="1">
                        {% for source in sources %}
                            <option value="{{ source.id }}" {% if settings.sources.contains(source) %}selected="selected"{% endif %}  >{{ source.resource }}</option>
                        {% endfor %}
                    </select>

                    <section class="viewport">
                        <section class="overview">
                            <ul>
                                {% for source in sources %}
                                    <li>{{ source.resource }}</li>
                                {% endfor %}
                            </ul>
                        </section>
                    </section>
                    
                    <section class="overlayer css3"></section>
                    <section class="checkall css3">
                            <input  id="call2" type="checkbox" name="all_sources" />
                            <span>
                                <label for="call2">{{ 'Select all sources'|trans }}</label>
                            </span>
                    </section>
                    
                </section>
            </section>

        </section>
        
        
        <section class="clearfix">
            {#  Advertisement Max Age block  #}
            <section class="col">
                <label>{{ 'Advertisement max age'|trans }}:</label>

                <section class="input standart select">
                    <div class="ef-selectbox" tabindex="5">
                        <input type="hidden" name="advertisement_max_age" value="{{ settings.advertisementMaxAge }}" tabindex="-1" />
                        <dl>
                            
                            <dt>
                                <a href="javascript:;" tabindex="-1">
                                    {% if settings.advertisementMaxAge %}
                                        <span id="{{ settings.advertisementMaxAge }}_sel">
                                            {{ '%count% days'|trans({ '%count%': settings.advertisementMaxAge }) }}
                                        </span>
                                    {% endif %}
                                </a> 
                            </dt>
                            
                            <dd>
                                <div>
                                    <ul>
                                        {% for age in ages %}
                                            <li {% if age == settings.advertisementMaxAge %}class="active"{% endif %} ><a title="{{ '%count% days'|trans({ '%count%': age }) }}" href="javascript:;" tabindex="-1"><span id='{{ age }}'>{{ '%count% days'|trans({ '%count%': age }) }}</span></a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </section>
            </section>

            {#  Keywords block  #}
            <section class="col colspan_2">
                <label>{{'Keywords'|trans}}:</label>
                <section class="input standart"> <!-- add class no_ok -->
                    <input id="in_02" type="text" title="{{ 'Keywords'|trans }}" value="{{ settings.getWhatValue() }}" name="what_value" tabindex="6" maxlength="70" />

                </section>
                <p>{{ 'Profession, industries or company'|trans }}</p>

                <label>{{ 'Place'|trans }}:</label>
                <section class="input standart"> <!-- add class no_ok -->
                    <input id="in_02" type="text" title="{{ 'Place'|trans }}" value="{{ settings.getWhereValue() }}" name="where_value" tabindex="7" maxlength="70"  />
                    
                </section>
                <p>{{ 'Country, city or state'|trans }}</p>
            </section>

            {# SENDING FREQUENCY block #}
            <section class="col">
                <label>{{ 'Email sending frequency'|trans }}:</label>

                <ul class="checkbox_list">
                    
                    {% for frequency in sendingFrequencies %}
                        {% set tabIndex = 7 + loop.index %}
                        <li>
                            <div class="ef-input checkbox">
                                <div class="inn">
                                    <input id="cb1" type="checkbox" tabindex="{{tabIndex}}" title="{{ frequencyLabels[frequency] }}" name="sending_frequency" value="{{frequency}}" {% if (settings.sendingFrequency == frequency) %}checked="checked"{% endif %}  >
                                    <label for="cb1">{{ frequencyLabels[frequency] }}</label>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>

        </section>

        {#  Action buttons block  #}
        <section class="bttn clearfix">
            <span>
                <a class="orangebutton v2 css3 submit_btn" href="javascript:;" title="{{ 'Save'|trans }}" tabindex="10"><span title="{{ 'Save'|trans }}">{{ 'Save'|trans }}</span></a>
                <a class="cancel cancel-edit-form" href="{{ url('list_email_subscription') }}" title="{{ 'Cancel'|trans }}" tabindex="11">{{ 'Cancel'|trans }}</a>
            </span>
        </section>

        <input type="hidden" name="emailSubscriptionId" value="{{ settings.id }}" />
    </form>

    <script type="text/javascript">

        var selectedProfessions = [{{ professionListIds|join(',') }}];

        {% if settings.categories|length > 0 %}
            var preloadProfessions = true;
        {%  else %}
            var preloadProfessions = false;
        {% endif %}
    </script>