{% extends 'VisiDarbiCommonBundle::user_office_base.html.twig' %}

{% trans_default_domain 'email_subscription_list' %}

{% block content %}

    {% set frequencyLabels = {
    'daily': 'Daily'|trans,
    'weakly': 'Weakly'|trans,
    'monthly': 'Monthly'|trans,
    }%}

    {# % for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor % #}
    {% set email_settings_saved = app.session.flashbag.get('email_settings_saved') %}

    {% if email_settings_saved is not empty %}
        <div class="flash-notice">
            <section class="ok_msg_box">
                <h2>{{ 'Email subscription settings saved'|trans }}</h2>
                <section>{{ 'Your preferences saved successfully.'|trans }}</section>
            </section>
        </div>
    {% endif %}


    {# % if email_settings_saved %}
        <section class="ok_msg_box">
            <h2>{{ 'Email subscription settings saved'|trans }}</h2>
            <section>{{ 'Your preferences saved successfully.'|trans }}</section>
        </section>
    {% endif % #}

    {# { include('EmailSubscription/form.html.twig', { 'article': article }) } #}

    {# % render url('email_subscription_form', { 'isNew': false }) % #}

    <section id="form_section" style="display:none">
    </section>

    {# Listing #}
    <section class="clearfix" id="listing_section">

        {% if pagination|length > 0 %}
            <table class="table subscribtion-table">
                <thead>
                    <tr>
                        <th class="c5">{{ 'Added'|trans }}</th>
                        <th class="c10">{{ 'Email message parameters'|trans }}</th>
                        <th class="c6">&nbsp;</th>
                    </tr>
                </thead>
                </thead>
                <tbody>
                    {% for subscriptionListItem in pagination %}
                    <tr>
                        <td>{{ subscriptionListItem.lastSearchedAt|date(setting('site.date_format')) }}</td>
                        <td class="trimmed">
                            {% set selectedCategoriesTitle = '' %}
                            {% set selectedProfessionsTitle = '' %}
                            {% set selectedLocationsTitle = '' %}
                            {% set selectedSourcesTitle = '' %}

                            {% set filterTitle = '' %}

                            {# Categories #}
                            {% if subscriptionListItem.categories|length > 0  %}
                                {% for cat in subscriptionListItem.categories %}
                                    {%  if not loop.first %}
                                        {% set selectedCategoriesTitle = selectedCategoriesTitle ~ ', ' %}
                                    {%  endif %}
                                    {% set selectedCategoriesTitle = selectedCategoriesTitle ~ cat.getName() %}
                                {% endfor %}

                                {% set filterTitle = 'Category'|trans ~ ': ' ~ selectedCategoriesTitle ~ '; ' %}
                            {% endif %}

                            {# Professions #}
                            {% if subscriptionListItem.professions|length > 0  %}
                                {% for prof in subscriptionListItem.professions %}
                                    {%  if not loop.first %}
                                        {% set selectedProfessionsTitle = selectedProfessionsTitle ~ ', ' %}
                                    {%  endif %}
                                    {% set selectedProfessionsTitle = selectedProfessionsTitle ~ prof.getName() %}
                                {% endfor %}

                                {% set filterTitle = filterTitle ~ 'Profession'|trans ~ ': ' ~ selectedProfessionsTitle ~ '; ' %}
                            {% endif %}

                            {# Locations #}
                            {% if subscriptionListItem.cities|length > 0  %}
                                {% for city in subscriptionListItem.cities %}
                                    {%  if not loop.first %}
                                        {% set selectedLocationsTitle = selectedLocationsTitle ~ ', ' %}
                                    {%  endif %}
                                    {% set selectedLocationsTitle = selectedLocationsTitle ~ city.getName() %}
                                {% endfor %}

                                {% set filterTitle = filterTitle ~ 'Location'|trans ~ ': ' ~ selectedLocationsTitle ~ '; ' %}
                            {% endif %}

                            {# Sources #}
                            {% if subscriptionListItem.sources|length > 0  %}
                                {% for source in subscriptionListItem.sources %}
                                    {%  if not loop.first %}
                                        {% set selectedSourcesTitle = selectedSourcesTitle ~ ', ' %}
                                    {%  endif %}
                                    {% set selectedSourcesTitle = selectedSourcesTitle ~ source.getShowAs() %}
                                {% endfor %}
                                {% set filterTitle = filterTitle ~ 'Source'|trans ~ ': ' ~ selectedSourcesTitle ~ '; ' %}
                            {% endif %}

                            {# Keywords #}

                            {% if (subscriptionListItem.getWhatValue() != '') or (subscriptionListItem.getWhereValue() != '') %}
                                {% set enteredKeywordsTitle = '' %}
                                {% set filterTitle = filterTitle ~ 'Keywords'|trans ~ ': '%}
                                {% if subscriptionListItem.getWhatValue() != '' %}
                                    {% set enteredKeywordsTitle = subscriptionListItem.getWhatValue() %}
                                {%  endif %}
                                {% if subscriptionListItem.getWhereValue() != '' %}
                                    {%  if enteredKeywordsTitle != '' %}
                                        {% set enteredKeywordsTitle = enteredKeywordsTitle ~ ', ' %}
                                    {%  endif %}
                                    {% set enteredKeywordsTitle = enteredKeywordsTitle ~ subscriptionListItem.getWhereValue() %}
                                {%  endif %}
                                {% set filterTitle = filterTitle ~ enteredKeywordsTitle ~ '; ' %}
                            {% endif %}

                            {# Frequency #}
                            {% set filterTitle = filterTitle ~ 'Email sending frequency'|trans ~ ': ' ~ frequencyLabels[subscriptionListItem.getSendingFrequency()] ~ '; ' %}

                            {# Advertisement max age #}
                            {% set filterTitle = filterTitle ~ 'Advertisement max age'|trans ~ ': ' ~ '%count% days'|trans({ '%count%': subscriptionListItem.getAdvertisementMaxAge() }) ~ '; ' %}

                            <span title="{{ filterTitle }}">{{ filterTitle }}</span>

                        </td>

                        <td>
                            <a class="remove subscribe-item-remove" href="javascript:;" title="{{ 'Remove'|trans }}" data-subscribe-id="{{ subscriptionListItem.id }}" >{{ 'Remove'|trans }}</a>
                            <a class="edit subscribe-item-edit" href="javascript:;" title="{{ 'Edit'|trans }}" data-subscribe-id="{{ subscriptionListItem.id }}" data-categories="{{ subscriptionListItem.categories|length }}">{{ 'Edit'|trans }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <section class="empty-listing-message">
                {{ 'You have no active subscriptions'|trans }}
            </section>
        {% endif %}

        <section class="button-row">
            <a href="javascript:;" title="{{'Add new subscription'|trans}}" class="add_new css3" id="add-new-subscription-btn"><span data-sh="{{'Add new subscription'|trans}}">{{'Add new subscription'|trans}}</span><i></i></a>
        </section>
        <section class="pager pager_2">
            {{ knp_pagination_render(pagination, 'VisiDarbiUserBundle:EmailSubscription:pagination.html.twig') }}
        </section>

    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/visidarbicommon/js/jquery.tinyscrollbar.min.js') }}"></script>

    <script>
        $(function() {
            if ($('.flash-notice').length){
                setTimeout(function(){
                    $('.ok_msg_box').fadeOut('slow',function(){
                        $('.flash-notice').remove();
                    });
                },4000);
            }

            $('.subscribe-item-remove').click(function(event) {
                event.preventDefault();
                
                var subscribeListItemId = $(this).data('subscribe-id');

                answer = confirm("{{ 'Are you sure want to delete?'|trans }}");
                var $link = $(this);
                if (answer) {
                    $.post('{{ url('delete_email_subscription') }}', { 'emailSubscriptionId': subscribeListItemId }, function(resp) {
                        if (resp.status == 'OK') {
                            $link.parents('tr:first').fadeOut('fast', function(){
                                $(this).remove();
                            });
                        }
                    }, 'json' );
                }
            });

            $('.subscribe-item-edit').click(function(event) {
                var $lnk = $(this);
                if ($lnk.attr('loading')) return false;
                $lnk.attr('loading',true);

                var subscribeListItemId = $(this).data('subscribe-id');
                var url = Routing.generate('edit_email_subscription');

                $.post(url, {  emailSubscriptionId: subscribeListItemId }, function(html){
                    $lnk.removeAttr('loading');
                    $('#form_section').empty().append(html).fadeIn("fast",function(){
                        initFormElements($lnk.data('categories'));
                        $('#listing_section').fadeOut("fast");
                    });
                });
            });

            $('#add-new-subscription-btn').click(function(event) {
                event.preventDefault();

                var $lnk = $(this);
                if ($lnk.attr('loading')) return false;
                $lnk.attr('loading',true);

                var url = Routing.generate('new_email_subscription');

                $.post(url, { }, function(html){
                    $lnk.removeAttr('loading');
                    $('#form_section').empty().append(html).fadeIn("fast",function(){
                        initFormElements(0);
                        $('#listing_section').fadeOut("fast");
                    });
                });
            });

            $('#form_section').on('click', '.cancel-edit-form', function(event) {
                event.preventDefault();

                $('#form_section').fadeOut("fast",function(){
                    $(this).empty();
                    $('#listing_section').fadeIn("fast");
                });

            });

        });

        var preloadProfessions = false;

        function categorySelector(id) {

            var $professionSelector = $('.profession-selector');
            var $professionsList = $('.professions-list');
            var origVal = $professionSelector.val();
            $professionSelector.empty();


            var categorySelectUrl = Routing.generate('visidarbi_advertisement_get_professions', { 'category': id });

            {#var selectedProfessions = [{{ professionListIds|join(',') }}];#}

            var selectedObj = new Object();
            if(preloadProfessions && selectedObj !== null){
                selectedObj = selectedProfessions.reduce(function(obj, k) {
                    obj[k] = k;
                    return obj;
                }, {})
            }
            else if(typeof origVal !== 'undefined' && origVal !== null){
                selectedObj = origVal.reduce(function(obj, k) {
                    obj[k] = k;
                    return obj;
                }, {})
            }

            $.post(categorySelectUrl, { }, function(availableProfessions) {

                $professionsList.html('');

                for (var i = 0; i < availableProfessions.length; i++) {


                    //Create new options
                    var $options = $('<option></option>');
                    $options.text(availableProfessions[i].name);
                    $options.attr('value', availableProfessions[i].id);

                    if(selectedObj.hasOwnProperty(availableProfessions[i].id) === true) {
                        $options.attr('selected', 'selected');
                    }

                    $professionSelector.append($options);

                    //Create List
                    var $list = $('<li></li>');

                    if(selectedObj.hasOwnProperty(availableProfessions[i].id) === true) {
                        $list.addClass('sel');
                    }

                    $list.text(availableProfessions[i].name);
                    $professionsList.append($list);


                }


                if(preloadProfessions)  {
                    preloadProfessions = false;
                }

                updateTScrollbar('prof');

            },'json');



        }

        function initFormElements(categoriesCnt){

            if (parseInt(categoriesCnt) > 0){
                preloadProfessions = true;
            }

            initSelectors();

            $('.ef-input').efumoFormElements();

            $('.input.standart').click(function(){
                if(!$('input', this).is(':disabled'))$('input', this).focus();
            });

            $('.ef-selectbox').efumoSelectbox({
                slideTime: 100
            });

            $('.submit_btn').click(function(){
                $(this).closest('form').submit();
            });

            $('input[name="sending_frequency"]').change(function() {
                var $that = $(this);
                var $form = $that.closest('form');
                $('input[name="sending_frequency"]', $form).each(function() {
                    if ($(this).val() != $that.val()) {
                        $(this).prop('checked', false);
                        $(this).parents('.ef-input:first').removeClass('checked');
                    }
                });
            });

        }
    </script>
    {% endblock %}