{% trans_default_domain "unsubscribe" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block additional_header %}
    <section class="grayheader">
        <section class="content basket clearfix">
            {% include 'VisiDarbiUserBundle:EmailSubscription:header.html.twig' %}
        </section>
    </section>
{% endblock %}
{% block body %}
    <section id="wrapper" class="no_cols clearfix">
        <section class="content clearfix">
            <section class="body">
                <form id="form" method="POST" action="" class="form_3" action="#"> <!-- add class no_ok -->

                    <section class="unsubscribe clearfix">
                        {% if isUnsubscribed %}
                            <section class="ok_msg_box">
                                <h2>{{'Unsubscription successfull:'|trans}}</h2>
                            </section>
                        {% else %}
                            <section class="txt">{{'Vai tiešām vēlaties atteikties no jaunumu saņemšanas savā e-pastā?'|trans}}</section>
                            <a class="orangebutton v2 css3" href="javascript: $('#form').submit()" title="{{'Continue'|trans}}" tabindex="58">
                                <span title="{{'Unsubscribe'|trans}}">{{'Unsubscribe'|trans}}</span>
                            </a>
                            <a class="cancel" href="{{ path('index') }}" title="title" tabindex="59">{{'Cancel'|trans}}</a>
                        {% endif %}
                    </section>

                </form>
            </section>
        </section>
    </section>
{% endblock %}

{% block afterfooter %}

    <script src="{{ asset('bundles/visidarbicommon/js/jquery.autosize.js')}}"></script>
    <script src="{{ asset('bundles/visidarbicommon/js/js.js')}}"></script>

{% endblock %}