{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.isLegal %}
            Legal person
        {% endif %}
            
        {% if object.isPrivate %}
            Private person
        {% endif %}
    </div>
{% endblock %}