{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% if object.singleRole == 'ROLE_SUPER_ADMIN' %}
        Any
    {% endif %}
        
    {% if object.singleRole == 'ROLE_ADMIN' %}
        {% for c in object.adminCountries %}
            {{ c.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
