
{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(function() {
            $('.country-selector').change(function() {
                
                var $citySelector = $('.city-selector');
                var origVal = $citySelector.val();
                
                $citySelector.empty();
                
                var url = Routing.generate('visidarbi_admin_get_cities', { 'country': $(this).val(), _sonata_admin: 'visidarbi.advertisement.admin.advertisement' });
                $.post(url, { }, function(data){
                   $citySelector.append($('<option></option>'));
                    for (var i = 0; i < data.length; i++) {
                        var $opt = $('<option></option>');
                        $opt.text(data[i].title);
                        $opt.attr('value', data[i].id);
                        
                        if (data[i].id == origVal) {
                            $opt.attr('selected', 'selected');
                        }
                        
                        $citySelector.append($opt);
                    }
                },'json');                
                
            }).change();
        });
    </script>
{% endblock %}