{% trans_default_domain "add_addadvertisement" %}
{% form_theme form _self %}




{% block radio_widget %}
{% set pimages = {

'10':  asset('bundles/visidarbicommon/images/dnb-logo.png'),
'20':  asset('bundles/visidarbicommon/images/nordea-logo.png'),
'30':  asset('bundles/visidarbicommon/images/seb-logo.png'),
'40':  asset('bundles/visidarbicommon/images/swedbank-logo.png'),
'50':  asset('bundles/visidarbicommon/images/paypal-logo.png'),

}%}

{% set pimagesAlt = {

'10':  'dnb',
'20':  'nordea',
'30':  'seb',
'40':  'swedbank',
'50':  'paypal',

}%}

{% spaceless %}
{#{dump(pimages)}#}
{% set altKey = 'payment_bank_alt_' ~ pimagesAlt[value] %}

<div class="ef-input radio {%if value==50 %}v2{%endif%}"><div class="inn">
        <input {{ block('widget_attributes') }} type="radio" {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{id}}"><img src="{{pimages[value]}}" alt="{{altKey|trans}}" /></label>
</div></div>

{#  <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />#}
{% endspaceless %}
{% endblock radio_widget %}


{% block choice_widget_expanded %}
{% spaceless %}
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}