{% extends 'VisiDarbiAdvertisementBundle:Advertisement:show.html.twig' %}
{% block body %}
<section id="wrapper" class="no_left clearfix">
        <section class="content clearfix">

                <section class="rightcol openwork" data-scrollholder="true">
                        <section data-scrollbox="true">
                                <h3>{{'Contacts'|trans}}:</h3>
                                <div>{{'Contact person'|trans}}: {{advertisement.getContactPerson().getName()}}</div>
                                <div>{{'Position'|trans}}: {{advertisement.getContactPerson().getPosition()}}</div>
                                <div>{{'E-mail'|trans}}: <a href="mailto:{{advertisement.getContactPerson().getEmail()}}" title="title">{{advertisement.getContactPerson().getEmail()}}</a></div>
                                <div>{{'Phone'|trans}}: {{advertisement.getContactPerson().getPhone()}}</div>
                                {% if advertisement.getContactPerson().getFax() %}
                                    <div>{{'Fax'|trans}}: {{advertisement.getContactPerson().getFax()}}</div>
                                {% endif %}
                                {% if advertisement.getContactPerson().getUrl() %}
                                    <div>{{'URL'|trans}}:<a href="{{advertisement.getContactPerson().getUrl()}}"> {{advertisement.getContactPerson().getUrl()}}</a></div>
                                {% endif %}

                                <section class="buttons">
                                        <section class="popup_box"></section>
                                        {% if allowSaveAdvertisement %}
                                        <a class="button css3" title="title" href="javascript: saveFavorite('{{advertisement.publicId}}');"><span id="save_{{advertisement.publicId}}" {%if ( not favorites[advertisement.id] )%}class="save"{% else %}class="saved"{%endif%}>{%if ( not favorites[advertisement.id] )%}{{'Save'|trans}}{% else %}{{'Saved'|trans}}{%endif%}</span></a>
                                        {% endif %}
                                        <a class="button css3 share" id="share_link_{{advertisement.publicId}}" data-href="{{url('visidarbi_advertisement_show', {'advertisementId': advertisement.publicId}, true)}}" data-title="{{advertisement.title}}" data-id="{{advertisement.publicId}}" title="{{'Share'|trans}}" href="#"><span class="share">{{'Share'|trans}}</span></a>
                                        <a class="button css3" title="title" href="javascript: window.print();"><span class="print">{{'Print'|trans}}</span></a>
                                </section>
                        </section>
                </section>



                <section class="body">
                        <section class="opendoc" id="openwork">
                                <section class="company clearfix">
                                        {% if advertisement.getCompany.getLogo and advertisement.getCompany.isLogoFileExists%}
                                        <section class="logo">                                            
                                            <img src="{{  asset(advertisement.getCompany.getLogoPath ~ '/' ~ advertisement.getCompany.getLogo) }}" title="{{advertisement.getCompany.getName}}" alt="{{advertisement.getCompany.getName}}" />
                                        </section>
                                        {% endif %}
                                        <h2>{{advertisement.getCompanies().getName()}}</h2>
                                        <p>{{advertisement.getCompanies().getDescription()}}</p>
                                </section>

                                <p>{{advertisement.getDescription()}}</p>

                                <h1>{{advertisement.getTitle()}}</h1>
                                {% include 'VisiDarbiAdvertisementBundle:Advertisement:show_' ~ advertisement.getFormat|lower ~ '_form.html.twig' ignore missing %}

                                <section class="term">{{'Contest terms'|trans}}: {{'till'|trans}} {{advertisement.getDateTo()|date('d.m.Y.')}}</section>
                                <section class="term" style="padding:0 0 4px 0;">{{advertisement.getCompanies().getName()}}{% if advertisement.getCompanies().getRegistrationNumber() != "" %}, {{'ad.view.company_reg_nr'|trans}}: {{advertisement.getCompanies().getRegistrationNumber()}}{% endif %}</section>
                                <section class="data">{{advertisement.getAdvertisementCountry().name}}{% if advertisement.getAdvertisementCity().name %}, {{advertisement.getAdvertisementCity().name}}{% endif %}<span class="sep"></span>{{'visidarbi.lv'|trans}} - {{advertisement.getPublishedAt|time_ago_in_words}}<span class="sep"></span>{{'ID'|trans}}: {{advertisement.publicId}}<span class="sep"></span>{{'Unique views amount'|trans}}: {{advertisement.getCount()}}</section>                           
                        </section>

                </section>



        </section>
</section>
{% endblock %}
