{% trans_default_domain "add_addadvertisement" %}

{%set fieldName = ['file_format_',l]|join%}
<section class="inputblock clearfix{%if form[fieldName].vars.errors%} no_ok{%endif%}">
    {{ form_widget(form[fieldName]) }}
    <label for="{{fieldName}}_files">{{form[fieldName].vars.label|trans({'%size%':advertisementManager.getFileFormatSize(form.vars.value.format)},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
    <section class="field">
        <div id="{{fieldName}}_files_err" class="upload_err no_ok"></div>
        <section class="fileblock">
            <div class="in"><input id="{{fieldName}}_files" class="upload-files" type="file" name="{{fieldName}}_files[]"></div>
            <label for="{{fieldName}}_files" class="button css3">{{'Load'|trans}}</label>
            <section id="{{fieldName}}_files_res" class="result clearfix">

            </section>
        </section>
    </section>
</section>
<script type="text/javascript">
    {% if( i == 1) %}
        $('.del-file-format').live('click', function() {
            var paramName = $(this).attr('id').replace('_del', '');
            $('.'+paramName+'_h').val('');
            $('#'+paramName+'_res').html('');
            return false;
        });

        function fileFormatHandler(data, paramName) {

            if(!data.result.errors) {
                if (!data.result.fileNameOrig || !(data.result.type == 'pdf' || data.result.type == 'image')) {
                    return;
                }

                var delLink = '<a href="#" id="'+paramName+'_del" class="delete del-file-format" title="{{'Delete'|trans}}">{{'Delete'|trans}}</a>';
                if (data.result.thumb != '') {
                    $('#'+paramName+'_res').addClass('image');
                    $('#'+paramName+'_res').html('<section class="img"><img src="/'+data.result.thumb+'"/></section><section class="afterimg">'+data.result.fileNameOrig + '<br>' + delLink+'</section>');
                } else {
                    $('#'+paramName+'_res').removeClass('image');
                    $('#'+paramName+'_res').html(data.result.fileNameOrig + delLink);
                }
                $('.'+paramName+'_h').val(data.result.fileNameOrig);
                $('#'+paramName+'_err').html('');
            } else {
                $('.'+paramName+'_h').val('');
                $('#'+paramName+'_res').html('');
                $('#'+paramName+'_err').html(data.result.errors);
            }

        }
        $(document).ready(function() {
            $('.upload-files').fileupload({
                url: '{{path('visidarbi_advertisement_add_step3_upload')}}',
                dataType: 'json',
                submit: function (e, data) {
                    data.formData = {format:'{{ form.vars.value.format }}', param_name : data.paramName};
                },
                done: function (e, data) {
                    var paramName = data.formData.param_name.replace('[]', '');
                    fileFormatHandler(data, paramName);
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    {% endif %}
    $(document).ready(function() {
        fileFormatHandler({{ advertisementManager.getFormFormatFileData(form.vars.value.format, form.vars.value.format_files, l)|raw }}, '{{ ['file_format_',l, '_files']|join }}');
    });


</script>