{% trans_default_domain "add_addadvertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbicommon/css/jquery.fileupload.css') }}">
{% endblock %}
{% block additional_header %}
<section class="grayheader">
    <section class="content basket clearfix">
        {% include 'VisiDarbiAdvertisementBundle:AddAdvertisement:stepheader.html.twig' %}
        <section class="tabsbox" data-scrollholder="true">
                <section class="tabs tabsmenu" data-scrolltabs="true" data-tabmenu="tabgroup1">
                        <ul>
                                {% set i = 1 %}
                                {% for l in locales %}
                                <li {% if i == 1%}class="active" {%endif%}><h2><a {% if i == 1%}class="active" {%endif%} data-call="tab{{i}}" href="#" title="{{l}}">{{l}}</a></h2></li>
                                {% set i = i + 1 %}
                                {% endfor %}
                        </ul>
                        <section class="shadow"><div class="css3"></div></section>
                </section>
        </section>
    </section>
</section>
{% endblock %}
{% block body %}

<section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
        <section class="body">
            <section class="tabsgroup v2 clearfix" data-speed="800" data-animation="slide" data-tabgroups="tabgroup1" data-heightresize="true">
                <section class="tabscontent clearfix">
                    <form id="form" class="{%if form.vars.errors or form.company.vars.errors or form.contavt_peron.vars.errors%}no_ok{%endif%}"  action="{{ path('visidarbi_advertisement_add_step3') }}" method="post" {{ form_enctype(form) }} enctype='multipart/form-data' >
                     {% set i = 0 %}
                     {% for l in locales %}
                        {% set i = i + 1 %}
                    <section class="tab clearfix" data-tabid="tab{{i}}">
                        <section class="form form_3 {%if form.vars.errors or form.company.vars.errors or form.contavt_peron.vars.errors%}no_ok{%endif%}" action="#"> <!-- add class no_ok -->
                            <section class="section clearfix">
                                <h3>{{'Company data'|trans}}</h3>
                                {% if i==1 %}
                                    <section class="upload">
                                        <section >
                                            <div class="file">

                                                {#<input onchange="checkFile()" type="file" name="image" id="originFile" />#}
                                            </div>

                                            {% if not logo.logo %}
                                                <section id="logo"><div>{{'logotips'|trans}}</div></section>
                                            {% else %}
                                                <section id="logo"><img src="/{{logo.logo}}"/></section>
                                            {% endif %}
                                            <div id="uploadError" class="upload_err no_ok"></div>
                                            <div class="fileblock" style="width: 100%">
                                                <div class="in"><input id="fileupload" type="file" name="files[]" multiple></div>
                                                <label for="fileupload" class="button css3" style="display: block">{{'Load'|trans}}</label>
                                            </div>
                                            <div class="delete"><a id="deleteLink" title="{{'Delete'|trans}}" href="javascript: deleteLogo();" tabindex="1">{{'Delete'|trans}}</a></div>
                                        </section>

                                    </section>
                                {% endif %}
                                <section class="inputblock clearfix">
                                    {%set fieldName = ['title_',l]|join%}
                                    <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}{%if i == 1 %}<b>*</b>{%endif%}{%endif%}</label>
                                    <section class="input standart{%if form[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                        {{ form_widget(form[fieldName])}}
                                    </section>
                                </section>

                                {% if i==1 %}
                                    <section class="inputblock clearfix">
                                        {%set fieldName = 'name'%}
                                        <label for="{{form.company[fieldName].vars.id}}">{{form.company[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                                        <section class="input standart {%if form.company[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                            {{ form_widget(form.company[fieldName])}}
                                        </section>
                                    </section>
                                    <section class="inputblock clearfix">
                                        {%set fieldName = 'registration_number'%}
                                        <label for="{{form.company[fieldName].vars.id}}">{{form.company[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                                        <section class="input standart {%if form.company[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                            {{ form_widget(form.company[fieldName])}}
                                        </section>
                                    </section>
                                {% endif %}
                                <section class="inputblock clearfix">
                                    {%set fieldName = ['description_',l]|join%}
                                    <label for="{{form.company[fieldName].vars.id}}">{{form.company[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                                    <section class="field">
                                        <section class="input textarea css3 {%if form.company[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                            {{ form_widget(form.company[fieldName], { 'attr': {' data-autosize': "true"} })}}
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section class="section clearfix">
                                <h3>{{'Vacancy data'|trans}}</h3>
                                {% include 'VisiDarbiAdvertisementBundle:AddAdvertisement:step3_' ~ form.vars.value.format|lower ~ '_form.html.twig' ignore missing %}
                                {% if i==1 %}
                                <section class="inputblock clearfix">
                                    {%set fieldName = ['date_1']|join%}
                                    <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                                    <section class="input standart calendar interval {%if form[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                        <span class="from"></span><span class="to">&nbsp;-&nbsp;</span>
                                        {{ form_widget(form[fieldName], { 'attr': {' readonly': "true"} })}}
                                    </section>
                                </section>
                                {% endif %}
                            </section>
                            <section class="section clearfix">
                                <h3>{{'Contact person'|trans}}</h3>
                                {% if i==1 %}
                                <section class="inputblock clearfix">
                                    {%set fieldName = ['name']|join%}
                                    <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                                    <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                        {{ form_widget(form.contact_person[fieldName])}}
                                    </section>
                                </section>
                                {% endif %}
                                <section class="inputblock clearfix">
                                    {%set fieldName = ['position_',l]|join%}
                                    <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}{%endif%}</label>
                                    <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                        {{ form_widget(form.contact_person[fieldName])}}
                                    </section>
                                </section>
                                {% if i==1 %}
                                <section class="inputblock clearfix">
                                    {%set fieldName = ['email']|join%}
                                    <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                                    <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                         {{ form_widget(form.contact_person[fieldName])}}
                                    </section>
                                </section>
                                {% endif %}
                                {% if i==1 %}
                                <section class="inputblock clearfix">
                                    {%set fieldName = ['phone']|join%}
                                    <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                                    <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                        {{ form_widget(form.contact_person[fieldName])}}
                                    </section>
                                </section>


                                <section class="inputblock clearfix">
                                    {%set fieldName = ['fax']|join%}
                                    <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}{%endif%}</label>
                                    <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                        {{ form_widget(form.contact_person[fieldName])}}
                                    </section>
                                </section>

                                <section class="inputblock clearfix">
                                    {%set fieldName = ['url']|join%}
                                    <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}{%endif%}</label>
                                    <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                        {{ form_widget(form.contact_person[fieldName])}}
                                    </section>
                                </section>
                                <section class="inputblock clearfix">
                                    {%set fieldName = ['legal_address']|join%}
                                    <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                                    <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                        {{ form_widget(form.contact_person[fieldName])}}
                                    </section>
                                </section>
                                <section class="inputblock clearfix">
                                    {%set fieldName = ['actual_address']|join%}
                                    <label for="{{form.contact_person[fieldName].vars.id}}">{{form.contact_person[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
                                    <section class="input standart{%if form.contact_person[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
                                        {{ form_widget(form.contact_person[fieldName])}}
                                    </section>
                                </section>
																{%endif%}
                            </section>

                        </section>
                    </section>
                   {% endfor %}
                    {{form_row(form.date_from)}}
                    {{form_row(form.date_to)}}
                    {{form_row(form.deleted_logo)}}
                    {{form_row(form._token)}}
                    </form>
                </section>

            </section>
        </section>
                            <section class="bttn form_bttn clearfix">
                                {% for field in form%}
                                    {% for error in field.vars.errors%}
                                    <div class="no_ok">{{error.getMessage}}</div>
                                    {% endfor %}

                                    {% for subfield in field%}
                                        {% for error in subfield.vars.errors%}
                                        <div class="no_ok">{{error.getMessage}}</div>
                                        {% endfor %}
                                    {% endfor %}

                                {% endfor %}
                                {#% for field in form.company%}
                                    {% for error in field.vars.errors%}
                                    <div class="no_ok">{{error.getMessage|trans}}</div>
                                    {% endfor %}
                                {% endfor %}
                                {% for field in form.contact_person%}
                                    {% for error in field.vars.errors%}
                                    <div class="no_ok">{{error.getMessage|trans}}</div>
                                    {% endfor %}
                                {% endfor %#}


                                <a class="orangebutton css3 sidebutton" href="javascript: $('#form').submit()" title="{{'Continue'|trans}}" tabindex="58"><span title="{{'Add advertisement'|trans}}">{{'Add advertisement'|trans}}</span></a>
                                <a class="cancel" href="{{ path('visidarbi_advertisement_add_step_format') }}" title="{{'Back'|trans}}" tabindex="60">{{'Back'|trans}}</a>
                                <div class="button-2nd-row">
                                    <a id="ad-preview-lnk" class="preview" target="_blank" href="{{ path('visidarbi_advertisement_add_preview') }}" title="{{'ad.add.step4.preview'|trans}}" loading-title="{{'ad.add.step4.generating_preview'|trans}}" tabindex="59">{{'ad.add.step4.preview'|trans}}</a>
                                </div>
                            </section>
    </section>
</section>
</section>

{% endblock %}

{% block afterfooter %}
<section id="hint" class="hint css3"><section class="txt"></section></section>
   {#
    <section id="helper">
        <a href="#" title="{{'Svarīgi zināt'|trans}}" class="orangebutton css3 infobutton"><span title="{{'Svarīgi zināt'|trans}}">{{'Svarīgi zināt'|trans}}</span></a>
        <section class="helppop css3">
            <a href="#" title="{{'Close'|trans}}" class="close">x</a>
            <p>{{ 'Good to know hint text'|trans }}</p>
        </section>
    </section>
    #}
{#<script src="{{ asset('bundles/visidarbicommon/js/jquery.min.v1.7.2.js')}}"></script>#}
<script src="{{ asset('bundles/visidarbicommon/js/jquery.autosize.js')}}"></script>
<script src="{{ asset('bundles/visidarbicommon/js/jquery-ui-1.10.3.custom.min.js')}}"></script>

<script src="{{ asset('bundles/visidarbicommon/js/jquery.fileupload.js')}}"></script>
<script src="{{ asset('bundles/visidarbicommon/js/jquery.iframe-transport.js')}}"></script>




{#<script src="{{ asset('bundles/visidarbicommon/js/js.js')}}"></script>#}
{#<script src="/js/jquery.form.js"></script>#}

<script type="text/javascript">

    {% if not logo.logo %}
    $('#deleteLink').hide();
    {% else %}
        {#$('#logo').html('<img src="{{ image(logo.logo).resize(84,84).fillBackground.jpeg }}"/>');#}
    {% endif %}

    $(function () {

        function logoHandler(data) {
            if(!data.result.errors) {
                $('#logo').html('<img src="/'+data.result.logo+'"/>');
                $('#deleteLink').show();
                $('.deleted-logo').val(0);
                $('#uploadError').html('');
            } else {
                $('#uploadError').html(data.result.errors);
            }
        }

        $('#fileupload').fileupload({
            url: '{{path('visidarbi_advertisement_add_step3_upload')}}',
            dataType: 'json',
            submit: function (e, data) {
                data.formData = {format:'{{ form.vars.value.format }}', param_name : data.paramName};
            },
            done: function (e, data) {
                logoHandler(data);
            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');


        /**
         auto-copy legal address to actual address for guests and for regitered without any previous ads added
         */
        var $legalAddress = $('#{{form.contact_person['legal_address'].vars.id}}');
        var $actualAddress = $('#{{form.contact_person['actual_address'].vars.id}}');

        var isGuest = {% if not is_granted('ROLE_USER') %}true{% else %}false{% endif %};
        var previousContactPersonDataFound = {% if previousContactPersonDataFound %}true{% else %}false{% endif %};

        $legalAddress.on('change blur',function(){
          if ( isGuest || ! previousContactPersonDataFound ){
            var legalAddressValue = $.trim($(this).val());
            if (legalAddressValue !==""){
                $actualAddress.val(legalAddressValue);
            }
          }

        });



        $('#ad-preview-lnk').on('click', function(e){
            e.preventDefault();

            var $lnk = $(this);
            var $form = $('#form');

            $lnk.text($lnk.attr('loading-title')).css('color','#888');

            if (typeof CKEDITOR !== "undefined") {
                $( '#addadvertisementstep3_content_lv' ).html(CKEDITOR.instances['addadvertisementstep3_content_lv'].getData());
                $( '#addadvertisementstep3_content_en' ).html(CKEDITOR.instances['addadvertisementstep3_content_en'].getData());
                $( '#addadvertisementstep3_content_ru' ).html(CKEDITOR.instances['addadvertisementstep3_content_ru'].getData());
            }


            var url = $lnk.attr('href');
            $.ajax({
                type: 'post',
                url: url,
                data: $form.serialize()
            }).done(function (json) {
                $('.form_bttn .no_ok').remove();
                $('.input.no_ok').removeClass('no_ok');
                if (typeof json.error.messages !== "undefined" && json.error.messages.length){

                    for (i in json.error.messages){
                        $('#'+json.error.fieldIds[i]).closest('.input').addClass('no_ok');
                       $('.form_bttn').prepend('<div class="no_ok">'+json.error.messages[i]+'</div>');
                    }

                } else {

                    var win = window.open('', 'previewWnd');
                    win.location.href=url;
                }
            }).always(function(){
               $lnk.text($lnk.attr('title')).css('color','');
            });

        });
    });

    function deleteLogo(){
        $('#logo').html('');
        $('#deleteLink').hide();
        $('.deleted-logo').val(1);
    }

</script>
    {% block fileformat %}{% endblock %}
{% endblock %}
