{% trans_default_domain "add_addadvertisement" %}
<section class="inputblock clearfix">
    {%set fieldName = ['description_',l]|join%}
    <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>

    <section class="field">
        <section class="input textarea css3 {%if form[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
            {{ form_widget(form[fieldName], { 'attr': {' data-autosize': "true"} })}}
        </section>
    </section>
</section>
<section class="inputblock clearfix">
    {%set fieldName = ['duty_',l]|join%}
    <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}<span class="tooltip"></span><span class="tooltip_text">{{'Duties tooltip text'|trans}}</span></label>
    {% set counter=0 %}
    {% for itemField in form[fieldName]%}
        <section class="input standart{%if itemField.vars.errors%} no_ok{%endif%} added"> <!-- add class no_ok -->
            {% if l == defaultLocale %}
                {% set attr = {'data-clone': "true",  'data-index': "1", 'data-nr' : ""~counter~"", 'data-name': 'addadvertisementstep3[duty_' ~l~ ']', 'data-id': 'addadvertisementstep3_duty_'~l~'_'} %}
                <a class="deletethis" href="#" title="title">Remove</a>
            {% else %}
                {% set attr = {'data-index': "1", 'data-nr' : ""~counter~"", 'data-name': 'addadvertisementstep3[duty_' ~l~ ']', 'data-id': 'addadvertisementstep3_duty_'~l~'_'} %}
            {% endif %}
            {{ form_widget(itemField, { 'attr': attr })}}
        </section>
        {% set counter = counter+1 %}
    {% endfor %}
</section>
<section class="inputblock clearfix">
    {%set fieldName = ['requirement_',l]|join%}
    <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}<span class="tooltip"></span><span class="tooltip_text">{{'Requirements tooltip text'|trans}}</span></label>
    {% set counter=0 %}
    {% for itemField in form[fieldName]%}
        <section class="input standart{%if itemField.vars.errors%} no_ok{%endif%} added"> <!-- add class no_ok -->
            {% if l == defaultLocale %}
                {% set attr = {'data-index': "2", 'data-nr' : ""~counter~"", 'data-clone': "true", 'data-name': 'addadvertisementstep3[requirement_' ~l~ ']', 'data-id': 'addadvertisementstep3_requirement_'~l~'_'} %}
                <a class="deletethis" href="#" title="title">Remove</a>
            {% else %}
                {% set attr = {'data-index': "2", 'data-nr' : ""~counter~"", 'data-name': 'addadvertisementstep3[requirement_' ~l~ ']', 'data-id': 'addadvertisementstep3_requirement_'~l~'_'} %}
            {% endif %}
            {{ form_widget(itemField, { 'attr': attr })}}
        </section>
        {% set counter = counter+1 %}
    {%endfor%}
</section>
<section class="inputblock clearfix">
    {%set fieldName = ['offer_',l]|join%}
    <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}<span class="tooltip"></span><span class="tooltip_text">{{'Offers tooltip text'|trans}}</span></label>
    {% set counter=0 %}
    {% for itemField in form[fieldName]%}
        <section class="input standart{%if itemField.vars.errors%} no_ok{%endif%} added"> <!-- add class no_ok -->

            {% if l == defaultLocale %}
                {% set attr = {'data-index': "3", 'data-nr' : ""~counter~"", 'data-clone': "true", 'data-name': 'addadvertisementstep3[offer_' ~l~ ']', 'data-id': 'addadvertisementstep3_offer_'~l~'_'} %}
                <a class="deletethis" href="#" title="title">Remove</a>
            {% else %}
                {% set attr = {'data-index': "3", 'data-nr' : ""~counter~"", 'data-name': 'addadvertisementstep3[offer_' ~l~ ']', 'data-id': 'addadvertisementstep3_offer_'~l~'_'} %}
            {% endif %}


            {{ form_widget(itemField, { 'attr': attr })}}
        </section>
        {% set counter = counter+1 %}
    {%endfor%}
</section>
<section class="inputblock clearfix">
    {%set fieldName = ['additional_description_',l]|join%}
    <label for="{{form[fieldName].vars.id}}">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
    <section class="field">
        <section class="input textarea css3{%if form[fieldName].vars.errors%} no_ok{%endif%}"> <!-- add class no_ok -->
            {{ form_widget(form[fieldName], { 'attr': {' data-autosize': "true"} })}}
        </section>
    </section>
</section>