{% trans_default_domain "add_addadvertisement" %}

{%set fieldName = ['file_format_',l]|join%}
<section class="inputblock clearfix{%if form[fieldName].vars.errors%} no_ok{%endif%}">
    {{ form_widget(form[fieldName]) }}
    <label for="{{fieldName}}_files">{{form[fieldName].vars.label|trans({},'messages')}}:{%if i == 1 %}<b>*</b>{%endif%}</label>
    <section class="field">
        <div id="{{fieldName}}_files_err" class="upload_err no_ok"></div>
        <section class="fileblock" id="{{fieldName}}_files_box">
            <div class="in"><input id="{{fieldName}}_files" class="upload-files" type="file" name="{{fieldName}}_files[]"></div>
            <label for="{{fieldName}}_files" class="button css3">{{'Load'|trans}}</label>
        </section>
    </section>
</section>
{% if( i == 1) %}
    {% macro html_image_prototype(item, attr, format_files) %}
        {% if item.get('prototype') %}
            {% set form = item.get('prototype') %}
            {% set name = item.get('prototype').get('name') %}
            {% set data_nr = name %}
            {% set locale = '__locale__' %}
            {% set thumb = '__thumb__' %}
            {% set value = '__value__' %}
        {% else %}
            {% set form = item %}
            {% set name = item.get('full_name') %}
            {% set locale = attr['data-locale'] %}
            {% set data_nr = attr['data-nr'] %}
            {% set value = form.vars.value %}
            {% if  format_files[locale]['html_image'][attr['data-nr']]['thumb'] %}
                {% set thumb = format_files[locale]['html_image'][attr['data-nr']]['thumb'] %}
            {% else %}
                {% set thumb = '' %}
            {% endif %}
        {% endif %}
        {% spaceless %}
        <section data-content="res_html_image_{{ locale }}_{{ data_nr }}" {% if value is empty %}style="display:none"{% endif %}class="result image clearfix">
            {{ form_widget(form) }}
            {% if thumb %}
                <section class="img"><img src="/{{ thumb }}" alt="" /></section>
            {% endif %}
            <section class="afterimg">
                {{ value }}
                <br>
                <a href="#" class="delete del-img-file" data-related="res_html_image_{{ locale }}_{{ data_nr }}" title="{{'Delete'|trans}}">{{'Delete'|trans}}</a>
            </section>
        </section>
        {% endspaceless %}
    {% endmacro %}
{% endif %}

{%set fieldName = ['html_image_',l]|join%}
<section class="inputblock clearfix{%if form[fieldName].vars.errors%} no_ok{%endif%}">
    <label for="{{fieldName}}_files">{{form[fieldName].vars.label|trans({},'messages')}}:</label>
    <section class="field">
        <div id="{{fieldName}}_files_err" class="upload_err no_ok"></div>
        <section class="fileblock" id="{{fieldName}}_files_box" data-prototype="{{ _self.html_image_prototype(form[fieldName], {'data-locale':l}, form.vars.value.format_files)|e }}">
            <div class="in"><input id="{{fieldName}}_files" class="upload-files" type="file" name="{{fieldName}}_files[]" multiple></div>
            <label for="{{fieldName}}_files" class="button css3">{{'Load'|trans}}</label>
            {% set counter=0 %}
            {% for itemField in form[fieldName]%}
                {% set attr = {'data-locale':l, 'data-index': "2", 'data-nr' : ""~counter~"", 'data-name': 'addadvertisementstep3[html_image_' ~l~ ']', 'data-id': 'addadvertisementstep3_html_image_'~l~'_'} %}
                {{ _self.html_image_prototype(itemField, attr, form.vars.value.format_files) }}
                {% set counter = counter+1 %}
            {%endfor%}
        </section>
    </section>
</section>

<script type="text/javascript">
    {% if( i == 1) %}
    $('.del-file-format').live('click', function() {
        var paramName = $(this).attr('id').replace('_del', '');
        $('.'+paramName+'_h').val('');
        $('#'+paramName+'_res').hide();
        $('#'+paramName+'_res').html('');
        return false;
    });

    $('.del-img-file').live('click', function() {
        var name = $(this).attr('data-related');
        $('*[data-content="'+name+'"] input').val('');
        $('*[data-content="'+name+'"]').hide();
        return false;
    });

    function fileFormatHandler(data, paramName) {

        if(!data.result.errors) {
            if (!data.result.fileNameOrig || data.result.type != 'html') {
                return;
            }

            var delLink = '<a href="#" id="'+paramName+'_del" class="delete del-file-format" title="{{'Delete'|trans}}">{{'Delete'|trans}}</a>';
            var html = '';
            if (data.result.thumb != '') {
                $('#'+paramName+'_res').addClass('image');
                html = '<section class="img"><img src="/'+data.result.thumb+'"/></section><section class="afterimg">'+data.result.fileNameOrig + '<br>' + delLink+'</section>';
            } else {
                $('#'+paramName+'_res').removeClass('image');
                html = data.result.fileNameOrig + delLink;
            }

            if (!$('#'+paramName+'_res').length) {
                $('#'+paramName+'_box').append('<section id="'+paramName+'_res" class="result clearfix">'+html+'</section>');
            } else {
                $('#'+paramName+'_res').html(html);
                $('#'+paramName+'_res').show();
            }
            $('.'+paramName+'_h').val(data.result.fileNameOrig);
            $('#'+paramName+'_err').html('');
        } else {
            $('.'+paramName+'_h').val('');
            $('#'+paramName+'_res').html('');
            $('#'+paramName+'_err').html(data.result.errors);
        }

    }

    function htmlImageHandler(data, paramName) {
        if(!data.result.errors) {
            if (!data.result.fileNameOrig || data.result.type != 'image') {
                return;
            }
            var collectionHolder = $('#'+paramName+'_box');
            var prototype = collectionHolder.attr('data-prototype');
            var index = $('#'+paramName+'_box section.result').length;
            var form = prototype
                    .replace(/__name__/g, index)
                    .replace(/__locale__/g, data.result.locale)
                    .replace(/__thumb__/g, data.result.thumb)
                    .replace(/__value__/g, data.result.fileNameOrig);
            collectionHolder.append(form);
            $('*[data-content="res_html_image_'+data.result.locale+'_'+index+'"] input').val(data.result.fileNameOrig);
        } else {
            $('#'+paramName+'_err').html(data.result.errors);
        }
    }

    $(document).ready(function() {
        $('.upload-files').fileupload({
            url: '{{path('visidarbi_advertisement_add_step3_upload')}}',
            dataType: 'json',
            submit: function (e, data) {
                data.formData = {format:'{{ form.vars.value.format }}', param_name : data.paramName};
                if (data.paramName.indexOf('html_image_') >= 0) {
                    data.formData.format = 'html_image';
                }
            },
            done: function (e, data) {
                var paramName = data.formData.param_name.replace('[]', '');
                if (data.formData.param_name.indexOf('html_image_') >= 0) {
                    htmlImageHandler(data, paramName);
                } else {
                    fileFormatHandler(data, paramName);
                }

            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
    {% endif %}
    $(document).ready(function() {
        fileFormatHandler({{ advertisementManager.getFormFormatFileData(form.vars.value.format, form.vars.value.format_files, l)|raw }}, '{{ ['file_format_',l, '_files']|join }}');
    });


</script>
