{% trans_default_domain "add_addadvertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block additional_header %}
<section class="grayheader">
    <section class="content basket clearfix">
    {% include 'VisiDarbiAdvertisementBundle:AddAdvertisement:stepheader.html.twig' %}
    </section>
</section>
{% endblock %}
{% block body %}

<section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
        <section class="body">
            <form id="form" class="filter_form v2 {%if form.vars.errors%}no_ok{%endif%}"  action="{{ path('visidarbi_advertisement_add_step2') }}" method="post" {{ form_enctype(form) }}>
                <section class="clearfix">
                    <section class="col">
                        <label>{{ form.category.vars.label|trans({},'messages') }}:</label>
                        <section class="multiselect css3 scroll-pane{%if form.category.vars.errors%} no_ok{%endif%}"  data-maxselect="3" tabindex="1">
                            <section class="scrollbar"><section class="track"><section class="thumb"><section class="end"></section></section></section></section>
                            {{ form_widget(form.category, {'attr': {'multiple': "multiple", 'name': "multiselect_1", 'size': "1", 'class': 'category-selector'} }) }}

                            <section class="viewport">
                                <section class="overview" style="top: 0px;">
                                    <ul>
                                        {% for i in form.category.vars.choices %}
                                        <li onclick="javascript:$('.category-selector').change();">{{i.label}}</li>
                                        {% endfor %}
                                    </ul>
                                </section>
                             </section>
                        </section>
                    </section>
                    <section class="col">
                        <label>{{ form.profession.vars.label|trans({},'messages') }}:</label>
                        <section class="multiselect css3 scroll-pane {%if form.profession.vars.errors%} no_ok{%endif%}"  data-maxselect="3" tabindex="2">
                            <section class="scrollbar "><section class="track"><section class="thumb"><section class="end"></section></section></section></section>
                            {{ form_widget(form.profession, { 'attr': {'multiple': "multiple", 'name': "multiselect_2", 'size': "1", 'class': 'profession-selector'} }) }}
                            <section class="viewport"><section class="overview">
                                    <ul class="professions-list"></ul>
                            </section></section>
                        </section>
                    </section>
                    <section class="col v2">
                        <label>{{ form.country_data.vars.label|trans({},'messages') }}:</label>
                        <section class="input standart select{%if form.country.vars.errors%} no_ok{%endif%}">
                            <div class="ef-selectbox" tabindex="3">
                                 {{ form_widget(form.country,  {'attr': {'class': "country-selector"} })  }}
                                <!--input type="hidden" name="accounts" value="" tabindex="-1" /-->
                                <dl>

                                    <dt><a title="{{'Country'|trans}}" href="javascript:;" tabindex="-1"><span id=""></span></a></dt>
                                    <dd>
                                        <div>
                                            <ul>
                                                {% for i in form.country_data.vars.choices %}
                                                <li><a title="{{i.label}}" href="javascript:;" tabindex="-1"><span id='{{i.value}}'>{{i.label}}</span></a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </section>


                        <label>{{ form.city.vars.label|trans({},'messages') }}:</label>
                        <section class="multiselect css3 scroll-pane{%if form.city.vars.errors%} no_ok{%endif%}" data-nomultiple="true" data-empty="true" tabindex="4">
                            <section class="scrollbar"><section class="track"><section class="thumb"><section class="end"></section></section></section></section>
                            {{ form_widget(form.city,  { 'attr': {'class': "city-selector", 'multiple': 'multiple', 'size': '1'} })  }}
                            <section class="viewport"><section class="overview">
                                    <ul class="city-list"></ul>
                            </section></section>
                        </section>
                    </section>
                </section>
                <section class="clearfix">
                    {% for field in form%}
                        {% for error in field.vars.errors%}
                        <div class="no_ok">{{error.getMessage|trans({},'messages')}}</div>
                        {% endfor %}
                    {% endfor %}
                    {% if user %}
                        <div class="play"><a href="javascript: payNow();" title="{{'Pay now and add advertisement in future'|trans}}" tabindex="6">{{'Pay now and add advertisement in future'|trans}}</a></div>
                    {% else %}
                        <section id="login_hint" class="hint css3"><section class="txt"><div class="close" title="title">{{'Close'|trans}}</div>{{'To use unlimited type...'|trans}} <a href="javascript: auth();" title="title">{{'autorizējaties'|trans}}</a> vai <a href="{{ url('registration') }}" title="title">{{'reģistrējaties'|trans}}</a></section></section>
                        <div class="play"><a href="javascript: showLoginHint();" title="{{'Pay now and add advertisement in future'|trans}}" tabindex="6">{{'Pay now and add advertisement in future'|trans}}</a></div>
                    {% endif %}
                    <a class="orangebutton css3" href="javascript: submitForm();" title="{{'Continue'|trans}}" tabindex="5"><span title="{{'Continue'|trans}}">{{'Continue'|trans}}</span></a>
                    <a class="cancel" href="{{ path('visidarbi_advertisement_add_step1') }}" title="{{'Back'|trans}}" tabindex="6">{{'Back'|trans}}</a>
                </section>
                    {{form_row(form.pay_now)}}
                    {{form_row(form._token)}}
            </form>
        </section>
    </section>
</section>

{% endblock %}


{% block afterfooter %}
{#<script src="{{ asset('bundles/visidarbicommon/js/jquery.min.v1.7.2.js') }}"></script>#}
<script src="{{ asset('bundles/visidarbicommon/js/jquery.tinyscrollbar.min.js') }}"></script>
{#<script src="{{ asset('bundles/visidarbicommon/js/js.js') }}"></script>#}
<script type="text/javascript">


    var preloadProfessions = false;
    var preloadCities = false;
    {% if selectedCategory %}
        $(".category-selector").val([{{selectedCategory|raw}}]);
        preloadProfessions = true;
    {% endif %}

    {% if selectedCountry %}
        $(".country-selector").val({{selectedCountry}});
        preloadCities = true;
    {% endif %}

        $('#addadvertisementstep2_country').change();


        $('.category-selector').change(function() {

/*            if($('.category-selector').val()) {
                categorySelector($('.category-selector').val().join());
            }
 */
        }).change();

        function payNow(){
            $('.pay_now_field').val(1);
            $('#form').submit();
        }

        function submitForm(){
            $('.pay_now_field').val(0);
            $('#form').submit();
        }

        function getCities(id) {
             var $citySelector = $('.city-selector');
                var $cityList = $('.city-list');


                var origVal = $citySelector.val();

                $citySelector.empty();

                var url = Routing.generate('visidarbi_advertisement_get_cities', { 'country': id});
                $.post(url, { }, function(data){

                    $cityList.text('');
                   //$professionSelector.append($('<option></option>'));
                    for (var i = 0; i < data.length; i++) {
                        var $opt = $('<option></option>');
                        $opt.text(data[i].name);
                        $opt.attr('value', data[i].id);


                        if(preloadCities) {
                            if(data[i].id == '{{selectedCity}}') {
                                $opt.attr('selected', 'selected');
                            }
                        } else{

                            if (i==0) {
                                $opt.attr('selected', 'selected');
                            }
                        }


                        $citySelector.append($opt);


                        var $li = $('<li></li>');


                        if(preloadCities) {
                            if(data[i].id == '{{selectedCity}}') {
                                $li = $('<li class="sel"></li>');
                            }
                        }


                        $li.text(data[i].name);
                        $cityList.append($li);

                    }

                     //initSelectors();
                        if(preloadCities) {
                            updateTScrollbar('city');
                            preloadCities = false;
                        }
                    updateTScrollbar('city');

                },'json');

            updateTScrollbar('city');

        }


            function categorySelector(id) {
                //console.debug(id);
                var $professionSelector = $('.profession-selector');
                var $professionsList = $('.professions-list');
                var origVal = $professionSelector.val();

                $professionSelector.empty();

                var url = Routing.generate('visidarbi_advertisement_get_professions', { 'category': id });
                $.post(url, { }, function(data){

                    $professionsList.text('');
                   //$professionSelector.append($('<option></option>'));
                    for (var i = 0; i < data.length; i++) {
                        var $opt = $('<option></option>');
                        $opt.text(data[i].name);
                        $opt.attr('value', data[i].slug);


                        if(preloadProfessions) {
                            var a = [{{selectedProfession|raw}}];
                            if(a.indexOf(data[i].slug) > -1) {
                                $opt.attr('selected', 'selected');
                            }
                        }

/*
 *                      if (i==0) {
                            $opt.attr('selected', 'selected');
                        }
*/

                        $professionSelector.append($opt);


                        var $li = $('<li></li>');
                        if(preloadProfessions) {
                            var a = [{{selectedProfession|raw}}];
                            if(a.indexOf(data[i].slug) > -1) {
                                $li = $('<li class="sel"></li>');
                            }
                        }

                        $li.text(data[i].name);
                        $professionsList.append($li);
                    }

                    updateTScrollbar('prof');

                  //  initSelectors();

                 if(preloadProfessions)  {
                        updateTScrollbar('prof');
                        preloadProfessions = false;
                  }

                },'json');

            }


    function showLoginHint(){
           var hint = $('#login_hint');
            if(!hint.is(':visible')) hint.show();
            hint.delegate('.close', 'click', function(e){
                    hint.hide();
            });
    }

    function hideLoginHint(){
            var hint = $('#login_hint');
            if(hint.is(':visible')) hint.hide();
    }

    function auth(){
        $('#auth_btn').click();
        $("html, body").animate({ scrollTop: 0 }, "slow");
    }


    </script>



{% endblock%}