{% trans_default_domain "add_addadvertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block additional_header %}
<section class="grayheader">
    <section class="content basket clearfix">
{% include 'VisiDarbiAdvertisementBundle:AddAdvertisement:stepheader.html.twig' %}
    </section>
</section>
{% endblock %}
{% block body %}
<section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
        <section class="body">
            <section class="choice_type">
<section id="login_hint" class="hint css3"><section class="txt"><div class="close" title="title">{{'Close'|trans}}</div>{{'To use unlimited type...'|trans}} <a href="javascript: auth();" title="title">{{'autorizējaties'|trans}}</a> vai <a href="{{ url('registration') }}" title="title">{{'reģistrējaties'|trans}}</a></section></section>
                
                <section class="txt">{{'Select advertisement type text'|trans}}</section>                
                <section class="list clearfix">
                    {% for item in items%}                     
                        <section {% if item.type.most_popular %}class="most"{% endif %}>
                            <section  {% if item.type.selected %}class="css3"{% endif %}>
                                {% if item.type.most_popular %}<section><span><span class="css3">{{'Most popular'|trans}}</span></span></section>{%endif%}
                                <form id="f{{item.type.id}}" action="{{ path('visidarbi_advertisement_add_step1') }}" method="post" {{ form_enctype(item.form) }} >
                                <h2>{{item.type.description|raw}}</h2>
                                <div>{{item.type.price|raw}} {{currency|raw}}
                                
                                {%if secondCurrency%}
                                ({{item.secondPrice|raw}} {{secondCurrencySign|raw}})
                                {% endif %}
                                
                                </div>
                                
                                {% if user or not item.type.unlimited%}
                                    <a href="javascript: $('#f{{item.type.id}}').submit();" title="{{'Continue'|trans}}" class="orangebutton v2 css3" tabindex="1"><span title="{{'Continue'|trans}}">{{'Continue'|trans}}</span></a>
                                {% elseif item.type.unlimited%}
                                    <!--<a href="javascript: showLoginHint();" title="{{'Continue'|trans}}" class="orangebutton v2 css3" tabindex="1"><span title="{{'Continue'|trans}}">{{'Continue'|trans}}</span></a>-->
																		<a href="#" title="{{'Continue'|trans}}" class="orangebutton v2 css3 auth" tabindex="1"><span title="{{'Continue'|trans}}">{{'Continue'|trans}}</span></a>
                                {% endif %}
                                {{ form_rest(item.form) }}
                                </form>
                            </section>
                        </section>
                    {% endfor %}
                </section>
                
                {% set servicesSlug =  'musu-pakalpojumi'|trans|raw %}
                {% set servicesSlugUrl =  url('document', {'slug': servicesSlug }) %}
                
                <section class="no_tax">{{'Augstākminētās cenas neietver PVN21%'|trans}}</section>
                <section class="txt bottom_info">{{'ad.add.step4.visidarbi_services_info_link: <a href="%info_link_url%">link</a>'|trans({'%info_link_url%': servicesSlugUrl }, 'messages')|raw}}</section>                
                
            </section>
        </section>
    </section>
</section>

{% endblock %}
{% block afterfooter %}
<script type="text/javascript">

function showLoginHint(){
       var hint = $('#login_hint');
        if(!hint.is(':visible')) hint.show();  
        hint.delegate('.close', 'click', function(e){
                hint.hide();
        });        
}

function hideLoginHint(){
        var hint = $('#login_hint');
        if(hint.is(':visible')) hint.hide();
}

function auth(){
    $('#auth_btn').click();
    $("html, body").animate({ scrollTop: 0 }, "slow");
}      


</script>

{%endblock%}