{% trans_default_domain "add_addadvertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block additional_header %}
    <section class="grayheader">
        <section class="content basket clearfix">
            {% include 'VisiDarbiAdvertisementBundle:AddAdvertisement:stepheader.html.twig' %}
        </section>
    </section>
{% endblock %}

{% form_theme form _self %}
{% block choice_widget_expanded %}
{% set formatDescription = {

'Full': 'full_form_description'|trans,
'Html': 'html_form_description'|trans,
'ImagePdf': 'image_pdf_form_description'|trans,
'Free':'free_form_description'|trans,

}%}

{% set formatTitle = {

'Full': 'full_form_title'|trans,
'Html': 'html_form_title'|trans,
'ImagePdf': 'image_pdf_form_title'|trans,
'Free':'free_form_title'|trans,

}%}

{% set lng =  app.request.attributes.get('_locale') %}
{% spaceless %}
    {% for child in form %}

        <section class="radioblock">
            <section class="rr">
                {{ form_widget(child) }}
                <label for="{{child.vars.id}}">{{formatTitle[child.vars.value]}}</label>
            </section>
            <div>
                {{formatDescription[child.vars.value]}}
                {% if setting('tooltips.' ~ child.vars.value|lower ~ '_form_image', lng) %}
                <div>
                    <a href="#" title="{{ 'Paraugs'|trans }}" class="preview">
                        <span>{{ 'Paraugs'|trans }}</span>
                        <div class="pop {{ lng }}" style="display: none;">
                            <div class="inner css3">
                                <div class="poptop css3"></div>
                                <div class="img clearfix">
                                    <img src="{{ form.parent.vars.value.tooltips_dir ~ setting('tooltips.' ~ child.vars.value|lower ~ '_form_image', lng) }}" alt="" />
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </section>
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block body %}
{{ tooltips_dir }}
<section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
        <section class="body">
            <form id="form" class="form form_3 form_type_form{%if form.vars.errors%}no_ok{%endif%}"  action="{{ path('visidarbi_advertisement_add_step_format') }}" method="post" {{ form_enctype(form) }}>
                <section class="section clearfix">
                    <h3>{{'Choose how to add advertisement'|trans}}</h3>
                    <section class="inputblock radios clearfix">
                        {{form_widget(form.format)}}
                    </section>
                </section>
                <section class="bttn form_bttn v2 clearfix">
                    {% for field in form%}
                        {% for error in field.vars.errors%}
                            <div class="no_ok">{{error.getMessage|trans}}</div>
                        {% endfor %}
                    {% endfor %}
                    <a class="orangebutton css3" href="javascript: $('#form').submit();" title="{{'Continue'|trans}}" tabindex="5"><span title="{{'Continue'|trans}}">{{'Continue'|trans}}</span></a>
                    <a class="cancel" href="{{ path('visidarbi_advertisement_add_step2') }}" title="{{'Back'|trans}}" tabindex="6">{{'Back'|trans}}</a>
                </section>
                {{form_row(form._token)}}
            </form>
        </section>
    </section>
 </section>
{% endblock %}