{% trans_default_domain "add_addadvertisement" %}
{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}
{% block additionalMeta %}
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}
{% block additional_header %}
<section class="grayheader">
    <section class="content basket clearfix">
        {% include 'VisiDarbiAdvertisementBundle:AddAdvertisement:stepheader.html.twig' %}
    </section>
</section>
{% endblock %}
{% block body %}
<section id="wrapper" class="no_cols clearfix">
    <section class="content clearfix">
        <section class="body">
                <form class="form form_3 laststep" action="#"> <!-- add class no_ok -->
                <p class="ptext">{{'Add advertisement or period success text'|trans}}</p>

                {# Accepted payment #}
                {% if advertisement and paymentStatus == 20 %}
                    <section class="ok_msg_box">
                            <h2>{{'Jūsu sludinājums tika veiksmīgi pievienots'|trans}}</h2>
                            <section><a href="{{path('visidarbi_advertisement_show', {'advertisementId': advertisement.getSlugOrPublicId(app.request.attributes.get('_locale'))})}}" title="{{'Apskatīt sludinājumu'|trans}}">{{'Apskatīt sludinājumu'|trans}}</a></section>
                    </section> 
                {# Rejected payment #}
                {% elseif advertisement and paymentStatus == 30 %}
                    <section class="ok_msg_box">
                            <h2>{{'Maksājumu sistēma nav apstiprinājusi veikto maksājumu. Jūsu sludinājums tika sagalbāts Jūsu lietotāja sludinājumu sarakstā.'|trans}}</h2>
                    </section> 
                {# Pending payment #}
                {% elseif advertisement and paymentStatus == 10 %}
                    <section class="ok_msg_box">
                            <h2>{{'Jūsu sludinājums tiks publicēts, tiklīdz mēs saņemsim apstiprinājumu no maksājumu sistēmas.'|trans}}</h2>
                    </section>                 
                {% endif %}

                {#messages for periods#}
                {% if period and advertisement == null%}
                    {# Accepted payment #}
                    {% if paymentStatus == 20 %}
                        <section class="ok_msg_box">
                                <h2>{{'Your paid period activated.'|trans}}</h2>
                        </section> 
                    {# Rejected payment #}
                    {% elseif paymentStatus == 30 %}
                        <section class="ok_msg_box">
                                <h2>{{'Your payment period will be activated after payment confirmation'|trans}}</h2>
                        </section> 
                    {# Pending payment #}
                    {% elseif paymentStatus == 10 %}
                        <section class="ok_msg_box">
                                <h2>{{'Your payment period not activated by reason of rejected payment transaction.'|trans}}</h2>
                        </section>                 
                    {% endif %}
                {% endif %}
                

                {# rejected #}
                {% if not advertisement and not period and paymentStatus == 30 %}
                    <section class="ok_msg_box">
                            <h2>{{'Maksājumu sistēma nav apstiprinājusi veikto maksājumu. Jūsu sludinājums tika sagalbāts Jūsu lietotāja sludinājumu sarakstā.'|trans}}</h2>
                    </section> 
                 {% endif %}                
                
                
                {% if isProfileAdded %}
                <section class="ok_msg_box">
                        <h2>{{'Jums tika izveidots profils:'|trans}}</h2>
                        <section>{{'Uz Jūsu norādīto e-pastu tika aizsūtīta apstiprinajuma vēstule. Lūdzu pārbaudiet savu pastkastīti un izpildiet vēstulē uzskaitītās instrukcijas, lai veiksmīgi pabeigtu lietotāja izveidi!'|trans}}}</section>
                </section>
                {% endif %}
                
                <section class="bttn v2 clearfix">
                        <a class="orangebutton css3" href="{{path('visidarbi_advertisement_list')}}" title="{{'Return to advertisements list'|trans}}" tabindex="18"><span title="{{'Return to advertisements list'|trans}}">{{'Return to advertisements list'|trans}}</span></a>
                </section>                
                
                </form>
        </section>
    </section>
</section>
{% endblock %}

{% block afterfooter %}
<script src="{{ asset('bundles/visidarbicommon/js/jquery.autosize.js')}}"></script>
{% endblock %}