{% trans_default_domain "add_addadvertisement" %}

{%set fieldName = ['content_',l]|join%}
<section class="inputblock css3{%if form[fieldName].vars.errors%} no_ok{%endif%}">
    {{ form_widget(form[fieldName]) }}
</section>
{%if i == 1 %}
<script type="text/javascript">
    function beforeTabMove(tabid, tabs) {
        try {
            for(k in CKEDITOR.instances){
                jQuery('#'+k).val(CKEDITOR.instances[k]);
                var instance = CKEDITOR.instances[k];
                instance.destroy();
                jQuery('#'+k).css('display', 'none');
            }

        } catch(e) {}
    }

    function afterTabMove(tabid, tabs) {
        var editorId = jQuery('[data-tabid='+tabid+'] .content-editor', tabs).attr('id');
        if (typeof(CKEDITOR.instances[editorId]) == 'undefined' || CKEDITOR.instances[editorId]==null) {
            CKEDITOR.replace(editorId, {{ form[fieldName].vars.config | raw }});
        }
    }
</script>
{% endif %}