{% trans_default_domain "add_addadvertisement" %}
                <section class="steps">
                    {% for i in 1..5%}
                        <section class="{% if i<=step %}sel{% endif %} css3" title="{{i}}"><span>{{i}}</span></section>
                        {% if i<5 %}<div {% if i<(step) %} class="sel"{% endif %}><span class="css3"></span><span class="css3"></span><span class="css3"></span></div>{% endif %}
                    {% endfor %}
                </section>
                
                {% if addPeriod %}
                <h1>{{'Pay now for period and place advertisement in future'|trans}}</h1>
                {% else %}
                <h1>{{'Add advertisement'|trans}}</h1>
                {% endif %}
