{% extends base_template %}

{% set currentUrl = admin.generateUrl('list', { 'namespace': currentNamespace }) %}

{% block title %}
    Settings
{% endblock%}

{% block preview %}

    <ul class="nav nav-pills">
        {% for ns in namespaces %}
            <li {% if currentNamespace == ns %}class="active"{% endif %} ><a href="{{ admin.generateUrl('list', { 'namespace': ns }) }}">{{ ns }}</a></li>
        {% endfor %}
    </ul>
   
{% endblock %}
    
    
{% block form %}

    <form class="form-horizontal" action="{{ currentUrl }}" {{ form_enctype(form) }} method="POST" >
        {% if form.vars.errors|length > 0 %}
            <div class="sonata-ba-form-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}


        <fieldset >
            <legend>
                {{ currentNamespace }}
            </legend>

            <div class="sonata-ba-collapsed-fields">
                {% for setting_key in setting_keys %}
                    {{ form_row(form[setting_key])}}
                {% endfor %}
            </div>
        </fieldset>

        {{ form_rest(form) }}

        <div class="well form-actions">
            <input type="submit" class="btn btn-primary" name="btn_update_and_edit" value="Save" />
            <input class="btn" type="button" id="settings_cancel_btn" value="Cancel"/>
        </div>
    </form>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(function() {
            $('#settings_cancel_btn').click(function() {
                window.location.replace('{{ currentUrl }}');
            });
        });
    </script>
    
{% endblock %}
    
{% block breadcrumb %}
    <li>
        <a href="{{ url('sonata_admin_dashboard') }}">Dashboard</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Settings</li>
{% endblock %}