* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100%;
    border-top: 0.125em solid #000;
    min-height: 3em;
    background-color:  #2a2d30;
}


.select-country-block {
    width: 5.625%;
    top: -0.8125em;
    position:relative;
    display: inline-block;
    margin-left: 6.25%;


}
.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
}


.select-country-icon {
    width: 4.6875%;
    position:relative;
    display: inline-block;
    top: -0.5625em;

}

.select-country-icon-unicode {
    width: 4.6875%;
    font-size: .6em;
    position:relative;
    display: inline-block;
    top: -1.2em;
    left: -0.25em;
    color: #66696b;

}
.select-country-image {
    width: 100%;
}


.menu-icon {
    width: 13.438%;
    position:relative;
    display: inline-block;
    left:64.5%;
    top: 0.0625em;
}


.menu-image{
    width: 100%;
}


.logo {

    width: 35.156%;
    position:relative;
    display: inline-block;
    margin-left: -2.248%;
    top: -0.5em;

}


.logo-image{
    width: 100%;
}

#header-bottom {
    height: 100%;
    min-height: 3.625em;
    background: #f6d101;
    padding-top: 1.25em;
    padding-bottom: 0.3125em;
    border-bottom: 0.1875em solid #d9d9d9;
}

.number span {
    color: #2a2d30;
    font-size: 1.063em;
    font-weight: 500;
    position: relative;
    top: -0.353em;
    font-family: Arial, sans-serif;
}

.phone {
    width: 6.85%;
    margin-left: 25.56%;
}
.letter-image{
    width: 8.333%;
}

.mail {
    position: relative;
    top: 0.365em;
    left: 26.56%;
    width: 60%;
}
.mail a {
    position: relative;
    top: -0.118em;
    color: #2a2d30;
    font-size: 1.063em;
    font-weight: 400;
    font-family: Arial, sans-serif;
}
#content {
    height: 100%;
    min-height: 23.125em;
    background: #ffffff;
}

.input-text-block,
.input-email-block {
    padding-top: 0.938em;
}



.input-text-block input[type="text"],
.input-email-block input[type="email"] {
    /*background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);*/
    /*background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);*/
    /*background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);*/
    /*background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);*/
    /*background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);*/

    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    font-size: 1em;
    border-radius: 0.3125em;
    border: 0.1em solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    display: block;
    height: 2.625em;
    width: 87.5%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;
}

.input-email-block input[type="email"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #000000;

}

.input-email-block input[type="email"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #000000;

}
.input-email-block input[type="email"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #000000;

}
.input-email-block input[type="email"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #000000;

}


.input-text-block input[type="text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-text-block input[type="text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-big {
    padding-top: 0.938em;
}

.input-text-block-big textarea {
    /*background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);*/
    /*background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);*/
    /*background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);*/
    /*background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);*/
    /*background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);*/
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE , #FFFFFF);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE, #FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    font-size: 1em;
    border-radius: 0.3125em;
    resize: none;
    width: 87.5%;
    margin-left: 3.75%;
    color: #828282;
    font-family: Arial, sans-serif;
    padding-top: 0.626em;
    padding-left: 3.75%;
    border: 0.125em solid #c7c7c7;
    height: 6.26em;
}



.input-text-block-button button {
    width: 93.125%;
    padding: 0 0 0 0.625%;
    margin-left: 3.125%;
    height: 2.5em;
    background-color: #ec9600 ;
    background: linear-gradient(bottom, #f6ae01, #ec9600);
    background: -moz-linear-gradient(bottom,  #f6ae01,  #ec9600);
    background: -o-linear-gradient( bottom,  #f6ae01,  #ec9600);
    background: -ms-linear-gradient(bottom,  #f6ae01,  #ec9600);
    background: -webkit-linear-gradient( bottom,  #f6ae01,  #ec9600);
    border: 0.056em solid #c28600;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.278em;
    -webkit-border-radius: 0.278em;
    border-radius: 0.278em;
    margin-top: 0.556em;
    margin-bottom: 1.389em;
}



#footer-bottom {
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
    margin-top: 0.938em;
}

.copyright {
    padding-top: 0.727em;
    margin-left: 3.125%;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}

@media screen and (min-width: 240px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }

}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;
    }

}
@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper{
        font-size: 38px;
    }
}
@media screen and (min-width: 1025px) {
    #wrapper{
        font-size: 51px;
    }

}
