{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/add-newsletter.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/cities.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/footer.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/main-menu.css') }}"/>

{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/send.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        {#{% include 'VisiDarbiMobileBundle::cities.html.twig' %}#}
        {% include 'VisiDarbiMobileBundle::header.html.twig' %}
        <div class="menu-block">
            <div class="main-menu-text">
                <a href="{{ path('add_newsletter_mobile') }}">{{ 'Add newsletter'|trans }}</a>
            </div>
            <div  id="toggle-menu" class="main-menu-image">
                <img  src="{{ asset('bundles/visidarbimobile/images/common/arrows1.png') }}">
            </div>
        </div>
        <div class="wr-hidden main-drop-down-menu-2" id="hidden-menu">
            <div  class="main-drop-down-menu-item">
                <a href="{{ path('newsletters_mobile') }}">{{ 'E-pasta ziņojumi'|trans }}</a>
            </div>
            <div class="main-drop-down-menu-item">
                <a href="{{ path('saved_mobile') }}">{{ 'Saglabātie stludinājumi'|trans }}</a>
            </div>
            <div class="main-drop-down-menu-item">
                <a href="{{ path('profile_mobile') }}">{{ 'Profils'|trans }}</a>
            </div>
            <div class="main-drop-down-menu-item">
                <a href="{{ path('search_history_mobile') }}">{{ 'Meklētie sludinājumi'|trans }}</a>
            </div>
        </div>
    </div>
    {% if errors %}
        {% for error in errors %}
            <div class="error-list">{{ error }}</div>
        {% endfor %}
    {% endif %}
    <form  action="" method="post" >
    <div id="content">
        <div class="content-title">{{ 'E-pasta ziņojumi'|trans }}</div>
        <div id="block">
            <div class="input-text-block">
                <p class="text">{{ 'Kategorija'|trans }}:</p>
                <input id="input-1" class="placeholder-gray-filter" type="text" placeholder="{{ 'Izvēlies kategoriju'|trans }}"/>
                <img id="img-1" class="submit-image-filter" src="{{ asset('bundles/visidarbimobile/images/list/icon.png') }}" alt=""/>
                <div id="select-1" class="wp-hidden">
                    <select  class="placeholder-gray  opt-class" name="newsletter[categories][]" multiple="multiple" size="1">
                        {% for pos in positions %}
                            <option value="{{ pos.category_id }}" >{{ pos.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input-text-block">
                <p class="text">{{ 'Profesija'|trans }}:</p>
                <input id="input-2" class="placeholder-gray-filter" type="text" placeholder="{{ 'Izvēlies profesiju'|trans }}"/>
                <img id="img-2" class="submit-image-filter" src="{{ asset('bundles/visidarbimobile/images/list/icon.png') }}" alt=""/>
                <div id="select-2" class="wp-hidden">
                    <select  class="placeholder-gray  opt-class" name="newsletter[professions][]" multiple="multiple" size="1">
                        {% for item in professions %}
                            <option value="{{ item.p_id }}" >{{ item.p_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input-text-block">
                <p class="text">{{ 'Pilsēta'|trans }}:</p>
                <input id="input-3" class="placeholder-gray-filter"  type="text" placeholder="{{ 'Izvēlies pilsētu'|trans }}"/>
                <input id="input-cities"  name="newsletter_cities" type="hidden" />
                <img id="img-3" class="submit-image-filter" src="{{ asset('bundles/visidarbimobile/images/list/icon.png') }}" alt=""/>
                <div id="select-3" class="wp-hidden">
                    <select  class="placeholder-gray  opt-class" name="newsletter[cities][]" multiple="multiple" size="1">
                        {% for item in cities %}
                            <option value="{{ item.city_id }}" >{{ item.city_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input-text-block">
                <p class="text">{{ 'Sludinājuma avots'|trans }}:</p>
                <input id="input-4" class="placeholder-gray-filter" type="text" placeholder="{{ 'Izvēlies avotu'|trans }}" value=""/>
                <img id="img-4" class="submit-image-filter" src="{{ asset('bundles/visidarbimobile/images/list/icon.png') }}" alt=""/>
                <div id="select-4" class="wp-hidden">
                    <select  class="placeholder-gray  opt-class" name="newsletter[sources][]" multiple="multiple" size="1">
                        {% for item in sources %}
                            <option value="{{ item.id }}" >{{ item.resource }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input-text-block">
                <p class="text">{{ 'Sludinājuma maks. vecums'|trans }}:</p>
                {{ form_widget(form.duration, { 'attr':{'class': 'placeholder-gray opt-class', 'multiple':'multiple', 'size':1} }) }}
            </div>
            <div class="input-text-block">
                <p class="text">{{ 'Atslēgvārdi'|trans }}:</p>
                {{ form_widget(form.keyword, { 'attr':{'class': 'placeholder-gray'} }) }}
                <p class="input-label">{{ 'Ievadiet atslēgvardus ar komatu'|trans }}</p>
            </div>
            <div class="input-text-block">
                <p class="text">{{ 'Vieta'|trans }}:</p>
                {{ form_widget(form.place, { 'attr':{'class': 'placeholder-gray'} }) }}
                <p class="input-label">{{ 'Valsts, pilsēta vai rajons'|trans }} </p>
            </div>
        </div>
    </div>
    <div id="content-footer">
        <div class="content-footer-email">{{ 'E-pasta saņemšanas biežums'|trans }}:</div>
        <div class="checkbox-mobile">
            <input id="newsletter_frequency_0" name="newsletter[frequency]" required="required" value="daily" type="radio">
            <label for="newsletter_frequency_0" class="required"><span class="checkbox-mobile-label">{{ 'Katru dienu'|trans }}</span></label>
        </div>
        <div class="checkbox-mobile">
            <input id="newsletter_frequency_1" name="newsletter[frequency]" required="required" value="weekly" type="radio">
            <label for="newsletter_frequency_1" class="required"><span class="checkbox-mobile-label">{{ 'Katru nedēļu'|trans }}</span></label>
        </div>
        <div class="checkbox-mobile">
            <input id="newsletter_frequency_2" name="newsletter[frequency]" required="required" value="monthly" type="radio">
            <label for="newsletter_frequency_2" class="required"><span class="checkbox-mobile-label">{{ 'Katru mēnesī'|trans }}</span></label>
        </div>
        {{ form_widget(form.nid) }}
        {{ form_widget(form._token) }}
        <div class="button-size">
            <button class="submit-button" type="submit">{{ 'Saglabāt'|trans }}</button>
        </div>
        <a href="{{ path('newsletters_mobile') }}"><p class="content-footer-text">{{ 'Atcelt'|trans }}</p></a>
    </div>
    </form>
    {% include 'VisiDarbiMobileBundle::footer.html.twig' %}
    <div id="popup" class="wp-hidden">
        {% include 'VisiDarbiMobileBundle::cities.html.twig' %}
    </div>
{% endblock %}


