{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/documents.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/nav.css') }}"/>

{%  endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/documents.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        {%  include 'VisiDarbiMobileBundle::header.html.twig' %}
    </div>
    {%  include 'VisiDarbiMobileBundle::amount.html.twig' %}
    <div id="content">
        {% for doc in docs %}
        <div class="block">
            <a href="{{ path('document_mobile', {'id': doc.id, 'slug': doc.slug}) }}">
                <div class="top-content">{{ doc.title }}</div>
            </a>
            {% if doc.image %}
            <img class="man" src="{% path doc.image, 'opendoc' %}" alt="{{ doc.imageAlt ? doc.imageAlt : doc.title }}"/>
            {% endif %}
            <div class="content-text">{{ doc.summary }}</div>
            <div class="content-date">{{ doc.CreatedAt|date('d F, Y') }}</div>
        </div>
        {% endfor %}
    </div>
    {{ knp_pagination_render(pagination) }}
    {%  include 'VisiDarbiMobileBundle::amount.html.twig' %}
    {%  include 'VisiDarbiMobileBundle::copyright.html.twig' %}
{% endblock %}

