{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/document.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>

{%  endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/document.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        {%  include 'VisiDarbiMobileBundle::header.html.twig' %}
    </div>
    {% if postResult.errors %}
        {% for error in postResult.errors %}
            <div class="error-list">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {% if postResult.success %}
        <div class="ok_msg_box" >{{ postResult.success }}</div>
    {% endif %}
    <div id="content">
        <div class="content-title">{{ document.title }}</div>
        <div class="content-date">{{ document.CreatedAt|date('d F, Y') }}</div>
        <br>
        {% if document.image %}
            <img src="{% path document.image, 'opendoc' %}" class="content-image" alt="{{ document.imageAlt ? document.imageAlt : document.title }}" />
        {% endif %}
        {% autoescape false %}
        <div class="content-text">{{ document.content|raw }}</div>
        {% endautoescape %}
    </div>
    {% set links = document.links %}
    {% set files = document.files %}


    {% set has_files = false %}
    {% for attachment in files %}
        {% if attachment.file %}{% set has_files = true %}{% endif %}
    {% endfor %}
    <div id="content-footer">
        {% if links|length > 0 or has_files %}
            <p class="content-footer-links-title">{{ 'Links'|trans }}</p>
            {% if links|length > 0 %}
                <div class="top-link-block">
                    {% for link in links %}
                        {% set title = link.title %}
                        {% if title|length == 0 %}
                            {% set title = link.url %}
                        {% endif %}
                        <a class="content-footer-link" href="{{ link.url }}" title="{{ title }}" target="{{ link.target }}" >{{ title }}</a>
                        <br>
                    {% endfor %}
                </div>
            {% endif %}
            {% if has_files %}
                <div class="bottom-link-block">
                    {% for attachment in files %}
                        {% if attachment.title|length > 0 %}
                            {% set attachment_title = attachment.title %}
                        {% else %}
                            {% set attachment_title = attachment.file.name %}
                        {% endif %}
                        {% if attachment.file %}
                            <a class="content-footer-link" href="{{ path('sonata_media_download', {'id': attachment.file|sonata_urlsafeid }) }}" title="{{ attachment_title }}" >{{ attachment_title }}</a>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        <div class="content-footer-arrow">
            <img  src="{{ asset('bundles/visidarbimobile/images/page/arrow.jpg') }}" alt=""/>
            <a  href="{{ path('documents_mobile') }}">{{ 'Atpakaļ uz sarakstu'|trans }}</a>
        </div>
    </div>
    {%  include 'VisiDarbiMobileBundle::copyright.html.twig' %}
{% endblock %}

