{% extends 'VisiDarbiMobileBundle::frontend_mobile.html.twig' %}
{% trans_default_domain 'mobile' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/email.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/header.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/nav.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/main-menu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/visidarbimobile/css/footer.css') }}"/>
{% endblock %}
    {% block js %}
        <script src="{{ asset('bundles/visidarbimobile/js/email.js') }}"></script>
    {% endblock %}
{% block body_class %}index-mobile{% endblock %}
{% block content %}
    <div id="header">
        {% include 'VisiDarbiMobileBundle::header.html.twig' %}
        <div class="menu-block">
            <div class="main-menu-text">
                <a href="{{ path('newsletters_mobile') }}">{{ 'E-pasta ziņojumi'|trans }}</a>
            </div>
            <div  id="toggle-menu" class="main-menu-image">
                <img  src="{{ asset('bundles/visidarbimobile/images/common/arrows1.png') }}">
            </div>

        </div>
        <div class="wr-hidden main-drop-down-menu-2" id="hidden-menu">
            <div  class="main-drop-down-menu-item">
                <a href="{{ path('profile_mobile') }}">{{ 'Profils'|trans }}</a>
            </div>
            <div class="main-drop-down-menu-item">
                <a href="{{ path('saved_mobile') }}">{{ 'Saglabātie stludinājumi'|trans }}</a>
            </div>
            <div class="main-drop-down-menu-item">
                <a href="{{ path('search_history_mobile') }}">{{ 'Meklētie sludinājumi'|trans }}</a>
            </div>

        </div>
    </div>
    <div id="content">
        <div class="content-title">{{ 'E-pasta ziņojumi'|trans }}</div>
        {% if adverts|length == 0 %}
            <p class="content-text">{{ 'Jūs šobrīd neesat pieteicies vakanču saņemšanai e-pastā'|trans }}</p>
        {% else %}
        <div id="top-content">
            <div class="keyword">{{ 'Pievienots'|trans }}</div>
            <div class="hits">{{ 'E-pasta ziņojuma paramteri'|trans }}</div>
        </div>
        {% endif %}
    </div>

    {% for adv in adverts %}
        <div id="{{ 'job-row-'~adv.id }}" class="job-row">
            <img class="job-more-info"  onclick="openedAdvert('{{ adv.id }}')" src="{{ asset('bundles/visidarbimobile/images/email/ic-bg.png') }}" alt=""/>

            <div class="job-title title-color">{{ adv.createdAt|date('d.m.Y') }}</div>
            <ul class="data-content" >
                {% if adv.categories|length > 0 %}
                    {%  set c1 = adv.categories[0]|split(',') %}
                <li>{{ 'Kategorija:'|trans }} {{ c1[0]|slice(0,20) }},</li>
                    {% endif %}
                {% if adv.categories|length > 1 %}
                    {%  set c2 = adv.categories[1]|split(',') %}
                <li>{{ c2[0]|slice(0,20) }}{% if adv.categories[2] is defined %}
                        {% set c3 = adv.categories[2]|split(',') %},  {{ c3[0]|slice(0,20) }}{% endif %}</li>
                {% endif %}
                {% if adv.professions|length > 0 %}
                    {%  set p1 = adv.professions[0]|split(',') %}
                    <li>{{ 'Profesija:'|trans }} {{ p1[0]|slice(0,20) }},</li>
                {% endif %}
                {% if adv.professions|length > 1 %}
                    {%  set p2 = adv.professions[1]|split(',') %}
                    <li>{{ p2[0]|slice(0,20) }}{% if adv.professions[2] is defined %}
                            {% set p3 = adv.professions[2]|split(',') %},  {{ p3[0]|slice(0,20) }}{% endif %}</li>
                {% endif %}
                {% if adv.cities|length > 0 %}
                    {%  set ci1 = adv.cities[0]|split(',') %}
                    <li>{{ 'Pilsēta:'|trans }} {{ ci1[0]|slice(0,20) }},</li>
                {% endif %}
                {% if adv.cities|length > 1 %}
                    {%  set ci2 = adv.cities[1]|split(',') %}
                    <li>{{ ci2[0]|slice(0,20) }}{% if adv.cities[2] is defined %}{% set ci3 = adv.cities[2]|split(',') %},  {{ ci3[0]|slice(0,20) }}{% endif %}</li>
                {% endif %}

                {% if adv.whatValue|length >1 %}
                    <li>{{ 'Keyword:'|trans }} {{ adv.whatValue }}</li>
                {% endif %}
                {% if adv.whereValue|length > 1 %}
                    <li>{{ 'Keyword place:'|trans }} {{ adv.whereValue }}</li>
                {% endif %}
            </ul>
        </div>
        <div id="{{ 'job-row-opened-'~adv.id }}" class="job-row-opened job-hidden">
            <img class="job-short-info" onclick="shortAdvert('{{ adv.id }}')" src="{{ asset('bundles/visidarbimobile/images/email/icc-bg.png') }}" alt=""/>

            <div class="job-title title-color">{{ adv.createdAt|date('d.m.Y') }}</div>
            <ul class="data-content-bg">
                {% if adv.categories|length > 0 %}
                    {%  set c1 = adv.categories[0]|split(',') %}
                    <li>{{ 'Kategorija:'|trans }} {{ c1[0]|slice(0,20) }},</li>
                {% endif %}
                {% if adv.categories|length > 1 %}
                    {%  set c2 = adv.categories[1]|split(',') %}
                    <li>{{ c2[0]|slice(0,20) }}{% if adv.categories[2] is defined %}
                            {% set c3 = adv.categories[2]|split(',') %},  {{ c3[0]|slice(0,20) }}{% endif %}</li>
                {% endif %}
                {% if adv.professions|length > 0 %}
                    {%  set p1 = adv.professions[0]|split(',') %}
                    <li>{{ 'Profesija:'|trans }} {{ p1[0]|slice(0,20) }},</li>
                {% endif %}
                {% if adv.professions|length > 1 %}
                    {%  set p2 = adv.professions[1]|split(',') %}
                    <li>{{ p2[0]|slice(0,20) }}{% if adv.professions[2] is defined %}
                            {% set p3 = adv.professions[2]|split(',') %},  {{ p3[0]|slice(0,20) }}{% endif %}</li>
                {% endif %}
                {% if adv.cities|length > 0 %}
                    {%  set ci1 = adv.cities[0]|split(',') %}
                    <li>{{ 'Pilsēta:'|trans }} {{ ci1[0]|slice(0,20) }},</li>
                {% endif %}
                {% if adv.cities|length > 1 %}
                    {%  set ci2 = adv.cities[1]|split(',') %}
                    <li>{{ ci2[0]|slice(0,20) }}{% if adv.cities[2] is defined %}{% set ci3 = adv.cities[2]|split(',') %},  {{ ci3[0]|slice(0,20) }}{% endif %}</li>
                {% endif %}

                {% if adv.whatValue|length >1 %}
                    <li>{{ 'Keyword:'|trans }} {{ adv.whatValue }}</li>
                {% endif %}
                {% if adv.whereValue|length > 1 %}
                    <li>{{ 'Keyword place:'|trans }} {{ adv.whereValue }}</li>
                {% endif %}
            </ul>
            <div class="job-search">
                <a href="{{ path('add_newsletter_mobile', {'nid': adv.id}) }}"><img class="job-pencil" src="{{ asset('bundles/visidarbimobile/images/email/pencil.png') }}"
                                 alt=""/></a>
                <a href="{{ path('delete_newsletter_mobile', {'id': adv.id}) }}"><img class="job-basket" src="{{ asset('bundles/visidarbimobile/images/email/basket.png') }}"
                                 alt=""/></a>
            </div>
        </div>
    {% endfor %}
    <div class="input-text-block-button">
        <a href="{{ path('add_newsletter_mobile') }}">
            <button type="button"><span>{{ 'Pievienot e-pasta ziņojumu'|trans }}</span></button>
        </a>
        <br>
        <img class="plus-image" src="{{ asset('bundles/visidarbimobile/images/email/plus.png') }}" alt=""/>
    </div>
    {{ knp_pagination_render(pagination) }}
    {#{% include 'VisiDarbiMobileBundle::amount.html.twig' %}#}
    {% include 'VisiDarbiMobileBundle::footer.html.twig' %}

{% endblock %}