{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if not object.getIsExternal %}
            VisiDarbi
        {% else %}
            {{object.getExternalAdvertisement.getExternalAdvertisementSource}}
        {% endif %}
    </div>
{% endblock %}