{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    {% if object.getCompany.logo and object.getCompany.isLogoFileExists %}
        <div id="logoDiv" style="display: none;">
            <img src="{{ image(object.getCompany.getFullLogoPath).resize(150, 150).fillBackground.jpeg }}"/>
        </div>
    {% endif %}
    {{ parent() }}
{%endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(function() {
            $('#logoPreview').html($('#logoDiv').html());

            $('.format-selector').change(function() {
                var form = jQuery(this).closest('form');
                window.location.href = '{{ admin.generateUrl('create', {'format':'__f__'}) }}'.replace('__f__', $(this).val());
            })

            $('.country-selector').change(function() {
                
                var $citySelector = $('.city-selector');
                var origVal = $citySelector.val();
                
                $citySelector.empty();
                
                var url = Routing.generate('visidarbi_admin_get_cities', { 'country': $(this).val(), _sonata_admin: 'visidarbi.advertisement.admin.advertisement' });
                $.post(url, { }, function(data){
                   $citySelector.append($('<option></option>'));
                    for (var i = 0; i < data.length; i++) {
                        var $opt = $('<option></option>');
                        $opt.text(data[i].title);
                        $opt.attr('value', data[i].id);
                        
                        if (data[i].id == origVal) {
                            $opt.attr('selected', 'selected');
                        }
                        
                        $citySelector.append($opt);
                    }
                },'json');                
                
            }).change();

            $('.category-selector').change(function() {
                                
                var $professionSelector = $('.profession-selector');
                var origVal = $professionSelector.val();
                
                $professionSelector.empty();
                
                var url = Routing.generate('visidarbi_admin_get_professions', { 'category': $('.category-selector').val().join(), _sonata_admin: 'visidarbi.advertisement.admin.advertisement' });
                $.post(url, { }, function(data){
                   //console.debug(origVal);
                   $professionSelector.append($('<option></option>'));
                    for (var i = 0; i < data.length; i++) {
                        //console.debug(i);
                        var $opt = $('<option></option>');
                        $opt.text(data[i].title);
                        $opt.attr('value', data[i].id);
                        for(var x in origVal ) {
                            //console.debug(origVal[x]);
                            if(data[i].id == origVal[x]) {
                                $opt.attr('selected', 'selected');
                            }
                        }
                        
                        $professionSelector.append($opt);
                    }
                },'json');                
                
            }).change();


});
    </script>
{% endblock %}