{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}

{% set pName = '' %}
    {% for p in object.professions %}

        {% if pName == ''%}
            {% set pName = p.getAdminName() %}
        {% else %}
            {% set pName = pName ~ ', ' ~ p.getAdminName() %}
        {% endif %}
    {% endfor %}
{{pName|truncate(100, true)}}

{% endblock %}
