{# empty Twig template #}
{% extends 'SonataAdminBundle:Core:dashboard.html.twig' %}

{% set cc = current_admin_country() %}


{% block title %}
    {{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}
    {% if cc %}
        ({{ cc.name }})
    {% endif %}
{% endblock%}

{% block user_block %}
    {% if app.user %}
        {{ app.user }}

        {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
            <a href="{{ url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) }}">(exit)</a>
        {% endif %}

        - <a href="{{ url('sonata_user_admin_security_logout') }}">{{ 'user_block_logout'|trans({}, 'SonataUserBundle') }}</a>
    {% endif %}
{% endblock %}