{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _side_menu    = block('side_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            <!-- jQuery code -->
            <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.8.16.custom.css') }}" type="text/css" media="all" />

            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all"  />
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />

            <!-- base application asset -->
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" type="text/css" media="all" />
        {% endblock %}

        {% block javascripts %}
            
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <!--<script src="/js/fos_js_routes.js"></script>-->

            <script src="{{ asset('bundles/sonatajquery/jquery-1.8.3.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/sonataadmin/qtip/jquery.qtip-1.0.0-rc3.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonataadmin/jquery/jquery.form.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonataadmin/base.js') }}" type="text/javascript"></script>
        {% endblock %}

        <title>
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for label, uri in admin.breadcrumbs(action) %}
                        {% if not loop.first  %}
                            &gt;
                        {% endif %}
                        {{ label }}
                    {% endfor %}
                {% endif %}
            {% endif%}
        </title>
    </head>
    <body class="sonata-bc {% if _side_menu is empty %}sonata-ba-no-side-menu{% endif %}">
        {# initialize block value #}

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    {% if admin_pool is defined %}
                        <div class="navbar-text pull-right">{% include admin_pool.getTemplate('user_block') %}</div>
                        
                        {% set cs = current_admin_country() %}
                        {% if cs and app.security.token and is_granted('ROLE_ADMIN') %}
                        
                        <div class="country-menu pull-right" >
                            <ul class="nav" >
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="">I18n<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url('jms_translation_index') }}" target="_blank" >Translate messages</a></li>
                                        {#<li><a href="{{ url('visidarbi_admin_extract_translations') }}" target="_blank" >Extract messages</a></li> #}
                                        <li><a href="{{ url('visidarbi_admin_clear_cache') }}" target="_blank"  >Clear cache</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="country-menu pull-right" >
                            <ul class="nav" >
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-weight: bold;">{{ cs.name }} ({{ cs.domain }}) <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for country in all_countries() %}
                                            <li><a href="{{ url('visidarbi_admin_switch_country', { countryId: country.id }) }}">{{ country.name }} ({{ country.domain }})</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                        {% endif %}
                        
                        {% block logo %}
                            <a href="{{ url('sonata_admin_dashboard') }}" class="brand" >
                                <img src="{{ asset(admin_pool.titlelogo) }}"  alt="{{ admin_pool.title }}" />
                                {{ admin_pool.title }}
                            </a>
                        {% endblock %}

                        <div class="nav-collapse" >
                            <ul class="nav">
                                {% block top_bar_before_nav %} {% endblock %}
                                {% block sonata_top_bar_nav %}
                                    {% if app.security.token and is_granted('ROLE_ADMIN') %}
                                        {% for group in admin_pool.dashboardgroups %}
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ group.label|trans({}, group.label_catalogue) }} <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    {% for admin in group.items %}
                                                        {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                            <li><a href="{{ admin.generateUrl('list')}}">{{ admin.label|trans({}, admin.translationdomain) }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                {% endblock %}
                                {% block top_bar_after_nav %} {% endblock %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {% if _breadcrumb is not empty or action is defined %}
                <ul class="breadcrumb">
                    {% if _breadcrumb is empty %}
                        {% if action is defined %}
                            {% for label, uri in admin.breadcrumbs(action) %}
                                {% if not loop.last  %}
                                    <li>
                                        {% if uri is not empty %}
                                            <a href="{{ uri }}">{{ label }}</a>
                                        {% else %}
                                            {{ label }}
                                        {% endif %}
                                        <span class="divider">/</span>
                                    </li>
                                {% else %}
                                    <li class="active">{{ label }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {{ _breadcrumb|raw }}
                    {% endif %}
                </ul>
            {% endif %}

            {% block notice %}
                {% for notice_level in ['success','error','info', 'warning'] %}
                    {% set session_var = 'sonata_flash_' ~ notice_level %}
                    {% for flash in app.session.flashbag.get(session_var) %}
                        <div class="alert {{ 'alert-' ~ notice_level }}">
                            {{ flash|trans([], 'SonataAdminBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}

            <div style="float: right">
                {%block actions %}{% endblock %}
            </div>

            {% if _title is not empty or action is defined %}
                <div class="page-header">
                    <h1>
                        {% if _title is not empty %}
                            {{ _title|raw }}
                        {% elseif action is defined %}
                            {% for label, uri in admin.breadcrumbs(action) %}
                                {% if loop.last  %}
                                    {{ label }}
                                {% endif %}
                            {% endfor %}
                        {% endif%}
                    </h1>
                </div>
            {% endif%}

            <div class="row-fluid">
                {% if _side_menu is not empty %}
                    <div class="sidebar span2">
                        <div class="well sonata-ba-side-menu" style="padding: 8px 0;">{{ _side_menu|raw }}</div>
                    </div>
                {% endif %}

                <div class="content {{ _side_menu is not empty ? ' span10' : 'span12' }}">
                {% block sonata_admin_content %}

                    {% if _preview is not empty %}
                        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                    {% endif %}

                    {% if _content is not empty %}
                        <div class="sonata-ba-content">{{ _content|raw }}</div>
                    {% endif %}

                    {% if _show is not empty %}
                        <div class="sonata-ba-show">{{ _show|raw }}</div>
                    {% endif %}

                    {% if _form is not empty %}
                        <div class="sonata-ba-form">{{ _form|raw }}</div>
                    {% endif %}

                    {% if _list_table is not empty or _list_filters is not empty %}
                        <div class="sonata-ba-filter">
                            {{ _list_filters|raw }}
                        </div>
                        <div class="sonata-ba-list">
                            {{ _list_table|raw }}
                        </div>
                    {% endif %}

                {% endblock %}
                </div>


            </div>

            {% block footer %}
                <div class="pull-right clearfix">
                    <span class="label"><a href="http://sonata-project.org" rel="noreferrer" style="text-decoration: none; color: black">Sonata Project</a></span>
                </div>
            {% endblock %}
        </div>
    </body>
</html>
