* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

#wrapper {
    font-family: Arial, sans-serif;
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}

.container {
    position: relative;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    width: 93.15%;
    border-radius: 5px;
    /*top: 7.250em;*/
    display: block;
    margin: auto;
}

.title {
    padding-left:3% ;
    padding-right: 3%;
    text-align: center;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #2a2d30;
    margin-bottom: 0.294em;
    margin-top: 0.588em;
}

.center {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    color: #A1A1A1;
    padding-left:3% ;
    padding-right: 3%;
}

.input-text-block-button {
    /*border-bottom: thin solid #f5f5f5;*/
}

.input-text-block-button span {
    position: relative;
}

.input-text-block-button button {
    width: 93.33%;
    margin-left: 3.13%;

    height: 2.8125em;
    background-color: #ef9e01;
    background: linear-gradient(top, #F5AD02, #EB9501);
    background: -webkit-linear-gradient(top, #F5AD02, #EB9501);
    background: -moz-linear-gradient(top, #F5AD02, #EB9501);
    background: -o-linear-gradient(top, #F5AD02, #EB9501);
    background: -ms-linear-gradient(top, #F5AD02, #EB9501);

    border: thin solid #c18501;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    margin-top: 2em;
    margin-bottom: .5em;
}

.footer {
    text-align: center;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-bottom: 1.7em;
    margin-top: 0.2em;
}
.link {
    /*color:#3D95DD ;*/
    color:#4ea6ca ;
}
@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper {
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper {
        font-size: 16px;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper {
        font-size: 24px;
    }
}

@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper {
        font-size: 32px;
    }
}

@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper {
        font-size: 38px;
    }
}

@media screen and (min-width: 1025px) {
    #wrapper {
        font-size: 51px;
    }
}