{% extends 'VisiDarbiCommonBundle::user_office_base.html.twig' %}

{% trans_default_domain 'advertisement_search_history' %}

{% block content %}
    <section class="clearfix">
        {% if pagination|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th class="c7">{{ 'Keyword'|trans }}</th>
                        <th class="c8">{{ 'Times searched'|trans }}</th>
                        <th class="c9">{{ 'Last search date'|trans }}</th>
                        <th class="c6">&nbsp;</th>
                    </tr>
                </thead>
                </thead>
                <tbody>
                    {% for history in pagination %}
                    <tr>
                        <td>{{ history.keywordString }}                          
                            {% if history.getProfessionKeyword and history.getPlaceKeyword%}
                                
                                <a class="hidden" href="{{path('visidarbi_advertisement_list_search', {'where' : history.getPlaceSlug, 'what':  history.getProfessionSlug})}}" title="{{ history.keyword }}" target="_blank"></a>
                            
                             {% elseif history.getPlaceKeyword and not history.getProfessionKeyword%}
                             
                                <a class="hidden" href="{{path('visidarbi_advertisement_list_search_where', {'where' : history.getPlaceSlug})}}" title="{{ history.keyword }}" target="_blank"></a>
                                
                             {% elseif not history.getPlaceKeyword and history.getProfessionKeyword%}
                                
                                <a class="hidden" href="{{path('visidarbi_advertisement_list_search_what', {'what' : history.getProfessionSlug})}}" title="{{ history.keyword }}" target="_blank"></a>
                                
                             {% endif %}
                        </td>
                        <td>{{ '%count% times'|trans({ '%count%': history.searchCount }) }}</td>
                        <td>{{ history.lastSearchedAt|date(setting('site.date_format')) }}</td>
                        <td><a class="remove history-remove" href="javascript:;" title="{{ 'Remove'|trans }}" data-history-id="{{ history.id }}" >{{ 'Remove'|trans }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <section class="pager pager_2">
                {{ knp_pagination_render(pagination, 'VisiDarbiUserBundle:AdvertismentSearchHistory:pagination.html.twig') }}
            </section>
        {% endif %}
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('.history-remove').click(function(event) {
                event.preventDefault();
                
                var historyId = $(this).data('history-id');

                answer = confirm("{{ 'Are you sure want to delete?'|trans }}");

                if (answer) {
                    $(this).parents('tr:first').fadeOut();
                    $.post('{{ url('delete_advertisment_search_history') }}', { 'historyId': historyId }, function(resp) { }, 'json' );
                }
            });
            
            $('.history-remove-all').click(function(event) {
                event.preventDefault();

                answer = confirm("{{ 'Are you sure want to delete all search history?'|trans }}");

                if (answer) {

                    $(this).html(
                        $(this).data('wait-text')
                    );

                    $.post('{{ url('delete_all_advertisment_search_history') }}', { }, function(resp) { 
                        location.reload(true);
                    }, 'json' );
                }
            });
        });
    </script>
{% endblock %}