{% extends 'VisiDarbiCommonBundle::pagination.html.twig' %}

{% trans_default_domain 'advertisement_search_history' %}

{% block additional_content %}
    <a class="remove history-remove-all" href="javascript:;" title="{{ 'Delete all history'|trans }}" data-wait-text="{{ 'Please wait...'|trans }}" >{{ 'Delete all history'|trans }}</a>
{% endblock %}