<form novalidate>
<section class="searchline">
    <section class="content clearfix">
        <label>Worker</label>
        <dl class="autocomplete css3 ">
            <dt class="ui-widget"><label class="ph">Worker</label>{{form_widget(search_form.what,  { 'attr': {'placeholder': 'Worker'|trans, 'title': 'Worker'|trans, 'class':"search-what", 'maxlength':'70'} })}}</dt>
            <dd id="searchadvertisement_what_box"></dd>
        </dl>
        <label>City</label>
        <dl class="autocomplete css3 ">
            <dt class="ui-widget"><label class="ph">City</label>{{form_widget(search_form.where, { 'attr': {'placeholder': 'City'|trans, 'title': 'City'|trans, 'class':"search-where", 'maxlength':'70'} })}}</dt>
            <dd id="searchadvertisement_where_box"></dd>
        </dl>
        <a href="javascript: submitSearch();" title="{{'Search vacancy'|trans}}" class="button1 css3 txtshadow" tabindex="3"><span>{{'Search vacancy'|trans}}</span></a>
        {% if app.user.type != 'private' %}
        <section class="right add">
            {% if showAddAdvertisementButton %}
                
                {% if showAddAdvertisementButtonUrl is not empty %}  
                    <section class="inn">
                        <a href="{{ showAddAdvertisementButtonUrl }}" title="{{'Add advertisement'|trans}}" tabindex="4">{{'Add advertisement'|trans}}</a>
                    </section>
                {% endif %}

            {% endif %}
        </section>
        {% endif %}
    </section>
    <section class="shadow"><div class="css3"></div></section>
</section>
</form>
{{ form_javascript(search_form) }}