<form id="searchline" class="css3" novalidate>
    <section class="clearfix">
        <section>
            <label>{{'Keywords'|trans}}</label>
            <dl class="autocomplete css3">
                <dt><label class="ph">{{'Keywords'|trans}}</label>{{form_widget(search_form.what,  { 'attr': {'title': 'Keywords'|trans,'placeholder': 'Keywords'|trans, 'class':"search-what", 'maxlength':'70'} })}}</dt>
                <dd id="searchadvertisement_what_box"></dd>
            </dl>
            <div>{{'Profession, industries or company'|trans}}</div>
        </section>
        <section>
            <label>{{'Place'|trans}}</label>
            <dl class="autocomplete css3">
                <dt><label class="ph">{{'Place'|trans}}</label>{{form_widget(search_form.where, { 'attr': {'title': 'Place'|trans, 'placeholder': 'Place'|trans, 'class':"search-where", 'maxlength':'70'} })}}</dt>
                <dd id="searchadvertisement_where_box"></dd>
            </dl>
            <div>{{'Country, city or state'|trans}}</div>
        </section>
        <section>
            <span class="button1 shadow css3">
                <a class="button1 css3 txtshadow" href="javascript: submitSearch();" title="{{'Search vacancy'|trans}}" tabindex="3"><span>{{'Search vacancy'|trans}}</span></a>
            </span>
            {% if showAddAdvertisementButton %}
                <div class="addlink"><a href="{{ showAddAdvertisementButtonUrl }}" title="{{'Add advertisement'|trans}}" tabindex="4">{{'Add advertisement'|trans}}</a></div>
            {% endif %}
        </section>
    </section>
</form>
{{ form_javascript(search_form) }}
