{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {{ externalAdvertisementsByResource(object) }}  {#object.externalAdvertisements.count#}
    </div>
{% endblock %}