* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

/*todo  .user-name width: 45%;  .close-image left:31.56%;
  todo .content-text width: 58.5%;  .content-image-opened  left: 22.8%;*/

@media only screen  and (max-width: 310px){
    #wrapper {
        /*width: 240px;*/
        width: 100%;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 38px;
        background: #2a2d30;
    }

    .user-avatar {
        position: relative;
        left: 2.81%;
        top: 5px;
        width: 8.75%;
    }

    .user-name {
        position: relative;
        display: inline-block;
        top: -3px;
        left: 2.5%;
        width: 45%;
        font-size: 9px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    .close-image {
        position: relative;
        left:31.56%;
        top: 1px;
        width: 5.625%;

    }

    #content-top {
        height: 100%;
        background: #2f3236;
        min-height: 115px;
    }

    li.menu-item {
        list-style-type: none;
        margin-left: 4.69%;
        padding-top: 8px;
        padding-bottom: 7px;
        font-size: 10px;
        font-family: Arial, sans-serif;
        color: #fff;
    }

    #content-center {
        height: 100%;
        min-height: 32px;
        background: #3d4042;
        border-top: 1px solid #515355;
    }

    .content-text {
        display: inline-block;
        margin-left: 4.69%;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 12px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        width: 58.5%;
    }


    .content-image-opened {
        position: relative;
        left: 22.8%;
        top: 6px;
        width: 9%;

    }

    #content-footer {
        height: 100%;
        min-height: 155px;
        background: #515355;
    }

    #footer-top {
        height: 100%;
        border-top: 1px solid #636566;
        min-height: 40px;
        background: #3d4042;
    }

    .screen {
        margin-left: 5.31%;
        margin-top: 18px;

    }
    .screen-image{
        width: 5%;

    }

    .desktop-link {
        position: relative;
        top: -7px;
        left: 1%;
        font-size: 10px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer-bottom {
        height: 100%;
        min-height: 20px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 6px;
        margin-left: 3.125%;
        font-size: 8px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*240*/
@media only screen and (min-width: 311px) and (max-width: 460px){
    #wrapper {
        /*width: 320px;*/
        width: 100%;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 50px;
        background: #2a2d30;
    }

    .user-avatar {
        position: relative;
        left: 2.81%;
        top: 8px;
        width: 8.75%;
    }

    .user-name {
        position: relative;
        display: inline-block;
        top: -3px;
        left: 2.5%;
        width: 45%;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    .close-image {
        position: relative;
        left:31.56%;
        top: 3px;

    }

    #content-top {
        height: 100%;
        min-height: 175px;
        background: #2f3236;
    }

    li.menu-item {
        list-style-type: none;
        margin-left: 4.69%;
        padding-top: 12px;
        padding-bottom: 10px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: #fff;
    }

    #content-center {
        height: 100%;
        min-height:  47px;
        background: #3d4042;
        border-top: 1px solid #515355;
    }

    .content-text {
        display: inline-block;
        margin-left: 4.69%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        width: 58.5%;
    }


    .content-image-opened {
        position: relative;
        left: 22.8%;
        top: 9px;
        width: 9%;
    }

    #content-footer {
        height: 100%;
        min-height: 233px;
        background: #515355;
    }

    #footer-top {
        border-top: 1px solid #636566;
        height: 100%;
        min-height: 60px;
        background: #3d4042;
    }

    .screen {
        margin-left: 5.31%;
        margin-top: 27px;
    }

    .screen-image{
        width: 5%;

    }

    .desktop-link {
        position: relative;
        top: -5px;
        left: 1%;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer-bottom {
        height: 100%;
        min-height: 30px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 8px;
        margin-left: 3.125%;
        font-size: 11px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*320*/
@media only screen and (min-width: 461px) and (max-width: 580px){

    #wrapper {
        /*width: 380px;*/
        width: 100%;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 70px;

        background: #2a2d30;
    }

    .user-avatar {
        position: relative;
        left: 2.81%;
        top: 16px;
        width: 8.75%;


    }

    .user-name {
        position: relative;
        display: inline-block;
        top: -3px;
        left: 2.5%;
        width: 45%;
        font-size: 21px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    .close-image {
        position: relative;
        left:31.56%;


    }

    #content-top {
        height: 100%;
        min-height: 262px;
        background: #2f3236;
    }

    li.menu-item {
        list-style-type: none;
        margin-left: 4.69%;
        padding-top: 18px;
        padding-bottom: 15px;
        font-size: 21px;
        font-family: Arial, sans-serif;
        color: #fff;
    }

    #content-center {
        height: 100%;
        min-height: 70px;
        background: #3d4042;
        border-top: 1px solid #515355;
    }

    .content-text {
        display: inline-block;
        margin-left: 4.69%;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 27px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        width: 58.5%;
    }


    .content-image-opened {
        position: relative;
        left: 22.8%;
        top: 12px;
        width: 9%;
    }

    #content-footer {
        height: 100%;
        min-height: 350px;
        background: #515355;
    }

    #footer-top {
        border-top: 1px solid #636566;
        height: 100%;
        min-height: 90px;
        background: #3d4042;
    }

    .screen {
        margin-left: 5.31%;
        margin-top: 40px;
    }

    .desktop-link {
        position: relative;
        top: -5px;
        left: 1%;
        font-size: 21px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    .screen-image{
        width: 5%;

    }

    #footer-bottom {
        height: 100%;
        min-height: 45px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 12px;
        margin-left: 3.125%;
        font-size: 15px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }

}/*480*/
@media only screen and (min-width: 581px) and (max-width: 720px){

    #wrapper {
        /* width: 640px;*/
        width: 100%;
        margin: 0 auto      }


    #header {
        height: 100%;
        min-height: 94px;
        background: #2a2d30;
    }

    .user-avatar {
        position: relative;
        left: 2.81%;
        top: 16px;
        width: 8.75%;

    }

    .user-name {
        position: relative;
        display: inline-block;
        top: -4px;
        left: 2.5%;
        width: 45%;
        font-size: 28px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    .close-image {
        position: relative;
        left: 31.56%;
        top: 6px;
        width: 36px;
        height: 36px;

    }

    #content-top {
        height: 100%;
        min-height: 350px;
        background: #2f3236;
    }

    li.menu-item {
        list-style-type: none;
        margin-left: 4.69%;
        padding-top: 24px;
        padding-bottom: 20px;
        font-size: 28px;
        font-family: Arial, sans-serif;
        color: #fff;
    }

    #content-center {
        height: 100%;
        min-height: 94px;
        background: #3d4042;
        border-top: 1px solid #515355;
    }

    .content-text {
        display: inline-block;
        margin-left: 4.69%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 36px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        width: 58.5%;
    }


    .content-image-opened {
        position: relative;
        left: 22.8%;
        top: 18px;
        width: 9%;
    }

    #content-footer {
        height: 100%;
        min-height: 466px;
        background: #515355;
    }

    #footer-top {
        border-top: 1px solid #636566;
        height: 100%;
        min-height: 120px;
        background: #3d4042;
    }

    .screen {
        margin-left: 5.31%;
        margin-top: 54px;
    }

    .screen-image{
        width: 5%;
    }

    .desktop-link {
        position: relative;
        top: -10px;
        left: 1%;
        font-size: 28px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    #footer-bottom {
        height: 100%;
        min-height: 60px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 16px;
        margin-left: 3.125%;
        font-size: 22px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*640*/
@media only screen and (min-width: 721px) and (max-width: 1024px){
    #wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #header {
        height: 100%;
        min-height: 140px;
        background: #2a2d30;
    }

    .user-avatar {
        position: relative;
        left: 2.81%;
        top: 32px;
        width: 8.75%;


    }

    .user-name {
        position: relative;
        display: inline-block;
        top: 7px;
        left: 2.5%;
        width: 45%;
        font-size: 42px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    .close-image {
        position: relative;
        width: 5.625%;
        left:31.56%;
        top: 9px;


    }

    #content-top {
        height: 100%;
        min-height: 524px;
        background: #2f3236;
    }

    li.menu-item {
        list-style-type: none;
        margin-left: 4.69%;
        padding-top: 36px;
        padding-bottom: 30px;
        font-size: 42px;
        font-family: Arial, sans-serif;
        color: #fff;
    }

    #content-center {
        height: 100%;
        min-height: 140px;
        background: #3d4042;
        border-top: 2px solid #515355;
    }

    .content-text {
        display: inline-block;
        margin-left: 4.69%;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 54px;
        font-family: Arial, sans-serif;
        color: #d7d7d8;
        width: 58.5%;
    }


    .content-image-opened {
        position: relative;
        left: 22.8%;
        top: 24px;
        width: 9%;
    }

    #content-footer {
        height: 100%;
        min-height: 700px;
        background: #515355;
    }

    #footer-top {
        border-top: 1px solid #636566;
        height: 100%;
        min-height: 180px;
        background: #3d4042;
    }

    .screen {
        margin-left: 5.31%;
        margin-top: 80px;
    }

    .desktop-link {
        position: relative;
        top: -10px;
        left: 1%;
        font-size: 42px;
        font-family: Arial, sans-serif;
        color: #f6ae01;
    }

    .screen-image{
        width: 5%;

    }

    #footer-bottom {
        height: 100%;
        min-height: 90px;
        background: #2a2d30;
    }

    .copyright {
        padding-top: 24px;
        margin-left: 3.125%;
        font-size: 30px;
        font-family: Arial, sans-serif;
        color: #6a6d6f;
    }
}/*960*/