* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

#wrapper {
    width: 320px;
    margin: 0 auto;
}

#header {
    height: 47px;
    background: #2a2d30;
}

.user-avatar {
    position: relative;
    left: 2.81%;
    top: 8px;
    width: 8.75%;
}

.user-name {
    position: relative;
    display: inline-block;
    top: -2px;
    left: 2.5%;
    width: 45%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

.close-image {
    position: relative;
    width: 5.625%;
    left:31.56%;
    top: 3px;

}

#content-top {
    height: 175px;
    background: #2f3236;
}

li.menu-item {
    list-style-type: none;
    margin-left: 4.69%;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #fff;
}

#content-center {
    height: 47px;
    background: #3d4042;
    border-top: 1px solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.69%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
    width: 58.5%;
}


.content-image-opened {
    position: relative;
    left: 22.8%;
    top: 9px;
}

#content-footer {
    height: 233px;
    background: #515355;
}

#footer-top {
    border-top: 1px solid #636566;
    height: 60px;
    background: #3d4042;
}

.screen {
    margin-left: 5.31%;
    margin-top: 27px;
}

.desktop-link {
    position: relative;
    top: -5px;
    left: 1%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer-bottom {
    height: 30px;
    background: #2a2d30;
}

.copyright {
    padding-top: 8px;
    margin-left: 3.125%;
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}