* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
#wrapper {
    width: 480px;
    margin: 0 auto;
}

#header {
    height: 70px;
    background: #2a2d30;
}

.user-avatar {
    position: relative;
    left: 2.81%;
    top: 16px;
    width: 42px;
    height: 45px;

}

.user-name {
    position: relative;
    display: inline-block;
    top: -3px;
    left: 2.5%;

    font-size: 21px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

.close-image {
    position: relative;
    width: 5.625%;
    left:51.56%;
    top:5px;


}

#content-top {
    height: 262px;
    background: #2f3236;
}

li.menu-item {
    list-style-type: none;
    margin-left: 4.69%;
    padding-top: 18px;
    padding-bottom: 15px;
    font-size: 21px;
    font-family: Arial, sans-serif;
    color: #fff;
}

#content-center {
    height: 70px;
    background: #3d4042;
    border-top: 1px solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.69%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 27px;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
}


.content-image-opened {
    position: relative;
    left: 42.8%;
    top: 12px;
    width: 42px;
    height: 36px;
}

#content-footer {
    height: 350px;
    background: #515355;
}

#footer-top {
    border-top: 1px solid #636566;
    height: 90px;
    background: #3d4042;
}

.screen {
    margin-left: 5.31%;
    margin-top: 40px;
}

.desktop-link {
    position: relative;
    top: -5px;
    left: 1%;
    font-size: 21px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

.screen-image{
    width: 24px;
    height: 24px;
}

#footer-bottom {
    height: 45px;
    background: #2a2d30;
}

.copyright {
    padding-top: 12px;
    margin-left: 3.125%;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}