* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;
    initial-scale: 1.0;
}
@-ms-viewport {
    width: device-width;
    initial-scale: 1.0;
}

#wrapper {
    width: 640px;
    margin: 0 auto;
}

#header {
    height: 94px;
    background: #2a2d30;
}

.user-avatar {
    position: relative;
    left: 2.81%;
    top: 16px;
    width: 56px;
    height: 60px;
}

.user-name {
    position: relative;
    display: inline-block;
    top: -4px;
    left: 2.5%;

    font-size: 28px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

.close-image {
    position: relative;
    left:51.56%;
    top: 6px;
    width: 5.625%;

}

#content-top {
    height: 350px;
    background: #2f3236;
}

li.menu-item {
    list-style-type: none;
    margin-left: 4.69%;
    padding-top: 24px;
    padding-bottom: 20px;
    font-size: 28px;
    font-family: Arial, sans-serif;
    color: #fff;
}

#content-center {
    height: 94px;
    background: #3d4042;
    border-top: 1px solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.69%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 36px;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
}


.content-image-opened {
    position: relative;
    left: 42.8%;
    top: 18px;
    width: 56px;
    height: 48px;
}

#content-footer {
    height: 466px;
    background: #515355;
}

#footer-top {
    border-top: 1px solid #636566;
    height: 120px;
    background: #3d4042;
}

.screen {
    margin-left: 5.31%;
    margin-top: 54px;
}

.screen-image{
    width: 32px;
    height: 32px;
}
.desktop-link {
    position: relative;
    top: -10px;
    left: 1%;
    font-size: 28px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer-bottom {
    height: 60px;
    background: #2a2d30;
}

.copyright {
    padding-top: 16px;
    margin-left: 3.125%;
    font-size: 22px;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}