* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
}

#header {
    height: 140px;
    background: #2a2d30;
}

.user-avatar {
    position: relative;
    left: 2.81%;
    top: 32px;
    width: 84px;
    height: 90px;

}

.user-name {
    position: relative;
    display: inline-block;
    top: -6px;
    left: 2.5%;

    font-size: 42px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

.close-image {
    position: relative;
    width: 5.625%;
    left:51.56%;
    top: 9px;


}

#content-top {
    height: 524px;
    background: #2f3236;
}

li.menu-item {
    list-style-type: none;
    margin-left: 4.69%;
    padding-top: 36px;
    padding-bottom: 30px;
    font-size: 42px;
    font-family: Arial, sans-serif;
    color: #fff;
}

#content-center {
    height: 140px;
    background: #3d4042;
    border-top: 2px solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.69%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 54px;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
}


.content-image-opened {
    position: relative;
    left: 42.8%;
    top: 24px;
    width: 84px;
    height: 72px;
}

#content-footer {
    height: 700px;
    background: #515355;
}

#footer-top {
    border-top: 1px solid #636566;
    height: 180px;
    background: #3d4042;
}

.screen {
    margin-left: 5.31%;
    margin-top: 80px;
}

.desktop-link {
    position: relative;
    top: -10px;
    left: 1%;
    font-size: 42px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

.screen-image{
    width: 48px;
    height: 48px;
}

#footer-bottom {
    height: 90px;
    background: #2a2d30;
}

.copyright {
    padding-top: 24px;
    margin-left: 3.125%;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}