* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;
    initial-scale: 1.0;
}
@-ms-viewport {
    width: device-width;
    initial-scale: 1.0;
}

#wrapper {
    width: 240px;
    margin: 0 auto;
}



#header {
    height: 32px;
    background: #2a2d30;
}

.user-avatar {
    position: relative;
    left: 2.81%;
    top: 5px;
}

.user-name {
    position: relative;
    display: inline-block;
    top: -7px;
    left: 2.5%;

    font-size: 9px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

.close-image {
    position: relative;
    left:51.56%;
    top: -7px;
    width: 5.625%;

}

#content-top {
    height: 115px;
    background: #2f3236;
}

li.menu-item {
    list-style-type: none;
    margin-left: 4.69%;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #fff;
}

#content-center {
    height: 32px;
    background: #3d4042;
    border-top: 1px solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.69%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
}


.content-image-opened {
    position: relative;
    left: 45.8%;
    top: 6px;
    width: 20px;
    height: 16px;
}

#content-footer {
    height: 155px;
    background: #515355;
}

#footer-top {
    border-top: 1px solid #636566;
    height: 40px;
    background: #3d4042;
}

.screen {
    margin-left: 5.31%;
    margin-top: 18px;

}

.desktop-link {
    position: relative;
    top: -7px;
    left: 1%;
    font-size: 10px;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer-bottom {
    height: 20px;
    background: #2a2d30;
}

.copyright {
    padding-top: 6px;
    margin-left: 3.125%;
    font-size: 8px;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}