* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}

#header {
    width: 100%;
    height: 100%;
    /*min-height: 5.4375em;*/
    background-color: #2a2d30;
    border-bottom: 0.1875em solid #c1c1c1;
}







#content {
    margin-left: 6.25%;
}

.error-list{
    color: #ff0000;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 0.5em;
    padding-bottom: 1em;

}

.content-title {
    margin-top: 1.250em;
    /*margin-left: 20px;*/
    font-size: 1.250em;
    font-family: Arial, sans-serif;
    color: #000;
    padding-bottom:0.500em;
}



.submit-image{
    left: -10%;
    position: relative;
    /*top: -2.250em;*/
    width: 2.8125%;
}
.text{
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    font-family: Arial,sans-serif;
    margin-bottom: 0.3125em;
}
.input-text-block {
    margin-bottom: 0.3125em;

}

.input-text-block select {

    background: linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    font-size: 0.875em;
    color: #7F7F7F;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    height: 2.714em;
    width: 93%;
    margin: 0 auto;
    padding: .82em 0 0 3.75%;
    line-height: 1.5em;
    font-family: Arial, sans-serif;
}

select.opt-class option, select.opt-class option:checked, select.opt-class option:checked:disabled{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    background-color: transparent !important;
    color: #8e8e8e;
    outline: none;
}

select.opt-class option:first-child{
    /*color: #c7c7c7  !important;*/
    font-size: 1em !important;
    margin-bottom: 1em;
}

.wp-hidden{
    display: none;
}

.submit-image-filter {
    left: -12%;
    position: relative;
    top: -.2em;
    width: .765em; /*4%;*/
}

.placeholder-gray-filter{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
    outline: none;
}

.placeholder-gray-filter:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}

.placeholder-gray-filter::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}

.placeholder-gray-filter:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;

}

.placeholder-gray-filter::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}







.input-text-block input[type="text"] {

    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);



    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    font-size: 1em;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    /*display: block;*/
    height: 2.625em;
    width: 89.0%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;
}
.placeholder-gray:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}
.placeholder-gray::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}
.placeholder-gray:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;

}
.placeholder-gray::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}

.placeholder-black:-ms-input-placeholder{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #000;
}
.placeholder-black::-webkit-input-placeholder{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #000;
}
.placeholder-black:-moz-placeholder{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #000;
}
.placeholder-black::-moz-placeholder{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #000;
}
.input-label {
    margin-left: 1%;
    margin-bottom: 0.625em;
    font-family: Arial, sans-serif;
    color: #a4a4a4;
    font-size: 0.750em;
    padding-top: .2em; /*1%;*/
}


.content-footer-email {
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    margin-left: 6.25%;
    margin-top: 1.786em;
    /*padding-bottom: 20px;*/
}

.checkbox-mobile {
    font-size: 0.938em;
    font-family: Arial, sans-serif;
    color: #828282;
    margin-left: 6.25%;
    position: relative;
    padding-top: 0.714em;
    /*top: -11px;*/
}

span.checkbox-mobile-label{
    margin-left: 0.714em;
    font-size: 0.938em;
    font-family: Arial, sans-serif;
    color: #828282;
    position: relative;

}





.button-size{
    height: 3.125em;
    font-size: inherit;

    padding-top: 1.875em;
    padding-bottom: 1.875em;
}


.submit-button {
    width: 87.5%;
    margin-left: 6.25%;
    height: 100%;
    min-height: 2.22em;
    background-color: #F4AC01;
    background: linear-gradient( top, #F4AC01, #EB9601);
    background: -webkit-linear-gradient(top, #F4AC01, #EB9601);
    background: -moz-linear-gradient( top, #F4AC01, #EB9601);
    background: -o-linear-gradient( top, #F4AC01, #EB9601);
    background: -ms-linear-gradient( top, #F4AC01, #EB9601);
    border: thin solid #966901;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.125em;
    color: white;
    cursor: pointer;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;



}
.submit-button span{
    position: relative;
    color: #fff;
    font-size: 1.385em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    /*top: -0.1875em;*/
    margin-left: -1.689%;
}


.content-footer-text {
    text-align: center;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-bottom: 3.125em;
}













@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) {
    #wrapper{
        font-size: 24px;

    }

}


