* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}
@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}
.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}

#header {
    width: 100%;
    height: 100%;
    min-height: 3em;
    background-color: #2a2d30;
}





#top-content {
    padding-top: 0.500em;
    background: #f5f5f5;
    padding-left: 0.625em;
    padding-right: 0.625em;
    overflow: hidden;
}
.top-content-image{
    width: 3em;
}

.top-content-title {
    position: relative;
    display: inline-block;
    top: -1.500em;
    left: 3.3333%;
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    font-family: Arial, sans-serif;

}

.top-content-text {
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    color: #828282;
    margin-top: 0.571em;
    margin-bottom: 0.714em;

}

.center-content-title {
    font-size: 1.313em;
    color: #010101;
    font-family: Arial, sans-serif;
    padding: 1.667em 3.1335% 1.095em;


}

.center-content {
    margin-left: 3.1335%;
    /*margin-right: 0.714em;*/
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #828282;
}

/*center-button*/
.center-button-image {
    position: relative;
    left: 14.75%;
    top: -2em;
    width: 1em;
}

.center-button {
    width: 96.135%;
    height: 2.667em;
    position: relative;
    margin-left: .7%;
    background: #FDFDFE;
    border-left: thin solid #d8d8d8;
    border-right: thin solid #d8d8d8;;
    border-top: thin solid #DCDCDC;
    border-bottom: thin solid #BFBFBF;
    cursor: pointer;
    font-size: 1.071em;
    font-weight: normal;
    font-family: Arial, sans-serif;
    -webkit-border-radius: 0.214em;
    -moz-border-radius: 0.214em;
    border-radius: 0.214em;
    color: #3895e4;
    background: linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -webkit-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -moz-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -o-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -ms-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
}

/*end center-button*/

.expiration-date {
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: #000;
    margin-top: 2.857em;
}

.company-registration-data {
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 0.357em;
    margin-bottom: 0.571em;
}

.company-address {
    line-height: 1.667em;
    font-size: 0.857em;
    font-family: Arial, sans-serif;
    color: #a4a4a4;
    border-bottom: 0.083em solid #ddd;
    padding-bottom: 2.250em;
    margin-bottom: 2.500em;
}

#content-footer {
    padding-left: 3.125%;

}

.content-footer-title {
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    margin-bottom: 1.071em;
}

.content-footer-info {
    margin-bottom: 1.563em;
}

.content-footer-info li {
    list-style: none;
    margin: 0.714em 0;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #828282;
}

.content-footer-info li a {
    color: #3895e4;
}


.button {
    margin-top: 0.938em;
}
.first-button-image{
    position: relative;
    left: 31.75%;
    top:-1.6875em;
    width: 1em;
}
.second-button-image{
    position: relative;
    left: 31.75%;
    top: -2.6875em;
    width: 1em;
}
.second-button{
    top:-1em;
}
.reg-button {
    width: 93.125%;
    height: 2.667em;
    position: relative;
    margin-left: 3.625%;
    background: #FDFDFE;
    border-left: thin solid #d8d8d8;
    border-right: thin solid #d8d8d8;;
    border-top: thin solid #DCDCDC;
    border-bottom: thin solid #BFBFBF;
    font-size: 0.938em;
    font-weight: normal;
    font-family: Arial, sans-serif;
    -webkit-border-radius: 0.214em;
    -moz-border-radius: 0.214em;
    border-radius: 0.214em;
    color: #3895e4;
    background: linear-gradient( top, #FDFDFE, #F5F5F5,#F0F0F0 );
    background: -webkit-linear-gradient(top, #FDFDFE, #F5F5F5,#F0F0F0 );
    background: -moz-linear-gradient( top, #FDFDFE, #F5F5F5,#F0F0F0);
    background: -o-linear-gradient( top, #FDFDFE, #F5F5F5,#F0F0F0);
    background: -ms-linear-gradient( top, #FDFDFE, #F5F5F5,#F0F0F0);
}



.buttons {
    margin-bottom: 0.5em;
}

#footer-top {
    width: 100%;
    height: 4.6%;
    min-height: 2.5em;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 0.625em;
    margin-left: 6.125%;
    width: 5%;
}

.info {
    display: inline-block;
    position: relative;
    left: 1.2%;
    top: -0.125em;
    width: 35%;
}

.info a {
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}
.number{
    display: inline-block;
}

.number span {

    position: relative;
    left: 4.975%;
    top: -0.125em;
    color: #fff;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.phone {
    display: inline-block;
    position: relative;
    left: 1.82%;
    top: 0.125em;
    width: 1em;
}

.letter-bottom-image {
    width: 1em;
}

#footer-bottom {
    height: 1.875em;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 0.583em;
    color: #f6ae01;
    font-size: 0.750em;
    font-family: Arial, sans-serif;
}


@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;

    }

}
