* {
    margin: 0;
    padding: 0;
}
a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}



@-o-viewport {
    width: device-width;
    height: device-height;

}
@-ms-viewport {
    width: device-width;

    height: device-height;

}
.index-mobile{
    background-color: #2f3236;
}

#wrapper {

    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}

#header {
    width: 100%;
    height: 100%;
    min-height: 2.9375em;
    background-color:  #2a2d30;
}

.authorize {
    display: inline-block;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
    padding: 1.063em 0 0 6.25%;
    width: 43.125%;
}

.close-image {
    /*position: relative;*/
    /*left:38.75%;*/
    /*top: 0.1875em;*/
    /*width: 1.125em; !*5.625%; *!*/

    float: right;
    margin-right: 1.25em;
    margin-top: 1em;
    width:  1.1em;

}

#content {
    min-height: 20.3125em;
    background: #3d4042;
    padding-top: 0.938em;
}

.error-list{
    color: #ff0000;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 2em;

}

.input-text-block {
    padding-top: 0.938em;
}

.input-text-block input[type="text"],
.input-text-block input[type="password"],
.input-email-block input[type="email"] {
    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    font-size: 1em;
    border: none;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    display: block;
    height: 2.625em;
    width: 83.75%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;
}




.input-text-block input[type="text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #8e8e8e;
}
.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #8e8e8e;
}
.input-text-block input[type="text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #8e8e8e;

}
.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;
}


.input-text-block input[type="password"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #8e8e8e;
}
.input-text-block input[type="password"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #8e8e8e;
}
.input-text-block input[type="password"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #8e8e8e;

}
.input-text-block input[type="password"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;
}



.input-email:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;
}
.input-email::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;
}
.input-email:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-email::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    color: #8e8e8e;
}

.reg-button {
    background-color: #EB9601;
    background: linear-gradient( top, #F4AC01, #EB9601);
    background: -webkit-linear-gradient(top, #F4AC01, #EB9601);
    background: -moz-linear-gradient( top, #F4AC01, #EB9601);
    background: -o-linear-gradient( top, #F4AC01, #EB9601);
    background: -ms-linear-gradient( top, #F4AC01, #EB9601);
    width: 87.5%;
    padding: 0 0 0 3.75%;
    margin-left: 6.25%;
    height: 2.3333em;
    border: 0.0625em solid #c28600;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    margin-top: 0.833em;
    margin-bottom: 1.111em;
}

.password-text {
    text-align: center;
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    margin-bottom: 1.875em;
}

.google-button {
    position:relative;
    line-height: 2em;
    background-color: #D5462E;
    background: linear-gradient( top, #E76245, #D5462E);
    background: -webkit-linear-gradient(top, #E76245, #D5462E);
    background: -moz-linear-gradient( top, #E76245, #D5462E);
    background: -o-linear-gradient( top, #E76245, #D5462E);
    background: -ms-linear-gradient( top, #E76245, #D5462E);
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    width: 42.19%;
    left: 6.25%;
    height: 2em;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    text-decoration: none;
}



.google-button:active {
    position: relative;
    top: 0.0714em;
}

.google-button span {
    padding-left: 10%;
}
.google-image{
    position: relative;
    left: 5.9%;
    top: 0.214em;
    width: .96em; /*11.33%; */
}
.facebook-image{
    position: relative;
    left: 5.9%;
    /*top: 0.214em;*/

    width: .75em; /*8.89%;*/

}

.facebook-button {

    position:relative;
    line-height: 2em;
    background-color: #415D9D;
    background: linear-gradient( top, #4873C1, #415D9D);
    background: -webkit-linear-gradient(top, #4873C1, #415D9D);
    background: -moz-linear-gradient( top, #4873C1, #415D9D);
    background: -o-linear-gradient( top, #4873C1, #415D9D);
    background: -ms-linear-gradient( top, #4873C1, #415D9D);
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    width: 42.19%;
    height: 2em;
    left: 7.8%;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    text-decoration: none;
}

.facebook-button:active {
    position: relative;
    top: 0.0714em;
}

.facebook-button span {
    padding-left: 14.5%;

}

.screen {
    margin-left: 6.25%;
    margin-top: 2.1875em;
}

.screen-image{
    width: 1em; /*5%;*/
}

.desktop-link {
    position: relative;
    top: -0.3125em;
    left: 0.9677%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer {
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
}

.copyright {
    padding-top: 0.7275em;
    margin-left: 3.125%;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}
/*320*/
@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;
    }
}
@media screen and (min-width: 480px)  {
    #wrapper{
        font-size: 24px;
    }
}
