.modal-container{
    width: 20%;
    height: 0.01em;
    position: relative;
    display: inline-block;
}
.wr-hidden{
    display: none;
}


/* share popup */
.wrapper-share{
    position: absolute;
    z-index: 100;

}

.wrapper-share-width{
    width: 500%;
}


.message-share {
    background-color: white;
    width: 93.75%;
    margin: 0 auto;
    padding-bottom: 1.875em;
    -moz-border-radius: 1%;
    -webkit-border-radius: 1%;
    border-radius: 1%;
    z-index: 100;
}

.popup-title-share {
    text-align: center;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #000000;
    padding: .833em 10%;

}

.popup-text-share {
    text-align: center;
    font-size: .875em;
    font-family: Arial, sans-serif;
    color: #828282;
    padding: 0 6.667%;
    margin-bottom: 1.429em;
}

.input-text-block-share {
    display: inline;
}

.input-text-block-share input[type="text"],
.input-email-block-share input[type="email"] {
    background: linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;

    border-radius: 0.214em;
    border: 0.1em solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;

}

.input-text-block-share input[type = "text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-share input[type = "text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-share input[type = "text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-share input[type = "text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block-share input[type="email"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block-share input[type="email"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block-share input[type="email"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block-share input[type="email"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-data-share {
    font-size: 1em;
    display: block;
    height: 2.5em;
    width: 88.9%;
    margin: 0.625em auto;
    padding: 0 0 0 3.75%;
}

.input-text-data-share {
    font-size: 1em;
    display: inline-block;
    position: relative;
    height: 2.5em;
    width: 40%;
    margin-bottom: .625em;
    margin-left: 3.33%;
    padding: 0 0 0 3.75%;

}


.input-text-block-big-share {
    /*padding-top: 0.938em;*/
    /*padding-bottom: .375em;;*/
}

.input-text-block-big-share textarea {
    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    font-size: 1em;
    border-radius: 0.214em;
    resize: none;
    width: 88.9%;;
    margin-left: 3.33%;
    color: #828282;
    font-family: Arial, sans-serif;
    padding-top: 0.626em;
    padding-left: 3.75%;
    border: 0.1em solid #c7c7c7;
    height: 6.26em;
}



.popup-captcha-share {
    width: 31%;
    height: 2.5em;
    line-height: 2.5em;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 1em;
    left: 1.6667%;
    background: linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;

    border-radius: 0.214em;
    border: 0.1em solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;

}
.captcha-share-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 2.3em;
}

.captcha-refresh-share {
    position: relative;
    display: inline;
    left: 1.2em;;
}

.captcha-refresh-image-share {
    width: 6.333%;
    cursor: pointer;
}

.input-text-block-button-share button {
    width: 93.35%;
    margin-left: 3.33%;
    position: relative;

    height: 2.5em;
    background-color: #ef9e01;
    background: linear-gradient(top, #F5AD02, #EB9501);
    background: -webkit-linear-gradient(top, #F5AD02, #EB9501);
    background: -moz-linear-gradient(top, #F5AD02, #EB9501);
    background: -o-linear-gradient(top, #F5AD02, #EB9501);
    background: -ms-linear-gradient(top, #F5AD02, #EB9501);

    border: 0.056em solid #c18501;
    cursor: pointer;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    margin-top: 0.556em;
    margin-bottom: 1.12em;
}

.popup-bottom-text-share {
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #828282;
    margin-left: 5%;

}

.text-footer-share {
    border-top: thin solid #dddddd;
    padding-top: 1.11em;
    text-align: center;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #000000;
    margin-bottom: 1.11em;
}

.facebook-share {
    display: inline-block;
    margin-left: 6.67%;
    width:5.67em;
}

.facebook-share img,
.google-one-share img,
.twitter-share img,
.draugiem-share img{
    width: 100%
}

.google-one-share {
    display: inline-block;
    margin-left: 6.67%;
    width: 3.93em;
}

.twitter-share {
    margin-top: 0.438em;
    display: inline-block;
    margin-left: 6.67%;
    width: 6.8em;
}

.draugiem-share {
    margin-top: 0.438em;
    display: inline-block;
    margin-left: 6.67%;
    width:6.94em;
}

/*  end of share-popup */