#popup-container {
    font-family: Arial, sans-serif;
    min-width: 200px;
    max-width: 1024px;
    width: 93.75%;
    /*width: 300px;*/
    /*height: 18.125em;*/
    background: #ededed;
    overflow: hidden;
    margin: 0 auto;

}


.popup-link{
    color: #5D8F9C;
    text-transform: uppercase;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: .875em;
}

.block-popup {
    width: 100%;

    border-radius: 0.0625em;
    -moz-border-radius: 0.0625em;
    -webkit-border-radius: 0.0625em;
    height: 3.17em;
    border-bottom: thin solid #d1d1d1;
    border-bottom: 0.125em solid #d1d1d1;
}




.place-popup-title {
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: #000000;
    display: inline-block;
    width: 40%;
    margin-left: 6.67%;
    margin-top: 1em;
}








/* checkbox block */
.checkbox-block{
    display: inline-block;
    position: relative;
    left: 39%;
    top:0.1875em;
    width: 10%;
}

.label-popup{
    width: 100%;
}

input[type="checkbox"] {
    display:none;
}
.place-checked{
    width: 60%;
    cursor:pointer;
    display:none;
}
.place-unchecked{
    width: 60%;
    cursor:pointer;
    display:none;
}
.popup-link-1{
    margin-left: 50%;
    cursor: pointer;

}
.popup-link-2{
    margin-left: 7%;
    cursor: pointer;
}
.wp-hidden{
    display: none;
}
input[type="checkbox"] + label img.place-checked {
    display: none;/*inline-block;*/

}
input[type="checkbox"] + label img.place-unchecked {
    display: inline-block;/*none;*/

}

input[type="checkbox"]:checked + label img.place-checked {
    display: inline-block;/*none;*/
}
input[type="checkbox"]:checked + label img.place-unchecked {
    display: none;/*inline-block;*/
}