* {
    margin: 0;
    padding: 0;
}
a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}

#header {
    width: 100%;
    height: 100%;
    min-height: 3em;
    background-color:  #2a2d30;
}




#header-bottom {
    height: 100%;
    min-height: 3.625em;
    background: #f6d101;
    padding-top: 1.25em;
    padding-bottom: 0.3125em;
    border-bottom: 0.1875em solid #d9d9d9;
}

.number span {
    color: #2a2d30;
    font-size: 1.063em;
    font-weight: 500;
    position: relative;
    top: -0.353em;
    font-family: Arial, sans-serif;
}

.phone {
    /*width: 6.85%;*/
    width: 1.1em; /*5.4%;*/
    margin-left: 25.56%;
}
.letter-image{
    width: 1.1em; /*8.333%;*/
    /*width: 1.36%;*/
}

.mail {
    position: relative;
    top: 0.365em;
    left: 26.56%;
    width: 60%;
}
.mail a {
    position: relative;
    top: -0.118em;
    color: #2a2d30;
    font-size: 1.063em;
    font-weight: 400;
    font-family: Arial, sans-serif;
}
.ok_msg_box{
    text-align: center;
    font-size: 0.75em;
    font-family: Arial, sans-serif;
    color: darkolivegreen;
    margin-top: .75em;
    margin-bottom: 1em;
}
.error-list{
    color: #ff0000;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-top: .75em;
    padding-bottom: 1em;
}
#content {
    background: #ffffff;
}

.input-text-block,
.input-email-block {
    padding-top: 0.938em;
}

.input-text-block input[type="text"],
.input-email-block input[type="email"] {
    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    font-size: 1em;
    border-radius: 0.214em;
    border: 0.1em solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    display: block;
    height: 2.625em;
    width: 82.19%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;
}

.input-email-block input[type="email"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block input[type="email"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-email-block input[type="email"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-email-block input[type="email"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}


.input-text-block input[type="text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-text-block input[type="text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-big {
    padding-top: 0.938em;
}

.input-text-block-big textarea {
    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    font-size: 1em;
    border-radius: 0.214em;
    resize: none;
    width: 82.19%;
    margin-left: 6.25%;
    color: #828282;
    font-family: Arial, sans-serif;
    padding-top: 0.626em;
    padding-left: 3.75%;
    border: 0.125em solid #c7c7c7;
    height: 6.26em;
}



.input-text-block-button button {
    width: 87.5%;
    margin-left: 6.25%;
    height: 2.6875em;
    background-color: #ef9e01;
    background: linear-gradient( top, #F4AC01, #EB9601);
    background: -webkit-linear-gradient(top, #F4AC01, #EB9601);
    background: -moz-linear-gradient( top, #F4AC01, #EB9601);
    background: -o-linear-gradient( top, #F4AC01, #EB9601);
    background: -ms-linear-gradient( top, #F4AC01, #EB9601);
    border: 0.056em solid #c18501;
    cursor: pointer;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    margin-top: 0.556em;
    margin-bottom: 1.389em;
}



#footer {
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
    margin-top: 0.938em;
}

.copyright {
    padding-top: 0.727em;
    margin-left: 3.125%;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}

@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px)  {
    #wrapper{
        font-size: 24px;

    }

}


