* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}

#header {
    height: 100%;
    min-height: 3.125em;
    background: #2a2d30;
}



/* content block*/
#content {
    margin-bottom: 2em;
}

.block {
    border-top: 0.125em solid #dddddd;
    padding-left: 3.13%;
    padding-right: 3.13%;
    padding-bottom: 1.250em;
    background: linear-gradient(bottom, #F3F3F3, #FFFFFF 3.125em);
    background: -webkit-linear-gradient(bottom, #F3F3F3, #FFFFFF 3.125em);
    background: -moz-linear-gradient(bottom, #F3F3F3, #FFFFFF 3.125em);
    background: -o-linear-gradient(bottom, #F3F3F3, #FFFFFF 3.125em);
    background: -ms-linear-gradient(bottom, #F3F3F3, #FFFFFF 3.125em);
}

.man {
    top: -0.35em;
    position: relative;
    float: right;
    width: 30.31%;
}

.top-content {
    margin-top: 0.500em;
    font-size: 1.000em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-bottom: 1.125em;
}

.content-text {
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #828282;
    margin-bottom: 1.143em;
}

.content-date {
    font-size: 0.750em;
    font-family: Arial, sans-serif;
    font-style: Italic;
    color: #cacaca;
}

/*end content block*/



#footer {
    margin-top: 2.500em;
    height: 1.875em;
    background: #2a2d30;
}

.copyright {
    padding-top: 0.727em;
    margin-left: 3.125%;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}

@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper {
        font-size: 12px;

    }

}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper {
        font-size: 16px;

    }

}

@media screen and (min-width: 480px)  {
    #wrapper {
        font-size: 24px;

    }

}

