* {
    margin: 0;
    padding: 0;
}
a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}


#header {
    width: 100%;
    height: 100%;
    min-height: 3em;
    background-color:  #2a2d30;
}




#content {
    margin-top: 1.25em;
    padding: 0 2.5%;
}

.error-list{
    color: #ff0000;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 0.5em;
    padding-bottom: 1em;

}

.ok_msg_box{
    text-align: center;
    font-size: 0.75em;
    font-family: Arial, sans-serif;
    color: darkolivegreen;
    margin-bottom: 1em;
    margin-top: 1em;

}

.content-title {
    font-size: 1.25em;
    color: #262626;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.content-date {
    color: #cacaca;
    font-style: italic;
    font-size: 0.75em;
    font-family: Arial, sans-serif;
}

.content-image {
    margin-top: 0.625em;
    width: 98.355%;
    max-height: 13em;
    margin-bottom: 0.625em;
}

.content-text p{
    font-family: Arial, sans-serif;
    font-size: 0.938em;
    color: #828282;
    font-style: normal;

}
.content-text table{
    font-family: Arial, sans-serif;
    font-size: 0.813em;
    font-style: normal;
    color: #828282;
}
.content-text a, .content-text  a:link, .content-text a:hover, .content-text a:visited, .content-text a:active{
    font-family: Arial, sans-serif;
    /*font-size: 0.813em;*/
    font-style: normal;
    color: #828282;
}

div.content-text li, div.content-text ol {
    margin-left: 4.934%;
    font-size: 0.938em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
    padding-right: 0.5em;
}
div.content-text li:before, div.content-text ol:before {
    content: "";
    color: red;
}

div.content-text li span, div.content-text ol span {
    color: #828282;

}
div.content-text img, div.content-text img {
    /*width: 100% !important;*/
}

div.content-text a img, div.content-text a img {
    width: 1em !important;
}

.content-subtitle {
    color: #262626;
    font-family: Arial, sans-serif;
    margin-bottom: 2.333em;
    font-weight: normal;
}

/*  table  */
.content-table{
    width: 100%;
    border-spacing: 0;
    margin-bottom: 1.875em;
}
.content-table-title{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 0.813em;
    color: #2c2c2c;
    font-style: normal;
    text-transform: uppercase;
    height: 2.308em;
    background-color: #f0f0f0;

}

.content-table-row{
    border-left: 0.125em solid #f0f0f0;
    border-bottom: 0.125em solid #f0f0f0;
}
.content-table-text{
    font-family: Arial, sans-serif;
    font-size: 0.813em;
    font-style: normal;
    color: #828282;



}
.table-cell-left{
    width: 41.118%;
    border-left: 0.155em solid #f0f0f0;
    border-bottom: 0.155em solid #f0f0f0;
    padding: 0.385em;
}
.table-cell-center{
    width: 17.76%;
    border-bottom: 0.155em solid #f0f0f0;
    padding: 0.385em;
}

.table-cell-right{
    width: 41.118%;
    border-bottom: 0.155em solid #f0f0f0;
    padding: 0.385em;

}



/*  end table  */
.content-video {
    width: 98.355%;
    max-height: 12.625em;
    margin-bottom: 1.5625em;
}

.content-text-light {
    font-size: 0.938em;
    font-family: Arial, sans-serif;
    color: #828282;
    font-style: normal;
    margin-top: 1.25em;
}


.content-list-light li, ol {
    margin-left: 4.934%;
    color: #f6ae01;
}

.content-list-light li span {
    color: #828282;
    font-size: 0.938em;
    font-family: Arial, sans-serif;
}

#content-footer {
    margin-top: 1.875em;
}

.content-footer-links-title {
    font-size: 0.813em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #2c2c2c;
    font-style: normal;
    text-transform: uppercase;
    padding: 0.615em 3.2895%;
    background: #f0f0f0;
    margin-bottom: 1.923em;
}

.top-link-block {
    margin-bottom: 1.25em;
    width: 90%;
    overflow: hidden;
}

a.content-footer-link {

    border-left: 3px solid #f6ae01;
    font-family: Arial, sans-serif;
    font-size: 0.813em;
    color: #3895e4;
    line-height: 2.308em;
    padding-left: 1.645%;
    width:80%;
    text-overflow: clip;
    white-space: nowrap;

}



a.content-footer-link:hover {
    text-decoration: underline;
}

.bottom-link-block {
    margin-bottom: 1.875em;
    width: 90%;
    overflow: hidden;
}

.content-footer-arrow{
    margin-bottom: 1.5625em;
}

.content-footer-arrow img{
    display: inline-block;
    width: 1.2em;
    margin-left: 4%;

}

.content-footer-arrow a {
    position: relative;
    left: 0.9868%;
    top: -0.267em;
    font-size: 0.938em;
    font-family: Arial, sans-serif;
    color: #3895e4;
}

#footer {
    height: 100%;
    min-height: 1.875em;
    background-color: #2a2d30;

}

.copyright {
    font-style: normal;
    color: #6a6d6f;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    padding-top: 0.636em;
    padding-left: 3.125%;
}
/*320*/
@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px)  {
    #wrapper{
        font-size: 24px;

    }

}
