* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}

#header {
    width: 100%;
    height: 100%;
    /*min-height: 5.4375em;*/
    background-color: #2a2d30;
    border-bottom: 0.1875em solid #c1c1c1;
}





.content-title {
    margin-top: 1.25em;
    margin-left: 6.25%;
    margin-bottom: 1em;
    font-size: 1.25em;
    font-family: Arial, sans-serif;
    color: #000;
}
.content-text{
    margin-left: 4%;
    font-size: .875em;
    font-family: Arial, sans-serif;
    color: #000;
}

#top-content {
    background: #f0f0f0;
    height: 2.1875em
}
.keyword {
    margin-top: 0.714em;
    display: inline-block;
    margin-left: 7.5%;
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #535252;
    margin-right: 6%;
}
.hits {
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #535252;
    width:35%;
    text-overflow: clip;
    white-space: nowrap;
}

.job-row {
    border-bottom: thin solid #f5f5f5;
    /*padding-bottom: 30px;*/
}
.job-row img {
    /*margin-left: 3.125%;*/
}
.job-more-info{
    width: .313em;
    margin-left: 3.125%;
    cursor: pointer;
}


.job-title {
    width: 60%;
    white-space: nowrap;
    text-overflow: clip;
    /*margin-bottom: 1.429em;*/
    margin-top: 1.214285em;
    display: inline-block;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    margin-left: 2.5%;
}
.title-color{
    color: #535252;
}


.data-content {
    width: 57%;
    position: relative;
    left: 38%;
    /*top: -2.3125em;*/
    top: -1.131em;
    white-space:nowrap;
    overflow: hidden
}
.data-content li {
    list-style: none;
    font-size: 0.875em;
    color: #535252;
    padding: 0.142857em 0;
}

.data-content-bg {
    /*height: 100px;*/
    width: 53.125%;
    position: relative;
    left: 38%;
    top: -1.4375em;
}



.data-content-bg li {
    list-style: none;
    font-size: 0.875em;;
    color: #000;
    padding: 0.14286em 0;
}

.job-row-opened {

    height: 100%;
    min-height: 10.625em;
    background: #f0f0f0;
}
.job-hidden{
    display: none;
}

.job-short-info{
    width: .6em;
    margin-left: 3.125%;
    cursor: pointer;
}

.job-search {
    border-top: thin solid #dddddd;
    margin-left: 7.81%;
    padding-top: 0.8125em;
    padding-bottom: 1.25em;
}



.job-search a {
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #3895e4;
}

.job-pencil{
    display: inline-block;
    position: relative;
    width: 1em;


}
.job-basket{
    display: inline-block;
    position: relative;
    left: 7.83%;
    width: .8em;

}

.input-text-block-button{
    border-bottom: thin solid #f5f5f5;
}

.input-text-block-button span{
    position: relative;
    left: 3.929%;
}
.input-text-block-button button {
    width: 87.5%;
    margin-left: 6.4%;
    padding: 0 0 0 0.625%;
    height: 2.8125em;
    background-color: #ef9e01;
    background: linear-gradient( top, #F5AD02, #EB9501);
    background: -webkit-linear-gradient(top, #F5AD02, #EB9501);
    background: -moz-linear-gradient( top, #F5AD02, #EB9501);
    background: -o-linear-gradient( top, #F5AD02, #EB9501);
    background: -ms-linear-gradient( top, #F5AD02, #EB9501);
    border: thin solid #c18501;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    margin-top: 1.25em;
    margin-bottom: -.5em;

}

.plus-image{
    width: 2em;
    position: relative;
    top: -1.8em;
    left: 10.94%;
}





@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px)  {
    #wrapper{
        font-size: 24px;

    }

}
