/* filter  */

#wrapper-filter {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

#block-filter {
    width: 93.5%;
    border: thin solid #f0f0f9;
}

.popup-title-filter {
    text-align: center;
    font-size: 0.938em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-top: 1em;
    margin-bottom: 1.875em;
    cursor: pointer;
}

.popup-text-filter {
    margin-bottom: 0.667em;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 0.938em;
    font-weight: bold;
    text-transform: uppercase;
    color: #f6ae01;
    margin-top: 0.467em;
}

.submit-image-filter {
    left: -3em;
    position: relative;
    top: -1.4em;
    width: .5em;
    display: block;
    float: right;
}

.filter-hide{
    display: none;
}

.text-filter {
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    font-family: Arial, sans-serif;
    margin-bottom: 0.3125em;

}

.input-text-block-filter {
    margin-bottom: 0.525em;
    margin-left: 3.33%;

}

.input-text-block-filter select {

    background: linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    font-size: 0.875em;
    color: #7F7F7F;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    /*height: 2.714em;*/
    width: 96.8%;
    margin: 0 auto;
    padding: .82em 0 0 3.75%;
    line-height: 1.5em;

    font-family: Arial, sans-serif;

}

.input-text-block-filter input[type="text"] {

    background: linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    font-size: 0.875em;
    color: #7F7F7F;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    height: 2.714em;
    width: 92.38%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;

}

.placeholder-gray-filter{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
    outline: none;
}

option.option-title, option.option-title:checked, option.option-title:checked:disabled{
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    background-color: transparent !important;
    color: #8e8e8e !important;
    margin-bottom: 1em;
    outline: none;
}

.placeholder-gray-filter:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}

.placeholder-gray-filter::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}

.placeholder-gray-filter:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;

}

.placeholder-gray-filter::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}

/*button orange
***************/
.button-size-filter {
    padding-top: 0.6em;
    padding-bottom: 1.75em;
}

.submit-button-filter {
    height: 2.5em;
    width: 93.59%;
    margin-left: 3.33%;

    min-height: 2.22em;
    background-color: #F4AC01;
    background: linear-gradient(top, #F4AC01, #EB9601);
    background: -webkit-linear-gradient(top, #F4AC01, #EB9601);
    background: -moz-linear-gradient(top, #F4AC01, #EB9601);
    background: -o-linear-gradient(top, #F4AC01, #EB9601);
    background: -ms-linear-gradient(top, #F4AC01, #EB9601);
    border: thin solid #966901;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.125em;
    color: white;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
}

.submit-button-filter span {
    position: relative;
    color: #fff;
    font-size: 1.385em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-left: -1.689%;
}

/*button gray block
********************/
.block-line-filter {
    width: 93.33%;
    margin-left: 3.33%;
    height:100%;
    position: relative;
}

.submit-button-default
{
    display: inline-block;
    width: 50%;
    height: 2.7em;
    border: thin solid #C5C5C5;
    background: -moz-linear-gradient(bottom, #f1f1f1, #FFFFFF);
    background: -webkit-linear-gradient(bottom, #f1f1f1, #FFFFFF);
    background: -o-linear-gradient(bottom, #f1f1f1, #FFFFFF);
    background: -ms-linear-gradient(bottom, #f1f1f1, #FFFFFF);
    background: -webkit-linear-gradient(bottom, #f1f1f1, #FFFFFF);
    position: relative;
    color: #3895e4;
    font-size: 0.938em;
    font-weight: normal;
    font-family: Arial, sans-serif;


}


.submit-button-modified
{

    display: inline-block;
    width: 50%;
    height: 2.7em;
    border: thin solid #C5C5C5;
    background: -moz-linear-gradient(bottom, #f0f0f0, #dbdbdb);
    background: -webkit-linear-gradient(bottom, #f0f0f0, #dbdbdb);
    background: -o-linear-gradient(bottom, #f0f0f0, #dbdbdb);
    background: -ms-linear-gradient(bottom, #f0f0f0, #dbdbdb);
    background: -webkit-linear-gradient(bottom, #f0f0f0, #dbdbdb);

    position: relative;
    color: #010101;
    font-size: 0.938em;
    font-weight: bold;
    font-family: Arial, sans-serif;


}

.submit-button-1-filter,  .submit-button-1-filter:hover{
    border-right: none;
    border-bottom: none;
}

.submit-button-2-filter, .submit-button-2-filter:hover {
    border-bottom: none;
}

.submit-button-3-filter, .submit-button-3-filter:hover {
    border-right: none;
}

.submit-button-4-filter, .submit-button-4-filter:hover {

}

.hidden-image-filter{
    width: 6%;
    display: none;
}

/*.submit-button-1-filter:hover ~ .hidden-image1-filter {*/
/*display: inline-block;*/
/*}*/
/*.submit-button-2-filter:hover ~ .hidden-image2-filter {*/
/*display: inline-block;*/
/*}*/

/*.submit-button-3-filter:hover ~ .hidden-image3-filter {*/
/*display: inline-block;*/
/*}*/

/*.submit-button-4-filter:hover ~ .hidden-image4-filter {*/
/*display: inline-block;*/
/*}*/

.image-arrow-filter {
    height: .813em;
}
#hidden-image-filter1{
    position: absolute;
    top: 0.8em;
    left: 36%;
}
#hidden-image-filter2{
    position: absolute;
    top: 0.8em;
    left: 91%;
}
#hidden-image-filter3{
    position: absolute;
    top: 3.3em;
    left: 36%;
}
#hidden-image-filter4{
    position: absolute;
    top: 3.3em;
    left: 91%;
}

/* end filter */