#footer-top {
    width: 100%;
    height: 4.6%;
    min-height: 2.5em;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 0.625em;
    margin-left: 6.125%;

}

.info {
    display: inline-block;
    position: relative;
    top: -0.125em;
    width: 40%;
}

.info a {
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.number {
    display: inline-block;
}

.number span {

    position: relative;
    left: 4.975%;
    top: -0.125em;
    color: #fff;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
}

.phone {
    display: inline-block;
    position: relative;
    left: 1.82%;
    top: 0.125em;
    width: 1em; /*5%;*/
}

.letter-bottom-image {
    width: .8em; /*100%;*/
}

#footer-bottom {
    width: 100%;
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 0.438em;
    color: #f6ae01;
    font-size: 0.813em;
    font-family: Arial, sans-serif;
}