* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;

}

@-o-viewport {
    width: device-width;

}

@-ms-viewport {
    width: device-width;

}



.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width:320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}

#header {
    height: 100%;
    min-height: 3.125em;
    background: #2a2d30;
}

.authorize-button {
    display: inline-block;
    position: relative;
    width: 44.69%;
}

.reg-button {
    background: linear-gradient( top, #F5AD02, #EB9601);
    background: -webkit-linear-gradient(top, #F5AD02, #EB9601);
    background: -moz-linear-gradient( top, #F5AD02, #EB9601);
    background: -o-linear-gradient( top, #F5AD02, #EB9601);
    background: -ms-linear-gradient( top, #F5AD02, #EB9601);
    margin-right: 9.09%;
    width: 77%;
    margin-left: 13.98%;
    height: 100%;
    min-height: 2.000em;
    cursor: pointer;
    background-color: #f1a100;
    border: 0.063em solid #c28600;
    color: #fff;
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.357em;
    -webkit-border-radius: 0.357em;
    border-radius: 0.357em;
    margin-top: 0.571em;
}

.authorize {
    display: inline-block;
    position: relative;
    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    left: -0.625%;
    width: 32.875%
}

.close-image {
    float: right;
    margin-right: 1.25em;
    margin-top: 1em;
    width:  1.1em;
}

#content-top {
    height: 100%;
    min-height: 10em;
    background: #2f3236;
}

.list-title {
    padding-top: 0.857em;
    line-height: 1.286em;
    margin-left: 6.25%;
    margin-right: 6.25%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
    margin-bottom: 1.071em;
}

li, ol {
    margin-left: 10.31%;
    color: #f6ae01;
}

li span {
    color: #d7d7d8;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    line-height: 1.857em;
}


li a span {
    color: #d7d7d8;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    line-height: 1.857em;
}
li a {
    font-family: Arial, sans-serif;
    color: #fff;
}

li.menu-item  {
    list-style-type: none;
    margin-left: 4.69%;
    padding-top: 0.857em;
    padding-bottom: 0.714em;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #fff;
}

#content-center {
    height: 100%;
    min-height: 13.750em;
    background: #3d4042;
    border-top: 0.063em solid #515355;
}

.content-line {
    border-bottom: 0.063em solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.68%;
    padding-top:0.556em;
    padding-bottom: 0.556em;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
    width: 58.5%;

}



.content-image-opened {
    float:right;
    margin-right: 1.25em;
    margin-top: .8em;
    display: none;
}

.content-image-closed {
    float:right;
    margin-right: 1.25em;
    margin-top: .8em;
}

#image-opened{
    width: .84em; /*4.7%;*/
}

#image-closed{
    width: .82em; /*4.2%;*/
}

#text-opened{
    cursor: pointer;
}

#text-closed{
    cursor: pointer;
}

.screen {
    margin-left: 5.31%;
    margin-top: 1.250em;
}

.screen-image {
    width: 1.1em; /*5%;*/

}

.desktop-link {
    position: relative;
    top: -0.357em;
    left: 1.0%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer {
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
}

.copyright {
    padding-top: 0.727em;
    margin-left: 3.125%;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}

/*320*/
@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px)  {
    #wrapper{
        font-size: 24px;

    }

}

