/* header line*/

#header-line {
    position: relative;
    border-top: 0.125em solid #2a2d30;
    height: 100%;
    min-height: 2.8125em;
    background-color: #2a2d30;
}

.country-selector {
    float: left;
    position: relative;
    left: 7.5%;
    width:30%
}

.country-selector-text {
    display: inline-block;
    position: relative;
    top: 0;

    color: #f6ae01;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-top: 0.875em;
    padding-left: 1em;
}

.country-selector-image {
    display: inline-block;
    position: relative;
    width: .628em;
    top: 0.125em;

}

.logo-block{
    width: 40%;
    display: inline-block;
}
.logo-image-block{
    width: 7.0625em;
    margin: 0 auto;
}
.vd-logo {
    position: relative;
    width: 7.0625em;
    top: .375em;
}

.header-right-block{
    display: inline-block;
    float: right;
    margin-right: 1.125em;
}

.site-menu {
    width: 1.375em;
    margin-top: .375em;
}
.subscribe_image{
    width: 1.4em;
    margin-right: .7em;
    top:-.37em;
    cursor: pointer;
    position: relative;
}
/* end header line*/
.lang-group{
    display: inline-block;
    position: relative;
}
.lang-group dd {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 3em;
    z-index: 9999;

}
.lang-group dt a {
    overflow: hidden;
}
.lang-group ul#country-selectors {
    position: relative;
    background: #2a2d30;
    /*border: thin solid #4a4c4f;*/
    border-top: 0;
    display: none;
    top: 1px;
    overflow: hidden;
    list-style-type: none;

    font-size: 0.875em;
    font-family: Arial, sans-serif;
    font-weight: normal;
}
.lang-group ul#country-selectors a {
    color: #f6ae01;
    text-decoration: none;
}
.lang-group ul#country-selectors a:hover {
    background: #393c3f;
}

.country-selector-item{
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
}


.lang-group:hover {
    text-decoration: none;
}

.lang-group a:hover {
    text-decoration: none;
}

@media screen  and (max-width: 480px) {
    .lang-group dd {
        position: absolute;
        bottom: 0;
        height: 0;
        width: 4.5em;
        z-index: 9999;

    }

    .country-selector-item{
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
    }


}