#header-bottom {
    height: 3.75em;
    background-color: #f6d101;
    border-bottom: 0.1875em solid #d1d1d1;
    -webkit-box-shadow: 0 0.0321em 0.0321em 0 rgba(209,209,209,1);
    -moz-box-shadow: 0 0.0321em 0.0321em 0 rgba(209,209,209,1);
    box-shadow: 0 0.0321em 0.0321em 0 rgba(209,209,209,1);
}

.header-arrow {
    float: left;
    width: 12.5%;
    height: 100%;
    min-height: 3.75em;
    background: #f6ae01;
}

.header-arrow img {
    position: relative;
    height: 1.25em;
    top: 1.25em;
    left: 30%;
}

.header-bottom-title {
    font-size: 0.75em;
    font-family: Arial, sans-serif;
    color: #535252;
    display: inline-block;
    margin-left: 1.5em;
    margin-top: 1.167em;
}

.header-bottom-desc {
    font-size: 1.25em;;
    font-family: Arial, sans-serif;
    color: #2a2d30;
    padding-left: 0.8em;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    position: relative;

}