* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;

}

option, option::selection, option:checked{
    outline: white hidden;
}


@-o-viewport {
    width: device-width;
    height: device-height;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    z-index: 30;
    background-color: white;
}

#header {
    width: 100%;
    height: 100%;
    min-height: 3em;
    background-color: #2a2d30;
}

/* header line*/

/* end header line*/



.error-list{
    color: #ff0000;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 0.5em;
    padding-bottom: 1em;

}

.ok_msg_box{
    text-align: center;
    font-size: 0.75em;
    font-family: Arial, sans-serif;
    color: darkolivegreen;
    margin-bottom: 1em;
    margin-top: 1em;

}

.button {
    margin-top: 0.3125em;
    margin-left: 3.125%;
}

.reg-button {
    width: 96.78%;
    height: 2.667em;
    position: relative;
    /*margin-left: 3.625%;*/
    background: #FDFDFE;
    border-left: thin solid #d8d8d8;
    border-right: thin solid #d8d8d8;;
    border-top: thin solid #DCDCDC;
    border-bottom: thin solid #BFBFBF;
    font-size: 0.938em;
    font-weight: normal;
    font-family: Arial, sans-serif;
    border-radius: 0.214em;
    cursor: pointer;
    color: #3895e4;
    background: linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -webkit-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -moz-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -o-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -ms-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
}



.image-advert, .banner,
.image-advert-bottom {
    margin-left: 3.125%;
    margin-bottom: 1.429em;
    width: 93.75%;
}

.image-advert-bottom {
    margin-top: 1.429em;
}

.block-purple,
.block-white {

    height: 100%;
    min-height: 6.125em;
    background: #FDFBE7;
    padding-left: 3.125%;
    background: linear-gradient(to top, #F0EFE3, #FBFAE6, #FDFBE7);
    background: -moz-linear-gradient(to top, #F0EFE3,#FBFAE6, #FDFBE7);
    background: -webkit-linear-gradient(to top, #F0EFE3,#FBFAE6, #FDFBE7);

}
.block-border-top-yellow{
    border-top: .0625em solid #f8dd46;
}
.block-border-top-gray{
    border-top: .0625em solid #DCDCDC;
}
.block-border-bottom-yellow{
    border-bottom: .0625em solid #f8dd46;
}
.block-border-bottom-gray{
    border-bottom: .0625em solid #DCDCDC;
}

.block-white {

    background: #fcfcfd;
    background: linear-gradient(to top, #f0f0f0, #fff);
    background: -moz-linear-gradient(to top, #f0f0f0, #fff);
    background: -webkit-linear-gradient(to top, #f0f0f0, #fff);

}

.block-content-title {

    font-size: 1.25em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-top: .75em;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.block-place {
    min-width: 20%;
    max-width: 30%;
    display: inline-block;
    font-size: 0.813em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 0.3846em;
    padding-right: 1.613%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.block-logo-image{
    float:left;

}
.advert-logo-image{
    width: 3em;
    margin:.5em;
}

.block-advert-text{
    display: inline-block; width:75%;
}


.block-text {
    display: inline-block;
    position:relative;
    top: .1538em;
    font-size: .813em;
    font-family: Arial, sans-serif;
    color: #000;
    width: 60%;
    font-weight: 500;
    border-left: thin solid #dddddd;
    padding-left: 3.225%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-source {
    font-size: .688em;
    font-family: Arial, sans-serif;
    color: #a4a4a4;
    position: relative;
    top:-1.3636em;
    width: 40%;
}
.modal-container{
    width: 20%;
    height: .01em;
    position: relative;
}
.block-images{
    height: 1.3em;
}
.block-images-inner{
    float: right;
    width: 4em;
}

.image-heart {
    position: relative;
    /*left: 56%;*/
    display: inline-block;
    margin-top: -.5em;
    border-right: 1px solid #dddddd;
    padding-right: 3.2525%;
    width: 1.3em; /*5.162%; */
    cursor: pointer;
}


.image-share {
    position: relative;
    left: 2%;
    display: inline-block;
    margin-top: -.5em;
    width: 1.3em; /* 5.162%; */
    cursor: pointer;
}

.no-result{
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 1em;
}

/*  popup */
.wr{

    width: 100%;
    position: absolute;
    bottom: .3em;
    left: 1.5%;

}
.wr-hidden{
    display: none;
}
.arrow_box {
    position: relative;
    background: #FFFDE8;
    border: 0.09em solid #F7D102;
    border-radius: 0.125em;
    width: 480%;
    z-index: 100;
}

.arrow_box-content{
    text-align: justify;
    color: #828083;
    font-size: 0.813em;
    font-family: Arial, sans-serif;
    padding: 0.8em 3%;
}

.arrow_box-content-link,
.arrow_box-content-link:hover,
.arrow_box-content-link:visited,
.arrow_box-content-link:link,
.arrow_box-content-link:active
{
    outline: none;
    text-decoration: none;
    color: #408EE1;
    border: none;
}

.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 89.5%;
    border: solid transparent;
    content: " ";
    /*height: 0;*/
    /*width: 0;*/
    position: absolute;
    pointer-events: none;
}



.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color:  #FFFDE8;
    margin-left: -0.4em;
    border-width: 0.45em;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #F7D102;
    margin-left: -0.529em;
    border-width: 0.55em;

}
/* end popup */


/* share popup */
.wrapper-share{
    position: absolute;
    z-index: 100;

}

.wrapper-share-width{
    width: 500%;
}


.message-share {
    background-color: white;
    width: 93.75%;
    margin: 0 auto;
    padding-bottom: 1.875em;
    -moz-border-radius: 1%;
    -webkit-border-radius: 1%;
    border-radius: 1%;
    z-index: 100;
}

.popup-title-share {
    text-align: center;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #000000;
    padding: .833em 10%;

}

.popup-text-share {
    text-align: center;
    font-size: .875em;
    font-family: Arial, sans-serif;
    color: #828282;
    padding: 0 6.667%;
    margin-bottom: 1.429em;
}

.input-text-block-share {
    display: inline;
}

.input-text-block-share input[type="text"],
.input-email-block-share input[type="email"] {
    background: linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;

    border-radius: 0.214em;
    border: 0.1em solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;

}

.input-text-block-share input[type = "text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-share input[type = "text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-share input[type = "text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-share input[type = "text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block-share input[type="email"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block-share input[type="email"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block-share input[type="email"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block-share input[type="email"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-data-share {
    font-size: 1em;
    display: block;
    height: 2.5em;
    width: 88.9%;
    margin: 0.625em auto;
    padding: 0 0 0 3.75%;
}

.input-text-data-share {
    font-size: 1em;
    display: inline-block;
    position: relative;
    height: 2.5em;
    width: 40%;
    margin-bottom: .625em;
    margin-left: 3.33%;
    padding: 0 0 0 3.75%;

}


.input-text-block-big-share {
    /*padding-top: 0.938em;*/
    /*padding-bottom: .375em;;*/
}

.input-text-block-big-share textarea {
    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    font-size: 1em;
    border-radius: 0.214em;
    resize: none;
    width: 88.9%;;
    margin-left: 3.33%;
    color: #828282;
    font-family: Arial, sans-serif;
    padding-top: 0.626em;
    padding-left: 3.75%;
    border: 0.1em solid #c7c7c7;
    height: 6.26em;
}



.popup-captcha-share {
    width: 31%;
    height: 2.5em;
    line-height: 2.5em;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 1em;
    left: 1.6667%;
    background: linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;

    border-radius: 0.214em;
    border: 0.1em solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;

}
.captcha-share-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 2.3em;
}

.captcha-refresh-share {
    position: relative;
    display: inline;
    left: 5%;
}

.captcha-refresh-image-share {
    width: 1.2em; /*6.333%;*/
    cursor: pointer;
}

.input-text-block-button-share button {
    width: 93.35%;
    margin-left: 3.33%;
    position: relative;

    height: 2.5em;
    background-color: #ef9e01;
    background: linear-gradient(top, #F5AD02, #EB9501);
    background: -webkit-linear-gradient(top, #F5AD02, #EB9501);
    background: -moz-linear-gradient(top, #F5AD02, #EB9501);
    background: -o-linear-gradient(top, #F5AD02, #EB9501);
    background: -ms-linear-gradient(top, #F5AD02, #EB9501);

    border: 0.056em solid #c18501;
    cursor: pointer;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    margin-top: 0.556em;
    margin-bottom: 1.12em;
}

.popup-bottom-text-share {
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #828282;
    margin-left: 5%;

}

.text-footer-share {
    border-top: thin solid #dddddd;
    padding-top: 1.11em;
    text-align: center;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #000000;
    margin-bottom: 1.11em;
}

.facebook-share {
    display: inline-block;
    margin-left: 6.67%;
    width: 5.67em; /*28.333%*/
}

.facebook-share img,
.google-one-share img,
.twitter-share img,
.draugiem-share img{
    width: 100%
}

.google-one-share {
    margin: 0 auto;
    width: 3.93em;
}

.twitter-share {
    margin-top: 0.438em;
    display: inline-block;
    margin-left: 6.67%;
    width: 6.8em; /*34%;*/
}

.draugiem-share {
    margin-top: 0.438em;
    display: inline-block;
    margin-left: 6.67%;
    width: 6.94em; /*34.667%; */
}

/*  end of share-popup */

/*  subscribe popup  */
#subscribe-modal-up{
    cursor: pointer;
}

.wrapper-subscribe-width{
    width: 100%;
}
.message-subscribe {
    width: 93.75%;
    margin: 0 auto;
    padding-bottom: 1.875em;
    -moz-border-radius: 1%;
    -webkit-border-radius: 1%;
    border-radius: 1%;
    background-color: white;
    z-index: 100;
}

.popup-title-subscribe {
    text-align: center;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #000000;
    padding: .833em 10%;

}

.popup-text-subscribe {
    text-align: center;
    font-size: .875em;
    font-family: Arial, sans-serif;
    color: #828282;
    padding: 0 6.667%;
    margin-bottom: 1.429em;
}


.input-text-block-subscribe{
    display: inline;
}

.input-text-block-subscribe input[type="text"],
.input-email-block-subscribe input[type="email"] {
    background: linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;

    border-radius: 0.214em;
    border: 0.1em solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;

}


.input-text-block-subscribe input[type = "text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-subscribe input[type = "text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-subscribe input[type = "text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-text-block-subscribe input[type = "text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block-subscribe input[type="email"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-block-subscribe input[type="email"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-email-block-subscribe input[type="email"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}
.input-email-block-subscribe input[type="email"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.063em;
    color: #8e8e8e;

}

.input-email-data-subscribe{
    font-size: 1em;
    display: block;
    height: 2.5em;
    width: 88.9%;
    margin: 0.625em auto;
    padding: 0 0 0 3.75%;
}

.input-text-data-subscribe{
    font-size: 1em;
    display: inline-block;
    position: relative;
    height: 2.5em;
    width: 40%;
    margin-bottom: .625em;
    margin-left: 3.33%;
    padding: 0 0 0 3.75%;

}

.popup-captcha-subscribe{
    width: 31%;
    height: 2.5em;
    line-height: 2.5em;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 1.6667%;
    background: linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;

    border-radius: 0.214em;
    border: 0.1em solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
}



.captcha-refresh-subscribe {
    position: relative;
    display: inline;
    left: 5%;
}
.captcha-refresh-image-subscribe{
    width: 6.333%;
}


.input-text-block-button-subscribe button {
    width: 93.35%;
    margin-left: 3.33%;
    position: relative;


    height: 2.5em;
    background-color: #ef9e01;
    background: linear-gradient( top, #F5AD02, #EB9501);
    background: -webkit-linear-gradient(top, #F5AD02, #EB9501);
    background: -moz-linear-gradient( top, #F5AD02, #EB9501);
    background: -o-linear-gradient( top, #F5AD02, #EB9501);
    background: -ms-linear-gradient( top, #F5AD02, #EB9501);


    border: 0.056em solid #c18501;
    cursor: pointer;
    color: #fff;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    margin-top: 0.556em;
    margin-bottom: .625em;
}

.popup-bottom-text-subscribe {
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #828282;
    margin-left: 5%;

}

/* end subscribe popup  */




@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper {
        font-size: 12px;

    }

}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper {
        font-size: 16px;

    }

}

@media screen and (min-width: 480px)  {
    #wrapper {
        font-size: 24px;

    }

}
