.menu-block{
    position: relative;
    color:white;
    font-family: Arial,sans-serif;
    height: 2.5em;
    background-color: #2a2d30;
    font-size:0.813em;
    font-weight:bold;
    text-transform:uppercase;
}

.main-menu-text{
    display: inline-block;
    padding-left: 6%;
}
.main-menu-image{
    width: 2em;
    height: 2em;
    display: inline-block;
    float: right;
    margin-right: 1em;
    cursor: pointer;
}

.wr-hidden{
    display: none;
}
#toggle-menu{
    cursor: pointer;
}
.main-drop-down-menu{
    position: absolute;
    z-index: 200;
    top:2em;
    height: 100%;
    width: 100%;
}
.main-drop-down-menu-2{
    height: 100%;
    width: 100%;
    font-size: .813em;
}

.main-drop-down-menu-item{

    border-top: thin solid #6f6f6f;
    color: #adaeaf;
    font-family: Arial,sans-serif;
    height: 2em;
    font-weight:bold;
    text-transform:uppercase;
    padding-left: 6%;
    padding-top: 1em;
    background-color: #2a2d30;
}
.menu-block a, .menu-block a:link, .menu-block a:hover,
.menu-block a:visited, .menu-block a:active,
.main-drop-down-menu-item a, .main-drop-down-menu-item a:link, .main-drop-down-menu-item a:hover,
.main-drop-down-menu-item a:visited, .main-drop-down-menu-item a:active {
    text-decoration: none;
    border: none;
    outline: none;
    color: #FFFFFF;
}

