* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;

}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

.index-mobile{
    background-color: #2f3236;
}



#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}

#header {
    height: 100%;
    min-height: 3.125em;
    background: #2a2d30;
}

.user-avatar {
    position: relative;
    left: 1.5em;
    top: 0.5em;
    width: 1.75em; /*8.75%;*/
}

.user-name {
    position: relative;
    display: inline-block;
    top: -0.214em;
    left: 2em;
    width: auto;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

.menu-logout{
    display: inline-block;
    position: relative;
    bottom: .2em;
    left: 2.3em;
}


.menu-logout a, .menu-logout  a:link, .menu-logout a:hover, .menu-logout a:visited,
.menu-logout a:active{
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    font-style: normal;
    color: #828282;
}
.close-image-block{
    float: right;
    margin-right: 1.25em;
    margin-top: 1em;
}

.close-image {

    width:  1.1em;

}

#content-top {
    height: 100%;
    min-height: 10.938em;
    background: #2f3236;
}

li a {
    font-family: Arial, sans-serif;
    color: #fff;
}

li.menu-item  {
    list-style-type: none;
    margin-left: 4.69%;
    padding-top: 0.857em;
    padding-bottom: 0.714em;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #fff;
}

#content-center {
    height: 100%;
    background: #3d4042;
    border-top: 0.063em solid #515355;
}
.content-line {
    border-bottom: 0.063em solid #515355;
}

.content-text {
    display: inline-block;
    margin-left: 4.69%;
    padding-top: 0.556em;
    padding-bottom: 0.556em;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #d7d7d8;
    width: 58.5%;
}

.content-image-opened {
    float: right;
    margin-right: 1.25em;
    margin-top: .8em;
    display: none;

}

.content-image-closed {
    float: right;
    margin-right: 1.25em;
    margin-top: .8em;

}
#image-opened{
    width: .94em;
}

#image-closed{
    width: .92em;
}

#text-opened{
    cursor: pointer;
}

#text-closed{
    cursor: pointer;
}

#content-footer {
    display: none;
    height: 100%;
    min-height: 14.563em;
    background: #515355;
}

#footer-top {
    height: 100%;
    background: #3d4042;
    padding-top: 1.875em;
    padding-bottom: 1.25em;
}

.screen {
    margin-left: 5.31%;


}

.screen-image {
    width: 1.1em; /*5%;*/

}

.desktop-link {
    position: relative;
    top: -0.313em;
    left: 1%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #f6ae01;
}

#footer {
    height: 100%;
    min-height: 1.875em;
    background: #2a2d30;
}

.copyright {
    padding-top: 0.727em;
    margin-left: 3.125%;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    color: #6a6d6f;
}

/*320*/
@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;

    }


}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px)  {
    #wrapper{
        font-size: 24px;

    }

}
