/* nav new */
.nav-page{
    width: 18em; /*87.5%;*/
    height: 100%;
    white-space: nowrap;
    margin: 0 auto;

}

.first-page{
    width: 2.222em; /*14.286%;*/
    height: 2.222em;
    /*margin-left: 7.14%;*/
    display: inline-block;
    line-height: 2.222em;
    background-color: #F3A902;
    text-align: center;
    font-size: 1.125em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    border: 0.111em #c18501 solid;
    -moz-border-radius: 0.111em;
    -webkit-border-radius: 0.111em;
    border-radius: 0.111em;
    -webkit-box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
    -moz-box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
    box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
}
a.first-page-link,
a.first-page-link:visited,
a.first-page-link:hover,
a.first-page-link:link,
a.first-page-link:active,
a.last-page-link,
a.last-page-link:visited,
a.last-page-link:hover,
a.last-page-link:link,
a.last-page-link:active {
    color: white;
}

.inner-page{
    margin: 0 auto;
    width: 2.222em; /*13.57%;*/
    height: 2.222em;
    display: inline-block;
    line-height: 2.222em;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #3894E3;
    font-size: 1.125em;
    font-weight: bold;
}
a.inner-page-link,
a.inner-page-link:visited,
a.inner-page-link:hover,
a.inner-page-link:link,
a.inner-page-link:active{
    color: #3894E3;
}
.inner-active-page{
    width: 2.222em; /*14.286%;*/
    height: 2.222em;
    display: inline-block;
    line-height: 2.222em;
    background-color: #ededed;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    color: #3894E3;
    -webkit-box-shadow: inset 0.111em 0.111em 0.111em 0.111em rgba(225,225,225,1);
    -moz-box-shadow: inset 0.111em 0.111em 0.111em 0.111em rgba(225,225,225,1);
    box-shadow: inset 0.111em 0.111em 0.111em 0.111em rgba(225,225,225,1);
}
.last-page{
    width: 2.222em; /*14.286%;*/
    height: 2.222em;
    display: inline-block;
    line-height: 2.222em;
    background-color: #F3A902;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    color: #ffffff;
    border: 0.111em #c18501 solid;
    -moz-border-radius: 0.111em;
    -webkit-border-radius: 0.111em;
    border-radius: 0.111em;
    -webkit-box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
    -moz-box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
    box-shadow: 0.111em 0.111em 0.111em 0.05em rgba(206,206,206,1);
}
/* end nav new*/

.bottom-text {
    /*margin-top: 1.429em;*/
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #000000;
    /*margin-left: 17.19%;*/
    /*margin-bottom: 2.86em;*/
    width: 19em;
    margin: 1.8em auto;
    text-align: center;
}