* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}

.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}

#header {
    width: 100%;
    height: 100%;
    /*min-height: 5.4375em;*/
    background-color: #2a2d30;
    border-bottom: 0.1875em solid #c1c1c1;
}





#top-content {
    background: #f0f0f0;
    height: 2.1875em
}

.content-title {
    margin-top: 1.25em;
    margin-left: 6.25%;
    margin-bottom: 1em;
    font-size: 1.25em;
    font-family: Arial, sans-serif;
    color: #000;
}

.keyword {
    margin-top: 0.714em;
    display: inline-block;
    margin-left: 7.5%;
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #535252;
    width: 39%;
}

.hits {
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #535252;
    width: 35%;
    text-overflow: clip;
    white-space: nowrap;
}

.job-row {
    border-bottom: thin solid #f5f5f5;
    cursor: pointer;
}
.job-row-link{
    cursor: pointer;
}

.job-more-info {
    width: .313em; /*1.5624%;*/
    cursor: pointer;
}

.job-row img {
    margin-left: 3.125%;
}

.job-title {
    width: 40%;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    margin-bottom: 1.429em;
    margin-top: 1.214em;
    display: inline-block;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    margin-left: 2.5%;
    vertical-align: middle;
}

.title-color {
    color: #535252;
}

.title-color-expired {
    color: #b1b0b0;
}

.job-region-row {
    width: 30%;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.job-row span {
    position: relative;
    /*left: 15.625%;*/
}

.job-hidden{
    display: none;
}

.job-row-opened {
    height: 100%;
    min-height: 8.125em;
    background: #f0f0f0;
    /*display: none;*/
}

.job-row-opened-block{
    width: 97%;
}

.job-row-opened img {
    margin-left: 3.125%;
    position: relative;
    top: -0.3em;
}

.job-short-info {
    width: .6em;
    cursor: pointer;
}

.job-title-opened {
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    margin-top: 0.923em;
    display: inline-block;
    margin-left: 1.125%;
    width: 46.75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title-color-opened{
    color: #000;
}

.job-region-opened {
    margin-top: 0.929em;
    display: inline-block;
    margin-left: 2%;
    font-size: 0.875em;
    color: #000;
}

.job-id {
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 1.214em;
    margin-left: 7.5%;
}

.job-expired-title {
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 1.214em;
    margin-left: 7.5%;
}

.job-expired-date {
    display: inline-block;
    position: relative;
    top: -1.188em;
    left: 53.125%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #535252;

}

.job-description-title {
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    /*margin-top:0.714em;*/
    margin-left: 7.5%;
}

.job-description-text {
    /*display: inline-block;*/
    position: relative;
    top: -1.25em;
    left: 65.63%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #535252;
    white-space: pre-wrap;

}

.job-description-text-2 {
    position: relative;
    top: -1.071em;
    left: 7.5%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #535252;
    width: 90%;
}

.job-date-title {
    font-size: 0.875em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 0;
    margin-left: 7.5%;
}

.job-date {
    display: inline-block;
    position: relative;
    top: -1.357em;
    left: 30.31%;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #535252;
}

.job-search {
    border-top: thin solid #dddddd;
    margin-left: 7.81%;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-bottom: 1.250em;
}

.basket-image {
    width: .8em;
    position: relative;

    /*left: 17.63%;*/
    /*top: -1.063em;*/
}

.job-search a {
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #3895e4;
}

.job-to-basket {
    position: relative;
    left: 17.63%;
    top: -1.063em;
    width: 30%;
}

.content-footer {
    padding-bottom: 2.143em;
    text-align: center;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-top: 3.143em;
    border-bottom: thin solid #ddd;

}

.before-nav{
    height: 1.6em;
}




@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper {
        font-size: 12px;

    }

}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper {
        font-size: 16px;

    }

}

@media screen and (min-width: 480px)  {
    #wrapper {
        font-size: 24px;

    }

}

