* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}

#header {
    width: 100%;
    height: 100%;
    min-height: 3em;
    background-color: #2a2d30;
}



#top-content {
    padding-top: 0.500em;
    background: #f5f5f5;
    padding-left: 0.625em;
    padding-right: 0.625em;
    overflow: hidden;
}

.top-content-image {
    width: 3em;
}

.top-content-title {
    position: relative;
    display: inline-block;
    top: -1.500em;
    left: 3.3333%;
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    font-family: Arial, sans-serif;
}
.top-content-title-single {
    position: relative;
    display: inline-block;
    left: 20%;
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    font-family: Arial, sans-serif;
}

.top-content-text {
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    color: #828282;
    margin-top: 0.571em;
    margin-bottom: 0.714em;
}

.center-content-title {
    font-size: 1.313em;
    color: #010101;
    font-family: Arial, sans-serif;
    padding: 1.667em 3.1335% 1.095em;
}

.center-content {
    margin-left: 3.13%;
    margin-right: 3.13%;
    margin-top: 1.071em;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #828282;
}

.center-menu-title {
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 1.071em;
    margin-bottom: 0.929em;
}

.menu-center {
    margin-top: 1.071em;
}

li, ol {
    margin-left: 4%;
    padding-left: 1.25%;
    color: #f6ae01;
}

li span {
    line-height: 1.857em;
    color: #828282;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

.center-content-iframe{
    width: 100%;
}
.center-content-image{
    width: 100%;
    min-height: 14em;
}

.expiration-date {
    font-size: 1em;
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: #000;
    margin-top: 2.857em;
}

.company-registration-data {
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: #000;
    margin-top: 0.357em;
    margin-bottom: 0.571em;
}

.company-address {
    line-height: 1.667em;
    font-size: 0.857em;
    font-family: Arial, sans-serif;
    color: #a4a4a4;
    border-bottom: 0.083em solid #ddd;
    padding-bottom: 2.250em;
    margin-bottom: 2.500em;
}

#content-footer {
    padding-left: 3.125%;
}

.content-footer-title {
    font-size: 0.875em;
    font-weight: bold;
    color: #000;
    margin-bottom: 1.071em;
    font-family: Arial, sans-serif;
}

.content-footer-info {
    margin-bottom: 1.563em;
}

.content-footer-info li {
    list-style: none;
    margin: 0.714em 0;
    font-size: 0.875em;
    font-family: Arial, sans-serif;
    color: #828282;
}

.content-footer-info li a {
    color: #3895e4;
}

.button {
    margin-top: 0.938em;
}

.first-button-image {
    position: relative;
    left: 31.75%;
    top: -1.6875em;
    width: 1em;
}

.second-button-image {
    position: relative;
    left: 31.75%;
    top: -2.6875em;
    width: 1em;
}

.second-button {
    top: -1em;
}

.reg-button {
    width: 93.125%;
    height: 2.667em;
    position: relative;
    margin-left: 3.625%;
    background: #FDFDFE;
    /*border: thin solid #d8d8d8;*/
    /*border-top-color: #DCDCDC;*/
    /*border-bottom-color: #BFBFBF;*/
    /* Attention do not change!!!! Opera mini don`t understand short form */
    border-left: thin solid #d8d8d8;
    border-right: thin solid #d8d8d8;;
    border-top: thin solid #DCDCDC;
    border-bottom: thin solid #BFBFBF;
    font-size: 0.938em;
    font-weight: normal;
    font-family: Arial, sans-serif;
    -webkit-border-radius: 0.214em;
    -moz-border-radius: 0.214em;
    border-radius: 0.214em;
    cursor: pointer;
    color: #3895e4;
    background: linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -webkit-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -moz-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -o-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
    background: -ms-linear-gradient(top, #FDFDFE, #F5F5F5, #F0F0F0);
}


/************************ POPUP  ********************************/
.wr{

    width: 100%;
    position: absolute;
    left: 5%;

}
.wr-hidden{
    display: none;
}
.arrow_box {
    position: relative;
    background: #FFFDE8;
    border: 0.09em solid #F7D102;
    border-radius: 0.125em;
    width: 480%;
    z-index: 100;
}

.arrow_box-content{
    text-align: justify;
    color: #828083;
    font-size: 0.813em;
    font-family: Arial, sans-serif;
    padding: 0.8em 3%;
}

.arrow_box-content-link,
.arrow_box-content-link:hover,
.arrow_box-content-link:visited,
.arrow_box-content-link:link,
.arrow_box-content-link:active
{
    outline: none;
    text-decoration: none;
    color: #408EE1;
    border: none;
}

.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 89.5%;
    border: solid transparent;
    content: " ";
    /*height: 0;*/
    /*width: 0;*/
    position: absolute;
    pointer-events: none;
}



.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color:  #FFFDE8;
    margin-left: -0.4em;
    border-width: 0.45em;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #F7D102;
    margin-left: -0.529em;
    border-width: 0.55em;

}
/*********************** END POPUP  *****************************/



.buttons {
    margin-bottom: 0.5em;
}



@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper {
        font-size: 12px;

    }

}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper {
        font-size: 16px;

    }

}

@media screen and (min-width: 480px)  {
    #wrapper {
        font-size: 24px;

    }

}
