* {
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    border: none;
    outline: none;
}
@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}

button{font-size: inherit;}

.index-mobile{
    background-color: #2f3236;
}

#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
    background-color: #FFFFFF;
}
#header {
    width: 100%;
    height: 100%;
    min-height: 3em;
    background-color:  #2a2d30;
}




#content {
    width: 100%;
    height: 35.6%;
    min-height: 18.125em;
    background-color: #e0e0e0;
    background: linear-gradient(to bottom, #f2f2f2, #d7d7d7);
    background: -webkit-linear-gradient(to bottom, #f2f2f2, #d7d7d7);
    background: -moz-linear-gradient(to bottom, #f2f2f2, #d7d7d7);
    background: -o-linear-gradient(to bottom, #f2f2f2, #d7d7d7);
    background: -ms-linear-gradient(to bottom, #f2f2f2, #d7d7d7);
    border-bottom: thin solid #c1bfa4;
    -webkit-box-shadow: 0 .175em .3125em 0 rgba(193,191,164,1);
    -moz-box-shadow: 0 .175em .3125em 0 rgba(193,191,164,1);
    box-shadow: 0 .175em .3125em 0 rgba(193,191,164,1);

}

.content-text {
    text-align: center;
    padding-top: 1.375em;
    margin-bottom: 1.5625em;
}
.content-text span {
    font-family: Arial, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    color: #f9ae18;
}
.content-text p {
    display: inline-block;
    /*margin-left: 1.5625%;*/
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #2a2d30;
}

.geo-image{
    width: 1.1em;/*140%;/* */
    /*width: 13px; !* new *!*/
    z-index: 150;
    /*margin-left: 1%; !* new *!*/
}
.geo-image-block{
    display: inline-block;
    position: relative;
    width: 4%;
    top: 0.5em;/* */
    right: 10%;
    z-index: 140;/* new */
    cursor: pointer;
}

.input-text-block input[type="text"] {

    background: linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 0.375em, #FFFFFF 1.125em);



    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    font-size: 1em;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: 0 0 0.125em #DDDDDD;
    -webkit-box-shadow: 0 0 0.125em #DDDDDD;
    box-shadow: 0 0 0.125em #DDDDDD;
    display: inline-block;
    height: 2.6875em;
    width: 82.19%;
    /*margin: 0 auto;*/
    margin-left: 6.44%;
    padding: 0 0 0 4.6875%;
}




.input-label {
    margin-left: 6.25%;
    margin-bottom: 0.625em;
}
.input-label span {
    font-family: Arial, sans-serif;
    font-size: 0.8125em;
    color: #ed6c00;
}
.input-label p {
    display: inline-block;
    margin-left: 1.639%;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    color: #858585;
}
.input-text-block input[type="text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}
.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}
.input-text-block input[type="text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;

}
.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.0625em;
    color: #8e8e8e;
}




.button-size{

    font-size: inherit;
    margin-bottom: 1.25em;
}


.submit-button {
    width: 87.5%;
    margin-left: 6.25%;

    height: 100%;
    min-height: 2.6875em;
    background-color: #EB9601;
    background: linear-gradient( top, #F4AC01, #EB9601);
    background: -webkit-linear-gradient(top, #F4AC01, #EB9601);
    background: -moz-linear-gradient( top, #F4AC01, #EB9601);
    background: -o-linear-gradient( top, #F4AC01, #EB9601);
    background: -ms-linear-gradient( top, #F4AC01, #EB9601);
    border: 0.0625em solid #966901;
    -moz-border-radius: 0.214em;
    -webkit-border-radius: 0.214em;
    border-radius: 0.214em;
    cursor: pointer;


}
.submit-button span{
    position: relative;
    color: #fff;
    font-size: 1.385em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    /*top: -0.1875em;*/
    margin-left: -1.689%;
}





.submit-image {
    position: relative;
    top: 0.125em;
    left: -6.8%;
    width: 1.1em; /*6.25%;*/

}





#content-center {
    margin-top: .25em;
    width: 100%;
    height: 100%;
    min-height: 22.5em;
    background: #fffde8;

}

.center-title {
    text-align: center;
    padding-top: 1.25em;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #000000;
    border-bottom: 0.0625em solid #f9de46;
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
}

.img{
    float:left;
    width: 8%;
    display: inline-block;
    margin-left: 3.125%;

}
.img img{
    width: 1.6em; /*100%;*/
}

.job-title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125em;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-left: 3.125%;
    width: 75%;
    margin-bottom: 0.3125em;
    margin-right: 3.125%;
}

.job-block {
    background: #fffde8;
    border-bottom: 0.0625em solid #f9de46;
    padding-bottom: 0.625em;
    margin-bottom: 0.938em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.job-block p {
    display: inline-block;
    padding-right: 3.125%;
    color: #2a2d30;
    font-size: 0.813em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding-top: 0.125em;
    border-right: 0.125em solid #dddddd;
    margin-left: 3.125%;
}

.job-block span {

    color: #2a2d30;
    font-size: .72em;
    font-family: Arial, sans-serif;
    margin-left: 3.125%;
    margin-right: 3.125%;

}

#load-block {
    display: none;
    width: 100%;
    height: 100%;
    min-height: 4em;
    background: #fff;
    margin-top: 2px;
}

.load-image {
    margin-left: 43%;
    width: 2.8em; /*14%;*/
    margin-top: 1.25em;
}





/*********  spinner  *********/

.sk-circle {
    margin: 1em auto;
    width: 2em;
    height: 2em;
    position: relative; }
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }
@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
/********* end spinner *********/

@media screen  and (max-width: 480px) {
    .job-title{
        width: 90%;
    }
    .img{
        display: none;
    }
}


@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;
    }

}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;

    }

}

@media screen and (min-width: 480px)  {
    #wrapper{
        font-size: 24px;

    }

}
