{% extends 'VisiDarbiCommonBundle::user_office_base.html.twig' %}

{% trans_default_domain 'profile' %}
{% form_theme form _self %}

{% block form_label %}<label for="{{ id }}">{{ label|trans }}{% if required %}<b>*</b>{% endif %}</label>{% endblock %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="err_msg">{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
{% spaceless %}
    <section class="inputblock clearfix">
        {{ form_label(form) }}
        <section class="input standart{% if form.vars.errors|length %} no_ok{% endif %}" >
            {{ form_widget(form) }}
        </section>
    </section>
{% endspaceless %}
{% endblock form_row %}

{% block top_menu %}{% endblock %}

{% block content %}
    <section class="clearfix">
        

        
        {% if form.vars.value.isLegal %}
            <div class="active_services">
                <h4>{{ 'Active services'|trans }}</h4>
                <table>
                    <thead>
                        <tr>
                            <th class="cc1">{{ 'Service'|trans }}</th>
                            <th class="cc2">{{ 'Active from'|trans }}</th>
                            <th class="cc3">{{ 'Active to'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for period in active_paid_periods %}
                            {% if period.isActive  %}
                                <tr>
                                    <td class="cc1" rowspan="2" >{{ period.advertisementType.price.description|striptags }}</td>
                                    <td class="cc2">{{ period.fromDate|date('d.m.Y') }}</td>
                                    <td class="cc3">{{ period.toDate|date('d.m.Y') }}</td>
                                </tr>
                                <tr>
                                    <td class="publish" colspan="2"><a href="{{ url('add_advertisement_by_period', { id: period.id }) }}" title="{{ 'Publish advertisement'|trans }}" >{{ 'Publish advertisement'|trans }}</a></td>
                                </tr>
                            {% else %}
                                <tr class="active" >
                                    <td class="cc1">{{ period.advertisementType.price.description|striptags }}</td>
                                    <td class="cc2">{{ period.fromDate|date('d.m.Y') }}</td>
                                    <td class="cc3">{{ period.toDate|date('d.m.Y') }}</td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="3" >{{ 'Currently you have no active services.'|trans }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <a class="orangebutton v2 long css3" href="{{ url('visidarbi_advertisement_add_step1') }}" title="{{ 'Buy new service'|trans }}"><span title="{{ 'Buy new service'|trans }}">{{ 'Buy new service'|trans }}</span></a>
                <div class="active_line">
                    <b>{{ 'Active advertisements'|trans }}: <span>{{ active_adv_count }}</span></b>
                    <a href="{{ url('my_advertisments') }}" title="{{ 'View advertisements'|trans }}">{{ 'View advertisements'|trans }}</a>
                </div>
            </div>
        {% endif %}
            
        <form class="form form_2 form_4 no_ok {{ is_post_request ? 'edit' : 'no_edit' }}" action="{{ url('edit_profile') }}"  method="POST"  novalidate="true" data-edit-form > <!-- add class no_ok -->
            
            
            {% if is_success %}
                <section class="ok_msg_box">
                    <h2>{{ 'Profile information was saved successfully'|trans }}</h2>
                    {% if email_changed %}
                        <section>{{ 'Your new email will become active after confirmation.'|trans }}</section>
                    {% else %}
                        <section>{{ 'Your profile information was saved successfully'|trans }}</section>
                    {% endif %}
                </section>
            {% endif %}

            {% if is_email_change_success %}
                <section class="ok_msg_box">
                    <h2>{{ 'E-mail change is confirmed successfully'|trans }}</h2>
                    <section>{{ 'Your new e-mail address is activated'|trans }}</section>
                </section>
            {% endif %}
        
            
            {% if form.vars.value.isPrivate %}
                {{ form_row(form.full_name) }}
                {{ form_row(form.surname) }} {#  new desktop form#}
                {{ form_row(form.address) }}
                {#{{ form_row(form.address_postcode) }}#}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}

                {{ form_errors(form.full_name) }}
                {{ form_errors(form.address) }}
                {#{{ form_errors(form.address_postcode) }}#}
                {{ form_errors(form.phone) }}
                {{ form_errors(form.email) }}

                {{ form_errors(form.password.first) }}
                {{ form_errors(form.password.second) }}

                {{ form_errors(form) }}

                {{ form_rest(form) }}
            {% endif %}
            
            {% if form.vars.value.isLegal %}

                {{ form_row(form.full_name) }}
                {{ form_row(form.company_name) }}
                {{ form_row(form.vat_number) }}
                {{ form_row(form.registration_number) }}
                {{ form_row(form.legal_address) }}
                {{ form_row(form.legal_address_postcode) }}
                {{ form_row(form.factual_address) }}
                {{ form_row(form.factual_address_postcode) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}


                {{ form_errors(form.full_name) }}
                {{ form_errors(form.company_name) }}
                {{ form_errors(form.vat_number) }}
                {{ form_errors(form.registration_number) }}
                {{ form_errors(form.legal_address) }}
                {{ form_errors(form.legal_address_postcode) }}
                {{ form_errors(form.factual_address) }}
                {{ form_errors(form.factual_address_postcode) }}
                {{ form_errors(form.phone) }}
                {{ form_errors(form.email) }}
                {{ form_errors(form.password.first) }}
                {{ form_errors(form.password.second) }}

                {{ form_errors(form) }}

                {{ form_rest(form) }}
            
            {% endif %}
            
            <section class="bttn edit clearfix">
                <a class="orangebutton v2 css3" href="#" title="{{ 'Edit'|trans }}" ><span title="{{ 'Edit'|trans }}">{{ 'Edit'|trans }}</span></a>
            </section>

            <section class="bttn ctrl clearfix">
                <a class="orangebutton v2 css3" href="javascript:;" onclick="$(this).parents('form:first').submit();" title="{{ 'Save'|trans }}" tabindex="11"><span title="{{ 'Save'|trans }}">{{ 'Save'|trans }}</span></a>
                <a class="cancel" href="{{ url('edit_profile') }}" title="{{ 'Cancel'|trans }}" tabindex="2">{{ 'Cancel'|trans }}</a>
                <input type="submit" style="visibility: hidden; height: 0px" />
            </section>
        </form>
    </section>

{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('form.no_edit').each(function(){
                $(this).find('input').attr('disabled', 'true');
            });
            
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /*form[data-edit-form]:not(.no_edit) .bttn.edit {
            display: none;
        }*/
    </style>
{% endblock %}
   