{#
{% block a2lix_translations_widget %}
    {% set locales = form.vars.locales %}
    {% if fields is defined %}
        {% set locales = form.vars.default_locale|merge(locales) %}
    {% endif %}

    <div class="a2lix_translationsTabs">


        <div class="a2lix_translationsTabsContents">
            {% for locale in locales %}
            <div class="a2lix_translationLocale-{{ locale }}">
             
                {% if (fields is defined) and (form.vars.default_locale[0] == locale) %}
                    {% for field in fields %}
                        {{ form_row(field) }}
                    {% endfor %}

                
                {% else %}
                    {% for translationsLocale in form if (translationsLocale.vars.name == locale) %}
                        {{locale}}*{{ form_widget(translationsLocale) }}
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
#}
{# personalization example :
{% block a2lix_translationsLocale_widget %}
    {% for input in form %}
        {{ form_label(input) }}
        {{ form_widget(input) }}
    {% endfor %}
{% endblock %}
#}




{% block a2lix_translationsLocale_widget %}
<div class="controls">
   {% for input in form %}
        {{ form_row(input) }}
    {% endfor %}
 </div>
{% endblock %}
