{% trans_default_domain 'common' %}
<div id="wr-cookies-notice">
    <div id="cookies-notice">
        <div class="cookies-text">
            <p>{{ 'This website uses cookies that collect data to help you to provide the appropriate content and advertising. By continuing to use this website, you agree that we will store and use cookies on your device. You can withdraw Your consent to cookies use at any time by deleting the saved cookies.'|trans }}
            </p>
        </div>
        <div class="cookies-button">
            <button id="cookie-notice">{{ 'Agree'| trans }}</button>
            <img id="cookie-forbidden" src="{{ asset('bundles/visidarbicommon/images/close.png') }}" alt="Close"/>
        </div>
    </div>
</div>