<!DOCTYPE html>
<html lang="lv" class="no-js">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="description" content="{% block seo_description %}{{ setting('seo.default_description', app.request.attributes.get('_locale')) }}{% endblock %}"/>
		<meta name="keywords" content="{% block seo_keywords %}{{ setting('seo.default_keywords', app.request.attributes.get('_locale')) }}{% endblock %}"/>
		<meta content="www.efumosoftware.com" name="author" />
                {% if google %}<meta name="google-site-verification" content="{{google['webmaster']['key']}}" />{% endif %}
		<title>{% block seo_title %}{{ setting('seo.default_title', app.request.attributes.get('_locale')) }}{% endblock %}</title>
        {% if seo_nofollow_noindex %}
            <meta name="robots" content="nofollow,noindex">
        {% endif %}
		<link rel="icon" href="{{ asset('bundles/visidarbicommon/favicon.ico') }}">
                {% block additionalMeta %}{% endblock %}
        {% block stylesheets %}
            {#&#123;&#35;    #}
            <link rel="stylesheet" href="{{ asset('bundles/visidarbicommon/css/css.css') }}">
            {#&#35;&#125;#}
            {#{% stylesheets 'bundles/visidarbicommon/css/css.css' filter='cssrewrite' %}#}
                {#<link rel="stylesheet" href="{{ asset_url }}" />#}
            {#{% endstylesheets %}#}
            {#<link rel="stylesheet" href="{{ asset('bundles/visidarbicommon/css/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}">#}
            <!--[if lt IE 9]>
                <script src="{{ asset('bundles/visidarbicommon/js/html5shiv.min.js') }}"></script>
                <script src="{{ asset('bundles/visidarbicommon/js/pie.js') }}"></script>
            <![endif]-->
        {% endblock %}
        {#<script type="text/javascript" src="{{ asset('bundles/visidarbicommon/js/jquery-1.10.1.min.js') }}"></script> #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


        {#&#123;&#35;#}
        <script src="{{ asset('bundles/visidarbicommon/js/jquery.min.v1.7.2.js') }}"></script>
        <script src="{{ asset('bundles/visidarbicommon/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
        {#<script src="{{ asset('bundles/visidarbicommon/js/urlEncode.js') }}"></script>#}
        {#<script src="{{ asset('bundles/visidarbicommon/js/kodex-js.js') }}"></script>#}
        {#&#35;&#125;#}

        {#{% javascripts#}
                {#'bundles/visidarbicommon/js/jquery.min.v1.7.2.js'#}
                {#'bundles/visidarbicommon/js/jquery-ui-1.10.3.custom.min.js'#}
        {#%}#}
                {#<script src="{{ asset_url }}"></script>#}
        {#{% endjavascripts %}#}



        <script type="text/javascript" >
			// Script for "Share us" functionality
			var siteUrl = encodeURIComponent( '{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}' ); // Site's URL to share
			var shareTitle = encodeURIComponent($('title').text()); //encodeURIComponent( '{#{ setting('seo.default_title') }#}' ); // Shared message's preview title
			//var shareImg = encodeURIComponent( 'images/project-logo.png/' ); // Preview image for shared message. For FB the thumbnail's width AND height must be at least 50 pixels, and cannot exceed 130x110 pixels.
			var summary = encodeURIComponent($('meta[name=description]').attr('content'));//encodeURIComponent( '{#{ setting('seo.default_description') }#}' ); // Description or preview summary
		</script>

        {% if google['analitics'] %}
            {#<script type="text/javascript">#}

                  {#var _gaq = _gaq || [];#}
                  {#_gaq.push(['_setAccount', '{{google['analitics']['code']}}']);#}
                  {#_gaq.push(['_trackPageview']);#}

                  {#(function() {#}
                    {#var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;#}
                    {#ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';#}
                    {#var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);#}
                  {#})();#}

            {#</script>#}
        {% endif %}
	</head>
        {% block iebody%}

	<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
	<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
	<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
	<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

        {% endblock %}
        <!-- Google Tag Manager -->
            <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P5S2M3"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P5S2M3');</script>
        <!-- End Google Tag Manager -->

         {% trans_default_domain 'common' %}
        {% include 'VisiDarbiCommonBundle::cookie_notice.html.twig' %}
		<header id="header" class="clearfix">
			<section class="logoline">
				<section class="content clearfix">
                    {% block header_logo %}
                        <a href="{{ url('index') }}" title="{{ setting('site.name')|e }}" class="logo"><img src="{{ asset('bundles/visidarbicommon/images/visi-darbi-logo.png') }}" alt="{{ setting('site.name')|e }}"  /></a>
                    {% endblock %}
                    <ul class="stats">
                        {% block stats_menu %}
                            <li>{{ 'Total advertisements: %count%'|trans({ '%count%': '<a href="'  ~ url('visidarbi_advertisement_list') ~ '" title="">' ~ total_advertisement_count() ~ '</a>' })|raw  }}</li>
                            {% set srcText = '%count% sources'|trans({ '%count%': setting('site.adv_sources_count') }) %}
                            {% set srcDoc = special_document(app.request.attributes.get('_locale'), 'adv_sources') %}
                            {% if srcDoc %}
                                {% set srcLink =  '<a href="' ~ url('document', { 'slug': srcDoc.slug }) ~ '" title="' ~ srcDoc.title ~ '">' ~ srcText ~ '</a>' %}
                            {% else %}
                                {% set srcLink =  '<a href="#" title="">' ~ srcText ~ '</a>' %}
                            {% endif %}
                            <li>{{ 'Advertisements form %sources_link%'|trans({ '%sources_link%': srcLink })|raw }}</li>
                            {#<li>{{ 'Visitors this week: %count%'|trans({ '%count%': '<span>' ~ ga_views_this_week(current_country()) ~ '</span>' })|raw }}</li>#}

                        {% endblock %}
					</ul>
					<section class="right">

                        {% if is_granted('ROLE_USER') %}
                            <dl class="simpledrop user">
                                <dt><a href="#" title="{{ app.user }}">{{ app.user }}</a></dt>
                                <dd>
                                    <ul>
                                        <li><a href="{{ url('edit_profile') }}" title="{{ 'Profile'|trans }}">{{ 'Profile'|trans }}</a></li>
                                        <li><a href="{{ url('fos_user_security_logout') }}" title="{{ 'Logout'|trans }}">{{ 'Logout'|trans }}</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        {% else %}
                            {% block top_menu %}
                                <div class="topmenu"><a href="{{ url('registration') }}" title="{{ 'Registration'|trans }}">{{ 'Registration'|trans }}</a></div>
                            {% endblock %}
                            <dl class="simplepopup">
                                <dt><a id="auth_btn" href="#" title="{{ 'Authorization'|trans }}">{{ 'Authorization'|trans }}</a></dt>
                                <dd>
                                    <section class="pop"><section class="inner css3">
                                        <section class="poptop css3"></section>
                                        <form class="form" action="{{ url("fos_user_security_check") }}" method="post" id="auth_form" >  <!-- add class no_ok -->
                                            <h2>{{ 'Authorize'|trans }}</h2>
                                            <section class="inputblock clearfix">
                                                <label for="in_91">{{ 'E-mail'|trans }}<b>*</b></label>
                                                <section class="input standart">
                                                    <input id="in_91" type="text" value="" tabindex="91" name="_username"  />
                                                </section>
                                            </section>
                                            <section class="inputblock clearfix">
                                                <label for="in_92">{{ 'Pasword'|trans }}<b>*</b></label>
                                                <section class="input standart">
                                                    <input id="in_92" type="password" value="" tabindex="92" name="_password" />
                                                </section>
                                            </section>
                                            <div class="info_block" > </div>
                                            <section class="clearfix">
                                                <a href="javascript:;" title="{{ 'Authorize'|trans }}" class="submit_btn orangebutton v2 css3" tabindex="93"><span title="{{ 'Authorize'|trans }}">{{ 'Authorize'|trans }}</span></a>
                                                <section class="forgot"><span><a href="#" title="{{ 'Forgot password'|trans }}"  tabindex="94">{{ 'Forgot password'|trans }}</a></span></section>
                                            </section>
                                        </form>
                                    </section></section>
                                    <section id="recovery" class="pop"><section class="inner css3">
                                        <section class="poptop css3"></section>
                                        <form class="form" action="{{ url("request_tmp_password") }}" id="recovery_form"  method="post" >  <!-- add class no_ok -->
                                            <h2>{{ 'Password recovery'|trans }}</h2>
                                            <section class="inputblock clearfix">
                                                <label for="in_95">{{ 'E-mail'|trans }}<b>*</b></label>
                                                <section class="input standart">
                                                    <input id="in_95" type="text" value="" name="email" tabindex="95" />
                                                </section>
                                            </section>
                                            <div class="info_block" ></div>
                                            <section class="clearfix">
                                                <a href="#" title="{{ 'Recover'|trans }}" class="submit_btn orangebutton v2 css3" tabindex="96"><span title="{{ 'Recover'|trans }}">{{ 'Recover'|trans }}</span></a>
                                            </section>
                                        </form>
                                    </section></section>
                                </dd>
                            </dl>
                        {% endif %}


						<dl class="simpledrop lang">

                            {% set cc = current_country() %}
                            {% set currentLocale = app.request.attributes.get('_locale') %}

							<dt><a href="#" title="{{ currentLocale|upper }}">{{ currentLocale|upper }}</a></dt>
							<dd>
								<ul>
                                    {% block language_switcher_choices %}
                                        {% for locale in cc.locales %}
                                            {% if locale != currentLocale%}
                                                <li><a href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale}) ) }}">{{ locale|upper }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endblock language_switcher_choices %}
								</ul>
							</dd>
						</dl>
					</section>
				</section>
			</section>

            {% block additional_header %}
                {% render "VisiDarbiCommonBundle:Search:index" %}
            {% endblock %}

		</header>

        {% block body %}{% endblock %}
        {% block footer %}

		<footer id="footer" class="clearfix">
			<section class="shadow"><div class="css3"></div></section>
			<section class="content">
				<section class="foot clearfix">
					<section class="col">
						<div class="logo"><a href="{{ url('index') }}" title="{{ setting('site.name')|e }}"><img src="{{ asset('bundles/visidarbicommon/images/visi-darbi-logo2.png') }}"  alt="{{ setting('site.name')|e }}" /></a></div>
						<dl class="simpledrop">
                            {% set cc = current_country() %}
							<dt><a href="#" title="{{ cc.name }}" class="css3"><span class="img"><img src="{{ asset('bundles/visidarbicommon/images/flag_' ~ cc.code ~ '.png') }}"  alt="" /></span><span class="txt">{{ cc.name }}</span></a></dt>
							<dd>
								<ul>
                                    {% for country in all_countries() %}
                                        {% if (country.code == 'lv') %}
                                            <li><a href="//{{ country.domain }}" title="{{ country.name }}" class="css3"><span class="img"><img src="{{ asset('bundles/visidarbicommon/images/flag_' ~ country.code ~ '.png') }}"  alt="" /></span><span class="txt">{{ country.name }}</span></a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
							</dd>
						</dl>
					</section>
					<section class="col">
                        {{ knp_menu_render('footer') }}
					</section>
					<section class="col">
						<h3>{{ 'Share'|trans }}</h3>
						<ul class="socs">
                            <li><a class="dr css3" title="Draugiem.lv" target="_blank" href="{{ setting('social.draugiem_url') }}" rel="nofollow"></a></li>
							<li><a class="fb css3" title="Facebook" target="_blank" href="{{ setting('social.facebook_url') }}" rel="nofollow"></a></li>
							<li><a class="tw css3"  title="Twitter" target="_blank" href="{{ setting('social.twitter_url') }}" rel="nofollow"></a></li>
						</ul>
					</section>
					<section class="col">
						<h3>{{ 'Contacts'|trans }}</h3>
                        {% set lng =  app.request.attributes.get('_locale') %}

                        {% if setting('contacts.info_email', lng) %}
                            <div>{{ 'E-mail'|trans({}, 'contacts') }}:  <a href="mailto:{{ setting('contacts.info_email', lng) }}" title="{{ setting('contacts.info_email', lng) }}">{{ setting('contacts.info_email', lng) }}</a></div>
						{% endif %}

                        {% if setting('contacts.info_phone', lng) %}
                            <div>{{ 'Phone'|trans({}, 'contacts') }}: {{ setting('contacts.info_phone', lng) }}</div>
                        {% endif %}

                        {% if setting('contacts.info_fax', lng) %}
                            <div>{{ 'Fax'|trans({}, 'contacts') }}:  {{ setting('contacts.info_fax', lng) }}</div>
                        {% endif %}
                        {% set is_mobile = app.session.get('mobile') %}
                        {% if is_mobile is defined and is_mobile %}
                            <div><a href="{{ path('to_mobile') }}">{{ 'Mobile version'|trans({}, 'mobile') }}</a></div>
                        {% endif %}
                    </section>

                    {% set cc = current_country() %}
                    {% set vendorInfo = vendor_info(cc.code, app.request.attributes.get('_locale')) %}
					<section class="efumo"><a href="{{ vendorInfo.url }}" title="{{ vendorInfo.title }}" target="_blank"><img src="{{ asset('bundles/visidarbicommon/images/efumo-software-logo.png') }}" alt="{{ vendorInfo.title }}" /></a></section>
				</section>
			</section>
			<section class="copys">
				<section class="content clearfix">{{ setting('site.name') }} &copy; {{ 'now'|date('Y') }} {{ 'All rights reserved'|trans }}</section>
			</section>
		</footer>
        {% endblock %}

        {% block javascripts %}

            <script src="{{ asset('bundles/visidarbicommon/js/jquery.datepick.js') }}"></script>
            {% if app.request.attributes.get('_locale') != 'en' %}
                <script src="{{ asset('bundles/visidarbicommon/js/jquery.datepick-'~app.request.attributes.get('_locale')~'.js') }}"></script>
            {% endif %}

            {#&#123;&#35;#}
            <script type="text/javascript" src="{{ asset('bundles/visidarbicommon/js/jquery.base64.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/visidarbicommon/js/jquery.placeholder.min.js') }}"></script>
            <script src="{{ asset('bundles/visidarbicommon/js/jquery.cookie.js') }}"></script>
            <script src="{{ asset('bundles/visidarbicommon/js/js.js') }}"></script>

            {#&#35;&#125;#}

            {#{% javascripts#}
                {#'bundles/visidarbicommon/js/jquery.base64.min.js'#}
                {#'bundles/visidarbicommon/js/jquery.placeholder.min.js'#}
                {#'bundles/visidarbicommon/js/js.js' %}#}
                {#<script src="{{ asset_url }}"></script>#}
            {#{% endjavascripts %}#}

                {% if not is_granted('ROLE_USER') %}
            <script>
                $(function() {
                    //authorization
                    var $authForm = $('#auth_form');
                    var $submitBtn = $authForm.find('.submit_btn');
                    var $infoBlock = $authForm.find('.info_block');

                    var lastUsername = null;

                    $submitBtn.click(function() {

                        $authForm.addClass('no_ok');

                        var $msg = $('<div class="err_msg gray" >{{ 'Please wait...'|trans }}</div>').css({ display: 'block' });
                        $infoBlock.empty().append($msg);

                        $.post($authForm.attr('action'), $authForm.serialize(), function(resp) {
                            if (resp.success === true) {
                                location.reload(true);
                            }
                            else {
                                lastUsername = $authForm.find('input[name=_username]').val();
                                $('.input', $authForm).addClass('no_ok');
                                $infoBlock.empty().append('<div class="err_msg" >' + resp.message + '</div>');
                            }

                        }, 'json')
                    });

                    $('input', $authForm).keypress(function(e) {
                        if (e.which == 13) {
                            $(this).blur();
                            $submitBtn.focus().click();
                        }
                    });


                    $('.forgot a').click(function() {
                        if (lastUsername) {
                            var $form = $('#recovery_form').find('input[name=email]').val(lastUsername);
                            lastUsername = null;
                        }
                    });
                });

                $(function() {

                    //password recovery
                    var $form = $('#recovery_form');
                    var $submitBtn = $form.find('.submit_btn');
                    var $infoBlock = $form.find('.info_block');



                    $submitBtn.click(function() {

                        $form.addClass('no_ok');
                        var $msg = $('<div class="err_msg gray" >{{ 'Please wait...'|trans }}</div>').css({ display: 'block' });

                        $infoBlock.empty().append($msg);
                        $.post($form.attr('action'), $form.serialize(), function(resp) {

                            if (resp.status === 'OK') {

                                $('.input', $form).removeClass('no_ok');
                                $('.input input', $form).val('');

                                var $msg = $('<div class="err_msg gray" >' + resp.message + '</div>').css({ display: 'block' });
                                $infoBlock.empty().append($msg);
                            }

                            if (resp.status === 'FAIL') {

                                $('.input', $form).addClass('no_ok');
                                $infoBlock.empty().append('<div class="err_msg" >' + resp.message + '</div>');
                            }

                        }, 'json')
                    });

                    $('input', $form).keypress(function(e) {
                        if (e.which == 13) {
                            e.preventDefault();
                            $(this).blur();
                            $submitBtn.focus().click();
                        }
                    });
                });
            </script>
            {% endif %}
        {% endblock %}
        {% block afterfooter %}
        {% endblock %}


	</body>
</html>

