{% trans_default_domain "pagination" %}
{% if totalCount > 0 %}
    <section class="clearfix pgr">
        {% if pagesInRange|length > 1 %}
        <section class="control">

            {% if previous is defined %}
            <a class="prev css3" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">{{'Prev'|trans}}</a>
            {% else %}
            <a class="prev css3 disabled">{{'Prev'|trans}}</a>
            {% endif %}            

            {% for page in pagesInRange %}
                {% if page != current %}
                    <span class="page">
                        <a class="normal" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{page}}</a>
                    </span>
                {% else %}
                    <span class="normal active">{{page}}</span>
                {% endif %}

            {% endfor %}               

            {% if next is defined %}
               <a class="next css3" href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{'Next'|trans}}</a>
            {% else %}
                <a class="next disabled css3">{{'Next'|trans}}</a>               
            {% endif %}            

        </section>
        <section class="show">{{'Showing'|trans}} <b>{{current*numItemsPerPage - numItemsPerPage +1}}-{% if current*numItemsPerPage <= totalCount %}{{current*numItemsPerPage}}{% else %}{{ totalCount }}{% endif %}</b> {{'of'|trans}} <b>{{ totalCount }}</b> {%if itemTrans %}{{itemTrans}}{%else%}{{'items'|trans}}{%endif%}</section>
        {% endif %}
        {% block additional_content %}{% endblock %}
    </section>
{% endif %}