{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}

{% trans_default_domain 'profile' %}

{% block top_menu %}{% endblock %}

{% block body %}
    <section id="wrapper" class="no_cols clearfix">
        <section class="content clearfix">
            <section class="body">
                <h1>{{ 'My account'|trans }}</h1>
                <section class="tabs tabs_2 tabsmenu">
                    {{ knp_menu_render('user_office', { 'currentClass': 'sel' }) }}
                    <section class="shadow"><div class="css3"></div></section>
                </section>
                <section class="tabsgroup clearfix">
                    {% block content %}{% endblock %}
                </section>
            </section>
        </section>
    </section>
{% endblock %}
