{% trans_default_domain "messages" %}
{% form_theme form _self %}
{% block genemu_captcha_widget %}
<label>form.captcha.vars.label</label>
<!-- add class no_ok -->
<div class="ef-input text css3 v2 captcha"><div class="inner">
        <div class="def" title="{{form.vars.label|trans}}">{{form.vars.label|trans}}<span>*</span></div>
        <input type="{{ type }}" class="realinput" title="{{form.captcha.vars.label|trans}}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {#<input class="realinput" type="text" title="Drošības kods" value="" tabindex="103"/>#}
    </div></div>
<img class="css3" id="{{ id }}_image" src="{{ src }}" width="{{ width }}" height="{{ height }}" title="{{ name|trans }}" />
<a class="reload" id="{{ id }}_refresh" href="#" title="{{'Reload'|trans}}" tabindex="70">{{'Reload'|trans}}</a>
<script type="text/javascript">

        $(function () {
            {# Image will be refreshed when the link is clicked #}
            $('#{{id}}_refresh').click(function() {
                //$('#{{ id }}_image').attr('src', '{{ asset('bundles/visidarbicommon/images/ajax-loader.gif')}}');
                refershCaptchaSubscribe();
            });
        });
        
        function refershCaptchaSubscribe(){
            $('#{{ id }}_image').attr('src', '{{ path('genemu_captcha_refresh') }}?' + Math.random());
        }
        
    </script>
{% endblock %}


