* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}



@media only screen  and (max-width: 310px){
    #wrapper {

        width: 100%;
        margin: 0 auto;
    }

    #header {
        width: 100%;
        border-top: 2px solid #000;
        height: 100%;
        min-height: 38px;
        background-color: #2a2d30;
    }

    .select-country-block {
        width: 5.625%;
        top: -10px;
        position:relative;
        display: inline-block;
        margin-left: 6.25%;
    }

    .select-country-text{
        color: #f6ae01;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 11px;

    }
    .select-country-icon{
        width: 4.6875%;
        position:relative;
        display: inline-block;
        top: -6px;


    }

    .logo {
        width: 42.1875%;
        position:relative;
        display: inline-block;
        margin-left: -2.248%;
        margin-top: 5px;


    }



    .menu-icon {
        width: 13.438%;
        position:relative;
        display: inline-block;
        left:64.5%;
        top: 1px;
    }

    .select-country-image{
        width: 100%;

    }

    .logo-image{
        width: 100%;

    }

    .menu-image{
        width: 100%;

    }

    #content {
        margin-top: 15px;
        padding: 0 2.5%;
    }

    .content-title {
        font-size: 15px;
        color: #262626;
        font-family: Arial, sans-serif;
        font-weight: normal;
        margin-bottom: 7px;
    }

    .content-date {
        color: #cacaca;
        font-style: italic;
        font-size: 9px;
        font-family: Arial, sans-serif;
    }

    .content-image {
        margin-top: 7px;
        width: 98.355%;
        height: 312px;
        margin-bottom: 15px;
    }

    .content-text {
        font-family: Arial, sans-serif;
        font-size: 11px;
        color: #828282;
        font-style: normal;
        margin-bottom: 26px;
    }

    .content-subtitle {
        color: #262626;
        font-size: 12px;
        font-family: Arial, sans-serif;
        margin-bottom: 11px;
        font-weight: normal;
    }

    /*  table  */
    .content-table{
        width: 100%;
        border-spacing: 0;
        margin-bottom: 22px;
    }
    .content-table-title{
        font-family:Arial, sans-serif;
        font-weight:bold;
        font-size: 10px;
        color:#2c2c2c;
        font-style:normal;
        text-transform:uppercase;
        height: 15px;
        background-color: #f0f0f0;

    }
    .content-table-row{
        border-left: 2px solid #f0f0f0;
        border-bottom: 2px solid #f0f0f0;
    }
    .content-table-text{
        font-family: Arial, sans-serif;
        font-size: 10px;
        font-style: normal;
        color: #828282;



    }
    .table-cell-left{
        width: 41.118%;
        border-left: 2px solid #f0f0f0;
        border-bottom: 2px solid #f0f0f0;
        padding: 4px;
    }
    .table-cell-center{
        width: 17.76%;
        border-bottom: 2px solid #f0f0f0;
        padding: 4px;
    }

    .table-cell-right{
        width: 41.118%;
        border-bottom: 2px solid #f0f0f0;
        padding: 4px;

    }



    /*    table  */
    .content-video {
        width: 98.355%;
        height: 151px;
        margin-bottom: 19px;
    }

    .content-text-light {
        font-size: 11px;
        font-family: Arial, sans-serif;
        color: #828282;
        font-style: normal;
        margin-top: 15px;
    }


    .content-list-light li, ol {
        margin-left: 4.934%;
        color: #f6ae01;
    }

    .content-list-light li span {
        color: #828282;
        font-size: 11px;
        font-family: Arial, sans-serif;
    }

    #content-footer {
        margin-top: 22px;
    }

    .content-footer-links-title {
        font-size: 10px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        color: #2c2c2c;
        font-style: normal;
        text-transform: uppercase;
        padding: 6px 3.2895%;
        background: #f0f0f0;
        margin-bottom: 19px;
    }

    .top-link-block {
        margin-bottom: 15px;
        width: 90%;
        overflow: hidden;
    }

    a.content-footer-link {

        border-left: 3px solid #f6ae01;
        font-family: Arial, sans-serif;
        font-size: 10px;
        color: #3895e4;
        line-height: 22px;
        padding-left: 1.645%;
    }

    a.content-footer-link span{
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    a.content-footer-link:hover {
        text-decoration: underline;
    }

    .bottom-link-block {
        margin-bottom: 22px;
        width: 90%;
        overflow: hidden;
    }

    .arrow{
        margin-bottom: 19px;
    }

    .arrow img{
        display: inline-block;
        width: 5.625%;

    }

    .arrow a {
        position: relative;
        left: 0.9868%;
        top: -3px;
        font-size: 12px;
        font-family: Arial, sans-serif;
        color: #3895e4;
    }

    #footer {
        height: 100%;
        min-height: 22px;
        background-color: #2a2d30;

    }

    .copyright {
        font-style: normal;
        color: #6a6d6f;
        font-size: 9px;
        font-family: Arial, sans-serif;
        padding-top: 6px;
        padding-left: 3.125%;
    }
}/*240*/
@media only screen and (min-width: 311px) and (max-width: 460px){
    #wrapper {
        width: 100%;
        margin: 0 auto;
    }


    #header {
        width: 100%;
        border-top: 2px solid #000;
        height: 100%;
        min-height: 50px;
        background-color:  #2a2d30;
    }

    .select-country-block {
        width: 5.625%;
        top: -13px;
        position:relative;
        display: inline-block;
        margin-left: 6.25%;
    }

    .select-country-text{
        color: #f6ae01;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 14px;

    }
    .select-country-icon{
        width: 4.6875%;
        position:relative;
        display: inline-block;
        top: -9px;

    }


    .logo {
        width: 42.1875%;
        position:relative;
        display: inline-block;
        margin-left: -2.248%;
        margin-top: 7px;

    }



    .menu-icon {
        width: 13.438%;
        position:relative;
        display: inline-block;
        left:64.5%;
        top: 1px;


    }

    .select-country-image{
        width: 100%;

    }

    .logo-image{
        width: 100%;

    }

    .menu-image{
        width: 100%;

    }

    #content {
        margin-top: 20px;
        padding: 0 2.5%;
    }

    .content-title {
        font-size: 20px;
        color: #262626;
        font-family: Arial, sans-serif;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .content-date {
        color: #cacaca;
        font-style: italic;
        font-size: 12px;
        font-family: Arial, sans-serif;
    }

    .content-image {
        margin-top: 10px;
        width: 98.355%;
        height: 208px;
        margin-bottom: 10px;
    }

    .content-text {
        font-family: Arial, sans-serif;
        font-size: 15px;
        color: #828282;
        font-style: normal;
        margin-bottom: 35px;
    }

    .content-subtitle {
        color: #262626;
        font-size: 16px;
        font-family: Arial, sans-serif;
        margin-bottom: 15px;
        font-weight: normal;
    }

    /*  table  */
    .content-table{
        width: 100%;
        border-spacing: 0;
        margin-bottom: 30px;
    }
    .content-table-title{
        font-family:Arial, sans-serif;
        font-weight:bold;
        font-size:13px;
        color:#2c2c2c;
        font-style:normal;
        text-transform:uppercase;
        height: 30px;
        background-color: #f0f0f0;

    }
    .content-table-row{
        border-left: 2px solid #f0f0f0;
        border-bottom: 2px solid #f0f0f0;
    }
    .content-table-text{
        font-family: Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        color: #828282;



    }
    .table-cell-left{
        width: 41.118%;
        border-left: 2px solid #f0f0f0;
        border-bottom: 2px solid #f0f0f0;
        padding: 5px;
    }
    .table-cell-center{
        width: 17.76%;
        border-bottom: 2px solid #f0f0f0;
        padding: 5px;
    }

    .table-cell-right{
        width: 41.118%;
        border-bottom: 2px solid #f0f0f0;
        padding: 5px;

    }



    /*    table  */
    .content-video {
        width: 98.355%;
        height: 202px;
        margin-bottom: 25px;
    }

    .content-text-light {
        font-size: 15px;
        font-family: Arial, sans-serif;
        color: #828282;
        font-style: normal;
        margin-top: 20px;
    }


    .content-list-light li, ol {
        margin-left: 4.934%;
        color: #f6ae01;
    }

    .content-list-light li span {
        color: #828282;
        font-size: 15px;
        font-family: Arial, sans-serif;
    }

    #content-footer {
        margin-top: 30px;
    }

    .content-footer-links-title {
        font-size: 13px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        color: #2c2c2c;
        font-style: normal;
        text-transform: uppercase;
        padding: 8px 3.2895%;
        background: #f0f0f0;
        margin-bottom: 25px;
    }

    .top-link-block {
        margin-bottom: 20px;
        width: 90%;
        overflow: hidden;
    }

    a.content-footer-link {

        border-left: 3px solid #f6ae01;
        font-family: Arial, sans-serif;
        font-size: 13px;
        color: #3895e4;
        line-height: 30px;
        padding-left: 1.645%;
    }

    a.content-footer-link span{
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a.content-footer-link:hover {
        text-decoration: underline;
    }

    .bottom-link-block {
        margin-bottom: 30px;
        width: 90%;
        overflow: hidden;
    }

    .arrow{
        margin-bottom: 25px;
    }

    .arrow img{
        display: inline-block;
        width: 5.625%;

    }

    .arrow a {
        position: relative;
        left: 0.9868%;
        top: -4px;
        font-size: 15px;
        font-family: Arial, sans-serif;
        color: #3895e4;
    }

    #footer {
        height: 100%;
        min-height: 30px;
        background-color: #2a2d30;

    }

    .copyright {
        font-style: normal;
        color: #6a6d6f;
        font-size: 11px;
        font-family: Arial, sans-serif;
        padding-top: 7px;
        padding-left: 3.125%;
    }
}/*320*/
@media only screen and (min-width: 461px) and (max-width: 580px){
    #wrapper {
        width: 100%;
        margin: 0 auto;
    }
    #header {
        width: 100%;
        border-top: 2px solid #000;
        height: 100%;
        min-height: 68px;
        background-color: #2a2d30;
    }

    .select-country-block {
        width: 5.625%;
        top: -20px;
        position:relative;
        display: inline-block;
        margin-left: 6.25%;
    }

    .select-country-text{
        color: #f6ae01;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 21px;

    }
    .select-country-icon{
        width: 4.6875%;
        position:relative;
        display: inline-block;
        top: -12px;


    }

    .logo {
        width: 42.1875%;
        position:relative;
        display: inline-block;
        margin-left: -2.248%;
        margin-top: 10px;


    }


    .menu-icon {
        width: 13.438%;
        position:relative;
        display: inline-block;
        left:64.5%;
        top: 2px;
    }
    .select-country-image{
        width: 100%;

    }

    .logo-image{
        width: 100%;

    }

    .menu-image{
        width: 100%;

    }

    #content {
        margin-top: 30px;
        padding: 0 2.5%;
    }

    .content-title {
        font-size: 30px;
        color: #262626;
        font-family: Arial, sans-serif;
        font-weight: normal;
        margin-bottom: 15px;
    }

    .content-date {
        color: #cacaca;
        font-style: italic;
        font-size: 18px;
        font-family: Arial, sans-serif;
    }

    .content-image {
        margin-top: 15px;
        width: 98.355%;
        height: 312px;
        margin-bottom: 15px;
    }

    .content-text {
        font-family: Arial, sans-serif;
        font-size: 22px;
        color: #828282;
        font-style: normal;
        margin-bottom: 53px;
    }

    .content-subtitle {
        color: #262626;
        font-size: 24px;
        font-family: Arial, sans-serif;
        margin-bottom: 22px;
        font-weight: normal;
    }

    /*  table  */
    .content-table{
        width: 100%;
        border-spacing: 0;
        margin-bottom: 45px;
    }
    .content-table-title{
        font-family:Arial, sans-serif;
        font-weight:bold;
        font-size: 19px;
        color:#2c2c2c;
        font-style:normal;
        text-transform:uppercase;
        height: 30px;
        background-color: #f0f0f0;

    }
    .content-table-row{
        border-left: 3px solid #f0f0f0;
        border-bottom: 3px solid #f0f0f0;
    }
    .content-table-text{
        font-family: Arial, sans-serif;
        font-size: 19px;
        font-style: normal;
        color: #828282;



    }
    .table-cell-left{
        width: 41.118%;
        border-left: 3px solid #f0f0f0;
        border-bottom: 3px solid #f0f0f0;
        padding: 7px;
    }
    .table-cell-center{
        width: 17.76%;
        border-bottom: 3px solid #f0f0f0;
        padding: 7px;
    }

    .table-cell-right{
        width: 41.118%;
        border-bottom: 3px solid #f0f0f0;
        padding: 7px;

    }



    /*    table  */
    .content-video {
        width: 98.355%;
        height: 303px;
        margin-bottom: 37px;
    }

    .content-text-light {
        font-size: 22px;
        font-family: Arial, sans-serif;
        color: #828282;
        font-style: normal;
        margin-top: 30px;
    }


    .content-list-light li, ol {
        margin-left: 4.934%;
        color: #f6ae01;
    }

    .content-list-light li span {
        color: #828282;
        font-size: 22px;
        font-family: Arial, sans-serif;
    }

    #content-footer {
        margin-top: 45px;
    }

    .content-footer-links-title {
        font-size: 19px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        color: #2c2c2c;
        font-style: normal;
        text-transform: uppercase;
        padding: 12px 3.2895%;
        background: #f0f0f0;
        margin-bottom: 38px;
    }

    .top-link-block {
        margin-bottom: 30px;
        width: 90%;
        overflow: hidden;
    }

    a.content-footer-link {
        border-left: 5px solid #f6ae01;
        font-family: Arial, sans-serif;
        font-size: 19px;
        color: #3895e4;
        line-height: 45px;
        padding-left: 1.645%;
    }

    a.content-footer-link span{
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a.content-footer-link:hover {
        text-decoration: underline;
    }

    .bottom-link-block {
        margin-bottom: 45px;
        width: 90%;
        overflow: hidden;
    }

    .arrow{
        margin-bottom: 38px;

    }

    .arrow img{
        display: inline-block;
        width: 5.625%;

    }

    .arrow a {
        position: relative;
        left: 0.9868%;
        top: -6px;
        font-size: 23px;
        font-family: Arial, sans-serif;
        color: #3895e4;
    }

    #footer {
        height: 100%;
        min-height: 45px;
        background-color: #2a2d30;

    }

    .copyright {
        font-style: normal;
        color: #6a6d6f;
        font-size: 17px;
        font-family: Arial, sans-serif;
        padding-top: 12px;
        padding-left: 3.125%;
    }
}/*480*/
@media only screen and (min-width: 581px) and (max-width: 720px){
    #wrapper {
        width: 100%;
        margin: 0 auto;
    }
    #header {
        width: 100%;
        border-top: 2px solid #000;
        height: 100%;
        min-height: 90px;
        background-color: #2a2d30;
    }

    .select-country-block {
        width: 5.625%;
        top: -26px;
        position:relative;
        display: inline-block;
        margin-left: 6.25%;
    }

    .select-country-text{
        color: #f6ae01;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 28px;

    }
    .select-country-icon{
        width: 4.6875%;
        position:relative;
        display: inline-block;
        top: -18px;

    }


    .logo {
        width: 42.1875%;
        position:relative;
        display: inline-block;
        margin-left: -2.248%;
        margin-top: 14px;

    }

    .menu-icon {
        width: 13.438%;
        position:relative;
        display: inline-block;
        left:64.5%;
        top: 2px;
    }

    .select-country-image{
        width: 100%;

    }

    .logo-image{
        width: 100%;

    }

    .menu-image{
        width: 100%;

    }

    #content {
        margin-top: 40px;
        padding: 0 2.5%;
    }

    .content-title {
        font-size: 40px;
        color: #262626;
        font-family: Arial, sans-serif;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .content-date {
        color: #cacaca;
        font-style: italic;
        font-size: 24px;
        font-family: Arial, sans-serif;
    }

    .content-image {
        margin-top: 20px;
        width: 98.355%;
        height: 416px;
        margin-bottom: 20px;
    }

    .content-text {
        font-family: Arial, sans-serif;
        font-size: 30px;
        color: #828282;
        font-style: normal;
        margin-bottom: 70px;
    }

    .content-subtitle {
        color: #262626;
        font-size: 32px;
        font-family: Arial, sans-serif;
        margin-bottom: 30px;
        font-weight: normal;
    }

    /*  table  */
    .content-table{
        width: 100%;
        border-spacing: 0;
        margin-bottom: 60px;
    }
    .content-table-title{
        font-family:Arial, sans-serif;
        font-weight:bold;
        font-size:26px;
        color:#2c2c2c;
        font-style:normal;
        text-transform:uppercase;
        height: 60px;
        background-color: #f0f0f0;

    }
    .content-table-row{
        border-left: 4px solid #f0f0f0;
        border-bottom: 4px solid #f0f0f0;
    }
    .content-table-text{
        font-family: Arial, sans-serif;
        font-size: 26px;
        font-style: normal;
        color: #828282;
    }
    .table-cell-left{
        width: 41.118%;
        border-left: 4px solid #f0f0f0;
        border-bottom: 4px solid #f0f0f0;
        padding: 10px;
    }
    .table-cell-center{
        width: 17.76%;
        border-bottom: 4px solid #f0f0f0;
        padding: 10px;
    }

    .table-cell-right{
        width: 41.118%;
        border-bottom: 4px solid #f0f0f0;
        padding: 10px;

    }



    /*    table  */
    .content-video {
        width: 98.355%;
        height: 404px;
        margin-bottom: 50px;
    }

    .content-text-light {
        font-size: 30px;
        font-family: Arial, sans-serif;
        color: #828282;
        font-style: normal;
        margin-top: 40px;
    }


    .content-list-light li, ol {
        margin-left: 4.934%;
        color: #f6ae01;
    }

    .content-list-light li span {
        color: #828282;
        font-size: 30px;
        font-family: Arial, sans-serif;
    }

    #content-footer {
        margin-top: 60px;
    }

    .content-footer-links-title {
        font-size: 26px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        color: #2c2c2c;
        font-style: normal;
        text-transform: uppercase;
        padding: 16px 3.2895%;
        background: #f0f0f0;
        margin-bottom: 50px;
    }

    .top-link-block {
        margin-bottom: 40px;
        width: 90%;
        overflow: hidden;
    }

    a.content-footer-link {
        border-left: 6px solid #f6ae01;
        font-family: Arial, sans-serif;
        font-size: 26px;
        color: #3895e4;
        line-height: 60px;
        padding-left: 1.645%;
    }

    a.content-footer-link span{
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a.content-footer-link:hover {
        text-decoration: underline;
    }

    .bottom-link-block {
        margin-bottom: 60px;
        width: 90%;
        overflow: hidden;
    }

    .arrow{
        margin-bottom: 50px;
    }

    .arrow img{
        display: inline-block;
        width: 5.625%;

    }

    .arrow a {
        position: relative;
        left: 0.9868%;
        top: -8px;
        font-size: 30px;
        font-family: Arial, sans-serif;
        color: #3895e4;
    }

    #footer {
        height: 100%;
        min-height: 60px;
        background-color: #2a2d30;

    }

    .copyright {
        font-style: normal;
        color: #6a6d6f;
        font-size: 22px;
        font-family: Arial, sans-serif;
        padding-top: 14px;
        padding-left: 3.125%;
    }
}/*640*/
@media only screen and (min-width: 721px) and (max-width: 1024px){
    #wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #header {
        width: 100%;
        border-top: 4px solid #000;
        height: 100%;
        min-height: 136px;
        background-color: #2a2d30;
    }

    .select-country-block {
        width: 5.625%;
        top: -30px;
        position:relative;
        display: inline-block;
        margin-left: 5.25%;
    }

    .select-country-text{
        color: #f6ae01;
        font-family: Arial, sans-serif;
        font-weight: normal;
        font-size: 42px;

    }
    .select-country-icon{
        width: 4.6875%;
        position:relative;
        display: inline-block;
        left: 1.5%;
        top: -24px;


    }

    .logo {
        width: 42.1875%;
        position:relative;
        display: inline-block;
        margin-left: -2.248%;
        margin-top: 20px;


    }


    .menu-icon {
        width: 13.438%;
        position:relative;
        display: inline-block;
        left:64.5%;
        top: 4px;
    }
    .select-country-image{
        width: 100%;

    }

    .logo-image{
        width: 100%;

    }

    .menu-image{
        width: 100%;

    }

    #content {
        margin-top: 60px;
        padding: 0 2.5%;
    }

    .content-title {
        font-size: 60px;
        color: #262626;
        font-family: Arial, sans-serif;
        font-weight: normal;
        margin-bottom: 30px;
    }

    .content-date {
        color: #cacaca;
        font-style: italic;
        font-size: 36px;
        font-family: Arial, sans-serif;
    }

    .content-image {
        margin-top: 30px;
        width: 98.355%;
        height: 624px;
        margin-bottom: 30px;
    }

    .content-text {
        font-family: Arial, sans-serif;
        font-size: 44px;
        color: #828282;
        font-style: normal;
        margin-bottom: 106px;
    }

    .content-subtitle {
        color: #262626;
        font-size: 48px;
        font-family: Arial, sans-serif;
        margin-bottom: 44px;
        font-weight: normal;
    }

    /*  table  */
    .content-table{
        width: 100%;
        border-spacing: 0;
        margin-bottom: 90px;
    }
    .content-table-title{
        font-family:Arial, sans-serif;
        font-weight:bold;
        font-size: 38px;
        color:#2c2c2c;
        font-style:normal;
        text-transform:uppercase;
        height: 60px;
        background-color: #f0f0f0;

    }
    .content-table-row{
        border-left: 3px solid #f0f0f0;
        border-bottom: 6px solid #f0f0f0;
    }
    .content-table-text{
        font-family: Arial, sans-serif;
        font-size: 38px;
        font-style: normal;
        color: #828282;



    }
    .table-cell-left{
        width: 41.118%;
        border-left: 3px solid #f0f0f0;
        border-bottom: 6px solid #f0f0f0;
        padding: 7px;
    }
    .table-cell-center{
        width: 17.76%;
        border-bottom: 6px solid #f0f0f0;
        padding: 7px;
    }

    .table-cell-right{
        width: 41.118%;
        border-bottom: 6px solid #f0f0f0;
        padding: 7px;

    }



    /*    table  */
    .content-video {
        width: 98.355%;
        height: 606px;
        margin-bottom: 74px;
    }

    .content-text-light {
        font-size: 44px;
        font-family: Arial, sans-serif;
        color: #828282;
        font-style: normal;
        margin-top: 60px;
    }


    .content-list-light li, ol {
        margin-left: 4.934%;
        color: #f6ae01;
    }

    .content-list-light li span {
        color: #828282;
        font-size: 44px;
        font-family: Arial, sans-serif;
    }

    #content-footer {
        margin-top: 90px;
    }

    .content-footer-links-title {
        font-size: 38px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        color: #2c2c2c;
        font-style: normal;
        text-transform: uppercase;
        padding: 24px 3.2895%;
        background: #f0f0f0;
        margin-bottom: 76px;
    }

    .top-link-block {
        margin-bottom: 60px;
        width: 90%;
        overflow: hidden;

    }

    a.content-footer-link {
        border-left: 5px solid #f6ae01;
        font-family: Arial, sans-serif;
        font-size: 38px;
        color: #3895e4;
        line-height: 90px;
        padding-left: 1.645%;
    }


    a.content-footer-link:hover {
        text-decoration: underline;
    }

    .bottom-link-block {
        margin-bottom: 90px;
        width: 90%;
        overflow: hidden;

    }

    .arrow{
        margin-bottom: 76px;
    }

    .arrow img{
        display: inline-block;
        width: 5.625%;

    }

    .arrow a {
        position: relative;
        left: 0.9868%;
        top: -12px;
        font-size: 46px;
        font-family: Arial, sans-serif;
        color: #3895e4;
    }

    #footer {
        height: 100%;
        min-height: 90px;
        background-color: #2a2d30;

    }

    .copyright {
        font-style: normal;
        color: #6a6d6f;
        font-size: 34px;
        font-family: Arial, sans-serif;
        padding-top: 24px;
        padding-left: 3.125%;
    }
}/*960*/