* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

@-o-viewport {
    width: device-width;
    height: device-height;
}
@-ms-viewport {
    width: device-width;
    height: device-height;
}
#wrapper {
    min-width: 200px;
    max-width: 1024px;
    /*width: 320px;*/
    margin: 0 auto;
}


#header {
    width: 100%;
    height: 100%;
    border-top: 0.125em solid #000;
    min-height: 3em;
    background-color:  #2a2d30;
}


.select-country-block {
    width: 5.625%;
    top: -0.8125em;
    position:relative;
    display: inline-block;
    margin-left: 6.25%;


}
.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
}


.select-country-icon {
    width: 4.6875%;
    position:relative;
    display: inline-block;
    top: -0.5625em;

}

.select-country-icon-unicode {
    width: 4.6875%;
    font-size: .6em;
    position:relative;
    display: inline-block;
    top: -1.2em;
    left: -0.25em;
    color: #66696b;

}
.select-country-image {
    width: 100%;
}


.menu-icon {
    width: 13.438%;
    position:relative;
    display: inline-block;
    left:64.5%;
    top: 0.0625em;
}


.menu-image{
    width: 100%;
}


.logo {

    width: 35.156%;
    position:relative;
    display: inline-block;
    margin-left: -2.248%;
    top: -0.5em;

}


.logo-image{
    width: 100%;
}

#content {
    margin-top: 1.25em;
    padding: 0 2.5%;
}

.content-title {
    font-size: 1.25em;
    color: #262626;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.content-date {
    color: #cacaca;
    font-style: italic;
    font-size: 0.75em;
    font-family: Arial, sans-serif;
}

.content-image {
    margin-top: 0.625em;
    width: 98.355%;
    max-height: 13em;
    margin-bottom: 0.625em;
}

.content-text {
    font-family: Arial, sans-serif;
    font-size: 0.938em;
    color: #828282;
    font-style: normal;
    margin-bottom: 35px;
}

.content-subtitle {
    color: #262626;
    font-family: Arial, sans-serif;
    margin-bottom: 2.333em;
    font-weight: normal;
}

/*  table  */
.content-table{
    width: 100%;
    border-spacing: 0;
    margin-bottom: 1.875em;
}
.content-table-title{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 0.813em;
    color: #2c2c2c;
    font-style: normal;
    text-transform: uppercase;
    height: 2.308em;
    background-color: #f0f0f0;

}

.content-table-row{
    border-left: 0.125em solid #f0f0f0;
    border-bottom: 0.125em solid #f0f0f0;
}
.content-table-text{
    font-family: Arial, sans-serif;
    font-size: 0.813em;
    font-style: normal;
    color: #828282;



}
.table-cell-left{
    width: 41.118%;
    border-left: 0.155em solid #f0f0f0;
    border-bottom: 0.155em solid #f0f0f0;
    padding: 0.385em;
}
.table-cell-center{
    width: 17.76%;
    border-bottom: 0.155em solid #f0f0f0;
    padding: 0.385em;
}

.table-cell-right{
    width: 41.118%;
    border-bottom: 0.155em solid #f0f0f0;
    padding: 0.385em;

}



/*  end table  */
.content-video {
    width: 98.355%;
    max-height: 12.625em;
    margin-bottom: 1.5625em;
}

.content-text-light {
    font-size: 0.938em;
    font-family: Arial, sans-serif;
    color: #828282;
    font-style: normal;
    margin-top: 1.25em;
}


.content-list-light li, ol {
    margin-left: 4.934%;
    color: #f6ae01;
}

.content-list-light li span {
    color: #828282;
    font-size: 0.938em;
    font-family: Arial, sans-serif;
}

#content-footer {
    margin-top: 1.875em;
}

.content-footer-links-title {
    font-size: 0.813em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #2c2c2c;
    font-style: normal;
    text-transform: uppercase;
    padding: 0.615em 3.2895%;
    background: #f0f0f0;
    margin-bottom: 1.923em;
}

.top-link-block {
    margin-bottom: 1.25em;
    width: 90%;
    overflow: hidden;
}

a.content-footer-link {

    border-left: 3px solid #f6ae01;
    font-family: Arial, sans-serif;
    font-size: 0.813em;
    color: #3895e4;
    line-height: 2.308em;
    padding-left: 1.645%;
}



a.content-footer-link:hover {
    text-decoration: underline;
}

.bottom-link-block {
    margin-bottom: 1.875em;
    width: 90%;
    overflow: hidden;
}

.content-footer-arrow{
    margin-bottom: 1.5625em;
}

.content-footer-arrow img{
    display: inline-block;
    width: 5.625%;

}

.content-footer-arrow a {
    position: relative;
    left: 0.9868%;
    top: -0.267em;
    font-size: 0.938em;
    font-family: Arial, sans-serif;
    color: #3895e4;
}

#footer {
    height: 100%;
    min-height: 1.875em;
    background-color: #2a2d30;

}

.copyright {
    font-style: normal;
    color: #6a6d6f;
    font-size: 0.688em;
    font-family: Arial, sans-serif;
    padding-top: 0.636em;
    padding-left: 3.125%;
}
/*320*/
@media screen and (min-width: 200px) and (max-width: 319px) {
    #wrapper{
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    #wrapper{
        font-size: 16px;
    }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
    #wrapper{
        font-size: 24px;
    }
}
@media screen and (min-width: 640px) and (max-width: 760px) {
    #wrapper{
        font-size: 32px;
    }

}
@media screen and (min-width: 761px) and (max-width: 1024px) {
    #wrapper{
        font-size: 38px;
    }
}
@media screen and (min-width: 1025px) {
    #wrapper{
        font-size: 51px;
    }

}