* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    width: 640px;
    margin: 0 auto;
}

#header {
    border-top: 2px solid #000;
    height: 90px;
    background-color: #2a2d30;
}
.select-country-block {
    width: 5.625%;
    top: -26px;
    position:relative;
    display: inline-block;
    margin-left: 6.25%;
}

.select-country-text {
    color: #f6ae01;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 28px;

}

.select-country-icon {

    position: relative;
    display: inline-block;
    top: -18px;


}

.logo {

    position:relative;
    display: inline-block;
    margin-left: 12.19%;
    margin-top: 14px;
}

.menu-icon {
    position:relative;
    display: inline-block;
    right: -8.75%;
    top: 2px;
}

.select-country-image{
    width: 30px;
    height: 34px;
}

.logo-image{
    width: 270px;
    height: 64px;

}



.menu-image{
    width: 86px;
    height: 72px;
}

#content {
    height: 580px;
    background: linear-gradient(to bottom, #f2f2f2, #d8d8d8);
    background: -webkit-linear-gradient(to bottom, #f2f2f2, #d8d8d8);
    background: -moz-linear-gradient(to bottom, #f2f2f2, #d8d8d8);
    background: -o-linear-gradient(to bottom, #f2f2f2, #d8d8d8);
    background: -ms-linear-gradient(to bottom, #f2f2f2, #d8d8d8);
}

.content-text {
    text-align: center;
    padding-top: 44px;
    margin-bottom: 50px;
}

.content-text span {
    font-size: 36px;
    font-weight: bold;
    color: #f9ae18;
}

.content-text p {
    display: inline-block;
    margin-left: 1.5625%;
    font-size: 36px;
    font-weight: bold;
    color: #2a2d30;
}
/*    end content */
.input-text-block {
    margin-bottom: 10px;
}

.input-text-block input[type="text"] {

    background: linear-gradient( top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: -moz-linear-gradient( top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: -o-linear-gradient( top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: -ms-linear-gradient( top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    border-radius: 5px;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
    display: block;
    height: 84px;
    font-size: 26px;
    width: 87.5%;
    margin: 0 auto;
    padding: 0 0 0 3.75%;
}

.input-label {
    margin-left: 4.687%;
    margin-bottom: 20px;
}

.input-label span {
    font-family: Arial, sans-serif;
    font-size: 26px;
    color: #ed6c00;
}

.input-label p {
    display: inline-block;
    margin-left: 1.639%;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #858585;
}

.input-text-block input[type="text"]:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 34px;
    color: #8e8e8e;

}

.input-text-block input[type="text"]::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 34px;
    color: #8e8e8e;

}
.input-text-block input[type="text"]:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 34px;
    color: #8e8e8e;

}
.input-text-block input[type="text"]::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 34px;
    color: #8e8e8e;

}

.search-icon input[type="text"]{

    background: url(../images/search3.png) no-repeat 90.13%, linear-gradient( top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: url(../images/search3.png) no-repeat 90.13%, -webkit-linear-gradient(top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: url(../images/search3.png) no-repeat 90.13%, -moz-linear-gradient( top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: url(../images/search3.png) no-repeat 90.13%, -o-linear-gradient( top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
    background: url(../images/search3.png) no-repeat 90.13%, -ms-linear-gradient( top, #e3e5e8, #EEEEEE 6px, #FFFFFF 20px);
}

.submit-button {
    width: 93.125%;
    margin-left: 3.125%;
    height: 84px;
    background-color: #f1a100;
    border: 1px solid #c28600;
    border-radius: 5px;

}
.submit-button span{
    position: relative;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    top: -6px;
    margin-left: -1.689%;
}



.submit-image {
    position: relative;
    top: 4px;
    left: -6.8%;
}

#content-center {
    height: 720px;
    background: #fffde8;
}

.center-title {
    text-align: center;
    padding-top: 40px;
    font-size: 36px;
    font-family: Arial, sans-serif;
    color: #000000;
    border-bottom: 1px solid #f9de46;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.job-title {
    font-size: 36px;
    font-family: Arial, sans-serif;
    color: #3895e4;
    margin-left: 3.125%;
    margin-bottom: 10px;
}

.job-block {
    background: #fffde8;
    border-bottom: 1px solid #f9de46;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.job-block p {
    display: inline-block;

    padding-right: 3.125%;
    color: #2a2d30;
    font-size: 26px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding-top: 4px;
    border-right: 3px solid #dddddd;
    margin-left: 3.125%;
}

.job-block span {
    color: #2a2d30;
    font-size: 26px;
    font-family: Arial, sans-serif;
    margin-left: 3.125%;
}

#load-block {
    height: 180px;
    background: #fff;
    margin-top: 4px;
}

.load-image {
    margin-left: 43%;
    width: 14%;
    margin-top: 40px;
}

#footer-top {
    height: 80px;
    background: #3d4042;
}

.mail {
    display: inline-block;
    padding-top: 20px;
    margin-left: 3.125%;
}

.info {
    display: inline-block;
    position: relative;
    left: 1.875%;
    top: -4px;
}

.info a {
    color: #f6ae01;
    font-size: 28px;
    font-family: Arial, sans-serif;
}
.number{
    display: inline-block;
}

.number span {

    position: relative;
    left: 36.975%;
    top: -4px;
    color: #fff;
    font-size: 28px;
}

.phone {
    position: relative;
    left: 37.82%;
    top: 8px;
    width: 32px;
    height: 32px;

}


.letter-bottom-image{
    width: 32px;
    height: 26px;
}

#footer-bottom {
    height: 60px;
    background: #2a2d30;
}

.copyright {
    text-align: center;
    padding-top: 14px;
    color: #f6ae01;
    font-size: 24px;
    font-family: Arial, sans-serif;
}