{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}

{% trans_default_domain 'contacts' %} 

{% set lng =  app.request.attributes.get('_locale') %}

{% block body %}
    <section id="wrapper" class="no_cols clearfix">
        <section class="content clearfix">
            
            <section class="body">
                <h1>{{ 'Contacts'|trans }}</h1>
                <section id="contacts" class="clearfix">
                    <section class="left">
                        <section>
                            {% if setting('contacts.info_phone', lng) %}
                                <section class="clearfix">
                                    <div>{{ 'Phone'|trans }}:</div>
                                    <section>{{ setting('contacts.info_phone', lng) }}</section>
                                </section>
                            {% endif %}
                                
                            {% if setting('contacts.info_address', lng) %}
                                <section class="clearfix">
                                    <div>{{ 'Address'|trans }}:</div>
                                    <section>{{ setting('contacts.info_address', lng) }}</section>
                                </section>
                            {% endif %}
                                
                           {% if setting('contacts.info_email', lng) %}     
                                <section class="clearfix">
                                    <div>{{ 'E-mail'|trans }}:</div>
                                    <section><a href="mailto:{{ setting('contacts.info_email', lng) }}" title="{{ setting('contacts.info_email', lng) }}">{{ setting('contacts.info_email', lng) }}</a></section>
                                </section>
                            {% endif %}
                                
                            {% if setting('contacts.info_fax', lng) %}     
                                <section class="clearfix">
                                    <div>{{ 'Fax'|trans }}:</div>
                                    <section>{{ setting('contacts.info_fax', lng) }}</section>
                                </section>
                            {% endif %}
                        </section>
                            {#
                        <section>
                            <h2>{{ 'Requisites'|trans }}</h2>
                            
                            {% if setting('contacts.requisites_name', lng) %}     
                                <section class="clearfix">
                                    <div>{{ 'Name'|trans }}:</div>
                                    <section>{{ setting('contacts.requisites_name', lng) }}</section>
                                </section>
                            {% endif %}
                            
                            {% if setting('contacts.requisites_vat_number', lng) %}
                                <section class="clearfix">
                                    <div>{{ 'VAT number'|trans }}:</div>
                                    <section>{{ setting('contacts.requisites_vat_number', lng) }}</section>
                                </section>
                            {% endif %}
                            
                            {% if setting('contacts.requisites_address', lng) %}
                                <section class="clearfix">
                                    <div>{{ 'Address'|trans }}:</div>
                                    <section>{{ setting('contacts.requisites_address', lng) }}</section>
                                </section>
                            {% endif %}
                            
                            {% if setting('contacts.requisites_bank', lng) %}
                                <section class="clearfix">
                                    <div>{{ 'Bank'|trans }}:</div>
                                    <section>{{ setting('contacts.requisites_bank', lng) }}</section>
                                </section>
                            {% endif %}
                            
                            {% if setting('contacts.requisites_iban', lng) %}
                                <section class="clearfix">
                                    <div>{{ 'IBAN'|trans }}:</div>
                                    <section>{{ setting('contacts.requisites_iban', lng) }}</section>
                                </section>
                            {% endif %}
                            
                            {% if setting('contacts.requisites_swift', lng) %}
                                <section class="clearfix">
                                    <div>{{ 'SWIFT'|trans }}:</div>
                                    <section>{{ setting('contacts.requisites_swift', lng) }}</section>
                                </section>
                            {% endif %}
                        </section>
                        #}
                    </section>
                        
                    {% if is_cont_success %}
                    <section class="ok_msg_box">
                        <h2>{{ 'Your message was sent successfully'|trans }}</h2>
                        <section>{{ 'We will contact you back soon.'|trans }}</section>
                    </section>
                    {% endif %}
                        
                    <form action="" method="post" id="cont_form">
                        <section>
                        <h2>{{ 'Contact us'|trans }}</h2>
                        
                        <section class="clearfix">
                            <section class="inputblock">
                                <label>{{ form.name.vars.label }}</label>
                                <!-- add class no_ok -->
                                <div class="ef-input text css3{% if form.name.vars.errors|length %} no_ok{% endif %}"><div class="inner"><div class="after"></div>
                                    <div class="def" title="{{ form.name.vars.label }}">{{ form.name.vars.label }}{% if form.name.vars.required %}<span>*</span>{% endif %}</div>
                                    {{ form_widget(form.name, {  attr: { class: 'realinput' } }) }}
                                </div></div>
                            </section>
                            <section class="inputblock">
                                <label>{{ form.phone.vars.label }}</label>
                                <!-- add class no_ok -->
                                <div class="ef-input text css3{% if form.phone.vars.errors|length %} no_ok{% endif %}"><div class="inner"><div class="after"></div>
                                    <div class="def" title="{{ form.phone.vars.label }}">{{ form.phone.vars.label }}{% if form.phone.vars.required %}<span>*</span>{% endif %}</div>
                                    {#<input class="realinput" type="text" title="Tālrunis" value="" tabindex="6"/>#}
                                    {{ form_widget(form.phone, { attr: { class: 'realinput' } }) }}
                                </div></div>
                            </section>
                            <section class="inputblock">
                                <label>{{ form.email.vars.label }}</label>
                                <!-- add class no_ok -->
                                <div class="ef-input text css3{% if form.email.vars.errors|length %} no_ok{% endif %}"><div class="inner"><div class="after"></div>
                                    <div class="def" title="{{ form.email.vars.label }}">{{ form.email.vars.label }}{% if form.email.vars.required %}<span>*</span>{% endif %}</div>
                                    {#<input class="realinput" type="text" title="E-mail" value="" tabindex="7"/>#}
                                    {{ form_widget(form.email, { attr: { class: 'realinput' } }) }}
                                </div></div>
                            </section>
                        </section>
                        <section class="clearfix">
                            <label>{{ form.message.vars.label }}</label>
                            <!-- add class no_ok -->
                            <div class="ef-input textarea css3{% if form.message.vars.errors|length %} no_ok{% endif %}"><div class="inner"><div class="after"></div><div class="before"></div>
                                <div class="def" title="{{ form.message.vars.label }}">{{ form.message.vars.label }}{% if form.message.vars.required %}<span>*</span>{% endif %}</div>
                                {#<textarea class="realinput" title="Ziņa" tabindex="8"></textarea>#}
                                {{ form_widget(form.message, { attr: { class: 'realinput' } }) }}
                            </div></div>
                        </section>
                        {% set submit_txt = 'Send'|trans %}
                        <section class="bttn clearfix">
                            <a class="orangebutton v2 submit_btn" onclick="$(this).parents('form:first').submit();" href="javascript:;" title="{{ submit_txt }}" tabindex="9"><span title="{{ submit_txt }}">{{ submit_txt }}</span></a>
                                <section class="no_ok_msg" id="error-list" >
                                    {% for field in errors %}
                                        {% for error in field %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                </section>
                        </section>
                        </section>
                        {{ form_rest(form) }}
                    </form>
                </section>
            </section>
            
        </section>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var $form = $('#cont_form');
            $('input[type="text"]', $form).keypress(function(e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $(this).blur();
                    $('.submit_btn', $form).focus().click();
                }
            });
        });
    </script>
    
    {% if has_errors %}
        <script>
            $(function() {
                var $form = $('#cont_form');
                var $inputs = $('input[type="text"][id^=form_], textarea[id^=form_]', $form);
                $inputs.blur(function(e) {
                    
                    var $w = $(this).parents('.ef-input:first');
                    $w.removeClass('no_ok');
                    
                    var callback = function(resp) {
                        var $errorList = $('#error-list');
                        $errorList.empty();
                        var errors = resp.errors;
                        $inputs.each(function() {
                            var $wrapper = $(this).parents('.ef-input:first');
                            var field = $(this).attr('id').substring(5);
                            if (field in errors && errors[field].length > 0) {
                                for (var i = 0; i < errors[field].length; i++ ) {
                                    $errorList.append('<p>' + errors[field][i] + '</p>');
                                }
                                $wrapper.addClass('no_ok');
                            }
                            else {
                                $wrapper.removeClass('no_ok');
                            }
                        });
                    };
                    $.post('{{ url('contacts_validate') }}', $form.serialize(), callback, 'json');
                });
                
                $inputs.focus(function(e) { 
                    var $w = $(this).parents('.ef-input:first');
                    $w.removeClass('no_ok');
                });
            });
        </script>
    {% endif %}
{% endblock %}