{% extends 'VisiDarbiCommonBundle::user_office_base.html.twig' %}

{% trans_default_domain 'saved_advertisements' %}

{% block content %}
    <section class="clearfix">
        {% if pagination|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th class="c1">{{ 'Position'|trans }}</th>
                        <th class="c2">{{ 'City'|trans }}</th>
                        <th class="c3">{{ 'Advertisement ID'|trans }}</th>
                        <th class="c4">{{ 'Description'|trans }}</th>
                        <th class="c5">{{ 'Saved at'|trans }}</th>
                        <th class="c6">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for favAdv in pagination %}
                    {% set adv = favAdv.advertisement %}
                    <tr>
                        <td>{{ adv.title }}<a class="hidden" href="{{path('visidarbi_advertisement_show', { 'advertisementId': adv.publicId })}}" title="{{ adv.title }}" target="_blank"></a></td>
                        <td>{{ adv.locationName }}</td>
                        <td>{{ adv.publicId }}</td>
                        <td>{{ adv.description|truncate(130, true) }}</td>
                        <td>{{ favAdv.createdAt|date(setting('site.date_format')) }}</td>
                        <td><a class="remove fav-remove" href="javascript:void();" title="{{ 'Remove'|trans }}" data-fav-id="{{ favAdv.id }}" >{{ 'Remove'|trans }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <section class="pager pager_2">
                {{ knp_pagination_render(pagination, 'VisiDarbiCommonBundle::pagination.html.twig') }}
            </section>
        {% endif %}
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('.fav-remove').click(function(event) {
                event.preventDefault();
                var favId = $(this).data('fav-id');
                answer = confirm("{{ 'Are you sure want to delete saved advertisement?'|trans }}");
                if (answer) {
                    $(this).parents('tr:first').fadeOut();
                    $.post('{{ url('delete_saved_advertisment') }}', { 'favId': favId }, function(resp) { }, 'json' );
                }
            });
        });
    </script>
{% endblock %}