{% extends 'VisiDarbiCommonBundle::frontend_base.html.twig' %}

{# % block javascripts %}
    {{- parent() -}}
    {% javascripts "bundles/visidarbicommon/js/TextOverflowClamp.js"  %} 
              <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock % #}

{% trans_default_domain 'startpage' %} 

{% block body_class %}index{% endblock %}

{% block stats_menu %}
    <li>{{ 'Visitors this week: %count%'|trans({ '%count%': '<span>' ~ ga_views_this_week(current_country()) ~ '</span>' })|raw }}</li>    
    <li>{{ 'Registered job seekers: %count%'|trans({ '%count%': '<span>' ~ total_user_count() ~'</span>' })|raw }}</li>    
{% endblock %}
    
{% block iebody%}

<!--[if lt IE 7 ]> <body class="ie6 index"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7 index"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8 index"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9 index"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body class="index"> <!--<![endif]-->

{% endblock %}
    
{% block additional_header %}
    <section id="bg"></section>
    <section class="content">
        <section class="header">
            <h1><a href="{{ url('index') }}" title="{{ setting('site.name') }}"><img src="{{ asset('bundles/visidarbicommon/images/visi-darbi-logo3.png') }}"  /></a></h1>
                {% set srcDoc = special_document(app.request.attributes.get('_locale'), 'adv_sources') %}
                {% if srcDoc %}
                    {% set srcLink =  '<a href="' ~ url('document', { 'slug': srcDoc.slug }) ~ '" title="' ~ srcDoc.title ~ '">' ~ setting('site.adv_sources_count') ~ '</a>' %}
                {% else %}
                    {% set srcLink =  '<a href="#" title="">' ~ setting('site.adv_sources_count') ~ '</a>' %}
                {% endif %}
            <section>{{ 'There you will find %total_adv_count% job advertisements form %adv_sources_count% sources'|trans({ '%total_adv_count%': '<span>' ~ total_advertisement_count() ~ '</span>', '%adv_sources_count%': srcLink })|raw }}</section>
        </section>
            
        {% render "VisiDarbiCommonBundle:Search:startPage" %}    

    </section>
{% endblock %}

{% block body %}
    <section id="wrapper" class="no_cols clearfix">
        <section class="content clearfix">
            <section class="body">
                <section class="tabsblock">
                    <section class="tabs" data-tabmenu="tabgroup1">
                        <ul>
                            <li class="active"><h2><a class="active" data-call="tab1" href="javascript:;" title="{{ 'Cities'|trans }}">{{ 'Cities'|trans }}</a></h2></li>
                            <li><h2><a data-call="tab2" href="javascript:;" title="{{ 'Professions'|trans }}">{{ 'Professions'|trans }}</a></h2></li>
                            <li><h2><a data-call="tab3" href="javascript:;" title="{{ 'Companies'|trans }}">{{ 'Companies'|trans }}</a></h2></li>
                            {#<li><h2><a data-call="tab4" href="javascript:;" title="{{ 'Advertisements form social networks'|trans }}">{{ 'Advertisements form social networks'|trans }}</a></h2></li>#}
                        </ul>
                        <section class="shadow"><div class="css3"></div></section>
                    </section>
                    <section class="tabsgroup fix clearfix" data-speed="800" data-animation="slide" data-tabgroups="tabgroup1" data-heightresize="true">
                        <section class="tabscontent clearfix">
                            <section class="tab clearfix" data-tabid="tab1">
                                <section class="link_list clearfix">
                                    
                                    <section class="left">
                                        <section class="link_list clearfix">
                                            {% set parts = special_adv_cities|columns(3) %}
                                            {% for chunk  in parts%}                           
                                            <ul>
                                                {% for city in chunk %}
                                                <li><a href="{{ url('visidarbi_advertisement_list_search_where', {'where': city.city_slug}) }}" title="{{ city.name }}">{{ city.city_name }} ({{ city.adv_count }})</a></li>
                                                {% endfor %}
                                            </ul>                            
                                            {% endfor %}                            
                                        </section>

                                        <section class="link_list clearfix">                            
                                            {% set parts = adv_cities|columns(3) %}
                                            {% for chunk  in parts %}                                                          
                                            <ul>
                                                {% for city in chunk %}                                
                                                <li><a href="{{ url('visidarbi_advertisement_list_search_where', {'where': city.city_slug})}}" title="{{ city.name }}">{{ city.city_name }} ({{ city.adv_count }})</a></li>
                                                {% endfor %}
                                            </ul>                            
                                            {% endfor %}
                                        </section>
                                    </section>

                                    <section class="right">
                                        <h2>{{ 'Countries'|trans }}:</h2>
                                        <section class="link_list clearfix">
                                            <ul> 
                                                 {% for country in adv_countries %}
                                                    {% if  country.country_id != defaultAdCountry.id %}
                                                       <li>
                                                            <a 
                                                                href="{{ url('visidarbi_advertisement_list_search_where', {'where': country.country_slug})}}" 
                                                                title="{{ country.country_name }}"
                                                            >{{ country.country_name }} ({{ country.adv_count }})</a>
                                                        </li>
                                                    {% endif %}
                                                 {% endfor %}
                                             </ul>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section class="tab clearfix" data-tabid="tab2">
                                <section class="link_list clearfix">
                                    {% set parts = categories|columns(4) %}
                                    {% for chunk in parts%}
                                        <ul>
                                            {% for category in chunk%}                            
                                                <li><a href="{{ url('visidarbi_category_profession', {'view': category.category_slug })}}" title="{{ category.category_name() }}">{{ category.category_name }} ({{ category.adv_count }})</a></li>
                                            {% endfor %}
                                         </ul>
                                     {% endfor %}
                                 </section>                            
                                 <section class="more_link">
                                    <a href="{{ url('visidarbi_category_profession', {'view': 'profession-action-all-in-translit'|trans({}, 'routing_parametrs')|raw })}}" title="{{'All professions'|trans}}">{{'All professions'|trans}}</a>
                                 </section>
                            </section>
                            <section class="tab clearfix" data-tabid="tab3">
                                <section class="link_list clearfix">
                                    {% set parts = companies|columns(4) %}
                                    {% for chunk  in parts%}                           
                                        <ul>
                                            {% for company in chunk%}                                
                                                <li><a href="{{ url('visidarbi_advertisement_list_search_what', {'what': company.slug}) }}" title="{{ company.name }}">{{ company.name }} ({{ company.adv_count }})</a></li>
                                            {% endfor %}
                                        </ul>                            
                                    {% endfor %}  
                                </section>
                                <section class="more_link"><a href="{{ url('visidarbi_category_company') }}" title="{{ 'All companies'|trans }}" >{{ 'All companies'|trans }}</a></section>
                            </section>
                            {#
                            <section class="tab clearfix" data-tabid="tab4">
                                <section class="link_list clearfix social">
                                    {% set parts = social_adverts|columns(4) %}
                                    {% for chunk  in parts%}                           
                                        <ul>
                                            {% for adv in chunk%}                                
                                                <li><a href="{{ adv.externalAdvertisement.link }}" title="{{ adv.title }}" target="_blank" >{{ adv.title }}</a></li>
                                            {% endfor %}
                                        </ul>                            
                                    {% endfor %}
                                </section>
                                <section class="more_link">
                                    <a href="{{ all_soc_adv_list_url }}" title="{{ 'All advertisements from social networks'|trans }}" >{{ 'All advertisements from social networks'|trans }}</a>
                                 </section>
                            </section>
                            #}
                        </section>
                        
                    </section>
                </section>  
                {% set banner = get_banner_for_exposition(current_country(), app.request.attributes.get('_locale'), 'startpage') %}
                
                {% if banner %}
                    <section class="banner">{{ expose_banner(banner) }}</section>
                {% endif %}
                    
                
                {% if startpage_advert_cols|length > 0 %}
                    <h2>{{ 'Featured advertisements'|trans }}</h2>
                    <section class="nonautoslide deals selected">
                        <section class="carousel">
                            <section class="clearfix">
                                {% for col in startpage_advert_cols %}
                                    <div class="item">
                                        {% for adv in col %}
                                            {% if adv.externalAdvertisement.getSlugOrPublicId(app.request.attributes.get('_locale')) %}
                                                {% set adv_url = adv.externalAdvertisement.getSlugOrPublicId(app.request.attributes.get('_locale')) %}
                                            {% else %}
                                                {% set adv_url = url('visidarbi_advertisement_show', {'advertisementId': adv.getSlugOrPublicId(app.request.attributes.get('_locale'))  }) %}
                                            {%endif%}                                            
                                        
                                            <a class="box clearfix" href="{{adv_url}}" title="{{ adv.title }}" target="_blank" >
                                            {% if adv.company.getLogo and adv.company.isLogoFileExists%}
                                                <div class="img"><img src="{{ image(adv.company.getFullLogoPath).resize(74,74).fillBackground.jpeg  }}"  alt="{{ adv.company.name }}" /></div>
                                            {% endif %}

											<section class="{% if adv.company.getLogo and adv.company.isLogoFileExists%}with-img{% endif %}">
                                                <h3>{{ adv.title }}</h3>
                                                <div class="data"><b>{{ adv.locationName }}</b><span class="sep"></span><span>{{ adv.company.name }}</span></div>
                                            </section>
                                        </a>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </section>
                        </section>
                        <section class="switcher">
                            {% for i in range(1, (startpage_advert_cols|length / 3)|ceil ) %}
                                <a {% if loop.first %}class="active"{% endif %} href="javascript:;" title="{{ i }}"></a>
                            {% endfor %}
						</section>
                    </section>
                {% endif %}

                {# latest ads block - changed to tag cloud
                {% if latest_advert_cols|length > 0 %}
                <h2>{{ 'Latest advertisements'|trans }}</h2>
                <section class="nonautoslide deals">
                    <section class="carousel">
                        <section class="clearfix">
                            {% for col in latest_advert_cols %}
                                <div class="item">
                                    {% for adv in col %}
                                        {% if adv.externalAdvertisement.getSlugOrPublicId(app.request.attributes.get('_locale')) %}
                                            {% set adv_url = adv.externalAdvertisement.getSlugOrPublicId(app.request.attributes.get('_locale')) %}
                                        {% else %}
                                            {% set adv_url = url('visidarbi_advertisement_show', {'advertisementId': adv.getSlugOrPublicId(app.request.attributes.get('_locale')) }) %}
                                        {%endif%}
                                                    
                                        <a class="box clearfix" href="{{ adv_url }}" title="{{ adv.title }}" target="_blank" >
                                            {% if adv.company.getLogo and adv.company.isLogoFileExists%}
                                                <div class="img"><img src="{{ image(adv.company.getFullLogoPath).resize(74,74).fillBackground.jpeg  }}"  alt="{{ adv.company.name }}" /></div>
                                            {% endif %}
                                            <section>
                                                <h3 class="smaller">{{ adv.title }}</h3>
                                                <div class="data"><b>{{ adv.locationName }}</b><span class="sep"></span><span>{{ adv.company.name }}</span></div>
                                            </section>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </section>
                    </section>
                    <section class="switcher">
                        {% for i in range(1, (latest_advert_cols|length / 3)|ceil ) %}
                            <a {% if loop.first %}class="active"{% endif %} href="javascript:;" title="{{ i }}"></a>
                        {% endfor %}
                    </section>
                </section>
            {% endif %}
            #}

            {# Tag cloud - often searchable keywords #}
            {% if tag_cloud_keywords|length > 0 %}                
                <h2>{{ 'Often used search keywords'|trans }}</h2>
                <section id="tag-cloud">
                    <ul>
                        {% for keyword_data in tag_cloud_keywords %}                            
                            {% if keyword_data.percent < 10 %}
                                {% set sizeIndex = 1 %}
                            {% elseif (keyword_data.percent >= 10) and (keyword_data.percent < 40) %}
                                {% set sizeIndex = 2 %}
                            {% elseif (keyword_data.percent >= 40) and (keyword_data.percent < 60) %}
                                {% set sizeIndex = 3 %}
                            {% elseif (keyword_data.percent >= 60) and (keyword_data.percent < 80) %}
                                {% set sizeIndex = 4 %}
                            {% else %}
                                {% set sizeIndex = 5 %}
                            {%endif%}
                            
                            {% if keyword_data.keyword_type == constant('VisiDarbi\\StatisticsBundle\\Entity\\Search::KEYWORD_TYPE_WHAT') %}
                                {% set link_url = url('visidarbi_advertisement_list_search_what', {'what': keyword_data.keyword} ) %}                                
                                {% set kw_type = "what" %}
                            {% elseif keyword_data.keyword_type == constant('VisiDarbi\\StatisticsBundle\\Entity\\Search::KEYWORD_TYPE_WHERE') %}
                                {% set link_url = url('visidarbi_advertisement_list_search_where', {'where': keyword_data.keyword} ) %}
                                {% set kw_type = "where" %}
                            {% endif %}
                            
                            <li class="tag{{sizeIndex}}{% if loop.first %} first{%elseif loop.last %} last{%endif%}"><a cnt="{{ keyword_data.cnt }}" href="{{ link_url }}" type="{{ kw_type }}" >{{ keyword_data.keyword_title }}</a></li>
                        {% endfor %}
                        
                    </ul>
                </section>   
            {% endif %}
            {# End of Tag cloud #}
                        
            </section>
        </section>
    </section>
{% endblock %}